<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>个人中心</li>
            <li>资料信息</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="">

                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">资料名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.name %>" type="text" name="name">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <button class="btn btn-primary margin-left-10" type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <a class="btn btn-primary create-fileInfo" >
                                        新建文件
                                    </a>
                                </div>
                            </div>






                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>测试名称</th>
                                <th>上传人</th>
                                <th>上传时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(fileInfoList.totalItems!=0){
                            fileInfoList.result.forEach(function(element,index){%>
                            <tr>
                                <td><%= index+1%></td>
                                <td> <a href="<%= DWY_GLOBAL.Static %>/download?url=<%= element.path %>"><%= element.name%></a></td>
                                <td><%= element.empName%></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.addTime)%></td>
                            </tr>
                            <%})} else{ %>
                            <td class="text-align-center" colspan="4">暂无数据</td>
                            <%}%>
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<!--新建资料信息-->
<form class="form-horizontal  layer-template" method="post" id="create-fileInfo-form">

    <div class="row" style="padding: 30px 40px 0 0;">

        <div class="col-xs-12">
            <div class="col-xs-12">
                <label class="col-xs-2 control-label"><span class="requird"></span> 发布范围:</label>
                <div class="col-xs-10">
                    <div class="form-group well margin-bottom-20 my-label01">
                        <div class="col-xs-12">
                            <label class="col-xs-2 control-label text-align-left">门店类型:</label>
                            <div class="col-xs-9">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox" id="checkAll01">
                                    <span>全部</span>
                                </label>
                                <%
                                storeType.forEach(function (element, index) { %>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox " name="storeType" value="<%= element.id %>">
                                    <span><%= element.name%></span>
                                </label>
                                <% })%>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-xs-2 control-label text-align-left">位置类型:</label>
                            <div class="col-xs-9">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox" id="checkAll02">
                                    <span>全部</span>
                                </label>
                                <%
                                storeAttrType.forEach(function (element, index) { %>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox" name="addrType" value="<%= element.id %>">
                                    <span><%= element.name%></span>
                                </label>
                                <% })%>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-xs-2 control-label text-align-left">机构类型:</label>
                            <div class="col-xs-9">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox"  id="checkAll03" name="organizationType">
                                    <span>全部</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <% if (DWY_Helper.hasPermission(Permission.information.upload.id, permission) ){ %>
                    <div class="col-xs-4">
                        <label for="dwy_file_upload" class="btn btn-primary" id="label-upload-file">

                            点击上传 <i class="fa fa-upload"></i> </label>
                        <input type="file" name="file_name" id="dwy_file_upload" style="display: none;">
                    </div>
                     <div class="col-xs-8">
                         <input type="text" name="file_check" id="file_check" class="form-control validate[required] col-xs-8">
                     </div>

                    <% } %>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <hr class="simple">
            <div class="col-xs-12 text-center">
                <a class="btn btn-primary  margin-right-5" type="submit" id="doCreate">
                    <i class="fa fa-save"></i>
                    提交
                </a>
            </div>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!--END 资料公告信息-->

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        var pageFunction = function () {

        }
        var mydata;
        $("#create-fileInfo-form").validationEngine();
        //新建文件信息
        $(".create-fileInfo").on({
            click: function () {
                layer.open({
                    title:"",
                    type: 1,
                    area: '800px',
                    content: $('#create-fileInfo-form'),
                    cancel: function () {
                        //右上角关闭回调
                    },
                });
            }
        })
        pageFunction();

        function checkFuc(a,b){
            //点击全选/全不选影响复选框状态
            $(a).click(function(){
                $(b).prop("checked",this.checked);
            });
            //复选框是否选中影响全选/全不选框状态-复选框的总数是否与选中的复选框数量相等
            $(b).click(function(){
                var $tmp=$(b);
                $(a).prop("checked",$tmp.length==$tmp.filter(":checked").length);
            });
        }
        checkFuc("#checkAll01","input[name=storeType]:checkbox");
        checkFuc("#checkAll02","input[name=addrType]:checkbox");
        checkFuc("#checkAll03","input[name=organizationType]:checkbox");


        $('#doCreate').click(function () {
            var length=$("input[type='checkbox']:checked").length;
            if(length>0){
        if( $("#create-fileInfo-form").validationEngine('validate')){


            var a=getList("#checkAll01","input[name=storeType]:checked");
            var b=getList("#checkAll02","input[name=addrType]:checked");
            var c=getList("#checkAll03","input[name=organizationType]:checked");

            var myArray=a.concat(b,c);
            console.log(myArray);

            var date={
                name:mydata.name,
                path:mydata.path,
            shareScopes:myArray
            };

            layer.confirm("确认提交？", {title:'提示'},function(index){
                    console.log(date);
                    $.ajax({
                        url:'/fileInfo/share',
                        data:JSON.stringify(date),
                        method: 'post',
                        dataType: 'json',
                        contentType:"application/json",
                        success: function (data) {
                            var href='/fileInfo';
                            successLayout.hrefTo(href);
                        },
                        error: function (response) {
                            layer.close(index)
                            var status = response.status;
                            if(status == 200){
                                var href='/fileInfo';
                                successLayout.hrefTo(href);
                                return;
                            }
                            errorLayout.normal(response);

                        }
                    });
                },function(index){
                    layer.close(index)}
            )
        }
            }
            else{
                layer.alert('请至少选中一项复选框', {
                    icon: 1,
                });
            }

        })

        //资料上传
        $('#dwy_file_upload').on({
            change: function (e) {
                var _this = $(this);
                var label = $("#label-upload-file");
                var formData = new FormData();

                formData.append('file_name', _this.prop('files')[0])


//            console.log(window.aaa = formData);
                label.html('上传中 <i class="fa fa-circle-o-notch fa-spin">');
                label.attr('disabled', true);


                $.ajax({
                    url: '/template/upload/single',
                    data: formData,
                    type: 'POST',
                    // THIS MUST BE DONE FOR FILE UPLOADING
                    processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
                    contentType: false, // 不设置Content-type请求头
                    // ... Other options like success and et
                    success: function (data) {
                        label.attr('disabled', false);
                        if (data.code == 200) {

                            label.html('上传成功 <i class="fa fa-check">');
                            $("#file_check").val(data.data.name);

                            //将获取到的文件信息传递给后台
                            var fileName =data.data.name;
                            var fileSize =data.data.size;
                            var savePath =data.data.url;

                            mydata={
                                name:fileName,
                                size:fileSize,
                                path:savePath
                            }


                            // 图片预览
//                        $('#test-image-upload').attr('src', '/uploads/' + data.tmp_path);
                        } else {
                            label.html('上传失败 <i class="fa fa-times">');
                        }
                    },
                    error: function () {
                        label.attr('disabled', false);
                        label.html('上传失败 <i class="fa fa-times">');
                    }
                })
            }
        })
    })
    //获取选中的checkbox的值
    function  getList(a,b) {
        var myArray=new Array();
        var sendType;
        switch (a)
        {
            case "#checkAll01":
                sendType=1;
                break;
            case "#checkAll02":
                sendType=2;
                break;
            case "#checkAll03":
                sendType=3;
                break;
        }
        if($(a).is(":checked")){
            var sendValue=-1;
            var a = new Object();
            a = {
                sendType:sendType,
                sendValue:sendValue,
            }
            myArray.push(a);
        } else{
            $(b).each(function(){
                var sendValue=$(this).val();
                var a = new Object();
                a = {
                    sendType:sendType,
                    sendValue:sendValue,
                }

                myArray.push(a);
            });
        }
        return myArray;
    }
</script>


<%- include('../layouts/foot'); %>