<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>个人中心</li>
            <li>资料信息</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="">

                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">资料名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.name %>" type="text" name="name">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <button class="btn btn-primary margin-left-10" type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if (DWY_Helper.hasPermission(Permission.information.upload.id, permission) ){ %>
                                    <label for="dwy_file_upload" class="btn btn-primary" id="label-upload-file">

                                        点击上传 <i class="fa fa-upload"></i> </label>
                                    <input type="file" name="file_name" id="dwy_file_upload" style="display: none;">
                                    <% } %>
                                </div>
                            </div>






                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>测试名称</th>
                                <th>上传人</th>
                                <th>上传时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(fileInfoList.totalItems!=0){
                            fileInfoList.result.forEach(function(element,index){%>
                            <tr>
                                <td><%= index+1%></td>
                                <td> <a href="<%= DWY_GLOBAL.Static %>/download?url=<%= element.path %>"><%= element.name%></a></td>
                                <td><%= element.empName%></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.addTime)%></td>
                            </tr>
                            <%})} else{ %>
                            <td class="text-align-center" colspan="4">暂无数据</td>
                            <%}%>
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        var pageFunction = function () {

        }

        pageFunction();
        //资料上传
        $('#dwy_file_upload').on({
            change: function (e) {
                var _this = $(this);
                var label = $("#label-upload-file");
                var lid = $("[name=lid]");
                var formData = new FormData();

                formData.append('file_name', _this.prop('files')[0])
                formData.append('lid', lid.val())

//            console.log(window.aaa = formData);
                label.html('上传中 <i class="fa fa-circle-o-notch fa-spin">');
                label.attr('disabled', true);


                $.ajax({
                    url: '/template/upload/single',
                    data: formData,
                    type: 'POST',
                    // THIS MUST BE DONE FOR FILE UPLOADING
                    processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
                    contentType: false, // 不设置Content-type请求头
                    // ... Other options like success and et
                    success: function (data) {
                        label.attr('disabled', false);
                        if (data.code == 200) {

                            label.html('上传成功 <i class="fa fa-check">');


                            //将获取到的文件信息传递给后台
                            var fileName =data.data.name;
                            var fileSize =data.data.size;
                            var savePath =data.data.url;

                            var mydata={
                                name:fileName,
                                size:fileSize,
                                path:savePath
                            }
                            $.ajax({
                                url: '/api/notices',
                                data:mydata,
                                type: 'post',
                                success: function (data) {
                                    if (data=="OK") {
                                        window.location.reload();
                                    }
                                },
                                error: function (response) {
                                    layer.close(index)
                                    errorLayout.normal(response);
                                }
                            });

                            // 图片预览
//                        $('#test-image-upload').attr('src', '/uploads/' + data.tmp_path);
                        } else {
                            label.html('上传失败 <i class="fa fa-times">');
                        }
                    },
                    error: function () {
                        label.attr('disabled', false);
                        label.html('上传失败 <i class="fa fa-times">');
                    }
                })
            }
        })
    })

</script>


<%- include('../layouts/foot'); %>