<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>公告管理</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">公告类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="typeId" >
                                                <option value="">- 全部 -</option>
                                                <%  if(DWY_Helper.isCanLoop(noticeType)){noticeType.forEach(function(element,index){%>
                                                <option value="<%= element.id　%>" <%= (DWYRequest.query.typeId == element.id)?"selected":"" %>> <%= element.name%></option>
                                                <%})}%>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="form-group">

                                        <label class="col-xs-2 control-label">发布范围:</label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="sendType" id="sendType">
                                                <option value="">- 请选择 -</option>
                                                <%  if(DWY_Helper.isCanLoop(scopesList)){scopesList.forEach(function(element,index){%>
                                                <option value="<%= element.scopeId　%>" <%= (DWYRequest.query.sendType == element.scopeId)?"selected":"" %>> <%= element.name%></option>
                                                <%})}%>
                                            </select>
                                        </div>

                                        <div class="col-xs-4">
                                            <select class="form-control" name="sendValue"  id="sendValue">
                                                <option value="" >-请选择-</option>
                                                <option value="-1" <%= (DWYRequest.query.sendValue ==-1)?"selected":"" %>>-全部-</option>
                                                <% if(DWY_Helper.isCanLoop(scopesList)){
                                                    scopesList.forEach(function(element,index){
                                                        if(element.scopeId==DWYRequest.query.sendType){
                                                        element.values.forEach(function(element,index){%>
                                                <option value="<%= element.scopeId　%>" <%= (DWYRequest.query.sendValue == element.scopeId)?"selected":"" %>> <%= element.name%></option>
                                                <%})}
                                                    })}%>
                                            </select>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <input type="hidden" name="pageSize" value="5"/>
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>

                                    <% if (DWY_Helper.hasPermission(Permission.notice.create.id, permission) ){ %>

                                    <a class="btn btn-primary create-noticeInfo" >
                                        新建公告
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <!--well-->
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <% if(DWY_Helper.isCanLoop(noticeInfoList.result)){
                        noticeInfoList.result.forEach(function(element,index){%>
                        <dl class="dl-style01">
                            <dt>
                                <legend>
                                    <%= element.title%>
                                    <% if (DWY_Helper.hasPermission(Permission.notice.create.id, permission) ){ %>
                                    <a class="label label-danger delete-noticeInfo" selfId="<%= element.id%>">删除</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.notice.update.id, permission) ){ %>
                                    <a class=" label label-primary modify-noticeInfo "
                                       selfId="<%= element.id%>"
                                       title="<%= element.title%>"
                                       typeId="<%= element.typeId%>"
                                       noticeScopes="<%= JSON.stringify(element.noticeScopes) %>"
                                       content="<%= element.content%>">修改</a>
                                    <% } %>
                                </legend>
                            </dt>
                            <dd class="dl-title">
                                <span>发表人<i></i><%= element.empName%></span>
                                <span>日期<i></i><%= DWY_Helper.getLocalDateYMD(element.addTime)%></span>
                                <span>公告类型<i></i><%= element.typeName%></span></dd>
                            <dd class="dl-content">
                                <div class="margin-bottom-10">
                                    <%= element.content%>
                                </div>
                                <div class="margin-top-10">
                                    文件列表：
                                    <% if(DWY_Helper.isCanLoop(element)){
                                    element.forEach(function (element, index) { %>
                                    <a href="<%= DWY_GLOBAL.Static %>/download?originalFileName=<%= element.name%>&url=<%= element.path %>"><%= element.name%></a>
                               <%})}%>
                                </div>
                            </dd>
                        </dl>
                        <%})} else{%>
                        <dl class="text-align-center">暂无数据</dl>
                        <%}%>
                        <%- pagination %>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
        <!--end well-->
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->
<input type="hidden" name="scopesList" value="<%= JSON.stringify(scopesList)%>" id="scopesList"/>
<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<!--公告信息模板-->
<form class="form-horizontal  layer-template" method="post" id="noticeInfo-form" action="" name="noticeInfoForm">

    <div class="row" style="padding: 30px 40px 0 0;">

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label" id="whiceName"><span class="requird"></span> 标题:</label>
                    <div class="col-xs-8">
                        <input class="form-control validate[required]"
                               value="" name="title" id="title">
                    </div>
                </div>
            </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label"><span class="requird"></span>公告类型:</label>
                        <div class="col-xs-8">
                            <select class="form-control validate[required]" name="typeId" id="typeId" >
                                <option value="">- 请选择 -</option>
                                <% noticeType.forEach(function(element,index){%>
                                <option value="<%= element.id%>"> <%= element.name%></option>
                                <%})%>
                            </select>
                        </div>
                    </div>
            </div>

        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
            <label class="col-xs-2 control-label"><span class="requird"></span> 发布范围:</label>
            <div class="col-xs-10">
                <div class="form-group well margin-bottom-20 my-label01">
                            <div class="col-xs-12">
                                <label class="col-xs-2 control-label text-align-left">门店类型:</label>
                                <div class="col-xs-9">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox" id="checkAll01">
                                        <span>全部</span>
                                    </label>
                                    <%
                                    storeType.forEach(function (element, index) { %>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox " name="storeType" value="<%= element.id %>">
                                        <span><%= element.name%></span>
                                    </label>
                                    <% })%>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-2 control-label text-align-left">位置类型:</label>
                                <div class="col-xs-9">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox" id="checkAll02">
                                        <span>全部</span>
                                    </label>
                                    <%
                                    storeAttrType.forEach(function (element, index) { %>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox" name="addrType" value="<%= element.id %>">
                                        <span><%= element.name%></span>
                                    </label>
                                    <% })%>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-2 control-label text-align-left">机构类型:</label>
                                <div class="col-xs-9">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"  id="checkAll03" name="organizationType">
                                        <span>全部</span>
                                    </label>
                                </div>
                            </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label"><span class="requird"></span> 内容:</label>
                    <div class="col-xs-10">
                        <textarea rows="10" cols="30" class="form-control validate[required]" name="content" id="noticeContent">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">

            <!--输入字段-->
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">文件集合:</label>
                    <div class="col-xs-8" id="addFileSet">
                        <div class="margin-bottom-10" id="fileSet0">
                            <div class="col-xs-10">
                                <input class="form-control margin-bottom-10" readonly="" value=""  name="fileName">
                            </div>
                            <a class="deleteInco" data-code="0"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 margin-top-10">
                <div class="col-xs-2"></div>
                <div class="col-xs-8 text-left">
                    <label for="dwy_file_upload" class="btn btn-primary" id="label-upload-file">
                        点击上传 <i class="fa fa-upload"></i> </label>
                    <input type="file" name="file_name" id="dwy_file_upload" style="display: none;">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <hr class="simple">
            <div class="col-xs-12 text-center">
                <input type="hidden" value="" name="id" id="noticeId"/>
                <input type="hidden" value="" name="noticeScopes">
                <input type="hidden" value="" name="subType"/>
                <input type="hidden" value="" name="dataShares"/>
                <button class="btn btn-primary  margin-right-5 subBtn" >
                    <i class="fa fa-save"></i>
                    提交
                </button>
            </div>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!--END 公告信息模板-->


<%- include('./information_model'); %>
<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();

        //表单初始验证
        $("#noticeInfo-form").validationEngine();

       //复选框全选、全不选功能
        checkFuc("#checkAll01","input[name=storeType]:checkbox");
        checkFuc("#checkAll02","input[name=addrType]:checkbox");
        checkFuc("#checkAll03","input[name=organizationType]:checkbox");

        //新建公告信息弹出框
        $(".create-noticeInfo").on({
            click: function () {
                $("input[name=subType]").val("create");
                layer.open({
                    title:"",
                    type: 1,
                    area: '800px',
                    content: $('#noticeInfo-form'),
                    cancel: function () {
                        //右上角关闭回调
                    },
                });
            }
        })
        // 获取发布范围的值
        function getCode() {
            var a=getList("#checkAll01","input[name=storeType]:checked");
            var b=getList("#checkAll02","input[name=addrType]:checked");
            var c=getList("#checkAll03","input[name=organizationType]:checked");
            var myArray=a.concat(b,c);
            $("input[name=noticeScopes]").val(JSON.stringify(myArray));
        }

        //修改公告信息弹出框
        $(".modify-noticeInfo ").on({
            click: function () {
                $("input[name=subType]").val("modify");
                //获取当前点击公告的信息
                var noticeId = $(this).attr('selfId');
                var title = $(this).attr('title');
                var typeId = $(this).attr('typeId');
                var content = $(this).attr('content');

                var noticeScopes=$(this).attr("noticeScopes");
                var data=eval(noticeScopes);
                setList(data);//设置checkbox的状态

                //将获取的信息写入表格中
                $('#noticeId').val(noticeId);
                $("#title").val(title);
                $("#typeId").val(typeId);
                $("#noticeContent").val(content);

                layer.open({
                    title:"",
                    type: 1,
                    area: '800px',
                    content: $('#noticeInfo-form'),
                    cancel: function () {
                        //右上角关闭回调
                    },
                });

            }
        })
        // 提交新建/修改公告信息
        $(".subBtn").on({
            click:function(e){
                var  subType= $("input[name=subType]").val();
                getCode();
                var length=$("#noticeInfo-form input[type='checkbox']:checked").length;
                if(length>0) {
                    if (subType == "modify") {
                        $("#noticeInfo-form").attr("action", "/noticeInfo/doModify").submit();
                    } else {
                        $("#noticeInfo-form").attr("action", "/noticeInfo/doCreate").submit();
                    }
                }
                else{
                    e = e || window.event;
                    e.preventDefault();
                    layer.alert('请至少选中一项发布范围', {
                        icon: 1,
                    });
                }
            }
        });
        //删除公告信息
        $(".delete-noticeInfo").on({
            click: function () {
                var id = $(this).attr('selfId');
                layer.confirm('确认删除?',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/noticeInfo/doDelete/'+id,
                            method: 'put',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })

        //设置范围筛选
        scopeFunc();


        // 上传文件
        var dataShares=[];
        var num=0;
        var addFileSet=$("#addFileSet");
        $("#dwy_file_upload").on(
        {
            change: function (e) {
                var _this = $(this);
                var congig = {
                    'file_name': _this.prop('files')[0],
                }
                uploadFuc.uploadSingleFile('/template/upload/single/share', congig, function (data) {

                    var aaa={};
                    aaa.name=data.data.name;
                    aaa.path=data.data.url;
                    dataShares.push(aaa);

                    console.log("你大爷我",JSON.stringify(dataShares));
                    if(num>0){
                        var html = '<div class="margin-bottom-10" id="fileSet'+num+'">'+
                            '<div class="col-xs-10">'+
                            '<input class="form-control margin-bottom-10" readonly value="" name="fileName">'+
                            '</div>'+
                            '<a class="deleteInco" data-code="'+num+'"><i class="fa fa-trash-o"></i></a><div class="dwy-clear"></div>'+
                            '</div>';
                        addFileSet.append(html);
                    }
                    $("input[name=dataShares]").val(JSON.stringify(dataShares));
                    $("input[name=fileName]").eq(num).val(data.data.name);
                    num++;
                });
            },
        }
        );

        $("#addFileSet").on("click",".deleteInco",function(){
            var index = $(this).attr('data-code');
            dataShares[index] = '';
            $('#fileSet'+index).remove();
            var areaArry = dataShares.filter(function (item, index) {
                return item != '';
            })
            $("input[name=dataShares]").val(JSON.stringify(areaArry));
        });
    })

</script>


<%- include('../layouts/foot'); %>