<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>拆单审核</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <h6><%= user.name %>拆单审核中</h6>
                    <hr class="simple">
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>颜色</th>
                                <th>难度</th>
                                <th>类别</th>
                                <th>型号</th>
                                <th>订单号</th>
                                <th>专卖店</th>
                                <th>客户名称</th>
                                <th>产品信息</th>
                                <th>模型文件</th>
                                <th>拆单人</th>
                                <th>拆单日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(doingList.result && doingList.result.length>0 ){
                            doingList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.colorStr %></td>
                                <td><%= element.difficultyStr %></td>
                                <td><%= element.productTypeStr %></td>
                                <td><%= element.modelStr %></td>
                                <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                                <td><%= element.storeName %></td>
                                <td><%= element.customerName %></td>
                                <td><%= element.productInfo %></td>
                                <td><%= element.modelFile %></td>
                                <td><%= element.apartOperator %></td>
                                <td><%= element.apartTaskTime %></td>
                            </tr>
                            <% })
                            }else{ %>
                            <td colspan="12" class="text-align-center">暂无数据</td>
                            <% }%>

                            </tbody>
                        </table>
                        <%- paginationOne %>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">

            <div class="row">
                <div class="col-xs-12">
                    <h6>待拆单审核订单
                        <a class="btn btn-primary margin-left-10"  href="">
                            获取订单
                        </a>
                    </h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-2">
                                            <select class="form-control" name="brandId">
                                                <option value="">- 品牌 -</option>
                                                <% brandinfoList.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.brandId == element.id)?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <select class="form-control" name="difficulty">
                                                <option value="">- 难度 -</option>
                                                <% difficultyList.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.difficulty == element.id)?"selected":"" %>>
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <select class="form-control" name="productType">
                                                <option value="">- 类型 -</option>
                                                <% prodList.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.productType == element.id)?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <select class="form-control" name="model">
                                                <option value="">- 型号 -</option>

                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <select class="form-control" name="color">
                                                <option value="">- 颜色 -</option>
                                                <% colorList.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.color == element.id)?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>

                                    </div>
                                </div>




                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">门店名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="<%= DWYRequest.query.storeName %>" type="text"
                                                   name="storeName">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">审核人:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="<%= DWYRequest.query.auditor %>" type="text"
                                                   name="auditor ">
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">是否下单完毕:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="type">
                                                <option value="">- 请选择 -</option>
                                                <option value="1" <%= (DWYRequest.query.type == 1)?"selected":"" %>>完毕</option>
                                                <option value="2" <%= (DWYRequest.query.type == 2)?"selected":"" %>>未完</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">&nbsp;收款日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.startTime %>" name="startTime">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.endTime %>" name="endTime">
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- end col -->
            </div>

            <div class="row margin-top-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>颜色</th>
                            <th>难度</th>
                            <th>类别</th>
                            <th>型号</th>
                            <th>订单号</th>
                            <th>专卖店</th>
                            <th>客户名称</th>
                            <th>产品信息</th>
                            <th>模型文件</th>
                            <th>拆单人</th>
                            <th>拆单日期</th>
                            <th>拆单审核人</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                        if(apartReviewList.result && apartReviewList.result.length>0 ){
                        apartReviewList.result.forEach(function (element, index) { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= element.colorStr %></td>
                            <td><%= element.difficultyStr %></td>
                            <td><%= element.productTypeStr %></td>
                            <td><%= element.modelStr %></td>
                            <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                            <td><%= element.storeName %></td>
                            <td><%= element.customerName %></td>
                            <td><%= element.productInfo %></td>
                            <td><%= element.modelFile %></td>
                            <td><%= element.apartOperator %></td>
                            <td><%= element.apartTaskTime %></td>
                            <td><%= element.auditor %></td>
                        </tr>
                        <% })
                        }else{ %>
                        <td colspan="13" class="text-align-center">暂无数据</td>
                        <% }%>
                        </tbody>
                    </table>
                    <%- paginationTwo %>
                </div>
            </div>
            <!-- end row -->
        </div>


    </div>
    <!-- end well -->


</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {



        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery


    })

</script>


<%- include('../layouts/foot'); %>