<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <% if(type == 'order'){ %>
            <li><a class="back-url" href="/orders">订单查询</a></li>
            <li><a class="back-url" href="/order/detail/<%= tid %>"> 订单详情</a></li>
            <% }else{ %>
            <li><a class="back-url" href="/orders/resupplys"> 补单查询</a></li>
            <li><a class="back-url" href="/order/resupply/detail/<%= tid %>"> 补单详情</a></li>
            <%} %>
            <li>所有退回信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>退回信息</legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>退回原因</th>
                                <th>退回类型</th>
                                <th>退回时间</th>
                                <th>备注</th>
                                <th>操作柜员</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(chgbackList.result.length>0){
                            chgbackList.result.forEach(function (element, index) {  %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.causeName %></td>
                                <td><%= element.reviewReasonTypeStr %></td>
                                <td> <%= DWY_Helper.getLocalDate(element.createTime) %></td>
                                <td><%= element.remark %></td>
                                <td><%= element.gname %></td>
                            </tr>
                            <%  })
                            } %>

                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>



<%- include('../layouts/foot'); %>