<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/orders/batchNumber">批次号管理</a></li>
            <li>批次信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 ">
                    <legend>批次信息
                        <% if(batchInfo.stcode==1){%>
                        <a class="label label-primary" href="/system/printParts/<%= batchInfo.batchNumber %>">打印装箱清单</a>
                        <%}%>
                        <% if(batchInfo.stcode  == 2){ %>
                        <a class="label label-primary"  id="doHeap" >生成堆号</a>
                        <%  } %>
                        </legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="12%">批次号</td>
                                <td width="21%"><%= batchInfo.batchNumber %></td>
                                <td width="12%">机构</td>
                                <td width="21%"><%= batchInfo.factoryName %></td>
                                <td width="12%">包装状态</td>
                                <td><%= batchInfo.packageStr %></td>
                            </tr>

                            <tr>
                                <td>订单数量</td>
                                <td><%= batchInfo.orderNumber %></td>
                                <td>包装数量</td>
                                <td colspan="3"><%= batchInfo.packetNumber %></td>
                            </tr>
                            <tr>
                                <td>生成员工</td>
                                <td><%= batchInfo.gname  %></td>
                                <td>生成时间</td>
                                <td colspan="3"><%= DWY_Helper.getLocalDate(batchInfo.addTime) %></td>
                            </tr>
                            <tr>
                                <td>包装员工</td>
                                <td><%= batchInfo.packetGname %></td>
                                <td>包装时间</td>
                                <td colspan="3"><%= DWY_Helper.getLocalDate(batchInfo.packetTime ) %></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>订单信息</h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>订单号</th>
                                <th>流水号</th>
                                <th>订单类型</th>
                                <th>主材颜色</th>
                                <th>产品类型</th>
                                <th>产品信息</th>
                                <th>客户姓名</th>
                                <th>拆单工件数量</th>
                                <th>排料工件数量</th>
                                <th>包装状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(orderDetail.result)){
                            orderDetail.result.forEach(function (element, index) {  %>
                            <tr class=" <%= (element.apartWorkPieceNumber && element.scheduleWorkPieceNumber && element.apartWorkPieceNumber != element.scheduleWorkPieceNumber) ? "mark-row":"" %>">
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                                <td><a href="/taskseq/index/<%= element.lid %>"><%= element.lid %></a></td>
                                <td><%= element.orderTypeName %></td>
                                <td><%= element.decoColorStr %></td>
                                <td><%= element.typeStr %></td>
                                <td><%= element.prodName %></td>
                                <td><%= element.custName %></td>
                                <td><%= element.apartWorkPieceNumber %></td>
                                <td><%= element.scheduleWorkPieceNumber %></td>
                                <td><%= element.packageStr %></td>
                                <td>
                                    <% if(element.packeted  == 1){ %>
                                    <a class="label label-primary" href="/orders/package/<%= element.tid %>">包装信息</a>
                                    <%  } %>
                                </td>
                            </tr>
                            <%  })
                            }else{ %>
                            <tr>
                                <td colspan="7" class="text-align-center">暂无数据</td>
                            </tr>
                            <% } %>


                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#doHeap").click(function () {
            layer.confirm('确认生成堆号吗？', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: "/orders/heap",
                    method: 'post',
                    data: {
                        batchNumber:'<%= batchInfo.batchNumber %>',
                        factoryId:'<%= batchInfo.factoryId %>'
                    },
                    success: function (data) {

                        successLayout.reload();
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) { layer.close(index) })
        })

    })

</script>

<%- include('../layouts/foot'); %>
