<form class="form-horizontal  layer-template padding-10" method="post" id="modifyOrderInfo" action="/order/detail/doModify" >
    <legend>专卖店信息</legend>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label">专卖店编号:</label>
                <div class="col-xs-8">
                    <input class="form-control"  value="<%= orderInfo.bid %>"  readonly>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label">专卖店名:</label>
                <div class="col-xs-8">
                    <input class="form-control"  value="<%= orderInfo.storeAddress %>"  readonly>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label">收货人:</label>
                <div class="col-xs-8">
                    <input class="form-control"  value="<%= orderInfo.recName %>"  readonly>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label">联系电话:</label>
                <div class="col-xs-8">
                    <input class="form-control"  value="<%= orderInfo.recMobile %>" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">

        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-2 control-label">收货地址:</label>
                <div class="col-xs-10">
                    <input class="form-control"  value="<%= orderInfo.recAddress %>"  readonly>
                </div>
            </div>
        </div>

    </div>

    <legend>其他信息</legend>

    <input value="<%= tid %>" name="tid" type="hidden">

    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label">客户姓名:</label>
                <div class="col-xs-8">
                    <input class="form-control"  value="<%= orderInfo.name %>"  readonly>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label">客户电话:</label>
                <div class="col-xs-8">
                    <input class="form-control"  value="<%= orderInfo.mobile %>" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-2 control-label">订单信息:</label>
                <div class="col-xs-4">
                    <input class="form-control"  value="<%= orderInfo.prodInfo %>"  name="prodInfo"  type="text">
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-2 control-label"> 客户地址:</label>
                <div class="col-xs-10">
                    <input class="form-control"  value="<%= orderInfo.address %>" readonly >
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label">零售价:</label>
                <div class="col-xs-8">
                    <input class="form-control"  value="<%= orderInfo.retailPrice %>" readonly >
                    <span code-data="元" class="unit"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label">加盟价:</label>
                <div class="col-xs-8">
                    <input class="form-control"  value="" readonly>
                    <span code-data="元" class="unit"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label"><span class="requird"></span> 空间/产品:</label>
                <div class="col-xs-4">
                    <input class="form-control" value="<%= orderInfo.parentSpaceinfoName %>" readonly>
                </div>
                <div class="col-xs-4">
                    <select class="form-control validate[required]" name="prodType">
                        <% spaceInfo.forEach(function (element) {  %>
                        <option value="<%= element.id %>" <%= (orderInfo.prodType == element.id)?"selected":"" %>>
                            <%= element.name %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label"><span class="requird"></span> 主材颜色:</label>
                <div class="col-xs-8">
                    <select class="form-control validate[required]" name="decoColorId">
                        <% colorList.forEach(function (element) {  %>
                        <option value="<%= element.id %>" <%= (orderInfo.decoColorId == element.id)?"selected":"" %>>
                            <%= element.name %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label">约定交付日期:</label>
                <div class="col-xs-8">
                    <input class="form-control"  value="<%= DWY_Helper.getLocalDate(orderInfo.deliveryDate) %>" readonly>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-xs-4 control-label"><span class="requird"></span> 订单类型:</label>
                <div class="col-xs-8">
                    <select class="form-control validate[required]" name="type">
                        <% typeList.forEach(function (element) {  %>
                        <option value="<%= element.id %>" <%= (orderInfo.type == element.id)?"selected":"" %>>
                            <%= element.name %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label">备注:</label>
            <div class="col-xs-8">
                <textarea  class="form-control" cols="30" rows="5" readonly><%= orderInfo.remark %></textarea>

                <label >设计文件请到附件管理中上传</label>
            </div>

        </div>

    </div>

    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                <i class="fa fa-save"></i>
                确认修改
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>




<script type="text/javascript">

    $(document).ready(function () {

        $("#modifyOrderInfo").validationEngine();

        //弹出类
        $('#modifyInfo-modal').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '1000px',
                    content: $('#modifyOrderInfo'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })

    })

</script>