<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <% if(type == 'order'){ %>
            <li><a class="back-url" href="/order/detail/<%= tid %>"><i class="fa fa-chevron-left"></i> 订单详情</a></li>
            <% }else{ %>
            <li><a class="back-url" href="/order/resupply/detail/<%= tid %>"><i class="fa fa-chevron-left"></i> 补单详情</a></li>
            <%} %>
            <li>所有交流信息</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>交流信息</legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>交流信息</th>
                                <th>新增柜员</th>
                                <th>新增日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(progressList.result.length>0){
                            progressList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= element.content %></td>
                                <td><%= element.gid %>/<%= element.name %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>新增交流信息</legend>

                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="post" action="/<%= type %>/communicate/doCreate" id="create-customer">
                            <input type="hidden" name="reload" value="1">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 交流信息:</label>
                                        <div class="col-xs-10">
                                            <textarea name="content" class="form-control validate[required]" placeholder="请填写交流信息" id="" cols="30"
                                                      rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <input value="<%= tid %>" name="tid" type="hidden">


                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        提交
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script>
    $(function () {
        $("#create-customer").validationEngine();
    })
</script>

<%- include('../layouts/foot'); %>