<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>
<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/orders"><i class="fa fa-chevron-left"></i>订单查询</a></li>
            <li><a class="back-url" href="/order/detail/<%= tid %>"><i class="fa fa-chevron-left"></i> 订单详情</a></li>
            <li>订单物料</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>订单编号</td>
                                <td><%= tid %></td>
                                <td>订单状态</td>
                                <td><%= DWY_Helper.getAssistVal(orderDetail.stcode, stcodeInfo) %></td>
                            </tr>
                            <tr>
                                <td>客户姓名</td>
                                <td><%= orderDetail.name %></td>
                                <td>产品信息</td>
                                <td><%= orderDetail.prodInfo %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xs-12">
                <!--订单详情---订单物料-->
                    <div class="col-xs-12">
                        <h3 class="text-align-center">订单物料</h3>
                        <hr class="simple">
                    </div>
                    <div class="orderItemLayerTit">
                        <ul class="orderItemMenu">
                            <a href="/order/workpiece/<%= tid %>"><li class="workpiece padding-10">非标件</li></a>
                            <a href="/order/materiel_modal/<%= tid %>"><li class="parts materielBak padding-10">配件</li></a>
                        </ul>
                    </div>
                    <div class="orderItemLayerTable">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkbox-inline">
                                        <span>序号</span>
                                    </label>
                                </th>
                                <th>订单号</th>
                                <th>配件名称</th>
                                <th>代号</th>
                                <th>类型</th>
                                <th>规格</th>
                                <th>数量</th>
                                <th>单位</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(partsList.result)){
                            partsList.result.forEach(function(element,index){%>
                            <tr>
                                <td>
                                    <label class="checkbox-inline">
                                        <span><%= index+1 %></span>
                                    </label>
                                </td>
                                <td><%= element.tid %></td>
                                <td><%= element.name %></td>
                                <td><%= element.code %></td>
                                <td><%= element.typeStr %></td>
                                <td><%= element.standard %></td>
                                <td><%= element.amount %></td>
                                <td><%= element.unitStr %></td>
                                <td><%= element.remark %></td>
                            </tr>
                            <%})}else{%>
                            <td colspan="11" class="text-align-center">暂无结果</td>
                            <%}%>
                            <input type="hidden" value="<%= tid %>" class="tid">
                            <input type="hidden" class="" id="workpieceBtn" />
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                    <div class="col-xs-12">
                        <hr class="simple">
                        <div class="col-xs-12 orderItemButton text-center">
                                <a href="/order/exportParts/<%= tid %>" class="btn btn-primary">
                                    导出配件
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">

</script>
<%- include('../layouts/foot'); %>