<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main"  class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>订单收款</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>订单搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-form">

                            <div class="col-xs-12">

                                <% if (DWY_Helper.hasPermission(Permission.gathering.queryAll.id, permission) ){ %>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">机构号:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="orgId">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                organizationsList.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.orgId == element.id)?"selected":"" %>><%= element.name %></option>
                                                <%  }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <% } %>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">门店编号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[custom[number]]" value="<%= DWYRequest.query.bid %>" name="bid"  >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">收款类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="type">
                                                <option value="0">收款中</option>
                                                <option value="1" <%= (DWYRequest.query.type == 1)?"selected":"" %>>已收款</option>
                                                <option value="2" <%= (DWYRequest.query.type == 2)?"selected":"" %>>全部</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-xs-3">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-xs-4 control-label">资金类型:</label>-->
                                        <!--<div class="col-xs-8">-->
                                            <!--<select class="form-control" name="type">-->
                                                <!--<option value="">- 全部 -</option>-->
                                                <!--<option value="0" <%= (DWYRequest.query.type == '0')?"selected":"" %>>付款</option>-->
                                                <!--<option value="1" <%= (DWYRequest.query.type == '1')?"selected":"" %>>代收的款项</option>-->
                                                <!--<option value="2" <%= (DWYRequest.query.type == '2')?"selected":"" %>>已收的款项</option>-->
                                            <!--</select>-->

                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>




                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>

        <div class="well dis-flex">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>待收款</h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-hover table-striped table-scroll dis-flex">
                            <thead>
                            <tr>
                                <th width="80">序号</th>
                                <th>订单号</th>
                                <th>订单状态</th>
                                <th>所属机构</th>
                                <th>所属门店</th>
                                <th>金额（元）</th>
                                <!--<th>类型</th>-->
                                <!--<th>说明</th>-->
                                <th>增加时间</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(moneyList.result)){
                            moneyList.result.forEach(function (element, index) { %>
                            <tr>
                                <td width="80"><%= index+1 %></td>
                                <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                                <td><%= DWY_Helper.getAssistVal(element.stcode,statusInfo) %></td>
                                <td><%= element.orgName %></td>
                                <td><%= element.storeName %></td>
                                <td><%= element.direction ==1?'+':'-' %><%= element.money %></td>
                                <!--<td>element.typeName</td>-->
                                <!--<td><element.describe</td>-->
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td width="100">
                                    <% if(element.payed == 0){  %>
                                    <a class="label label-primary checkThis" data-tid="<%=element.tid %>" data-bid="<%=element.bid %>">收款</a>
                                    <% } %>

                                </td>
                            </tr>
                            <% })
                            }else{ %>
                            <td colspan="9" class="text-align-center">暂无结果</td>
                            <% } %>

                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<form class="form-horizontal  layer-template" method="post" id="order_reject"  action="/collection/receiptCheck">
    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span> 类型:</label>
            <div class="col-xs-8">
                <select class="form-control" name="moneyType" >
                    <option value="5">已收款</option>
                    <option value="4">待收款</option>
                </select>
            </div>

        </div>

    </div>
    <input value="" name="tid" id="tid" type="hidden">
    <input value="" name="bid" id="bid" type="hidden">
    <input value="1" name="status" type="hidden">

    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                确定
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>


<script type="text/javascript">

    $(document).ready(function () {
        $('#search-form').validationEngine();
        $(".checkThis").click(function () {
            var tid = $(this).attr('data-tid');
            var bid = $(this).attr('data-bid');
            $('#tid').val(tid);
            $('#bid').val(bid);
            layer.open({
                title: false,
                type: 1,
                area: '500px',
                content: $('#order_reject'),
                cancel: function () {
                    //右上角关闭回调
                },

            });

        })




    })

</script>

<%- include('../layouts/foot'); %>
