<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main"  class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>订单收款</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>订单搜索</legend>-->
                    <!-- row -->
                    <div class="row ">
                        <form class="form-horizontal search-form" method="get" id="search-form">

                            <div class="col-xs-12">
                                <% if (DWY_Helper.hasPermission(Permission.gathering.queryAll.id, permission) ){ %>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">机构号:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="orgId">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                organizationsList.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.orgId == element.id)?"selected":"" %>><%= element.name %></option>
                                                <%  }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">订单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入订单号" type="text" value="<%= DWYRequest.query.tid %>" name="tid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">收款类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="type">
                                                <% if(type=='receiptMoney'){%>
                                                <option value="0" <%= (DWYRequest.query.type==0)?'selected':''%>>未付款</option>
                                                <option value="1" <%= (DWYRequest.query.type==1)?'selected':''%>>已付款</option>
                                                <%}%>
                                                <%if(type=='confirmMoney'){%>
                                                <option value="2" <%= (DWYRequest.query.type==2)?'selected':''%>>未付款</option>
                                                <option value="3" <%= (DWYRequest.query.type==3)?'selected':''%>>已付款</option>
                                                <%}%>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>
                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                </div>
                                <%}%>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){  %>
                                <div class="slideToggle display-none">
                                <%}%>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">门店名:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" value="<%= DWYRequest.query.storeName %>" name="storeName"  >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">合同号:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" value="<%= DWYRequest.query.contNo %>" name="contNo"  >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="col-xs-3 control-label">下单日期:</label>
                                                <div class="col-xs-4">
                                                    <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.startDate%>"
                                                           name="startDate">
                                                </div>
                                                <label class="from-to control-label "> 至 </label>
                                                <div class="col-xs-4">
                                                    <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.endDate%>"
                                                           name="endDate">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">确认时间:</label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.startPayTime%>"
                                                       name="startPayTime">
                                            </div>
                                            <label class="from-to control-label "> 至 </label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.endPayTime%>"
                                                       name="endPayTime">
                                            </div>
                                        </div>
                                    </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){  %>
                                </div>
                                <%}%>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                            <%}%>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>

        <div class="well dis-flex">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>待收款</h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-hover table-striped table-scroll2">
                            <thead>
                            <tr>
                                <th width="84px">序号</th>
                                <th>订单号</th>
                                <th>订单状态</th>
                                <th>所属机构</th>
                                <th>所属门店</th>
                                <th>产品名称</th>
                                <th>客户名称</th>
                                <th>零售价（元）</th>
                                <th>结算价（元）</th>
                                <th>出厂价（元）</th>
                                <th>折后价</th>
                                <th>折扣备注</th>
                                <th>收款类型</th>
                                <!--<th>说明</th>-->
                                <th>确认日期</th>
                                <th>对账日期</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(moneyList.result)){
                            moneyList.result.forEach(function (element, index) { %>
                            <tr>
                                <td width="84px"><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                                <td><%= element.stcodeName %></td>
                                <td><%= element.orgName %></td>
                                <td><%= element.storeName %></td>
                                <td><%= element.prodTypeName %></td>
                                <td><%= element.custName %></td>
                                <td><%= element.retailPrice %></td>
                                <td><%= element.revFranchisePrice %></td>
                                <td><%= element.factoryPrice %></td>
                                <td><%= element.priceAfterDiscount %></td>
                                <td><%= element.discountRemark %></td>
                                <td><% if(element.payed <= 20){ %>
                                    未付款
                                    <% }else{%>
                                    已付款
                                    <% } %></td>
                                <!--<td><element.describe</td>-->
                                <td><%= DWY_Helper.getLocalDate(element.payTime) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.reconciliationTime) %></td>
                                <td>
                                    <%if(type=='receiptMoney'){%>
                                    <% if(element.payed == 10){  %>
                                    <a class="label label-primary optionThis" data-payed="<%=element.payed %>" data-tid="<%=element.tid %>" data-bid="<%=element.bid %>">锁定</a>
                                    <% } %>
                                    <% if(element.payed == 12 && element.payStcode == 1){  %>
                                    <a class="label label-primary checkThis" data-type="pass"
                                       data-payed="<%=element.payed %>"
                                       data-tid="<%=element.tid %>"
                                       data-bid="<%=element.bid %>"
                                       data-price="<%= element.revFranchisePrice %>">改价</a>
                                    <a class="label label-danger optionThis" data-type="notpass" data-payed="<%=element.payed %>" data-tid="<%=element.tid %>" data-bid="<%=element.bid %>">解锁</a>
                                    <% } }%>
                                    <%if(type=='confirmMoney'){%>
                                    <% if(element.payed == 21){  %>
                                    <a class="label label-success optionThis" data-payed="<%=element.payed %>" data-tid="<%=element.tid %>" data-bid="<%=element.bid %>">对账</a>
                                    <% } %>
                                    <% if(element.payed == 22){  %>
                                     已对账
                                    <% } %>
                                    <% if(element.payed == 20){  %>
                                    <a class="label label-success optionThis" data-payed=201 data-tid="<%=element.tid %>" data-bid="<%=element.bid %>">确认</a>
                                    <a class="label label-danger optionThis" data-payed=202  data-tid="<%=element.tid %>" data-bid="<%=element.bid %>">退回</a>
                                    <% } %>
                                    <%}%>
                                </td>
                            </tr>
                            <% })
                            }else{ %>
                            <td colspan="14" class="text-align-center">暂无结果</td>
                            <% } %>

                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<form class="form-horizontal  layer-template" method="post" id="order_reject"  action="/collection/receiptCheck/pass">
    <div class="col-xs-12" style="padding:40px;">
        <div class="form-group">
            <label class="col-xs-3 control-label"><span class="requird"></span> 类型:</label>
            <div class="col-xs-8">
                <select class="form-control" name="moneyType" >
                    <option value="5">已收款</option>
                    <option value="4">待收款</option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label"> 结算价:</label>
            <div class="col-xs-8">
                <input class="form-control " type="text" readonly value=""  id="price"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">结算方式:</label>
            <div class="col-xs-8">
                <select class="form-control" name="settlementType" >
                    <option value="0">直减</option>
                    <option value="1">折扣率</option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">输入直减金额/折扣率:</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" placeholder="请输入直减金额/折扣率" value="" name="discount" id="discount"  />
            </div>
            <div class="col-xs-3 tight-left">
                <a class="btn-primary btn-sm btn" id="calculate">&nbsp;计算&nbsp;</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label"> 折后价:</label>
            <div class="col-xs-8">
                <input class="form-control " type="text"  value=""  name="priceAfterDiscount" id="priceAfterDiscount" readonly/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label"> 备注:</label>
            <div class="col-xs-8">
               <textarea class="form-control" name="discountRemark" placeholder="请输入备注" maxlength="256"></textarea>
            </div>
        </div>
    </div>
    <input value="" name="tid" id="tid" type="hidden">
    <input value="" name="bid" id="bid" type="hidden">
    <input value="1" name="status" type="hidden">

    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit" id="subBtn">
                确定
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>


<script type="text/javascript">

    $(document).ready(function () {

        $(".fg-date-picker").flatpickr(data_time_picker.data_picker);  // jQuery

        //重置
        $(".reset").click(function(){
            $("#search-form input,#search-form select").val('');
        })

        $('#search-form').validationEngine();
        $("#order_reject").validationEngine();

        //点击改价按钮
        $(".checkThis").click(function () {
            var _self = $(this);
            var tid = _self.attr('data-tid');
            var bid = _self.attr('data-bid');
            var price=_self.attr('data-price');
            $('#tid').val(tid);
            $('#bid').val(bid);
            $("#price").val(price);
            layer.open({
                title: false,
                type: 1,
                area: '500px',
                content: $('#order_reject'),
                cancel: function () {
                    //右上角关闭回调
                },

            });

        })
        //点击计算按钮
        $('#calculate').click(function () {
            var price = $('#price').val();
            var discount=$("#discount").val();
            var settlementType=$("select[name=settlementType]").val();
            if(settlementType==0){
                $("#priceAfterDiscount").val((price-discount).toFixed(2));
            }
            if(settlementType==1){
                $("#priceAfterDiscount").val((price*discount).toFixed(2));
            }
        })

        $("#subBtn").on({
            click:function () {
                var price = $('#price').val();
                var discount=$("#discount").val();
                var settlementType=$("select[name=settlementType]").val();
                if(settlementType==0){
                    $("#priceAfterDiscount").val(price-discount);
                }
                if(settlementType==1){
                    $("#priceAfterDiscount").val((price*discount).toFixed(2));
                }
            }
        });

        $(".optionThis").click(function () {
            var _self = $(this);
            var tid = _self.attr('data-tid');
            var bid = _self.attr('data-bid');

            var ajaxUrl, text;
            var payed = _self.attr('data-payed');
            switch (payed){
                case '12':
                    var type = _self.attr('data-type');
                    if(type == 'pass'){
                        ajaxUrl = '/collection/receiptCheck/pass'
                        text = '确认收款？'
                    }else{
                        ajaxUrl = '/collection/receiptCheck/notpass'
                        text = '确认审核不通过？'
                    }
                    break;
                case '21':
                    ajaxUrl = '/collection/reconciliation'
                    text = '确认对账？'
                    break;
                case '201':
                    ajaxUrl = '/collection/receiptCheck/confirm'
                    text = '确认收款？'
                    break;
                case '202':
                    ajaxUrl = '/collection/reconciliation/notPass'
                    text = '确认退回？'
                    break;
                case '10':
                    ajaxUrl = '/collection/receiptCheck'
                    text = '确认锁定？'
                    break;
            }

            layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'post',
                    data: {
                        tid: tid,
                        bid: bid,
                    },
                    success: function (data) {
                        successLayout.reload();

                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) { layer.close(index) })


        })



    })

</script>

<%- include('../layouts/foot'); %>
