<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>订单排料</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>排料中</h6>
                    <hr class="simple">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkbox-inline">
                                        <!--<input type="checkbox" class="checkbox"-->
                                               <!--id="checkAll2"  />-->
                                        <span>序号</span>
                                    </label>
                                </th>
                                <th>加急</th>
                                <th>试装</th>
                                <th>是否收款</th>
                                <th>是否完毕</th>
                                <th>产品类型</th>
                                <th>主材颜色</th>
                                <th>订单号</th>
                                <th>批次号</th>
                                <th>专卖店</th>
                                <th>客户名称</th>
                                <th>下单日期</th>
                                <th>零售价</th>
                                <th>交货日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(scheduleList.result)){
                            scheduleList.result.forEach(function (element, index) { %>
                            <tr>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"
                                               name="role" value="<%= element.tid %>">
                                        <span><%= index+1 %></span>
                                    </label>
                                </td>
                                <td><%= element.urgent %></td>
                                <td><%= element.tryInstall %></td>
                                <td><%= element.receivedStr %></td>
                                <td><%= element.orderFinishStr %></td>
                                <td><%= element.productTypeStr %></td>
                                <td><%= element.colorStr %></td>
                                <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                                <td><%= element.batchNumber %></td>
                                <td><%= element.storeName %></td>
                                <td><%= element.cName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.orderTime) %></td>
                                <td><%= element.retailPrice %></td>
                                <td><%= DWY_Helper.getLocalDate(element.deliveryTime) %></td>
                                <input type="hidden" value="<%= element.batchNumber %>" id="batchNum" />
                            </tr>
                            <%  })
                            }else{ %>
                            <td colspan="20" class="text-align-center">暂无结果</td>
                            <%  }%>
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                    <div class="col-xs-12">
                        <hr class="simple">
                        <div class="col-xs-1 text-center">
                            <button class="btn btn-primary" id="editBatchNumSub">编辑批次号</button>
                            <input  id="editBatchNum" class=""  type="hidden" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <h6>待排料订单</h6>
                    <hr class="simple">
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">
                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <select class="form-control" name="productType">
                                                <option value="">- 产品类型 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(prodList)){
                                                prodList.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.productType == element.id )?"selected":"" %> ><%= element.name %></option>
                                                <% }) }%>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" name="color">
                                                <option value="">- 颜色 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(colorList)){
                                                colorList.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.color == element.id )?"selected":"" %> ><%= element.name %></option>
                                                <% })} %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">专卖店名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="<%= DWYRequest.query.storeName %>" type="text"
                                                   name="storeName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">订单状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="orderFinish">
                                                <option value="">-  请选择 -</option>
                                                <option value="0">未完毕</option>
                                                <option value="1">已完毕</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label class="pull-left control-label">&nbsp下单日期</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.orderStartTime %>" name="orderStartTime">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.orderEndTime %>" name="orderEndTime">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label class="pull-left control-label">&nbsp交货日期</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.deliveryStartTime %>" name="deliveryStartTime">
                                        </div>
                                        <label class="control-label" style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.deliveryEndTime %>" name="deliveryEndTime">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <div class="row margin-top-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>
                                <label class="checkbox-inline">
                                    <!--<input type="checkbox" class="checkbox"-->
                                           <!--id="checkAll"  />-->
                                    <span>序号</span>
                                </label>
                            </th>
                            <th>加急</th>
                            <th>试装</th>
                            <th>是否收款</th>
                            <th>是否完毕</th>
                            <th>产品类型</th>
                            <th>主材颜色</th>
                            <th>订单号</th>
                            <th>批次号</th>
                            <th>专卖店</th>
                            <th>客户名称</th>
                            <th>下单日期</th>
                            <th>零售价</th>
                            <th>交货日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                        if(DWY_Helper.isCanLoop(scheduleAllList.result)){
                        scheduleAllList.result.forEach(function (element, index) { %>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <%
                                    if(element.received==1){%>
                                        <input type="checkbox" class="checkbox"
                                           name="roles" value="<%= element.tid %>">
                                    <%}%>
                                    <%
                                    if(element.received==0){%>
                                        <input type="checkbox" class="checkbox"
                                       name="roles" value="<%= element.tid %>" disabled="disabled">
                                    <% } %>
                                    <span><%= index+1 %></span>
                                </label>
                            </td>
                            <td><%= element.urgent %></td>
                            <td><%= element.tryInstall %></td>
                            <td><%= element.receivedStr %></td>
                            <td><%= element.orderFinishStr %></td>
                            <td><%= element.productTypeStr %></td>
                            <td><%= element.colorStr %></td>
                            <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                            <td><%= element.batchNumber %></td>
                            <td><%= element.storeName %></td>
                            <td><%= element.cName %></td>
                            <td><%= DWY_Helper.getLocalDate(element.orderTime) %></td>
                            <td><%= element.retailPrice %></td>
                            <td><%= DWY_Helper.getLocalDate(element.deliveryTime) %></td>
                        </tr>
                        <%  })
                        }else{ %>
                        <td colspan="20" class="text-align-center">暂无结果</td>
                        <%  }%>
                        </tbody>
                    </table>
                    <%- pagination %>
                </div>
                <div class="col-xs-12">
                    <hr class="simple">
                    <div class="col-xs-2 text-center">
                        <button class="btn btn-primary" id="getNestingTask">标记为排料中</button>
                        <input type="hidden" class="" id="checkedValue">
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end well -->
</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery

        //修改批次号
        var editBatchNum = $('#editBatchNum');
        $("input[name='role']").change(function () {
            if($(this).is(':checked')){
                editBatchNum.addClass(this.value+',')
            }else{
                editBatchNum.removeClass(this.value+',')
            }
        });
        $("#editBatchNumSub").click(function () {
            var cid=$("#batchNum").val();
            var bid = editBatchNum.attr('class').replace(/[ ]/g,"");
            bid = bid.substring(0,bid.length-1);
            layer.confirm("<div>批次号&nbsp<input id='batchInput' value=''  /></div>",
                    {title:'提示'},function(index){
                    cid= $("#batchInput").val();
                    var reg = /^(\d{1,12})$/;
                    var r = cid.match(reg);
                    if(r==null){
                        layer.alert('请输入0-9且长度不大于12！', {icon: 3})
                        return false;
                    }
                        $.ajax({
                        url: '/order/editBatchNum/'+cid+'/'+bid,
                        method: 'post',
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (response) {
                            layer.close(index)
                            errorLayout.normal(response);
                        }
                    });
            },function(index){
                layer.close(index)}
                )
        })
        $("#nestingSub").click(function () {
            layer.confirm('确定提交所选订单的排料吗？',{icon: 3, title:'提示'},function(index){
                layer.close(index)
            },function(index){
                layer.close(index)})
        })
        //标记为排料中
        var checkedValue = $('#checkedValue');
        $("input[name='roles']").change(function () {
            if($(this).is(':checked')){
                checkedValue.addClass(this.value+',')
            }else{
                checkedValue.removeClass(this.value+',')
            }
        });
        $("#getNestingTask").click(function(){
            if(checkedValue.attr('class')==null||checkedValue.attr('class')=='') {
                layer.alert('请选择！', {icon: 3})
                return false;
            }
            var cid = checkedValue.attr('class').replace(/[ ]/g,"");
            cid = cid.substring(0,cid.length-1);
            layer.confirm('确认标记?',{icon: 3, title:'提示'},
                function(index){
                    $.ajax({
                        url: '/orders/getNestingTask/'+cid,
                        method: 'post',
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (response) {
                            layer.close(index)
                            errorLayout.normal(response);
                        }
                    });
                },
                function(index){layer.close(index)})
        })
    })
</script>

<%- include('../layouts/foot'); %>