<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>订单排料</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">

        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>排料中</h6>
                    <hr class="simple">
                </div>
            </div>
            <div class="row">
                <!-- col -->
                <form class="form-horizontal" method="get"  id="search-up">
                    <div class="col-xs-12">
                        <!--<legend>客户搜索</legend>-->
                        <div class="row search-form">
                            <div class="col-xs-12">
                                <input type="hidden" name="productType" value="<%= DWYRequest.query.productType %>" >
                                <input type="hidden" name="color" value="<%= DWYRequest.query.color %>" >
                                <input type="hidden" name="storeName" value="<%= DWYRequest.query.storeName %>" >
                                <input type="hidden" name="cName" value="<%= DWYRequest.query.cName %>" >
                                <input type="hidden" name="orderFinish" value="<%= DWYRequest.query.orderFinish %>" >
                                <input type="hidden" name="type" value="<%= DWYRequest.query.type %>" >
                                <input type="hidden" name="lid" value="<%= DWYRequest.query.lid %>" >
                                <input type="hidden" name="payed" value="<%= DWYRequest.query.payed %>" >
                                <input type="hidden" name="orderStartTime" value="<%= DWYRequest.query.orderStartTime %>" >
                                <input type="hidden" name="orderEndTime" value="<%= DWYRequest.query.orderEndTime %>" >
                                <input type="hidden" name="deliveryStartTime" value="<%= DWYRequest.query.deliveryStartTime %>" >
                                <input type="hidden" name="deliveryEndTime" value="<%= DWYRequest.query.deliveryEndTime %>" >
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">订单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="<%= DWYRequest.query.tid %>" type="text"
                                                   name="tid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">母订单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="<%= DWYRequest.query.parentTid %>" type="text"
                                                   name="parentTid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="<%= DWYRequest.query.cNameDo %>" type="text"
                                                   name="cNameDo">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- end col -->
            </div>
            <div class="row">
                <form id="form-doing">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <label  class="checkbox-inline">
                                            <input type="checkbox" class="checkbox" id="checkAll" name="checkAll"  />
                                            <span>序号</span>
                                        </label>
                                    </th>
                                    <th>是否缺失</th>
                                    <th>加急</th>
                                    <th>试装</th>
                                    <th>收款</th>
                                    <th>包装</th>
                                    <th>下单完毕</th>
                                    <th>产品类型</th>
                                    <th>类型</th>
                                    <th>商品类型</th>
                                    <th>主材颜色</th>
                                    <th>订单号</th>
                                    <th>批次号</th>
                                    <th>专卖店</th>
                                    <th>客户名称</th>
                                    <th>下单日期</th>
                                    <th>零售价</th>
                                    <th>交货日期</th>
                                    <th>所属机构</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                if(DWY_Helper.isCanLoop(scheduleList.result)){
                                scheduleList.result.forEach(function (element, index) { %>
                                <tr class="<%= (element.orderNum) ? "mark-row3":"" %>">
                                    <td>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="checkbox validate[minCheckbox[1]]"
                                                   name="role" value="<%= element.tid %>" <%= element.factoryId != user.bid?'disabled':'' %>>
                                            <span><%= index+1+(scheduleList.page-1)*20%></span>
                                        </label>
                                    </td>
                                    <td>
                                    <%if(element.damageFlag){%>
                                    是
                                    <% }else if(element.damageFlag == false){%>
                                    否
                                    <% }else{%>
                                    <% }%>
                                    </td>
                                    <td><%= element.urgent %></td>
                                    <td><%= element.tryInstall %></td>
                                    <td><%= element.receivedStr %></td>
                                    <td class="text-left"><%= element.packageStatusStr %></td>
                                    <td><%= element.orderFinishStr %></td>
                                    <td><%= element.productTypeStr %></td>
                                    <td><%= element.orderTypeStr %></td>
                                    <td><%= element.typeStr %></td>
                                    <td><%= element.colorStr %></td>
                                    <td style="width:200px;">
                                        <a  <%=  element.orderType ==20  ?  "href=/order/resupply/detail/"+ element.tid :  "href=/order/detail/"+element.tid  %>  ><%= element.tid %></a>
                                        <%if(element.orderNum){%>×<%= element.orderNum %><%}%>
                                        <a class="label label-primary <%= (element.orderNum) ? "":"display-none" %>"
                                           href="/order/nesting/childOrder/<%= element.tid %>" style="display:block;width:72px;">
                                            设置批次号
                                        </a>
                                    </td>
                                  <%
                                  if(element.batchNumber == '0'){%>
                                    <td></td>
                                  <% }else{%>
                                    <td><a href="/orders/batchNumber/detail/<%= element.batchNumber %>/<%= element.factoryId %>"><%= element.batchNumber %></a></td>
                                  <%}%>
                                    <td><%= element.storeName %></td>
                                    <td>
                                        <a href="/customer/detail/<%= element.cid %>"><%= element.cName %></a>
                                    </td>
                                    <td><%= DWY_Helper.getLocalDateYMD(element.orderTime) %></td>
                                    <td><%= element.retailPrice %></td>
                                    <td><%= DWY_Helper.getLocalDateYMD(element.deliveryTime) %></td>
                                    <td><%= element.factoryName %></td>
                                </tr>
                                <%  })
                                }else{ %>
                                <td colspan="19" class="text-align-center">暂无结果</td>
                                <%  }%>
                                </tbody>
                            </table>
                          <%- paginationForGet %>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <hr class="simple">
                        <div class="col-xs-1 text-center">
                            <label class="btn btn-primary" id="editBatchNumSub">编辑批次号</label>
                            <!--<input  id="editBatchNum" class=""  type="hidden" />-->
                        </div>
                        <div class="col-xs-1">
                            <a class="btn btn-primary" href="/orders/batchNumber">批次列表</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <h6>待排料订单</h6>
                    <hr class="simple">
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <!-- col -->
                <form class="form-horizontal" method="get" id="search-down">
                    <div class="col-xs-12">
                        <!--<legend>客户搜索</legend>-->
                        <div class="row search-form">
                            <div class="col-xs-12">
                              <input type="hidden" name="tid" value="<%= DWYRequest.query.tid %>" >
                              <input type="hidden" name="parentTid" value="<%= DWYRequest.query.parentTid %>" >
                              <input type="hidden" name="cNameDo" value="<%= DWYRequest.query.cNameDo %>" >
                                <div class="col-xs-2">
                                    <select class="form-control" name="productType">
                                        <option value="">- 产品类型 -</option>
                                      <%
                                      if(DWY_Helper.isCanLoop(prodList)){
                                      prodList.forEach(function (element) { %>
                                        <option value="<%= element.id %>" <%= (DWYRequest.query.productType == element.id )?"selected":"" %> ><%= element.name %></option>
                                      <% }) }%>
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <select class="form-control" name="color">
                                            <option value="">- 颜色 -</option>
                                          <%
                                          if(DWY_Helper.isCanLoop(colorList)){
                                          colorList.forEach(function (element) { %>
                                            <option value="<%= element.id %>" <%= (DWYRequest.query.color == element.id )?"selected":"" %> ><%= element.name %></option>
                                          <% })} %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">专卖店名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="<%= DWYRequest.query.storeName %>" type="text"
                                                   name="storeName">
                                        </div>
                                    </div>
                                </div>
                              <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <a      class="btn btn-primary reset margin-left-20"
                                            href="/orders/nesting?productType=<%= DWYRequest.query.productType %>
                                                &color=<%= DWYRequest.query.color %>&storeName=<%= DWYRequest.query.storeName %>
                                                &cName=<%= DWYRequest.query.cName %>&orderFinish=1&type=<%= DWYRequest.query.type %>
                                                &lid=<%= DWYRequest.query.lid %>&payed=2&orderStartTime=<%= DWYRequest.query.orderStartTime %>
                                                &orderEndTime=<%= DWYRequest.query.orderEndTime %>
                                                &deliveryStartTime=<%= DWYRequest.query.deliveryStartTime %>
                                                &deliveryEndTime=<%= DWYRequest.query.deliveryEndTime %>&orderScheduleNumber=0">
                                        查询可排料订单
                                    </a>
                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>
                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                </div>
                              <%}%>

                              <% if(DWY_GLOBAL.ButtonOpen!=1){  %>
                                <div class="slideToggle display-none">
                                  <% } %>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">客户名称:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control"  value="<%= DWYRequest.query.cName %>" type="text"
                                                       name="cName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">是否下单完毕:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="orderFinish">
                                                    <option value="">-  请选择 -</option>
                                                    <option value="0" <%= (DWYRequest.query.orderFinish == 0 )?"selected":"" %> >未完毕</option>
                                                    <option value="1" <%= (DWYRequest.query.orderFinish == 1 )?"selected":"" %> >已完毕</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">订单类别:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="type">
                                                    <option value="">-  请选择 -</option>
                                                  <% if(DWY_Helper.isCanLoop(orderTypeList)){
                                                  orderTypeList.forEach(function (element) {  %>
                                                    <option value="<%= element.id %>" <%= (DWYRequest.query.type == element.id )?"selected":"" %> ><%= element.name %></option>
                                                  <%  })
                                                  } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">流水号:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control"  value="<%= DWYRequest.query.lid %>" type="text"
                                                       name="lid">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">是否收款:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="payed">
                                                    <option value="">-  请选择 -</option>
                                                    <option value="2" <%= (DWYRequest.query.payed == 2 )?"selected":"" %>>已收款</option>
                                                    <option value="1" <%= (DWYRequest.query.payed == 1 )?"selected":"" %> >未收款</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">&nbsp下单日期</label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" type="text"
                                                       value="<%= DWYRequest.query.orderStartTime %>" name="orderStartTime">
                                            </div>
                                            <label class="control-label " style="float: left"> 至 </label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" type="text"
                                                       value="<%= DWYRequest.query.orderEndTime %>" name="orderEndTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">&nbsp交货日期</label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" type="text"
                                                       value="<%= DWYRequest.query.deliveryStartTime %>" name="deliveryStartTime">
                                            </div>
                                            <label class="control-label" style="float: left"> 至 </label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" type="text"
                                                       value="<%= DWYRequest.query.deliveryEndTime %>" name="deliveryEndTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">排产间隔></label>
                                            <div class="col-xs-8">
                                                <input class="form-control"  value="<%= DWYRequest.query.interval %>" type="text"
                                                       name="interval">
                                            </div>
                                        </div>
                                    </div>
                                  <% if(DWY_GLOBAL.ButtonOpen!=1){  %>
                                </div>
                              <% } %>

                            </div>
                          <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                          <%}%>
                        </div>
                    </div>
                </form>

                <!-- end col -->
            </div>
            <div class="row margin-top-10">
                <form class="form-horizontal" method="post" action="/orders/getNestingTask" id="waitNesting">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <label  class="checkbox-inline">
                                            <input type="checkbox" class="checkbox" id="checkAllSec" name="checkAllSec"  />
                                            <span>序号</span>
                                        </label>
                                    </th>
                                    <th>排产间隔天数</th>
                                    <th>加急</th>
                                    <th>试装</th>
                                    <th>收款</th>
                                    <th>下单完毕</th>
                                    <th>产品类型</th>
                                    <th>类型</th>
                                    <th>商品类型</th>
                                    <th>主材颜色</th>
                                    <th>订单号</th>
                                    <th>批次号</th>
                                    <th>专卖店</th>
                                    <th>客户名称</th>
                                    <th>下单日期</th>
                                    <th>零售价</th>
                                    <th>交货日期</th>
                                    <th>最近下单日期</th>
                                    <th>收款日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                if(DWY_Helper.isCanLoop(scheduleAllList.result)){
                                scheduleAllList.result.forEach(function (element, index) { %>
                                <tr>
                                    <td>
                                        <label class="checkbox-inline">
                                            <%
                                            if(element.received<21||element.received==null){%>
                                            <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="roles" value="<%= element.tid %>" disabled="disabled">
                                            <% }else{%>
                                            <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="roles" value="<%= element.tid %>">
                                            <%} %>
                                            <span><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></span>
                                    </label>
                                    </td>
                                    <td>
                                        <%= element.interval %>
                                    </td>
                                    <td><%= element.urgent %></td>
                                    <td><%= element.tryInstall %></td>
                                    <%
                                        if(element.receivedStr=='否'){%>
                                            <td><span class="padding-5" style="background:#fdcc9c;"><%= element.receivedStr %></span></td>
                                        <%}else{%>
                                            <td><%= element.receivedStr %></td>
                                    <%}%>
                                    <td><%= element.orderFinishStr %></td>
                                    <td><%= element.productTypeStr %></td>
                                    <td><%= element.orderTypeStr %></td>
                                    <td><%= element.typeStr %></td>
                                    <td class="matColor" id="<%= element.color %>">
                                        <span><%= element.colorStr %></span>
                                        <div class="colorClose"><i class="fa fa-times color"></i></div>
                                    </td>
                                    <td><a  <%=  element.orderType ==20  ?  "href=/order/resupply/detail/"+ element.tid :  "href=/order/detail/"+element.tid  %>  ><%= element.tid %></a><%if(element.orderNum){%>×<%=element.orderNum%><%}%></td>
                                    <%
                                    if(element.batchNumber == '0'){%>
                                    <td></td>
                                    <% }else{%>
                                    <td><a href="/orders/batchNumber/detail/<%= element.batchNumber %>/<%= element.factoryId %>"><%= element.batchNumber %></a></td>
                                    <%}%>
                                    <td><%= element.storeName %></td>
                                    <td>
                                        <a href="/customer/detail/<%= element.cid %>"><%= element.cName %></a>
                                        <span class="nesting-num" title="尚未到达待排料或未收款订单数量">(<%= element.orderScheduleNumber %>)</span>
                                    </td>
                                    <td><%= DWY_Helper.getLocalDateYMD(element.orderTime) %></td>
                                    <td><%= element.retailPrice %></td>
                                    <td><%= DWY_Helper.getLocalDateYMD(element.deliveryTime) %></td>
                                    <td><%= element.recentlyAddTimeStr %></td>
                                    <td><%= DWY_Helper.getLocalDateYMD(element.receiptTime) %></td>
                                </tr>
                                <%  })
                                }else{ %>
                                <td colspan="19" class="text-align-center">暂无结果</td>
                                <%  }%>
                                </tbody>
                            </table>
                            <%- pagination %>
                        </div>

                    </div>
                    <div class="col-xs-12">
                    <hr class="simple">
                    <div class="col-xs-1 text-center">
                        <button class="btn btn-primary" id="getNestingTask">标记为排料中</button>
                        <input type="hidden" class="" id="checkedValue">
                    </div>
                </div>
                </form>
            </div>
            <!-- end row -->
        </div>

    </div>
    <!-- end well -->
</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<form id="batchIdForm" class="col-xs-12 layer-template" action="/order/editBatchNum" method="post">
    <div class="col-xs-12">
        <div class="col-xs-2 margin-top-10 text-center">
            批次号:
        </div>
        <div class="col-xs-6">
            <input class="form-control" type="text" name='batchNumber' value=''>
            <input name='tids' type='hidden' value=''>
        </div>
    </div>
    <div class="col-xs-12 text-center margin-top-10">
        <button type="submit" class="btn btn-primary" id="batchIdBtn">确认</button>
    </div>
</form>

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
        $("#batchIdForm").validationEngine({scroll:false});
        $("#waitNesting").validationEngine();
        $("#form-doing").validationEngine({scroll:false});

        DWY_Utils.CommonMethods.checkFuc("input[name=checkAll]","input[name=role]:checkbox");
        DWY_Utils.CommonMethods.checkFuc("input[name=checkAllSec]","input[name=roles]:checkbox");


        // 修改批次号
        $("#editBatchNumSub").click(function () {
            if($('#form-doing').validationEngine('validate')){
                layer.open({
                    title: false,
                    type: 1,
                    area: '700px',
                    content: $('#batchIdForm'),
                    cancel: function () {
                        //右上角关闭回调
                    },
                });
            }
        })
        $("#batchIdBtn").click(function(){
            var cid;
            cid= $("input[name=batchNumber]").val();
            var reg = /^(\d{1,12})$/;
            var r = cid.match(reg);
            if(r==null){
                layer.alert('请输入数字且长度不大于12！', {icon: 3})
                return false;
            }
            var value=[];
            $("input[name=role]:checked").each(function () {
                value.push($(this).val());
            });
            $("input[name=tids]").val(value.toString(','));
        })

          var value = $("select[name=color]").val();
          if(value != "" && value != undefined && value != null){
            $(".matColor:first span").css({"border-bottom":"2px solid #f00","padding-bottom":"5px"});
            $(".matColor:first .colorClose").css("display","inline-block");
          }

        $(".matColor").click(function(e){
            $(this).find("span").css({"border-bottom":"2px solid #f00","padding-bottom":"5px"});
            var id = $(this).attr("id");
            $("select[name=color]").val(id);
            $(this).find(".colorClose").css("display","inline-block");
            $(this).parent("tr").siblings().find(".colorClose").css("display","none");
            $(this).parent("tr").siblings().find(".matColor span").css({"border-bottom":"0","padding-bottom":"0"});
            $("#search-down").submit();
            e.stopPropagation();
        })
        $(".colorClose").click(function(e){
            e.stopPropagation();//阻止冒泡事件
            $("select[name=color]").val("");
            $(this).hide();
            $(this).siblings("span").css({"border-bottom":"0","padding-bottom":"0"});
            $("#search-down").submit();
        })

    })
</script>

<%- include('../layouts/foot'); %>