<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>订单排料</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6><%= user.name %>排料中</h6>
                    <hr class="simple">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"
                                               id="checkAll2"  />
                                        <span>序号</span>
                                    </label>
                                </th>
                                <th>加急</th>
                                <th>试装</th>
                                <th>是否收款</th>
                                <th>订单类型</th>
                                <th>产品类型</th>
                                <th>主材颜色</th>
                                <th>订单号</th>
                                <th>批次号</th>
                                <th>专卖店</th>
                                <th>客户名称</th>
                                <th>下单日期</th>
                                <th>零售价</th>
                                <th>交货日期</th>
                                <th>房间</th>
                                <th>备注</th>
                                <th>责任审核</th>
                                <th>欠缺订单</th>
                                <th>欠收款数</th>
                                <th>客户出厂价</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(scheduleList.result)){
                            scheduleList.result.forEach(function (element, index) { %>
                            <tr>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"
                                               name="role" value="<%= element.tid %>">
                                        <span><%= index+1 %></span>
                                    </label>
                                </td>
                                <td><%= element.urgent %></td>
                                <td><%= element.tryInstall %></td>
                                <td><%= element.received %></td>
                                <td><%= element.orderTypeStr %></td>
                                <td><%= element.productTypeStr %></td>
                                <td><%= element.colorStr %></td>
                                <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                                <td><%= element.batchNumber %></td>
                                <td><%= element.storeName %></td>
                                <td><%= element.cName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.orderTime) %></td>
                                <td><%= element.retailPrice %></td>
                                <td><%= DWY_Helper.getLocalDate(element.deliveryTime) %></td>
                                <td><%= element.room %></td>
                                <td><%= element.remark %></td>
                                <td><%= element.audit %></td>
                                <td><%= element.lackOrderNumber %></td>
                                <td><%= element.lackReceivedNumver %></td>
                                <td><%= element.custFactoryPrice %></td>
                                <input type="hidden" value="<%= element.batchNumber %>" id="batchNum" />
                            </tr>
                            <%  })
                            }else{ %>
                            <td colspan="20" class="text-align-center">暂无结果</td>
                            <%  }%>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12">
                        <hr class="simple">
                        <div class="col-xs-1 text-center">
                            <button class="btn btn-primary" id="editBatchNumSub">编辑批次号</button>
                            <input  id="editBatchNum" class=""  type="hidden" />
                        </div>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <h6>待审核订单</h6>
                    <hr class="simple">
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <div class="col-xs-4">
                                            <select class="form-control" name="productType">
                                                <option value="">- 产品类型 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(prodList)){
                                                prodList.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.productType == element.id )?"selected":"" %> ><%= element.name %></option>
                                                <% }) }%>
                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="color">
                                                <option value="">- 颜色 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(colorList)){
                                                colorList.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.color == element.id )?"selected":"" %> ><%= element.name %></option>
                                                <% })} %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">专卖店名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="<%= DWYRequest.query.storeName %>" type="text"
                                                   name="storeName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="pull-left control-label">&nbsp下单日期</label>
                                        <div class="col-xs-3">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.orderStartTime %>" name="orderStartTime">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-3">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.orderEndTime %>" name="orderEndTime">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="pull-left control-label col-xs-4">&nbsp交货日期:</label>
                                        <div class="col-xs-3">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.deliveryStartTime %>" name="deliveryStartTime">
                                        </div>
                                        <label class="control-label" style="float: left"> 至 </label>
                                        <div class="col-xs-3">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.deliveryEndTime %>" name="deliveryEndTime">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <div class="row margin-top-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox"
                                           id="checkAll"  />
                                    <span>序号</span>
                                </label>
                            </th>
                            <th>加急</th>
                            <th>试装</th>
                            <th>是否收款</th>
                            <th>订单类型</th>
                            <th>产品类型</th>
                            <th>主材颜色</th>
                            <th>订单号</th>
                            <th>批次号</th>
                            <th>专卖店</th>
                            <th>客户名称</th>
                            <th>下单日期</th>
                            <th>零售价</th>
                            <th>交货日期</th>
                            <th>房间</th>
                            <th>备注</th>
                            <th>责任审核</th>
                            <th>欠缺订单</th>
                            <th>欠收款数</th>
                            <th>客户出厂价</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                        if(DWY_Helper.isCanLoop(scheduleAllList.result)){
                        scheduleAllList.result.forEach(function (element, index) { %>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox"
                                           name="roles" value="<%= element.tid %>">
                                    <span><%= index+1 %></span>
                                </label>
                            </td>
                            <td><%= element.urgent %></td>
                            <td><%= element.tryInstall %></td>
                            <td><%= element.received %></td>
                            <td><%= element.orderTypeStr %></td>
                            <td><%= element.productTypeStr %></td>
                            <td><%= element.colorStr %></td>
                            <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                            <td><%= element.batchNumber %></td>
                            <td><%= element.storeName %></td>
                            <td><%= element.cName %></td>
                            <td><%= DWY_Helper.getLocalDate(element.orderTime) %></td>
                            <td><%= element.retailPrice %></td>
                            <td><%= DWY_Helper.getLocalDate(element.deliveryTime) %></td>
                            <td><%= element.room %></td>
                            <td><%= element.remark %></td>
                            <td><%= element.audit %></td>
                            <td><%= element.lackOrderNumber %></td>
                            <td><%= element.lackReceivedNumver %></td>
                            <td><%= element.custFactoryPrice %></td>
                        </tr>
                        <%  })
                        }else{ %>
                        <td colspan="20" class="text-align-center">暂无结果</td>
                        <%  }%>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12">
                    <hr class="simple">
                    <div class="col-xs-2 text-center">
                        <button class="btn btn-primary" id="getNestingTask">标记为排料中</button>
                        <input type="hidden" class="" id="checkedValue">
                    </div>
                </div>
                <%- pagination %>
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end well -->
</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery

        //修改批次号
        var editBatchNum = $('#editBatchNum');
        $("#checkAll2").change(function () {
            if($(this).is(":checked")){
                $("input[name='role']").prop('checked',true);
                $("input[name='role']:checked").each(function (i) {
                    editBatchNum.addClass(this.value+',')
                });
            }else{
                $(":checkbox").prop('checked',false);
                editBatchNum.removeClass()
            }
        })
        $("input[name='role']").change(function () {
            if($(this).is(':checked')){
                editBatchNum.addClass(this.value+',')
            }else{
                editBatchNum.removeClass(this.value+',')
            }
        });
        $("#editBatchNumSub").click(function () {
            var cid=$("#batchNum").val();
            var bid = editBatchNum.attr('class').replace(/[ ]/g,"");
            bid = bid.substring(0,bid.length-1);
            layer.confirm("<div>批次号&nbsp<input id='batchInput' value=''  /></div>",
                    {title:'提示'},function(index){
                    cid= $("#batchInput").val();
                    $.ajax({
                        url: '/order/editBatchNum/'+cid+'/'+bid,
                        method: 'post',
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (response) {
                            layer.close(index)
                            var data = JSON.parse(response.responseText);
//                        var data = (response.responseText);
                            $.smallBox({
                                title: "操作失败",
                                content: data.msg,
                                color: "#C46A69",
                                iconSmall: "fa fa-times fa-2x fadeInRight animated",
                                timeout: 3000
                            });
                            setTimeout(function(){
                                window.location.reload();
                            },7000)
                        }
                    });
//                layer.close(index)
            },function(index){
                layer.close(index)}
                )
        })
        $("#nestingSub").click(function () {
            layer.confirm('确定提交所选订单的排料吗？',{icon: 3, title:'提示'},function(index){
                layer.close(index)
            },function(index){
                layer.close(index)})
        })
        //标记为排料中
        var checkedValue = $('#checkedValue');
        $("#checkAll").change(function () {
            if($(this).is(":checked")){
                $("input[name='roles']").prop('checked',true);
                $("input[name='roles']:checked").each(function (i) {
                    checkedValue.addClass(this.value+',')
                });
            }else{
                $(":checkbox").prop('checked',false);
                checkedValue.removeClass()
            }
        })
        $("input[name='roles']").change(function () {
            if($(this).is(':checked')){
                checkedValue.addClass(this.value+',')
            }else{
                checkedValue.removeClass(this.value+',')
            }
        });
        $("#getNestingTask").click(function(){
            var cid = checkedValue.attr('class').replace(/[ ]/g,"");
            cid = cid.substring(0,cid.length-1);
            layer.confirm('确认标记?',{icon: 3, title:'提示'},
                function(index){
                    $.ajax({
                        url: '/orders/getNestingTask/'+cid,
                        method: 'post',
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (response) {
                            layer.close(index)
                            var data = JSON.parse(response.responseText);
                            $.smallBox({
                                title: "操作失败",
                                content: data.msg,
                                color: "#C46A69",
                                iconSmall: "fa fa-times fa-2x fadeInRight animated",
                                timeout: 3000
                            });
                            setTimeout(function(){
                                window.location.reload();
                            },2000)
                        }
                    });
                },
                function(index){layer.close(index)})
        })
    })
</script>

<%- include('../layouts/foot'); %>