<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>订单许可</li>
        </ol>

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">许可状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="">
                                                <option value="1">审核未加急</option>
                                                <option value="2">审核加急</option>
                                                <option value="3">拆单未许可</option>
                                                <option value="4">拆单许可</option>
                                                <option value="5">拆单加急</option>
                                                <option value="6">排产未定</option>
                                                <option value="7">排产暂缓</option>
                                                <option value="8">排产许可</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="" type="text"
                                                   name="mobile">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-1">&nbsp;</label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="">
                                                <option value="1">收款确认日期</option>
                                                <option value="2">约定交付日期</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="" name="startDate" readonly="readonly">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-3">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="" name="endDate" readonly="readonly">
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="" type="text"
                                                   name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">订单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="" type="text"
                                                   name="mobile">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-1">&nbsp;</label>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="">
                                                <option value="">- 品牌 -</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="">
                                                <option value="">- 厂区 -</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="">
                                                <option value="">- 颜色 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">产品信息:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="" type="text"
                                                   name="mobile">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">店名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  value="" type="text"
                                                   name="mobile">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-1">&nbsp;</label>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="">
                                                <option value="">- 类型 -</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="">
                                                <option value="">- 难度 -</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="">
                                                <option value="">- 是否下单完毕 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">交付类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="">
                                                <option value="">- 交付类型 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">最慢订单状态:</label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                            </select>
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>






                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>订单列表</h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th><label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"
                                               id="checkAll">
                                        <span>&nbsp;</span>
                                    </label>序号</th>
                                <th>订单号</th>
                                <th>审核加急</th>
                                <th>拆单许可</th>
                                <th>排产许可</th>
                                <th>颜色</th>
                                <th>类型</th>
                                <th>难度</th>
                                <th>专卖店</th>
                                <th>客户号</th>
                                <th>客户名称</th>
                                <th>产品信息</th>
                                <th>收款确认日期</th>
                                <th>订单状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"
                                               name="roles" value="1">
                                        <span>1</span>
                                    </label>
                                </td>
                                <td><a href="/order/detail/555">12345</a></td>
                                <td>未加急</td>
                                <td>未许可</td>
                                <td>未定</td>
                                <td>其他</td>
                                <td>新橱柜18</td>
                                <td>未定</td>
                                <td>杭州市湖滨银泰店</td>
                                <td><a href="/customer/detail">12345</a></td>
                                <td>张三</td>
                                <td>橱柜柜体</td>
                                <td>2016-10-10</td>
                                <td>建单中</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"
                                               name="roles" value="2">
                                        <span>1</span>
                                    </label>
                                </td>
                                <td><a href="/order/detail/555">12345</a></td>
                                <td>未加急</td>
                                <td>未许可</td>
                                <td>未定</td>
                                <td>其他</td>
                                <td>新橱柜18</td>
                                <td>未定</td>
                                <td>杭州市湖滨银泰店</td>
                                <td><a href="/customer/detail">12345</a></td>
                                <td>张三</td>
                                <td>橱柜柜体</td>
                                <td>2016-10-10</td>
                                <td>建单中</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-btn-div-->
        <div class="" >
            <!--<div class="col-xs-8 form-horizontal form-group">-->
                <!--<label class="col-xs-2 control-label"> 将选中订单设置为: </label>-->
                <!--<div class="col-xs-3">-->
                    <!--<select class="form-control" name="type">-->
                        <!--<option value="">- 请选择 -</option>-->
                        <!--<option value="1">审核未加急</option>-->
                        <!--<option value="2">审核加急</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<button class="btn btn-primary">确定</button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-xs-8 form-horizontal">
                <label class="col-xs-2 control-label "> 将选中订单难度设置为: </label>
                <div class="col-xs-3">
                    <select class="form-control" name="difficulty">
                        <option value="">- 请选择 -</option>
                        <% difficultyList.forEach(function (element) {  %>
                        <option value="<%= element.id %>"><%= element.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-primary" id="submitDifficulty">确定</button>
                    <input type="hidden" class="" id="checkedValue">
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();


        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery

        var checkedValue = $('#checkedValue');
        $("#checkAll").change(function () {
            if($(this).is(":checked")){
                $(":checkbox").prop('checked',true);
                $("input[name='roles']:checked").each(function (i) {
                    checkedValue.addClass(this.value+',')
                });
            }else{
                $(":checkbox").prop('checked',false);
                checkedValue.removeClass()
            }
        })
        $("input[name='roles']").change(function () {
            if($(this).is(':checked')){
                checkedValue.addClass(this.value+',')
            }else{
                checkedValue.removeClass(this.value+',')
            }

        });

        $('#submitDifficulty').click(function () {
            var tids = checkedValue.attr('class');
            tids = tids.substring(0,tids.length-1);
            var difficulty = $('select[name=difficulty]').val();
            if(!tids){
                layer.msg('请先选择订单', {icon: 2, time: 2000});
                return;
            }
            if(!difficulty){
                layer.msg('请选择难度等级', {icon: 2, time: 2000});
                return;
            }
            console.log(tids);
        })


    })

</script>


<%- include('../layouts/foot'); %>