<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>订单详情</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>基本信息
                        <% if( orderInfo.stcode == 250 ){ %>
                        <a class="label label-primary" id="modifyInfo-modal">修改</a>
                        <% } %>
                    </legend>
                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>订单状态</td>
                                <td><%= DWY_Helper.getAssistVal(orderInfo.stcode, stcodeInfo) %></td>
                                <td>订单号</td>
                                <td><%= tid %></td>
                            </tr>
                            <tr>
                                <td width="20%">产品信息</td>
                                <td width="30%"><%= orderInfo.prodInfo %></td>
                                <td width="20%">订单类型</td>
                                <td width="30%">普通订单</td>
                            </tr>
                            <tr>
                                <td>所在空间</td>
                                <td><%= orderInfo.spaceName %> &nbsp;(<%= orderInfo.parentSpaceinfoName %>)</td>
                                <td>产品</td>
                                <td><%= orderInfo.prodTypeName %></td>
                            </tr>
                            <tr>
                                <td>主材颜色</td>
                                <td><%= orderInfo.decoColor %></td>
                                <td>风格</td>
                                <td><%= DWY_Helper.getAssistVal(orderInfo.decoStyleId, styleInfo) %></td>
                            </tr>
                            <tr>
                                <td>专卖店</td>
                                <td><%= orderInfo.storeAddress %></td>
                                <td>专卖店编号</td>
                                <td><%= orderInfo.bid %></td>
                            </tr>
                            <tr>
                                <td>收货人</td>
                                <td><%= orderInfo.recName %></td>
                                <td>联系电话</td>
                                <td><%= orderInfo.recMobile %></td>
                            </tr>
                            <tr>
                                <td>收货地址</td>
                                <td colspan="3"><%= orderInfo.recAddress %></td>
                            </tr>
                            <tr>
                                <td>客户编号</td>
                                <td><a href="/customer/detail/<%= orderInfo.cid %>"><%= orderInfo.cid %></a></td>
                                <td>客户姓名</td>
                                <td><%= orderInfo.name %></td>
                            </tr>
                            <tr>
                                <td>客户电话</td>
                                <td><%= orderInfo.mobile %></td>
                                <td>约定交付日期</td>
                                <td><%= DWY_Helper.getLocalDate(orderInfo.deliveryDate) %></td>
                            </tr>
                            <tr>
                                <td>客户地址</td>
                                <td colspan="3"><%= orderInfo.address %></td>
                            </tr>
                            <tr>
                                <td>流水号</td>
                                <td colspan="3"><a href="/taskseq/index/<%= orderInfo.lid %>"><%= orderInfo.lid %></a>
                                </td>
                            </tr>
                            <tr>
                                <td>包装信息</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>难度等级</td>
                                <td>
                                    <% if(orderInfo.stcode == 220){ %>
                                    <form class="form-horizontal" method="post" action="/orders/updateDifficultyLevel">
                                        <div class="col-xs-4">
                                            <select class="form-control" name="difficulty">
                                                <option value="">- 未定 -</option>
                                                <% difficultyList.forEach(function (element) { %>
                                                    <option value="<%= element.id %>" <%= orderInfo.difficulty == element.id ? 'selected': '' %>>
                                                        <%= element.name %>
                                                    </option>
                                                <% }) %>
                                            </select>
                                            <input value="<%= tid %>" name="tids" type="hidden">
                                        </div>
                                        <div class="col-xs-2">
                                            <% if (DWY_Helper.hasPermission(Permission.orderAssess.assess.id, permission) ){ %>
                                            <button class="btn btn-primary ">确定</button>
                                            <% } %>
                                        </div>
                                    </form>
                                    <% }else{  %>
                                        <%= DWY_Helper.getAssistVal(orderInfo.difficulty,difficultyList) %>
                                    <% } %>
                                </td>
                                <td>零售价</td>
                                <td><%= orderInfo.retailPrice %>元</td>
                            </tr>
                            <tr>
                                <td>结算价</td>
                                <td><%= orderInfo.revFranchisePrice %>元</td>
                                <td>出厂价</td>
                                <td><%= orderInfo.factoryPrice %>元</td>
                            </tr>

                            <tr>
                                <td>建单人</td>
                                <td><%= orderInfo.channelName %></td>
                                <td>设计师</td>
                                <td><%= orderInfo.designer %></td>
                            </tr>
                            <tr>
                                <td>建单时间</td>
                                <td colspan="3"><%= DWY_Helper.getLocalDate(orderInfo.addTime) %></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="3"><%= orderInfo.remark %></td>
                            </tr>
                            <tr>
                                <td>电商产品信息</td>
                                <td colspan="3" class="no-padding">
                                    <table class="table table-bordered table-striped table-noneinf">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>型号</th>
                                            <th>名称</th>
                                            <th>尺寸</th>
                                            <th>参数</th>
                                            <th>单位</th>
                                            <th>数量</th>
                                            <th>说明</th>
                                            <th>编码</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>暂无数据</td>
                                            <td>暂无数据</td>
                                            <td>暂无数据</td>
                                            <td>暂无数据</td>
                                            <td>暂无数据</td>
                                            <td>暂无数据</td>
                                            <td>暂无数据</td>
                                            <td>暂无数据</td>
                                            <td>暂无数据</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="text-align-right">合计</td>
                                            <td colspan="3">暂无数据</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>同客户订单</td>
                                <td colspan="3">
                                    <%
                                    var orderList = "";
                                    orderInfo.orders.forEach(function (orderElement) { %>
                                    <a class="order-number" href="/order/detail/<%= orderElement %>"><%= orderElement %></a>
                                    <% }) %>
                                </td>
                            </tr>
                            <tr>
                                <td>同客户流水</td>
                                <td colspan="3">
                                    <%
                                    var orderList = "";
                                    orderInfo.sequences.forEach(function (sequenceElement) { %>
                                    <a class="order-number"  href="/taskseq/index/<%= sequenceElement %>"><%= sequenceElement %></a>
                                    <% }) %>
                                </td>
                            </tr>
                            <tr>
                                <td>相关订单</td>
                                <td colspan="3">
                                    <%
                                    orderInfo.resupplys.forEach(function (element) { %>
                                    <a class="order-number" href="/order/resupply/detail/<%= element.tid %>/<%= element.resId %>"><%= element.tid %><%= element.resId %></a>
                                    <% }) %>
                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>相关文件
                        <!--<a class="label label-primary" href="/file/create/<%= orderInfo.lid %>/<%= orderInfo.stcode %>">文件管理</a>-->

                        <% if( orderInfo.stcode == 250 || orderInfo.stcode == 450 || orderInfo.stcode == 475
                                || orderInfo.stcode == 550 || orderInfo.stcode == 650 || orderInfo.stcode == 635){ %>
                        <a class="label label-primary" href="/file/order/create/<%= orderInfo.lid %>/<%= orderInfo.stcode %>/1/<%= tid %>">文件管理</a>
                        <% } %>

                        <% if( orderInfo.stcode == 450 || orderInfo.stcode == 475
                                || orderInfo.stcode == 550 || orderInfo.stcode == 650 || orderInfo.stcode == 635 || (orderInfo.stcode>=675 && orderInfo.stcode<729 && orderInfo.packeted==1)){ %>
                        <a class="label label-primary" href="/order/workpiece/<%= tid %>">订单物料</a>
                        <% } %>

                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>文件名</th>
                                <th>文件类型</th>
                                <!--<th>文件大小</th>-->
                                <th>上传人</th>
                                <th>上传时间</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            orderInfo.ordfiles.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td>
                                    <a href="<%= DWY_GLOBAL.Static %>/download?url=<%= element.filePath %>"><%= element.fileName %></a>
                                </td>
                                <td><%= element.fileTypeDesc %></td>
                                <td><%= element.uploadName %></td>
                                <td><%= element.addTime %></td>
                                <td><%= element.remark %></td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <% if(chgbackInfo.length>0){  %>
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 ">
                    <legend>退回信息
                        <a class="label label-primary" href="/order/chgback/<%= tid %>">
                            查看所有退回信息
                        </a>
                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>退回原因</th>
                                <th>退回类型</th>
                                <th>备注</th>
                                <th>操作柜员</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%  chgbackInfo.forEach(function (element, index) {  %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.causeName %></td>
                                <td><%= element.reviewReasonTypeStr %></td>
                                <td><%= element.remark %></td>
                                <td><%= element.gname %></td>
                            </tr>
                            <%  })%>

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <% } %>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>交流信息
                        <a class="label label-primary" href="/order/communicate/create/<%= tid %>">
                            添加交流信息
                        </a>
                        <a class="label label-primary" href="/order/communicateAll/<%= tid %>">
                            查看所有交流信息
                        </a>
                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>交流信息</th>
                                <th>新增柜员</th>
                                <th>新增日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(progressInfo)){
                            progressInfo.forEach(function (element, index) {  %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.content %></td>
                                <td><%= element.gid %>/<%= element.name %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                            </tr>
                            <%  })
                            } %>

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>状态信息 (调试订单状态:<%= orderInfo.stcode %><%= DWY_Helper.getAssistVal(orderInfo.stcode, stcodeInfo) %> )
                        <% if( (orderInfo.stcode == 250) || (orderInfo.stcode == 450) || (orderInfo.stcode == 475) || (orderInfo.stcode == 635) ){ %>
                        <a class="label label-primary" id="doUnlock" data-stcode="<%= orderInfo.stcode %>">&nbsp; 解锁 &nbsp;</a>
                        <% } %>
                    </legend>
                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>许可状态</td>
                                <td colspan="3">
                                    <% if(orderInfo.stcode == 110){ %>
                                    <!--<form class="form-horizontal" method="post" action="">-->
                                        <!--<div class="col-xs-3">-->
                                            <!--<select class="form-control" name="type">-->
                                                <!--<option value="">- 审核是否加急 -</option>-->
                                                <!--<option value="1">审核未加急</option>-->
                                                <!--<option value="2">审核加急</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-3">-->
                                            <!--<select class="form-control" name="type">-->
                                                <!--<option value="">- 拆单是否许可 -</option>-->
                                                <!--<option value="1">拆单未许可</option>-->
                                                <!--<option value="2">拆单许可</option>-->
                                                <!--<option value="3">拆单加急</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-3">-->
                                            <!--<select class="form-control" name="type">-->
                                                <!--<option value="">- 排产是否许可 -</option>-->
                                                <!--<option value="1">排产未定</option>-->
                                                <!--<option value="2">排产暂缓</option>-->
                                                <!--<option value="3">排产许可</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-2">-->
                                            <!--<a class="btn btn-primary " id="">标记待审核</a>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                    <% }else{
                                        ''
                                    } %>

                                </td>
                            </tr>


                            <tr>
                                <td width="20%">审核时间</td>

                                <% switch(orderInfo.stcode){
                                    case 250:  %>
                                <td width="30%">
                                    审核中
                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.passOrder.id, permission) ){ %>
                                    <a class="label label-primary" id="check-pass-modal">提交审核</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.sendBackOrder.id, permission) ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal" id="check-reject-modal">审核退回</a>
                                    <% } %>
                                </td>
                                <%        break;
                                    case 220: %>
                                <td>待审核
                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.takeOrder.id, permission) && orderInfo.difficulty ){ %>
                                    <a class="label label-primary doGetTask" id="submitOrder" data-stcode="<%= orderInfo.stcode %>">标记为审核中</a>
                                    <% } %>
                                </td>
                                <%         break;
                                case 280: %>
                                <td>审核退回
                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.takeOrder.id, permission) ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= orderInfo.stcode %>">重新提交</a>
                                    <% } %>
                                </td>
                                <%         break;
                                    default: %>
                                        <td><%= DWY_Helper.getLocalDate(orderStatusInfo.reviewTime) %></td>
                                <%  } %>


                                <td  width="20%">审核人</td>
                                <td width="30%"><%= orderStatusInfo.reviewName %></td>
                            </tr>

                            <tr>
                                <td>收款确认</td>
                                <td></td>
                                <td>确认人</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>拆单时间</td>
                                <% switch (orderInfo.stcode){
                                    case 450: %>
                                <td>
                                    拆单中
                                    <% if (DWY_Helper.hasPermission(Permission.orderApart.passOrder.id, permission) ){ %>
                                    <a class="label label-primary doPass" data-stcode="<%= orderInfo.stcode %>">确定拆单</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderApart.sendBackOrder.id, permission) ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal"
                                       data-stcode="<%= orderInfo.stcode %>">拆单退回</a>
                                    <% } %>
                                </td>
                                <%         break;
                                case 290: %>
                                <td>
                                    待拆单
                                    <% if (DWY_Helper.hasPermission(Permission.orderApart.takeOrder.id, permission) ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= orderInfo.stcode %>">标记为拆单中</a>
                                    <% } %>
                                </td>
                                <%         break;

                                    default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.apartTime) %></td>
                                <%  } %>

                                <td>拆单人</td>
                                <td><%= orderStatusInfo.apartName %></td>
                            </tr>

                            <tr>
                                <td>拆单审核</td>
                                <% switch (orderInfo.stcode){
                                case 475: %>
                                <td>
                                    拆单审核中
                                    <% if (DWY_Helper.hasPermission(Permission.orderReviewApart.passOrder.id, permission) ){ %>
                                    <a class="label label-primary doPass"  data-stcode="<%= orderInfo.stcode %>">确定审核</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderReviewApart.sendBackOrder.id, permission) ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">拆单审核退回</a>
                                    <% } %>
                                </td>
                                <%        break;
                                case 472: %>
                                <td>
                                    待拆单审核
                                    <% if (DWY_Helper.hasPermission(Permission.orderReviewApart.takeOrder.id, permission) ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= orderInfo.stcode %>">标记为拆单审核中</a>
                                    <% } %>
                                </td>
                                <%         break;
                                case 478: %>
                                <td>
                                    拆审退回
                                    <% if (DWY_Helper.hasPermission(Permission.orderReviewApart.takeOrder.id, permission) ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= orderInfo.stcode %>">重新提交</a>
                                    <% } %>
                                </td>
                                <%         break;
                                    default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.apartReviewTime) %></td>
                                <%  } %>

                                <td>审核人</td>
                                <td><%= orderStatusInfo.apartReviewName %></td>
                            </tr>

                            <tr>
                                <td>排料时间</td>
                                <% switch (orderInfo.stcode){
                                case 635: %>
                                <td>
                                    排料中
                                    <% if (DWY_Helper.hasPermission(Permission.orderSchedule.passOrder.id, permission) ){ %>
                                    <a class="label label-primary doPass"  data-stcode="<%= orderInfo.stcode %>">确认排料</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderSchedule.sendBackOrder.id, permission) ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">排料退回</a>
                                    <% } %>
                                </td>
                                <%        break;
                                case 632: %>
                                <td>
                                    待排料
                                    <% if (DWY_Helper.hasPermission(Permission.orderSchedule.takeOrder.id, permission) ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= orderInfo.stcode %>">标记为排料中</a>
                                    <% } %>
                                </td>
                                <%         break;
                                    default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.scheduleTime) %></td>
                                <%  } %>
                                <td>排料人</td>
                                <td><%= orderStatusInfo.scheduleName %></td>
                            </tr>

                            <tr>
                                <td>包装时间</td>
                                <% if (orderInfo.stcode >=675 && orderInfo.stcode <729){%>
                                <td>
                                <% if(orderInfo.packeted==0){%>
                                未包装
                                <a class="label label-primary margin-left-20 crePackage" tid="<%= tid %>">生成包装</a>
                                <%}else{%>
                                已包装
                                <a class="label label-success margin-left-20 packageDetail" href="/orders/package/<%= tid %>">包装详情</a>
                                <%}%>
                                </td>
                                <%  } else{ %>
                                <td></td>
                                <%}%>
                                <td>包装人</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>排产时间</td>
                                <td></td>
                                <td>排产人</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>入库日期</td>
                                <td></td>
                                <td>货架号</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出仓时间</td>
                                <td></td>
                                <td>出仓人</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>发货日期</td>
                                <td></td>
                                <td>货运单号</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>开始安装时间</td>
                                <td></td>
                                <td>结束安装时间</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>安装人</td>
                                <td></td>
                                <td>安装次数</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>安装意见</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>回访时间</td>
                                <td></td>
                                <td>回访电话</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>回访人</td>
                                <td></td>
                                <td>回访次数</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>客户评价</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>回访意见</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>流程记录</td>
                                <td colspan="3">
                                    <!--发浙联物流，自提 <a class="margin-left-20" href="/order/process">添加/查看更多</a>-->
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">

                <div class="col-xs-12">
                    <legend>发货清单</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>

                            <tr>
                                <th rowspan="2">序号</th>
                                <th rowspan="2">车间</th>
                                <th rowspan="2">包号</th>
                                <th rowspan="2">属性</th>
                                <th rowspan="2">特包</th>
                                <th colspan="3">纸箱</th>
                                <th rowspan="2">产品名称</th>
                                <th rowspan="2">流水号</th>
                                <th rowspan="2">批号</th>
                                <th rowspan="2">工序</th>
                                <th rowspan="2">入库时间</th>
                                <th rowspan="2">接收人</th>
                                <th rowspan="2">出仓时间</th>
                                <th rowspan="2">出仓人</th>
                                <th rowspan="2">校验</th>
                                <th rowspan="2">出仓单号</th>
                            </tr>
                            <tr>
                                <th>型号</th>
                                <th>长宽高</th>
                                <th>形状</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="18" class="text-align-center">暂无数据</td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
        <!-- end row -->
    </div>
    <!-- end well -->


</div>


<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();


        <!--$("#submitOrder").click(function () {-->
            <!--layer.confirm('确认标记为审核中?', {icon: 3, title: '提示'}, function (index) {-->
                <!--$.ajax({-->
                    <!--url: '/orders/getTask/<%= tid %>',-->
                    <!--method: 'post',-->
                    <!--success: function (data) {-->
                        <!--location.href='/order/check/getOrder'-->
                    <!--}-->
                <!--});-->
            <!--}, function (index) { layer.close(index) })-->
        <!--})-->

        $(".doGetTask").click(function () {
            var orderStcode = $(this).attr('data-stcode');
            var ajaxUrl = '';
            var locationUrl = '';
            var text = '';
            switch (orderStcode){
                case '220':
                    ajaxUrl = '/orders/getTask/<%= tid %>';
                    locationUrl = '/order/check/getOrder';
                    text = '确认标记为审核中?';
                    break;
                case '280':
                    ajaxUrl = '/orders/getTaskAgain/<%= tid %>';
                    locationUrl = '/order/check/getOrder';
                    text = '确认重新提交审核?';
                    break;
                case '290':
                    ajaxUrl = '/apart/getTask/<%= tid %>';
                    locationUrl = '/apartPage/getOrder';
                    text = '确认标记为拆单中?';
                    break;
                case '472':
                    ajaxUrl = '/apartCheck/getTask/<%= tid %>';
                    locationUrl = '/apartCheckPage/getOrder';
                    text = '确认标记为拆单审核中?';
                    break;
                case '478':
                    ajaxUrl = '/apartCheck/getTaskAgain/<%= tid %>';
                    locationUrl = '/apartPage/getOrder';
                    text = '确认重新提交?';
                    break;
                case '632':
                    ajaxUrl = '/schedule/getTask/<%= tid %>';
                    locationUrl = '/orders/nesting';
                    text = '确认标记为排料中?';
                    break;
            }
            layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'put',
                    success: function (data) {
                        successLayout.hrefTo(locationUrl);

                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) { layer.close(index) })
        })

        $("#doUnlock").click(function () {
            var orderStcode = $(this).attr('data-stcode');
            var ajaxUrl = '';
            var locationUrl = '';
            switch (orderStcode){
                case '250':
                    ajaxUrl = '/orders/unlock/<%= tid %>';
                    locationUrl = '/order/check/waitOrder';
                    break;
                case '450':
                    ajaxUrl = '/apart/unlock/<%= tid %>';
                    locationUrl = '/apartPage/getOrder';
                    break;
                case '475':
                    ajaxUrl = '/apartCheck/unlock/<%= tid %>';
                    locationUrl = '/apartCheckPage/getOrder';
                    break;
                case '635':
                    ajaxUrl = '/schedule/unlock/<%= tid %>';
                    locationUrl = '/orders/nesting';
                    break;
            }
            layer.confirm('确认解锁该订单?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'put',
                    success: function (data) {
                        successLayout.hrefTo(locationUrl);
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) { layer.close(index) })
        })

        $(".doPass").click(function () {
            var orderStcode = $(this).attr('data-stcode');
            var ajaxUrl = '';
            var locationUrl = '';
            var text = '';
            switch (orderStcode){
                case '450':
                    ajaxUrl = '/apart/doPass/<%= tid %>';
                    locationUrl = '/apartPage/getOrder';
                    text = '确定拆单完毕吗?';
                    break;
                case '475':
                    ajaxUrl = '/apartCheck/doPass/<%= tid %>';
                    locationUrl = '/apartCheckPage/getOrder';
                    text = '确认拆单审核完毕吗?';
                    break;
                case '635':
                    ajaxUrl = '/schedule/doPass/<%= tid %>';
                    locationUrl = '/orders/nesting';
                    text = '确定排料提交吗?';
                    break;

            }
            layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'put',
                    success: function (data) {
                        successLayout.hrefTo(locationUrl);
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) { layer.close(index) })
        })





    })

</script>
<%- include('./crePackage_modal');%>
<%- include('../layouts/foot'); %>
<%- include('./check_pass'); %>
<%- include('./order_reject'); %>
<% if( orderInfo.stcode == 250 ){ %>
    <%- include('./check_modifyInfo'); %>
<% } %>


