<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a href="/orders/package">订单包装</a></li>
            <li>订单包装详情</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>订单包装详情</h6>
                    <hr class="simple">
                </div>
            </div>
            <!--end roll-->
            <!-- row -->
            <div class="row">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped packedList">
                                <thead>
                                <tr>
                                    <th>包装序号</th>
                                    <th class="display-none">包装类型值</th>
                                    <th class="display-none">包装id</th>
                                    <th class="display-none">包装流水号</th>
                                    <th>包装名称</th>
                                    <th>包装类型</th>
                                    <th>包装分类</th>
                                    <th>包装产品</th>
                                    <th>包装产品材料</th>
                                    <th>重量</th>
                                    <th class="display-none"></th>
                                </tr>
                                </thead>
                                <tbody class="">
                                <%
                                if( packedList.length!=0){
                                packedList.forEach(function (element, index) { %>

                                <tr>
                                   <td> <%= index+1 %></td>
                                    <td class="display-none"><%= element.packageType %></td>
                                    <td class="display-none"><%= element.pacakgeNo %></td>
                                    <td class="display-none"><%= element.packageLid %></td>
                                    <td><%= element.packageName %></td>
                                    <td><%= element.packageTypeStr %></td>
                                    <td><%= element.pacakgeCategoryStr %></td>
                                    <td><%= element.packageProductStr %></td>
                                    <td><%= element.packageProductMaterialStr%></td>
                                    <td><%= element.weightStr %></td>
                                    <td class="display-none"><a href="/orders/package/pcaketlist/<%= tid%>/<%= element.packageLid %>"></a></td>
                                </tr>

                                <%  })
                                }else{ %>
                                <tr><td colspan="11" class="text-align-center">暂无数据</td></tr>
                                <%  }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped packedListDetail">
                                <tbody><tr><td colspan="8" align="center">点击左侧进行查看包装详情</td></tr></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--end  row-->
        </div>
        <!--end well-->
    </div>



</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();

        //日期组件
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_time_picker);

        //对表单进行初始化验证
        $("#toBePackedForm").validationEngine();

        $(".packedList > tbody > tr").click(function () {
           window.location.href = $(this).find("a").attr("href");
        });
    })

</script>

<%- include('../layouts/foot'); %>
