<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/orders/package">订单包装</a></li>
            <li>订单包装详情</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">
        <!--well-->
        <div class="well dis-flex">
            <!-- row -->
            <div class="row ">
                <div class="col-xs-12">
                    <h6>订单包装详情
                        <% if( DWY_Helper.hasPermission(Permission.orderPackage.cancelPackage.id, permission) ){%>
                        <a class="label label-primary margin-left-10 undoPackingBtn display-none" >撤销包装</a>
                        <%}%>
                        <% if(DWY_Helper.hasPermission(Permission.orderPackage.packageList.id, permission) ){%>
                        <a class="label label-primary margin-left-10  packedListBtn" href="/orders/package/export/<%= tid %>">导出包装清单</a>
                        <%}%>
                        <% if( DWY_Helper.hasPermission(Permission.orderPackage.addPackage.id, permission) ){%>
                        <a class="label label-primary margin-left-10  addPackedBtn">增包</a>
                        <%}%>
                    </h6>
                    <hr class="simple">
                </div>
            </div>
            <!--end roll-->
            <!-- row -->

            <div class="row dis-flex-row">
                        <div class="col-xs-5 dis-flex">
                            <div class="table-responsive dis-flex">
                                <table class="table table-bordered table-striped packedList table-scroll dis-flex ">
                                    <thead>
                                    <tr>
                                        <th>包装序号</th>
                                        <th>包装名称</th>
                                        <th>包装类型</th>
                                        <th>包装分类</th>
                                        <th>包装产品</th>
                                        <th class="display-none">包装产品材料</th>
                                        <th>重量</th>
                                        <th>删包操作</th>
                                        <th class="display-none"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="">
                                    <%
                                    if( packedListDetail.length!=0){
                                    packedListDetail.orderPackages.forEach(function (element, index) { %>
                                    <tr class="<%= ( pid == element.packageLid )? 'color01':'' %>">
                                        <td> <%= element.pacakgeNo %></td>
                                        <td><%= element.packageName %></td>
                                        <td><%= element.packageTypeStr %></td>
                                        <td><%= element.pacakgeCategoryStr %></td>
                                        <td ><%= element.packageProductStr %></td>
                                        <td class="display-none"><%= element.packageProductMaterialStr%></td>
                                        <td><%= element.weightStr %></td>
                                        <td>
                                            <% if(DWY_Helper.hasPermission(Permission.orderPackage.deletePackage.id, permission) ){%>
                                            <a class="label label-primary deletePacket display-none"
                                               packageLid="<%= element.packageLid %>"
                                               packageType="<%= element.packageType %>">删除空包</a>
                                            <%}%>
                                        </td>
                                        <td class="display-none">
                                            <a href="/orders/package/<%= tid%>?packageLid=<%= element.packageLid %>"
                                               packageType="<%= element.packageType %>"
                                               class="packedListDetail"></a>
                                        </td>
                                    </tr>

                                    <%  })
                                    }else{ %>
                                    <tr><td colspan="9" class="text-align-center">暂无数据</td></tr>
                                    <%  }%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-7 dis-flex">
                            <div class="table-responsive dis-flex">
                                <% if(packedListDetail.orderPackageDetails.length!=0){
                                if(packedListDetail.packageType==1002 ){%>
                                <table class="table table-bordered table-striped packedListDetail-artifacts table-scroll dis-flex ">
                                    <thead>
                                    <tr>
                                        <td>包装工件</td>
                                        <td><a href="javascript:void(0)" class="display-none saveValue"
                                               packageType="<%= packedListDetail.packageType%>"
                                               packageLid="<%= (pid)?pid:packedListDetail.orderPackageDetails[0].packageLid;%>"
                                            ></a></td> <!-- packageLid="170315000000000035"-->
                                        <td></td><td></td><td></td><td></td><td></td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th class="display-none">层数</th>
                                        <th>材料</th>
                                        <th>名称</th>
                                        <th>规格尺寸</th>
                                        <th>数量</th>
                                        <th>重量</th>
                                        <th class="display-none">封边</th>
                                        <th>移包操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <%if( packedListDetail.orderPackageDetails.length!=0){
                                    packedListDetail.orderPackageDetails.forEach(function (element, index) { %>
                                    <tr>
                                        <td></td>
                                        <td class="display-none"><%= element.layer %></td>
                                        <td><%= element.material %></td>
                                        <td><%= element.name %></td>
                                        <td><%= element.standard %></td>
                                        <td><%= element.amount %></td>
                                        <td><%= element.weight %></td>
                                        <td class="display-none"></td>
                                        <td>
                                            <% if(DWY_Helper.hasPermission(Permission.orderPackage.removePackage.id, permission) ){%>
                                            <select class="form-control"
                                                    name="destinationPackageLid"
                                                    class="destinationPackageLid"
                                                    thingId="<%= element.id %>"
                                                    packageType="<%= packedListDetail.packageType %>"
                                                    sourcePackageLid="<%= element.packageLid%>">
                                                <option value="">- 请选择 -</option>
                                                <% packedListDetail.selectlist.forEach(function(element,index){%>
                                                <option value="<%= element.packageLid%>"> <%= element.name%></option>
                                                <%})%>
                                            </select>
                                            <%}%>
                                        </td>
                                    </tr>
                                    <%  })%>
                                    <tr><td>总计</td><td></td><td></td><td></td><td><%= packedListDetail.statistics.totalAmount %></td><td><%= packedListDetail.statistics.totalWeight %></td><td></td></tr>
                                    <%}else{%>
                                    <tr><td colspan="7" class="text-align-center">暂无数据</td></tr>
                                    <%}%>
                                    </tbody>
                                </table>
                                <%} else{%>
                                <table class="table table-bordered table-striped packedListDetail-accessories table-scroll dis-flex ">
                                    <thead>
                                    <tr>
                                        <td>包装配件</td>
                                        <td><a href="javascript:void(0)" class="display-none saveValue"
                                               packageType="<%= packedListDetail.packageType%>"
                                               packageLid="<%= (pid)?pid:packedListDetail.orderPackageDetails[0].packageLid;%>"
                                            ></a></td> <!-- packageLid="170315000000000035"-->
                                        <td></td><td></td><td></td><td></td><td></td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>编号</th>
                                        <th>名称</th>
                                        <th>规格尺寸</th>
                                        <th>数量</th>
                                        <th>单位</th>
                                        <th class="display-none">封边</th>
                                        <th>移包操作</th>
                                    </tr>
                                    </thead>
                                    <tbody class="">
                                    <%
                                    if(packedListDetail.orderPackageDetails.length!=0){
                                    packedListDetail.orderPackageDetails.forEach(function (element, index) { %>
                                    <tr>
                                        <td></td>
                                        <td><%= element.code %></td>
                                        <td><%= element.name %></td>
                                        <td><%= element.standard %></td>
                                        <td><%= element.amount %></td>
                                        <td><%= element.unitStr %></td>
                                        <td class="display-none"></td>
                                        <td>
                                            <% if(DWY_Helper.hasPermission(Permission.orderPackage.removePackage.id, permission) ){%>
                                            <select class="form-control"
                                                    name="destinationPackageLid"
                                                    class="destinationPackageLid"
                                                    thingId="<%= element.id %>"
                                                    packageType="<%= packedListDetail.packageType %>"
                                                    sourcePackageLid="<%= element.packageLid%>">
                                                <option value="">- 请选择 -</option>
                                                <% packedListDetail.selectlist.forEach(function(element,index){%>
                                                <option value="<%= element.packageLid%>"> <%= element.name%></option>
                                                <%})%>
                                            </select>
                                            <%}%>
                                        </td>
                                    </tr>
                                    <%  })%>
                                    <tr><td>总计</td><td></td><td></td><td></td><td><%= packedListDetail.statistics.totalAmount %></td><td></td><td></td></tr>
                                    <%}else{%>
                                    <tr><td colspan="7" class="text-align-center">暂无数据</td></tr>
                                    <%}%>
                                    </tbody>
                                </table>
                                <%}}%>


                            </div>
                        </div>
                    </div>


            <!--end  row-->
        </div>
        <!--end well-->
    </div>



</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->
<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<!--增加包装-->
<form class="form-horizontal  layer-template layui-layer-wrap" method="post" id="addPacked-form" action="/orders/package/packet/add">

    <div class="row" style="padding: 30px 40px 0 0;">

        <div class="col-xs-12">
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="requird"></span>包装类型:</label>
                    <div class="col-xs-8">
                        <select class="form-control validate[required]" name="packageType">
                            <option value="">- 请选择 -</option>

                            <option value="1001">配件</option>

                            <option value="1002">工件</option>

                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 display-none" id="packageCategory">
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="requird"></span>工件类型:</label>
                    <div class="col-xs-8">
                        <select class="form-control validate[required] " name="packageCategory" >
                            <option value="">- 请选择 -</option>
                            <% packageTypeList.forEach(function (element, index) {
                            if(element.data.length != 0){%>
                               <option value="<%= element.id %>" name="<%= element.name %>"><%= element.name %></option>
                                <% element.data.forEach(function (element) {  %>
                                <option value="<%= element.id %>" name="<%= element.name %>">&nbsp;&nbsp;&nbsp;&nbsp;<%= element.name %></option>
                                <%  }) %>
                            <%  }else{ %>
                            <option value="<%= element.id %>" name="<%= element.name %>"><%= element.name %></option>
                            <%  }
                            }) %>
                        </select>
                    </div>
                </div>
            </div>
        </div>
          <div class="col-xs-12">
              <div class="col-xs-10">
                  <div class="form-group">
                      <label class="col-xs-4 control-label"><span class="requird"></span>包装名称:</label>
                      <div class="col-xs-8">
                          <div class="input-group">
                              <span class="input-group-addon packagePreName"></span>
                              <input
                                      class="form-control validate[required,custom[onlyNumberSp],maxSize[4],minSize[3]]"
                                      placeholder="请输入四位编码"
                                      value=""
                                      name="packageName01"
                                      type="">
                          </div>

                      </div>
                  </div>
              </div>
          </div>
        <div class="col-xs-12">
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="requird"></span>包装序号:</label>
                    <div class="col-xs-8">
                        <input
                                class="form-control validate[required,custom[onlyNumberSp],maxSize[4]]"
                                placeholder="请输入四位编码"
                                value=""
                                name="packageNo"
                                type="">

                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr class="simple">
            <div class="col-xs-12 text-center">

                <input type="hidden" name="tid" value="<%= tid%>"/>
                <input type="hidden" name="pid" value="<%= pid%>"/>
                <input type="hidden" name="packageName" value=""/>

                <label class="btn btn-primary  margin-right-5" type="submit" id="addPackageSubmit">
                    <i class="fa fa-save"></i>
                    提交
                </label>
            </div>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!--END 增加包装-->
<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();



        //给tr添加链接
        $(".packedList > tbody > tr").on({
            click: function (e) {
                if(e.target.nodeName.toLowerCase()!= 'a'){
                    window.location.href = $(this).find("a.packedListDetail").attr("href");
                }

            }
        });

        //从查看包装详情刚点进去的页面需要添加样式
        if(!'<%= pid%>'){
            $(".packedList > tbody > tr").eq(0).addClass("color01");
        }

        //表单初始验证
        $("#addPacked-form").validationEngine();

      //根据包装类型设置包装名称的前缀
        $("select[name=packageType]").on('change',function(e){
            $(".packagePreName").text("");
            if($(this).val()==1001){
                $(".packagePreName").text("A");
                $("#packageCategory").addClass("display-none");
            }else if($(this).val()==1002){
                $("select[name=packageCategory]").val("");
                $("#packageCategory").removeClass("display-none");
            }
            else{
                $(".packagePreName").text("");
            }
        })
        $("select[name=packageCategory]").on('change',function(){
           var pcId= $(this).val();
           $("select[name=packageCategory] option").each(function(){
               if($(this).attr("value")==pcId){
                   $(".packagePreName").text($(this).attr("name"));
               }
           })

        });

        //合并包装名称
        $("input[name=packageName01]").on('change',function(e){
           $("input[name=packageName]").val($(".packagePreName").text()+$(this).val());
        })

        var indexForAddDiv;
        //增加包装
        $(".addPackedBtn").on({
            click: function () {
                indexForAddDiv = layer.open({
                    title:"",
                    type: 1,
                    area: '800px',
                    content: $('#addPacked-form'),
                    cancel: function () {
                        //右上角关闭回调
                    },
                });
            }
        })

        $('#addPackageSubmit').click(function (e) {
            e.preventDefault()
            if ($("#addPacked-form").validationEngine('validate')){
                $("#addPacked-form").submit();
                layer.close(indexForAddDiv)
                var loadIndex = layer.load(0, {
                    shade: [0.2, '#000']
                });
            }

        })

        //撤销包装按钮
     /*   $(document).on("click",".undoPackingBtn",function(){
            layer.confirm('确定撤销该包装吗？',{icon: 3, title:'提示'},
                function(index){
                    var tid=;
                    $.ajax({
                        url: '/orders/package/unpacket/'+tid,
                        method: 'put',
                        success: function (data) {
                            successLayout.hrefTo("/orders/package");

                        },
                        error: function (response) {
                            layer.close(index)
                            errorLayout.normal(response);
                        }
                    });
                },
                function(index){layer.close(index)})
        });
*/
        //移包操作
        $("select[name=destinationPackageLid]").on('change',function(e){
            var thingId=$(this).attr("thingId");
            var packageType=$(this).attr("packageType");
            var sourcePackageLid=$(this).attr("sourcePackageLid");
            var destinationPackageLid=$(this).val();
            var data={
                thingId:thingId,
                packageType:packageType,
                sourcePackageLid:sourcePackageLid,
                destinationPackageLid:destinationPackageLid
            }
            layer.confirm('确定移动该包装吗？',{icon: 3, title:'提示'},
                function(index){
                    layer.close(index);
                    var loadIndex = layer.load(0, {
                        shade: [0.2, '#000']
                    });
                    $.ajax({
                        url: '/orders/package/packet/move',
                        method: 'post',
                        data:data,
                        success: function (data) {

                            if('<%= pid%>'){
                                var href="/orders/package/<%= tid%>?packageLid=<%= pid%>";
                                successLayout.hrefTo(href);
                            }
                            else{
                                var href="/orders/package/<%= tid%>";
                                successLayout.hrefTo(href);
                            }
                            layer.close(loadIndex);
                        },
                        error: function (response) {
                            layer.close(loadIndex)
                            errorLayout.normal(response);
                        }
                    });
                },
                function(index){layer.close(index)})
        });

        //移包操作--目的包不显示
        $("select[name=destinationPackageLid] option").each(function(){
            if($(this).val()==$("select[name=destinationPackageLid]").attr("sourcePackageLid")){
                $(this).addClass("display-none");
            }
        })
        //跳出--删除空包按钮
        if('<%=packedListDetail.orderPackageDetails.length%>'==0){
            $(".deletePacket").each(function(){
                if($(this).attr("packageLid")=='<%= pid%>') {
                    $(this).removeClass("display-none");
                }
            });
        };

        //删包操作
        $(".deletePacket").on("click",function(e){
                var pid=$(this).attr("packageLid");
                var type=$(this).attr("packageType");
                console.log("删包pid:"+pid);
                console.log("删包type:"+type);
            layer.confirm('确定删除该包装吗？',{icon: 3, title:'提示'},
                function(index){
                    $.ajax({
                        url: '/orders/package/packet/delete/'+pid+"/"+type,
                        method: 'put',
                        success: function (data) {
                            var href="/orders/package/<%= tid%>";
                            successLayout.hrefTo(href);

                        },
                        error: function (response) {
                            layer.close(index)
                            errorLayout.normal(response);
                        }
                    });
                },
                function(index){layer.close(index)})
        })

    })
</script>

<%- include('../layouts/foot'); %>
