<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <% if(type == 'order'){ %>
            <li><a class="back-url" href="/orders">订单查询</a></li>
            <li><a class="back-url" href="/order/detail/<%= tid %>"> 订单详情</a></li>
            <% }else{ %>
            <li><a class="back-url" href="/orders/resupplys"> 补单查询</a></li>
            <li><a class="back-url" href="/order/resupply/detail/<%= tid %>"> 补单详情</a></li>
            <%} %>
            <li>所有修改价格记录</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>修改价格记录</legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>修改信息</th>
                                <th>总价</th>
                                <th>结算价</th>
                                <th>出厂价</th>
                                <th>折后价</th>
                                <th>精确价</th>
                                <th>修改员工</th>
                                <th>员工角色</th>
                                <th>员工手机</th>
                                <th>新增日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(priceLogList.result) ){
                            priceLogList.result.forEach(function (element, index) { %>
                            <tr <% if(element.isRecent){  %>
                                    class="mark-row"
                                    <% } %>>
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><%= element.content %></td>
                                <td><%= element.retailPrice %></td>
                                <td><%= element.revFranchisePrice %></td>
                                <td><%= element.factoryPrice %></td>
                                <td><%= element.priceAfterDiscount %></td>
                                <td><%= element.exactPrice %></td>
                                <td><%= element.name %></td>
                                <td>
                                    <% if(element.roleList){
                                    element.roleList.forEach(function (element) { %>
                                    <span class="separation"><%= element.name %></span>
                                    <%  })
                                    } %>
                                </td>
                                <td>
                                    <%if(element.telephone){%>
                                    <%= element.telephone %>
                                    <%} else{%>
                                    <%=  element.mobile %>
                                    <%}%>
                                </td>
                                <td><%= DWY_Helper.getLocalDate(element.createTime) %></td>
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>



<%- include('../layouts/foot'); %>