<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>补单受理管理页</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>受理中</h6>
                    <hr class="simple">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>补单号</th>
                                <th>原订单号</th>
                                <th>难度</th>
                                <th>专卖店</th>
                                <th>客户名称</th>
                                <th>建单人</th>
                                <th>提交日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(acceptingList.result && acceptingList.result.length>0 ){
                            acceptingList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><a href="/order/resupply/detail/<%= element.tid %>"><%= element.tid %></a></td>
                                <td><a href="/order/detail/<%= element.orgTid %>"><%= element.orgTid %></a></td>
                                <td><%= element.difficultyStr %></td>
                                <td><%= element.storeName %></td>
                                <td><%= element.customerName %></td>
                                <td><%= element.createOperator %></td>
                                <td><%= element.addTime %></td>

                            </tr>
                            <% })
                            }else{ %>
                            <td colspan="7" class="text-align-center">暂无数据</td>
                            <% }%>
                            </tbody>
                        </table>
                        <%- paginationOne %>
                    </div>
                </div>
            </div>


        </div>




        <div class="well">

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <h6>新补单</h6>
                    <hr class="simple">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                    <div class="form-group">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="col-xs-4 control-label">原订单号:</label>
                                                <div class="col-xs-8">
                                                    <input class="form-control"  value="<%= DWYRequest.query.orgTid %>"
                                                           name="orgTid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="col-xs-4 control-label">补单号:</label>
                                                <div class="col-xs-8">
                                                    <input class="form-control"  value="<%= DWYRequest.query.resupplyId %>"
                                                           name="resupplyId">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="col-xs-4 control-label">难度等级:</label>
                                                <div class="col-xs-8">
                                                    <select class="form-control" name="difficulty">
                                                        <option value="">- 请选择 -</option>
                                                        <% difficultyList.forEach(function (element) {  %>
                                                        <option value="<%= element.id %>" <%= (DWYRequest.query.difficulty == element.id)?"selected":"" %>>
                                                            <%= element.name %>
                                                        </option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <button class="btn btn-primary " type="submit">
                                                <i class="fa fa-search"></i>
                                                查询
                                            </button>
                                        </div>

                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end col -->
            </div>

            <div class="row margin-top-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>补单号</th>
                            <th>原订单号</th>
                            <th>难度</th>
                            <th>专卖店</th>
                            <th>客户名称</th>
                            <th>建单人</th>
                            <th>提交日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                        if(acceptList.result && acceptList.result.length>0 ){
                        acceptList.result.forEach(function (element, index) { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><a href="/order/resupply/detail/<%= element.tid %>"><%= element.tid %></a></td>
                            <td><a href="/order/detail/<%= element.orgTid %>"><%= element.orgTid %></a></td>
                            <td><%= element.difficultyStr %></td>
                            <td><%= element.storeName %></td>
                            <td><%= element.customerName %></td>
                            <td><%= element.createOperator %></td>
                            <td><%= element.addTime %></td>
                        </tr>
                        <% })
                        }else{ %>
                        <td colspan="7" class="text-align-center">暂无数据</td>
                        <% }%>

                        </tbody>
                    </table>
                    <%- paginationTwo %>
                </div>
            </div>
            <!-- end row -->
        </div>


    </div>
    <!-- end well -->


</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
    })

</script>


<%- include('../layouts/foot'); %>