<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/orders/resupplys"><i class="fa fa-chevron-left"></i> 补单查询</a></li>
            <li>补单信息</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>基本信息</legend>
                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="20%">主材颜色</td>
                                <td width="30%"><%= resupplyInfo.colorStr %></td>
                                <td width="20%">产品类型</td>
                                <td width="30%"><%= resupplyInfo.productTypeStr %></td>
                            </tr>

                            <tr>
                                <td>专卖店</td>
                                <td><%= resupplyInfo.storeName %></td>
                                <td>专卖店编号</td>
                                <td><%= resupplyInfo.storeId %></td>
                            </tr>
                            <tr>
                                <td>收货人</td>
                                <td><%= resupplyInfo.receiverName %></td>
                                <td>联系电话</td>
                                <td><%= resupplyInfo.receiverMobilePhone %></td>
                            </tr>
                            <tr>
                                <td>收货地址</td>
                                <td colspan="3"><%= resupplyInfo.receiverAddress %></td>
                            </tr>
                            <tr>
                                <td>客户姓名</td>
                                <td><%= resupplyInfo.customerName %></td>
                                <td>客户电话</td>
                                <td><%= resupplyInfo.customerMobilePhone %></td>
                            </tr>
                            <tr>
                                <td>建单人</td>
                                <td><%= resupplyInfo.createOperator %></td>
                                <td>建单时间</td>
                                <td><%= resupplyInfo.addTime %></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>提交时间</td>
                                <td><%= resupplyInfo.submitTime %></td>
                            </tr>
                            <tr>
                                <td>增补类型</td>
                                <td><%= resupplyInfo.orderTypeStr %></td>
                                <td>难度等级</td>
                                <td><%= resupplyInfo.difficultyStr %></td>

                            </tr>
                            <tr>
                                <td>补单原因</td>
                                <td><%= resupplyInfo.causeStr %></td>
                                <td>补单规格/数量</td>
                                <td><%= resupplyInfo.resupplyQuantityStr %></td>

                            </tr>
                            <tr>
                                <td>零售价</td>
                                <td><%= resupplyInfo.retailPrice %> 元</td>
                                <td>增单规格/数量</td>
                                <td><%= resupplyInfo.addQuantityStr %></td>
                            </tr>
                            <tr>
                                <td>问题反馈</td>
                                <td colspan="3"><%= resupplyInfo.describe %></td>
                            </tr>

                            <tr>

                                <td>信用评级</td>
                                <td><%= resupplyInfo.creditRatingStr %>分（该店平均 分）</td>
                            </tr>
                            <tr>
                                <td>受理意见</td>
                                <td colspan="3"><%= resupplyInfo.acceptOpinion %></td>
                            </tr>
                            <tr>
                                <td>同客户订单</td>
                                <td colspan="3">
                                    <%
                                    if(resupplyInfo.orderIds){
                                    resupplyInfo.orderIds.forEach(function (orderElement) { %>
                                    <a class="order-number"
                                       href="/order/detail/<%= orderElement %>"><%= orderElement %></a>
                                    <% })
                                    } %>

                                </td>
                            </tr>
                            <tr>
                                <td>同客户补单</td>
                                <td colspan="3">
                                    <%
                                    if(resupplyInfo.resupplyOrderIds){
                                    resupplyInfo.resupplyOrderIds.forEach(function (orderElement) { %>
                                    <a class="order-number"
                                       href="/order/resupply/detail/<%= orderElement %>"><%= orderElement %></a>
                                    <% })
                                    } %>

                                </td>
                            </tr>

                            <tr>
                                <td>相关订单</td>
                                <td colspan="3">
                                    <%
                                    if(resupplyInfo.relatedOrderIds){
                                    resupplyInfo.relatedOrderIds.forEach(function (orderElement) { %>
                                    <a class="order-number"
                                       href="/order/detail/<%= orderElement %>"><%= orderElement %></a>
                                    <% })
                                    }%>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>相关文件
                        <% if( (resupplyInfo.status == 250) || (resupplyInfo.status == 450) || (resupplyInfo.status == 475) ){ %>

                        <a class="label label-primary"
                           href="/file/order/create/<%= resupplyInfo.orgLid %>/<%= resupplyInfo.status %>/<%= resupplyInfo.orderType == 'B'? 2:3 %>/<%= tid %>">
                            文件管理
                        </a>
                        <% } %>
                        <% if( resupplyInfo.status == 450 || resupplyInfo.status == 475){ %>
                        <button class="label label-primary" id="orderItem">订单物料</button>
                        <% } %>
                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>文件名</th>
                                <th>文件类型</th>
                                <!--<th>文件大小</th>-->
                                <th>上传人</th>
                                <th>上传时间</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                                if(resupplyInfo.orderFiles){
                                resupplyInfo.orderFiles.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td>
                                    <a href="<%= DWY_GLOBAL.Static %>/download?url=<%= element.savePath %>"><%= element.fileName %></a>
                                </td>
                                <td><%= DWY_Helper.getAssistValByCode(element.type, allFileTypeInfo) %></td>

                                <td><%= element.gid %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= element.remark %></td>
                            </tr>
                            <% })
                                }%>


                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>


            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>状态信息
                        (调试订单状态:<%= resupplyInfo.status %><%= DWY_Helper.getAssistVal(resupplyInfo.status, stcodeInfo) %> )

                        <% if( (resupplyInfo.status == 250) || (resupplyInfo.status == 450) || (resupplyInfo.status == 475) ){ %>
                        <a class="label label-primary" id="doUnlock" data-stcode="<%= resupplyInfo.status %>">&nbsp; 解锁
                            &nbsp;</a>
                        <% } %>
                    </legend>
                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>许可状态</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td width="20%">受理时间</td>
                                <% switch (resupplyInfo.status){
                                case 250: %>
                                <td width="30%">
                                    受理中
                                    <a class="label label-primary" id="check-pass-modal" data-stcode="<%= resupplyInfo.status %>">确认受理</a>
                                    <a class="label label-primary margin-left-20 reject-modal">补单受理退回</a>
                                </td>
                                <% break;
                                case 220: %>
                                <td>
                                    待受理
                                    <a class="label label-primary doGetTask" data-stcode="<%= resupplyInfo.status %>">标记为受理中</a>
                                </td>
                                <% break;
                                case 290: %>
                                <td>
                                    待加盟商确认
                                </td>
                                <% break;
                                    default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.acceptTime) %></td>
                                <% } %>

                                <td width="20%">受理人</td>
                                <td width="30%"><%= orderStatusInfo.acceptName %></td>
                            </tr>

                            <tr>
                                <td>补单确认</td>
                                <td></td>
                                <td>确认人</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>收款确认</td>
                                <td></td>
                                <td>确认人</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>拆单时间</td>
                                <% switch (resupplyInfo.status){
                                case 450: %>
                                <td>
                                    拆单中
                                    <a class="label label-primary doPass" data-stcode="<%= resupplyInfo.status %>">确认拆单</a>
                                    <a class="label label-primary margin-left-20 reject-modal">拆单退回</a>
                                </td>
                                <% break;
                                case 296: %>
                                <td>
                                    待拆单
                                    <a class="label label-primary doGetTask" data-stcode="<%= resupplyInfo.status %>">标记为拆单中</a>
                                </td>
                                <% break;
                                    default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.apartTime) %></td>
                                <% } %>

                                <td>拆单人</td>
                                <td><%= orderStatusInfo.apartName %></td>
                            </tr>
                            <tr>
                                <td>拆单审核</td>
                                <% switch (resupplyInfo.status){
                                case 475: %>
                                <td>
                                    拆单审核中
                                    <a class="label label-primary doPass"  data-stcode="<%= resupplyInfo.status %>">确定审核</a>
                                    <a class="label label-primary margin-left-20 reject-modal">拆单审核退回</a>
                                </td>
                                <%        break;
                                case 472: %>
                                <td>
                                    待拆单审核
                                    <a class="label label-primary doGetTask" data-stcode="<%= resupplyInfo.status %>">标记为拆单审核中</a>
                                </td>
                                <%         break;
                                default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.apartReviewTime) %></td>
                                <%  } %>

                                <td>审核人</td>
                                <td><%= orderStatusInfo.apartReviewName %></td>
                            </tr>

                            <tr>
                                <td>排料时间</td>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.scheduleTime) %></td>
                                <td>排料人</td>
                                <td><%= orderStatusInfo.scheduleName %></td>
                            </tr>
                            <tr>
                                <td>排产时间</td>
                                <td></td>
                                <td>排产人</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>入库日期</td>
                                <td></td>
                                <td>货架号</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出仓时间</td>
                                <td></td>
                                <td>出仓人</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>发货日期</td>
                                <td></td>
                                <td>货运单号</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>开始安装时间</td>
                                <td></td>
                                <td>结束安装时间</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>安装人</td>
                                <td></td>
                                <td>安装次数</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>安装意见</td>
                                <td colspan="3"></td>
                            </tr>

                            <tr>
                                <td>流程记录</td>
                                <td colspan="3">发浙联物流，自提 <a class="margin-left-20" href="/order/process">添加/查看更多</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">

                <div class="col-xs-12">
                    <legend>发货清单</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>

                            <tr>
                                <th>序号</th>
                                <th>车间</th>
                                <th>包号</th>
                                <th>属性</th>
                                <th>特包</th>
                                <th>产品名称</th>
                                <th>流水号</th>
                                <th>批号</th>
                                <th>入库时间</th>
                                <th>接收人</th>
                                <th>出仓时间</th>
                                <th>出仓人</th>
                                <th>校验</th>
                                <th>出仓单号</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr><td colspan="14" class="text-align-center">暂无数据</td></tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
        <!-- end row -->
    </div>
    <!-- end well -->


</div>


<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();

        $(".doGetTask").click(function () {
            var orderStcode = $(this).attr('data-stcode');
            var ajaxUrl = '';
            var locationUrl = '';
            var text = '';
            switch (orderStcode) {
                case '220':
                    ajaxUrl = '/resupplys/getTask/<%= tid %>';
                    locationUrl = '/orders/resupplys/accept';
                    text = '确认标记为受理中?';
                    break;
                case '296':
                    ajaxUrl = '/apart/getTask/<%= tid %>';
                    locationUrl = '/orders/resupplys/apart';
                    text = '确认标记为拆单中?';
                    break;
                case '472':
                    ajaxUrl = '/apartCheck/getTask/<%= tid %>';
                    locationUrl = '/orders/resupplys/apartCheck';
                    text = '确认标记为拆单审核中?';
                    break;
            }
            layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'put',
                    success: function (data) {
                        location.href = locationUrl
                    },
                    error: function (response) {
                        layer.close(index)
                        var data = JSON.parse(response.responseText);
//                        var data = (response.responseText);
                        $.smallBox({
                            title: "操作失败",
                            content: data.msg,
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 3000
                        });
                    }
                });
            }, function (index) {
                layer.close(index)
            })
        })

        $("#doUnlock").click(function () {
            var orderStcode = $(this).attr('data-stcode');
            var ajaxUrl = '';
            var locationUrl = '';
            switch (orderStcode) {
                case '250':
                    ajaxUrl = '/resupplys/unlock/<%= tid %>';
                    locationUrl = '/orders/resupplys/accept';
                    break;
                case '450':
                    ajaxUrl = '/apart/unlock/<%= tid %>';
                    locationUrl = '/orders/resupplys/apart';
                    break;
                case '475':
                    ajaxUrl = '/apartCheck/unlock/<%= tid %>';
                    locationUrl = '/orders/resupplys/apartCheck';
                    break;
            }
            layer.confirm('确认解锁该订单?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'put',
                    success: function (data) {
                        location.href = locationUrl
                    },
                    error: function (response) {
                        layer.close(index)
                        var data = JSON.parse(response.responseText);
                        $.smallBox({
                            title: "操作失败",
                            content: data.msg,
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 3000
                        });
                    }
                });
            }, function (index) {
                layer.close(index)
            })
        })

        $(".doPass").click(function () {
            var orderStcode = $(this).attr('data-stcode');
            var ajaxUrl = '';
            var locationUrl = '';
            var text = '';
            switch (orderStcode) {
                case '450':
                    ajaxUrl = '/apart/doPass/<%= tid %>';
                    locationUrl = '/orders/resupplys/apartCheck';
                    text = '确定拆单完毕吗?';
                    break;
                case '475':
                    ajaxUrl = '/apartCheck/doPass/<%= tid %>';
                    locationUrl = '/orders/resupplys/apartCheck';
                    text = '确认拆单审核完毕吗?';
                    break;

            }
            layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'put',
                    success: function (data) {
                        location.href = locationUrl
                    },
                    error: function (response) {
                        layer.close(index)
                        var data = JSON.parse(response.responseText);
                        $.smallBox({
                            title: "操作失败",
                            content: data.msg,
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 3000
                        });
                    }
                });
            }, function (index) {
                layer.close(index)
            })
        })

    })

</script>


<%- include('../layouts/foot'); %>
<%- include('./resupplys_modal'); %>


