<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>补单受理管理页</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-align-center"><%= user.name %>受理中</h3>
                    <hr class="simple">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>补单号</th>
                                <th>难度</th>
                                <th>专卖店</th>
                                <th>客户名称</th>
                                <th>建单人</th>
                                <th>提交日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="/order/resupply/detail">11222</a></td>
                                <td>二级</td>
                                <td>浙江省杭州市湖滨银泰店</td>
                                <td><%= user.name %></td>
                                <td><%= user.name %></td>
                                <td>2016-10-10</td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>




        <div class="well">

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <h3 class="text-align-center">新补单</h3>
                    <hr class="simple">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="col-xs-4 control-label">补单号:</label>
                                                <div class="col-xs-8">
                                                    <input class="form-control"  value="" type="text"
                                                           name="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="col-xs-4 control-label">难度等级:</label>
                                                <div class="col-xs-8">
                                                    <select class="form-control" name="">
                                                        <option value="">- 请选择 -</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <button class="btn btn-primary " type="submit">
                                                <i class="fa fa-search"></i>
                                                查询
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end col -->
            </div>

            <div class="row margin-top-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>补单号</th>
                            <th>难度</th>
                            <th>专卖店</th>
                            <th>客户名称</th>
                            <th>建单人</th>
                            <th>提交日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="/order/resupply/detail">11222</a></td>
                            <td>二级</td>
                            <td>浙江省杭州市湖滨银泰店</td>
                            <td><%= user.name %></td>
                            <td><%= user.name %></td>
                            <td>2016-10-10</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end row -->
        </div>


    </div>
    <!-- end well -->


</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {



        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery


    })

</script>


<%- include('../layouts/foot'); %>