<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>


<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>补单查询</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">订单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入订单号" value="<%= DWYRequest.query.tid %>"
                                                   name="tid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">订单品牌:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="brandId">
                                                <option value="">- 请选择 -</option>
                                                <% brandInfo.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.brandId == element.id)?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户姓名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"
                                                   placeholder="请输入客户姓名" type="text" value="<%= DWYRequest.query.custName %>" name="custName">
                                        </div>
                                    </div>
                                </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>
                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                </div>
                                <%}%>
                            <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                            <div class="slideToggle display-none">
                            <%}%>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">流水号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  placeholder="请输入流水号" value="<%= DWYRequest.query.lid %>"
                                                   name="lid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">产品类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="productType">
                                                <option value="">- 请选择 -</option>
                                                <% prodList.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.productType == element.id)?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">大区类型:</label>
                                        <div class="col-xs-4">
                                            <select class="form-control" id="areaParentId" name="regionTypeId">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(TypesList[0])){
                                                TypesList[0].forEach(function (element) { %>
                                                <option value="<%= element.id %>"  <%= (DWYRequest.query.regionTypeId == element.id )?"selected":"" %>>
                                                    <%= element.name %>
                                                </option>
                                                <% })
                                                }%>

                                            </select>

                                        </div>
                                        <div class="col-xs-6">
                                            <% var desName = DWYRequest.query.regionTypes?(DWYRequest.query.regionTypes).split(','):[] %>
                                            <select multiple style="width:100%" class="select2 select2-offscreen" id="areaChidId" name="regionTypes">
                                                <% if(DWY_Helper.isCanLoop(TypesList[DWYRequest.query.regionTypeId])){
                                                TypesList[DWYRequest.query.regionTypeId].forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= DWY_Helper.getAssistMultiple( element.id,desName)?"selected":"" %>><%= element.name %></option>
                                                <%  }) }  %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入客户号" type="text" name="cid" value="<%= DWYRequest.query.cid %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">补单原因:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="cause">
                                                <option value="">- 请选择 -</option>
                                                <% reasonList.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.cause == element.id)?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">补单状态:</label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="startStatus">
                                                <option value="">- 请选择 -</option>
                                                <% stcodesList.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.startStatus == element.id)?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="endStatus">
                                                <option value="">- 请选择 -</option>
                                                <% stcodesList.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.endStatus == element.id)?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">收款状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="payStatus">
                                                <option value="">- 请选择 -</option>
                                                <option value="0"  <%= (DWYRequest.query.payStatus == 0)?"selected":"" %>>未付款</option>
                                                <option value="1"  <%= (DWYRequest.query.payStatus == 1)?"selected":"" %>>已付款</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">补单建单日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.startTime %>" name="startTime" >
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="<%= DWYRequest.query.endTime %>" name="endTime" >
                                        </div>
                                    </div>
                                </div>
                            <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                            </div>
                            <%}%>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                            <%}%>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>补单列表</h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>品牌</th>
                                <th>产品类型</th>
                                <th>补单号</th>
                                <th>原订单号</th>
                                <th>产品信息</th>
                                <th>补单建单人</th>
                                <th>补单建单时间</th>
                                <th>补单原因</th>
                                <th>补单当前状态</th>
                                <th>收款状态</th>
                                <th>收款日期</th>
                                <!--根据权限展示价格-->
                                <% if(DWY_Helper.hasPermission(Permission.resupply.queryByRevFranchisePrice.id, permission)){%>
                                <th>结算价</th>
                                <th>折后价</th>
                                <th>折扣备注</th>
                                <%}%>
                                <% if(DWY_Helper.hasPermission(Permission.resupply.queryByRetailPrice.id, permission)){%>
                                <th>零售价</th>
                                <%}%>
                                <% if(DWY_Helper.hasPermission(Permission.resupply.queryByFactoryPrice.id, permission)){%>
                                <th>出厂价</th>
                                <%}%>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(resupplyList.result && resupplyList.result.length>0 ){
                            resupplyList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><%= element.brandStr %></td>
                                <td><%= element.productTypeStr %></td>
                                <td><a href="/order/resupply/detail/<%= element.tid %>"><%= element.tid %></a></td>
                                <td><a href="/order/detail/<%= element.orgTid %>"><%= element.orgTid %></a></td>
                                <td><%= element.productInfo %></td>
                                <td><%= element.createOperator %></td>
                                <td><%= element.addTime %></td>
                                <td><%= element.causeStr %></td>
                                <td><%= element.statusStr %></td>
                                <td><%= element.payStatus %></td>
                                <td><%= DWY_Helper.getLocalDate(element.receiptTime) %></td>
                                <!--根据权限展示结算价-->
                                <% if(DWY_Helper.hasPermission(Permission.resupply.queryByRevFranchisePrice.id, permission)){%>
                                <td><%= element.revFranchisePrice %></td>
                                <td><%= element.priceAfterDiscount %></td>
                                <td><%= element.discountRemark %></td>
                                <%}%>
                                <!--根据权限展示零售价-->
                                <% if(DWY_Helper.hasPermission(Permission.resupply.queryByRetailPrice.id, permission)){%>
                                <td><%= element.retail %></td>
                                <%}%>
                                <!--根据权限展示出厂价-->
                                <% if(DWY_Helper.hasPermission(Permission.resupply.queryByFactoryPrice.id, permission)){%>
                                <td><%= element.factoryPrice %></td>
                                <%}%>
                            </tr>
                            <% })
                            }else{ %>
                            <td colspan="12" class="text-align-center">暂无数据</td>
                            <% }%>

                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {



        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery


//区域查询
        var areaParentId = $('#areaParentId');
        var areaChilId = $('#areaChidId');
        areaParentId.change(function () {
            var ftyId = $(this).val();
            if (ftyId=='') {
                $('#areaChidId').select2( "val","")
                return
            }

            var TypesList = <%-  JSON.stringify(TypesList) %>;
            areaChilId.empty();

            var html = '';
            if (TypesList[ftyId]) {
                var seeData = []

                var child = TypesList[ftyId];
                if(child.length == 0){
                    html = '<option value="">暂无分类</option>'
                }else {

                    for (var i = 0; i < child.length; i++) {

                        html += '<option value="' + child[i].id + '">' + child[i].name + '</option>';
                        seeData.push({
                            id: child[i].id,
                            text: child[i].name
                        })
                    }
                }
                areaChilId.html(html);

                $('#areaChidId').select2('data', seeData)
            }else{
                areaChilId.html('<option value="">- 请选择 -</option>');
                return
            }


        })    })

</script>


<%- include('../layouts/foot'); %>