<form class="form-horizontal  layer-template" method="post" id="check_pass_saveResupplyReason" action="/resupplys/saveResupplyReason" >

    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-3 control-label"><span class="requird"></span> 补单原因:</label>
            <div class="col-xs-6">
                <% if(DWY_Helper.isCanLoop(resupplyReason)){
                    resupplyReason.forEach(function (levelOne) {
                        if(DWY_Helper.isCanLoop(levelOne.data)){
                            levelOne.data.forEach(function (levelTwo) {
                                if(DWY_Helper.isCanLoop(levelTwo.dataChild)){
                                    levelTwo.dataChild.forEach(function (levelThr) { %>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="causeStr" value="<%= levelThr.id %>"
                                                        <%= DWY_Helper.checkboxStatusStr(resupplyInfo.causeIdStr, levelThr.id) %>
                                                >
                                                <span> <%= levelOne.name %> — <%= levelTwo.name %> — <%= levelThr.name %></span>
                                            </label>
                                        </div>

                                <% })
                                }
                            })
                        }
                    })
                }%>

            </div>
        </div>
    </div>


    <input value="<%= tid %>" name="tid" type="hidden">
    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-3 control-label">受理意见:</label>
            <div class="col-xs-6">
                <textarea name="remark" class="form-control"
                          placeholder="请填写受理意见"  cols="30"
                          rows="5"><%= resupplyInfo.remark %></textarea>
            </div>

        </div>
    </div>

    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary">确认</button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>

<form class="form-horizontal  layer-template" method="post" id="order_reject"
        <%  switch (resupplyInfo.status){
        case 150:%>
      action="/resupplys/notPass"
        <%    break;
        case 250:%>
      action="/orders/notPass"
        <%    break;
        case 450:
        case 478: %>
      action='/resupplys/apart/notPass'
        <%       break;
        case 475:
        case 638: %>
      action='/resupplys/apartCheck/notPass'
        <%       break;
        case 635: %>
      action='/schedule/notPass'
        <%       break;
        } %>
>


    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span> 退回类型:</label>
            <div class="col-xs-8">
                <%
                switch (resupplyInfo.status){
                case 150:
                case 250:
                if(DWY_Helper.isCanLoop(acceptReason)){
                acceptReason.forEach(function (element) { %>
                <label class="checkbox-inline">
                    <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="causeStr" value="<%= element.id %>">
                    <span> <%= element.name %></span>
                </label>
                <%  })
                }else{ %>
                <label class="pull-left control-label">-- 暂无可选项，请配置 --</label>
                <%  }
                    break;
                case 450:
                case 478:
                if(DWY_Helper.isCanLoop(apartReason)){
                apartReason.forEach(function (element) { %>
                <label class="checkbox-inline">
                    <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="causeStr" value="<%= element.id %>">
                    <span> <%= element.name %></span>
                </label>
                <%  })
                }else{ %>
                <label class="pull-left control-label">-- 暂无可选项，请配置 --</label>
                <%  }
                    break;
                case 475:
                case 638:
                if(DWY_Helper.isCanLoop(apartReviewReason)){
                apartReviewReason.forEach(function (element) { %>
                <label class="checkbox-inline">
                    <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="causeStr" value="<%= element.id %>">
                    <span> <%= element.name %></span>
                </label>
                <%  })
                }else{ %>
                <label class="pull-left control-label">-- 暂无可选项，请配置 --</label>
                <%  }
                    break;
                case 635:
                if(DWY_Helper.isCanLoop(scheduleReason)){
                scheduleReason.forEach(function (element) { %>
                <label class="checkbox-inline">
                    <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="causeStr" value="<%= element.id %>">
                    <span> <%= element.name %></span>
                </label>
                <%  })
                }else{ %>
                <label class="pull-left control-label">-- 暂无可选项，请配置 --</label>
                <%  }
                    break;
                }  %>
            </div>

        </div>

    </div>
    <input value="<%= tid %>" name="tid" type="hidden">
    <input value="<%= orderType %>" name="orderType" type="hidden">
    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label">退回原因:</label>
            <div class="col-xs-8">
                <textarea name="remark" class="form-control"
                          placeholder="请填写退回原因"  cols="30"
                          rows="5"></textarea>
            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                退回
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>

<form class="form-horizontal  layer-template" method="post" id="order_back"
        <% if(resupplyInfo.status==475||resupplyInfo.status==635){%>
        action='/schedu/notPass'
        <%} %>
>


    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span> 退回类型:</label>
            <div class="col-xs-8">
                <%
                switch (resupplyInfo.status){
                case 475:
                if(DWY_Helper.isCanLoop(apartReviewReason)){
                apartReviewReason.forEach(function (element) { %>
                <label class="checkbox-inline">
                    <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="causeStr" value="<%= element.id %>">
                    <span> <%= element.name %></span>
                </label>
                <%  })
                }else{ %>
                <label class="pull-left control-label">-- 暂无可选项，请配置 --</label>
                <%  }
                    break;
                case 635:
                if(DWY_Helper.isCanLoop(scheduleReason)){
                scheduleReason.forEach(function (element) { %>
                <label class="checkbox-inline">
                    <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="causeStr" value="<%= element.id %>">
                    <span> <%= element.name %></span>
                </label>
                <%  })
                }else{ %>
                <label class="pull-left control-label">-- 暂无可选项，请配置 --</label>
                <%  }
                    break;
                }  %>
            </div>

        </div>

    </div>
    <input value="<%= tid %>" name="tid" type="hidden">
    <input value="<%= orderType %>" name="orderType" type="hidden">
    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label">退回原因:</label>
            <div class="col-xs-8">
                <textarea name="remark" class="form-control"
                          placeholder="请填写退回原因"  cols="30"
                          rows="5"></textarea>
            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                退回
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<script type="text/javascript">

    $(document).ready(function () {

        $("#check_pass_saveResupplyReason").validationEngine();
        $("#order_reject").validationEngine();
        $("#order_back").validationEngine();


        //弹出类
        $('#pass-modal').on({
            click: function (e) {
                console.log(99999999)
                layer.open({
                    title: false,
                    type: 1,
                    area: '700px',
                    content: $('#check_pass_saveResupplyReason'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })

        //弹出类
        $('.reject-modal').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '700px',
                    content: $('#order_reject'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })


        $('.reject-back').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '700px',
                    content: $('#order_back'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })

    })

</script>


