<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/orders/resupplys"> 补单查询</a></li>
            <li>补单信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>基本信息</legend>
                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>补单状态</td>
                                <td><%= DWY_Helper.getAssistVal(resupplyInfo.status, stcodeInfo) %></td>
                                <td>补单号</td>
                                <td><%= tid %></td>
                            </tr>
                            <tr>
                                <td width="20%">主材颜色</td>
                                <td width="30%"><%= resupplyInfo.colorStr %></td>
                                <td width="20%">产品类型</td>
                                <td width="30%"><%= resupplyInfo.productTypeStr %></td>
                            </tr>

                            <tr>
                                <td>专卖店</td>
                                <td><%= resupplyInfo.storeName %></td>
                                <td>专卖店编号</td>
                                <td><%= resupplyInfo.bid %></td>
                            </tr>
                            <tr>
                                <td>收货人</td>
                                <td><%= resupplyInfo.receiverName %></td>
                                <td>联系电话</td>
                                <td><%= resupplyInfo.receiverMobilePhone %></td>
                            </tr>
                            <tr>
                                <td>收货地址</td>
                                <td colspan="3"><%= resupplyInfo.receiverAddress %></td>
                            </tr>
                            <tr>
                                <td>客户姓名</td>
                                <td><%= resupplyInfo.customerName %></td>
                                <td>客户电话</td>
                                <td><%= resupplyInfo.customerMobilePhone %></td>
                            </tr>
                            <tr>
                                <td>建单人</td>
                                <td><%= resupplyInfo.createOperator %></td>
                                <td>建单时间</td>
                                <td><%= resupplyInfo.addTime %></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>提交时间</td>
                                <td><%= resupplyInfo.submitTime %></td>
                            </tr>
                            <tr>
                                <td>增补类型</td>
                                <td><%= resupplyInfo.orderTypeStr %></td>
                                <td>难度等级</td>
                                <td><%= resupplyInfo.difficultyStr %></td>

                            </tr>
                            <tr>
                                <td>补单原因</td>
                                <td><%= resupplyInfo.causeStr %></td>
                                <td>补单规格/数量</td>
                                <td><%= resupplyInfo.resupplyQuantityStr %></td>

                            </tr>
                            <tr>
                                <td>零售价</td>
                                <td><%= resupplyInfo.retailPrice %> 元</td>
                                <td>增单规格/数量</td>
                                <td><%= resupplyInfo.addQuantityStr %></td>
                            </tr>
                            <tr>
                                <td>问题反馈</td>
                                <td colspan="3"><%= resupplyInfo.describe %></td>
                            </tr>

                            <!--<tr>-->

                            <!--<td>信用评级</td>-->
                            <!--<td><%= resupplyInfo.creditRatingStr %>分（该店平均 分）</td>-->
                            <!--</tr>-->
                            <tr>
                                <td>受理意见</td>
                                <td colspan="3"><%= resupplyInfo.acceptOpinion %></td>
                            </tr>
                            <tr>
                                <td>同客户订单</td>
                                <td colspan="3">
                                    <%
                                    if(resupplyInfo.orderIds){
                                    resupplyInfo.orderIds.forEach(function (orderElement) { %>
                                    <a class="order-number"
                                       href="/order/detail/<%= orderElement %>"><%= orderElement %></a>
                                    <% })
                                    } %>

                                </td>
                            </tr>
                            <tr>
                                <td>同客户补单</td>
                                <td colspan="3">
                                    <%
                                    if(resupplyInfo.resupplyOrderIds){
                                    resupplyInfo.resupplyOrderIds.forEach(function (orderElement) { %>
                                    <a class="order-number"
                                       href="/order/resupply/detail/<%= orderElement %>"><%= orderElement %></a>
                                    <% })
                                    } %>

                                </td>
                            </tr>

                            <tr>
                                <td>相关订单</td>
                                <td colspan="3">
                                    <%
                                    if(resupplyInfo.relatedOrderIds){
                                    resupplyInfo.relatedOrderIds.forEach(function (orderElement) { %>
                                    <a class="order-number"
                                       href="/order/detail/<%= orderElement %>"><%= orderElement %></a>
                                    <% })
                                    } %>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>相关文件

                        <% if( ((resupplyInfo.status == 150 || resupplyInfo.status == 250 || resupplyInfo.status == 450 || resupplyInfo.status == 475
                                || resupplyInfo.status == 550 || resupplyInfo.status == 650 || resupplyInfo.status == 635 || resupplyInfo.status == 638)&& resupplyInfo.receiveGid == user.id)
                                || ((resupplyInfo.status == 290 || resupplyInfo.status == 472 || resupplyInfo.status == 632 ||resupplyInfo.status == 478 ||resupplyInfo.status == 638) && resupplyInfo.sendGid == user.id) ){ %>
                        <a class="label label-primary"
                           href="/file/resupply/create/<%= resupplyInfo.orgLid %>/<%= resupplyInfo.status %>/<%= resupplyInfo.orderTypeStr == '补单' ? 2 : 3 %>/<%= tid %>">
                            文件管理
                        </a>
                        <% } %>

                        <% if( resupplyInfo.status == 450 || resupplyInfo.status == 475 || resupplyInfo.status == 635){ %>
                        <a class="label label-primary" href="/order/workpiece/<%= tid %>?type=resupply">订单物料</a>
                        <% } %>
                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>流水号</th>
                                <th>补单号</th>
                                <th>文件名</th>
                                <th>文件类型</th>
                                <th>上传时间</th>
                                <th>上传员工</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(resupplyInfo.orderFiles){
                            resupplyInfo.orderFiles.forEach(function (element, index) { %>
                            <tr>
                                <td><%= element.lid %></td>
                                <td><%= element.tid  %></td>
                                <td> <a href="<%= DWY_GLOBAL.Static %>/download?originalFileName=<%= element.fileName %>&url=<%= element.filePath %>"><%= element.fileName %></a></td>
                                <td><%= element.fileTypeDesc %></td>
                                <td><%= element.addTime %></td>
                                <td><%= element.uploadName %></td>
                                <td><%= element.remark %></td>
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>
                        <p>建议设置文件默认下载路径：打开浏览器设置页面--》高级设置--》选择下载内容--》<span class="text-danger">勾选</span>"下载前询问每个文件的保存位置"
                        </p>
                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <% if(chgbackInfo.length > 0){ %>
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 ">
                    <legend>退回信息
                        <a class="label label-primary" href="/resupply/chgback/<%= tid %>">
                            查看所有退回信息
                        </a>
                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>退回原因</th>
                                <th>退回类型</th>
                                <th>退回时间</th>
                                <th>备注</th>
                                <th>操作员工</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% chgbackInfo.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= element.causeName %></td>
                                <td><%= element.reviewReasonTypeStr %></td>
                                <td> <%= DWY_Helper.getLocalDate(element.createTime) %></td>
                                <td><%= element.remark %></td>
                                <td><%= element.gname %></td>
                            </tr>
                            <% }) %>

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <% } %>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>状态信息
                        (调试订单状态:<%= resupplyInfo.status %> <%= DWY_Helper.getAssistVal(resupplyInfo.status, stcodeInfo) %> )
                        <%if(DWY_Helper.hasPermission(Permission.order.unlock.id, permission)||resupplyInfo.receiveGid == user.id){%>
                        <% if(resupplyInfo.status == 150){ %>
                        <a class="label label-primary" id="doUnlock" data-stcode="<%= resupplyInfo.status %>">&nbsp; 解锁
                            &nbsp;</a>
                        <% } %>
                        <% if(resupplyInfo.status == 250){ %>
                        <a class="label label-primary" id="doUnlock" data-stcode="<%= resupplyInfo.status %>">&nbsp; 解锁 &nbsp;</a>
                        <% } %>
                        <% if(resupplyInfo.status == 450){ %>
                        <a class="label label-primary" id="doUnlock" data-stcode="<%= resupplyInfo.status %>">&nbsp; 解锁
                            &nbsp;</a>
                        <% } %>
                        <% if(resupplyInfo.status == 475){ %>
                        <a class="label label-primary" id="doUnlock" data-stcode="<%= resupplyInfo.status %>">&nbsp; 解锁
                            &nbsp;</a>
                        <% } %>
                        <% if(resupplyInfo.status == 635 && resupplyInfo.packeted == 0){ %>
                        <a class="label label-primary" id="doUnlock" data-stcode="<%= resupplyInfo.status %>">&nbsp; 解锁
                            &nbsp;</a>
                        <% } %>
                        <!--<% if( DWY_Helper.hasPermission(Permission.orderAssess.assess.id, permission) && resupplyInfo.status == 220 && resupplyInfo.difficulty ){ %>-->
                        <!--<a class="label label-primary" id="returnPermit" data-stcode="<%= resupplyInfo.status %>">&nbsp;-->
                            <!--评估退回 &nbsp;</a>-->
                        <!--<% } %>-->
                        <% } %>
                    </legend>
                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>许可状态</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td width="20%">受理时间</td>
                                <% switch (resupplyInfo.status){
                                case 150: %>
                                <td width="30%">
                                    受理中
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderReview.passOrder.id, permission)  && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary doPass"
                                       data-stcode="<%= resupplyInfo.status %>">确认受理</a>
                                    <a class="label label-success" id="pass-modal"
                                       data-stcode="<%= resupplyInfo.status %>">补单原因</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderReview.sendBackOrder.id, permission) && resupplyInfo.receiveGid == user.id  ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">补单受理退回</a>
                                    <% } %>
                                </td>
                                <% break;
                                case 120: %>
                                <td>
                                    待受理
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderReview.takeOrder.id, permission) ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= resupplyInfo.status %>">标记为受理中</a>
                                    <% } %>
                                </td>
                                <% break;
                                case 180: %>
                                <td>
                                    受理退回
                                </td>
                                <% break;
                                default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.acceptTime) %></td>
                                <% } %>

                                <td width="20%">受理人</td>
                                <td width="30%"><%= orderStatusInfo.acceptName %></td>
                            </tr>

                            <tr>
                                <td>补单确认</td>
                                <% switch (resupplyInfo.status){
                                case 190: %>
                                <td>
                                    待加盟商确认
                                </td>
                                <% break;
                                default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.joinConfirmTime) %></td>
                                <% } %>

                                <td>确认人</td>
                                <td><%= orderStatusInfo.joinConfirmName %></td>
                            </tr>
                            <tr>
                                <td width="20%">审核时间</td>

                                <% switch(resupplyInfo.status){
                                case 250:  %>
                                <td width="30%">
                                    审核中
                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.passOrder.id, permission) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary" id="check-pass-modal">提交审核</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.sendBackOrder.id, permission) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal" id="check-reject-modal">审核退回</a>
                                    <% } %>
                                </td>
                                <%        break;
                                case 220: %>
                                <td>待审核
                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.takeOrder.id, permission)){ %>
                                    <a class="label label-primary doGetTask" id="submitOrder" data-stcode="<%= resupplyInfo.status %>">标记为审核中</a>
                                    <% } %>
                                </td>
                                <%         break;
                                case 280: %>
                                <td>审核退回</td>
                                <%         break;
                                default: %>
                                <td>
                                    <%= DWY_Helper.getLocalDate(orderStatusInfo.reviewTime) %>
                                    <% if (resupplyInfo.status == 290 && resupplyInfo.sendGid == user.id){ %>
                                    <a class="label label-success" id="modifyMoney">修改总价</a>
                                    <% } %>
                                </td>
                                <%  } %>


                                <td  width="20%">审核人</td>
                                <td width="30%"><%= orderStatusInfo.reviewName %></td>
                            </tr>

                            <tr>
                                <td>订单改价</td>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.modifyPriceTime) %></td>
                                <td>改价人</td>
                                <td><%= orderStatusInfo.modifyPriceName %></td>
                            </tr>
                            <tr>
                                <td>收款确认</td>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.receiptTime) %></td>
                                <td>确认人</td>
                                <td><%= orderStatusInfo.receiptName %></td>
                            </tr>
                            <tr>
                                <td>拆单时间</td>
                                <% switch (resupplyInfo.status){
                                case 450: %>
                                <td>
                                    拆单中
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderApart.passOrder.id, permission) && resupplyInfo.receiveGid == user.id  ){ %>
                                    <a class="label label-primary" data-stcode="<%= resupplyInfo.status %>" id="confirm-apart-order">确认拆单</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderApart.sendBackOrder.id, permission) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">拆单退回</a>
                                    <% } %>
                                </td>
                                <% break;
                                case 290: %>
                                <td>
                                    待拆单
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderApart.takeOrder.id, permission) ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= resupplyInfo.status %>">标记为拆单中</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.sendBackOrder.id, permission) && resupplyInfo.sendGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">审核退回</a>
                                    <a class="label label-primary margin-left-20 reEditBtn" data-stcode="review">重新编辑</a>
                                    <% } %>
                                </td>
                                <% break;
                                default: %>
                                <td>
                                    <%= DWY_Helper.getLocalDate(orderStatusInfo.apartTime) %>
                                    <% if (resupplyInfo.status == 472 && resupplyInfo.sendGid == user.id){ %>
                                    <a class="label label-success" id="modifyExactMoney">修改精确价格</a>
                                    <% } %>
                                </td>
                                <% } %>

                                <td>拆单人</td>
                                <td><%= orderStatusInfo.apartName %></td>
                            </tr>
                            <tr>
                                <td>拆单审核</td>
                                <% switch (resupplyInfo.status){
                                case 475: %>
                                <td>
                                    拆单审核中
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderReviewApart.passOrder.id, permission)   && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary doPass"
                                       data-stcode="<%= resupplyInfo.status %>">确定审核</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderReviewApart.sendBackOrder.id, permission)   && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">拆单审核退回</a>
                                    <% } %>

                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderReviewApart.backOrder.id, permission) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-back">退回重审</a>
                                    <%}%>
                                </td>
                                <% break;
                                case 472: %>
                                <td>
                                    待拆单审核
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderReviewApart.takeOrder.id, permission) ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= resupplyInfo.status %>">标记为拆单审核中</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderApart.sendBackOrder.id, permission) && resupplyInfo.sendGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal"
                                       data-stcode="<%= resupplyInfo.stcode %>">拆单退回</a>
                                    <a class="label label-primary margin-left-20 reEditBtn" data-stcode="apart">重新编辑</a>
                                    <% } %>
                                </td>
                                <% break;
                                case 478: %>
                                <td>
                                    拆审退回
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderApart.passOrder.id, permission)  && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= resupplyInfo.status %>">重新提交</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderApart.sendBackOrder.id, permission) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">拆单退回</a>
                                    <% } %>
                                </td>
                                <% break;
                                default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.apartReviewTime) %></td>
                                <% } %>

                                <td>审核人</td>
                                <td><%= orderStatusInfo.apartReviewName %></td>
                            </tr>
                            <tr>
                                <td>排料时间</td>
                                <% switch (resupplyInfo.status){
                                case 635: %>
                                <td>
                                    排料中
                                    <% if (DWY_Helper.hasPermission(Permission.orderSchedule.passOrder.id, permission) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary doPass"
                                       data-stcode="<%= resupplyInfo.status %>">确认排料</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderSchedule.sendBackOrder.id, permission) && (resupplyInfo.packeted == 0) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">排料退回</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderSchedule.backOrder.id, permission)&& (resupplyInfo.packeted == 0) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-back">退回重审</a>
                                    <%}%>
                                </td>
                                <% break;
                                case 632: %>
                                <td>
                                    待排料
                                    <% if (DWY_Helper.hasPermission(Permission.orderSchedule.takeOrder.id, permission) ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= resupplyInfo.status %>">标记为排料中</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderReviewApart.sendBackOrder.id, permission) && resupplyInfo.sendGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">拆单审核退回</a>
                                    <a class="label label-primary margin-left-20 reEditBtn" data-stcode="apartReview">重新编辑</a>
                                    <% } %>
                                </td>
                                <% break;
                                case 638: %>
                                <td>
                                    排料退回
                                    <% if (DWY_Helper.hasPermission(Permission.orderReviewApart.passOrder.id, permission)  && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary doGetTask" data-stcode="<%= resupplyInfo.status %>">重新提交</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderReviewApart.sendBackOrder.id, permission)   && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 reject-modal">拆单审核退回</a>
                                    <% } %>
                                </td>
                                <% break;
                                default: %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.scheduleTime) %></td>
                                <% } %>
                                <td>排料人</td>
                                <td><%= orderStatusInfo.scheduleName %></td>
                            </tr>
                            <tr>
                                <td>入库日期</td>
                                <td></td>
                                <td>货架号</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>包装时间</td>
                                <% if (resupplyInfo.status >= 635 && resupplyInfo.status < 729){ %>
                                <td>
                                    <% if(resupplyInfo.packeted == 0){ %>
                                    未包装
                                    <% if (DWY_Helper.hasPermission(Permission.orderPackage.create.id, permission) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="label label-primary margin-left-20 crePackage"
                                       bid="<%= resupplyInfo.batchNumber %>" tid="<%= tid %>">生成包装</a>
                                    <% } %>
                                    <% }else{ %>
                                    已包装
                                    <% if (DWY_Helper.hasPermission(Permission.orderPackage.queryDetail.id, permission) && resupplyInfo.receiveGid == user.id){ %>
                                    <a class="label label-success margin-left-20 packageDetail"
                                       href="/orders/package/<%= tid %>">包装详情</a>
                                    <% } %>
                                    <% } %>
                                </td>
                                <% } else{ %>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.packageTime) %></td>
                                <% } %>
                                <td>包装人</td>
                                <td><%= orderStatusInfo.packageName %></td>
                            </tr>

                            <tr>
                                <td>出仓时间</td>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.outStorageTime) %></td>
                                <td>出仓人</td>
                                <td><%= orderStatusInfo.outStorageName %></td>
                            </tr>
                            <tr>
                                <td>发货日期</td>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.sendOutTime) %></td>
                                <td>货运单号</td>
                                <td><%= orderStatusInfo.sendOutName %></td>
                            </tr>
                            <tr>
                                <td>安装时间</td>
                                <td><%= DWY_Helper.getLocalDate(orderStatusInfo.installTime) %></td>
                                <td>安装人</td>
                                <td><%= orderStatusInfo.installName %></td>
                            </tr>
                            <!--<tr>-->
                            <!--<td>安装意见</td>-->
                            <!--<td colspan="3"></td>-->
                            <!--</tr>-->

                            <!--<tr>-->
                            <!--<td>流程记录</td>-->
                            <!--<td colspan="3">发浙联物流，自提 <a class="margin-left-20" href="/order/process">添加/查看更多</a>-->
                            <!--</td>-->
                            <!--</tr>-->

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">

                <div class="col-xs-12">
                    <legend>发货清单</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>

                            <tr>
                                <th>序号</th>
                                <th>包装流水号</th>
                                <th>属性</th>
                                <th>包装名称</th>
                                <th>流水号</th>
                                <th>批号</th>
                                <th>入库时间</th>
                                <th>入库人</th>
                                <th>出仓时间</th>
                                <th>出仓人</th>
                                <th>出仓单号</th>
                            </tr>

                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(deliveryInfo.result)){
                            deliveryInfo.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><%= element.packageLid %></td>
                                <td><%= element.packageType %></td>
                                <td><%= element.packageName %></td>
                                <td><%= element.lid %></td>
                                <td><%= element.batchNumber %></td>
                                <td><%= DWY_Helper.getLocalDate(element.inTime) %></td>
                                <td><%= element.inGName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.outTime) %></td>
                                <td><%= element.outGName %></td>
                                <td><%= element.outId %></td>
                            </tr>
                            <% })
                            }else{ %>
                            <tr>
                                <td colspan="11" class="text-align-center">暂无数据</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>交流信息
                        <a class="label label-primary" href="/resupply/communicate/create/<%= tid %>">
                            添加交流信息
                        </a>
                        <a class="label label-primary" href="/resupply/communicateAll/<%= tid %>">
                            查看所有交流信息
                        </a>
                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>交流信息</th>
                                <th>新增员工</th>
                                <th>员工角色</th>
                                <th>员工手机</th>
                                <th>新增日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(progressInfo)){
                            progressInfo.forEach(function (element, index) { %>
                            <tr <% if(element.isRecent){  %>
                                    class="mark-row"
                                    <% } %>>
                                <td><%= index + 1 %></td>
                                <td><%= element.content %></td>
                                <td><%= element.name %></td>
                                <td>
                                    <% if(element.roleList){
                                    element.roleList.forEach(function (element) { %>
                                    <span class="separation"><%= element.name %></span>
                                    <%  })

                                    } %>
                                </td>
                                <td><%= element.mobile %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <% if (DWY_Helper.hasPermission(Permission.gathering.priceLogSee.id, permission )){ %>
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>修改价格记录
                        <a class="label label-primary" href="/order/priceLog/<%= tid %>">
                            查看所有修改价格记录
                        </a>
                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>修改信息</th>
                                <th>总价</th>
                                <th>结算价</th>
                                <th>出厂价</th>
                                <th>折后价</th>
                                <th>修改员工</th>
                                <th>员工角色</th>
                                <th>员工手机</th>
                                <th>新增日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(priceLog)){
                            priceLog.forEach(function (element, index) {  %>
                            <tr <% if(element.isRecent){  %>
                                    class="mark-row"
                                    <% } %>>
                                <td><%= index+1 %></td>
                                <td><%= element.content %></td>
                                <td><%= element.retailPrice %></td>
                                <td><%= element.revFranchisePrice %></td>
                                <td><%= element.factoryPrice %></td>
                                <td><%= element.priceAfterDiscount %></td>
                                <td><%= element.name %></td>
                                <td>
                                    <% if(element.roleList){
                                    element.roleList.forEach(function (element) { %>
                                    <span class="separation"><%= element.name %></span>
                                    <%  })

                                    } %>
                                </td>
                                <td><%= element.mobile %></td>
                                <td><%= DWY_Helper.getLocalDate(element.createTime) %></td>
                            </tr>
                            <%  })
                            } %>

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <%  } %>


        </div>
        <!-- end row -->
    </div>
    <!-- end well -->


</div>


<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();

        $(".doGetTask").click(function () {
            var orderStcode = $(this).attr('data-stcode');
            var ajaxUrl = '';
            var locationUrl = '';
            var text = '';
            switch (orderStcode) {
                case '120':
                    ajaxUrl = '/resupplys/getTask/<%= tid %>';
                    locationUrl = '/orders/resupplys/accept';
                    text = '确认标记为受理中?';
                    break;
                case '180':
                    ajaxUrl = '/resupplys/getTaskAgain/<%= tid %>';
                    locationUrl = '/orders/resupplys/accept';
                    text = '确认重新提交?';
                    break;
                case '220':
                    ajaxUrl = '/resupplys/check/getTask/<%= tid %>';
                    locationUrl = '/orders/resupplys/review';
                    text = '确认标记为审核中?';
                    break;
                case '290':
                    ajaxUrl = '/apart/getTask/<%= tid %>';
                    locationUrl = '/orders/resupplys/apart';
                    text = '确认标记为拆单中?';
                    break;
                case '472':
                    ajaxUrl = '/apartCheck/getTask/<%= tid %>';
                    locationUrl = '/orders/resupplys/apartCheck';
                    text = '确认标记为拆单审核中?';
                    break;
                case '478':
                    ajaxUrl = '/apartCheck/getTaskAgain/<%= tid %>';
                    locationUrl = '/orders/resupplys/apartCheck';
                    text = '确认标记为拆单审核中?';
                    break;
                case '632':
                    ajaxUrl = '/schedule/getTask/<%= tid %>';
                    locationUrl = '/orders/nesting';
                    text = '确认标记为排料中?';
                    break;
                case '638':
                    ajaxUrl = '/schedule/getTaskAgain/<%= tid %>';
                    locationUrl = '/apartCheckPage/waitOrder';
                    text = '确认重新提交?';
                    break;
            }
            layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'put',
                    success: function (data) {
                        successLayout.hrefTo(locationUrl);

                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) {
                layer.close(index)
            })
        })

        $("#doUnlock").click(function () {
            var orderStcode = $(this).attr('data-stcode');
            var ajaxUrl = '';
            var locationUrl = '';
            switch (orderStcode) {
                case '150':
                    ajaxUrl = '/resupplys/unlock/<%= tid %>';
                    locationUrl = '/orders/resupplys/accept';
                    break;
                case '250':
                    ajaxUrl = '/resupplys/check/unlock/<%= tid %>';
                    locationUrl = '/orders/resupplys/review';
                    break;
                case '450':
                    ajaxUrl = '/apart/unlock/<%= tid %>';
                    locationUrl = '/orders/resupplys/apart';
                    break;
                case '475':
                    ajaxUrl = '/apartCheck/unlock/<%= tid %>';
                    locationUrl = '/orders/resupplys/apartCheck';
                    break;
                case '635':
                    ajaxUrl = '/schedule/unlock/<%= tid %>';
                    locationUrl = '/orders/nesting';
                    break;
            }
            layer.confirm('确认解锁该订单?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'put',
                    success: function (data) {
                        successLayout.hrefTo(locationUrl);
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) {
                layer.close(index)
            })
        })

        $(".doPass").click(function () {
            var orderStcode = $(this).attr('data-stcode');
            var ajaxUrl = '';
            var locationUrl = '';
            var text = '';
            switch (orderStcode) {
                case '150':
                    ajaxUrl = '/resupplys/doPass/<%= tid %>';
                    locationUrl = '/orders/resupplys/accept';
                    text = '确定受理完毕吗?';
                    break;
                case '450':
                    ajaxUrl = '/apart/doPass/<%= tid %>';
                    locationUrl = '/orders/resupplys/apart';
                    text = '确定拆单完毕吗?';
                    break;
                case '475':
                    ajaxUrl = '/apartCheck/doPass/<%= tid %>';
                    locationUrl = '/orders/resupplys/apartCheck';
                    text = '确认拆单审核完毕吗?';
                    break;
                case '635':
                    ajaxUrl = '/schedule/doPass/<%= tid %>';
                    locationUrl = '/orders/nesting';
                    text = '确定排料提交吗?';
                    break;
            }
            layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: ajaxUrl,
                    method: 'put',
                    success: function (data) {
                        successLayout.hrefTo(locationUrl);
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) {
                layer.close(index)
            })
        })

    })
    $(".reEditBtn").click(function () {
        var orderStcode = $(this).attr('data-stcode');
        var ajaxUrl = '';
        var locationUrl = '';
        var text = '确认重新编辑吗？';
        switch (orderStcode){
            case 'review':
                ajaxUrl = '/resupply/review/reEdit/<%= tid %>';
                locationUrl = '/apartPage/getOrder';
                break;
            case 'apart':
                ajaxUrl = '/resupply/apart/reEdit/<%= tid %>';
                locationUrl = '/apartCheckPage/getOrder';
                break;
            case 'apartReview':
                ajaxUrl = '/resupply/apartReview/reEdit/<%= tid %>';
                locationUrl = '/orders/nesting';
                break;

        }
        layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
            $.ajax({
                url: ajaxUrl,
                method: 'put',
                success: function (data) {
                    //   successLayout.hrefTo(locationUrl);
                    successLayout.reload();
                },
                error: function (response) {
                    layer.close(index)
                    errorLayout.normal(response);
                }
            });
        }, function (index) { layer.close(index) })
    })

</script>
<%- include('./check_pass'); %>

<%- include('./crePackage_modal'); %>
<%- include('../layouts/foot'); %>
<%- include('./resupplys_modal'); %>


