<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>


<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>补单管理页面</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2">&nbsp;</label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="">
                                                <option value="1">流水号</option>
                                                <option value="2">原订单号</option>
                                                <option value="3">补单号</option>
                                                <option value="4">入库流水号</option>
                                            </select>
                                        </div>
                                        <label class="control-label " style="float: left"> &nbsp;&nbsp;&nbsp; </label>
                                        <div class="col-xs-4">
                                            <input class="form-control"  value="" type="text" name="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户电话:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="" type="text"
                                                   name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">订单品牌:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">补单状态:</label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                            </select>
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">订单类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">补单原因:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">补单建单日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="" name="startDate" >
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="" name="endDate" >
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">难度:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">原订单建单日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="" name="" >
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="" name="" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">补单建单人:</label>
                                        <div class="col-xs-5">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                                <option value="1">- 输入门店角色号/部门号 -</option>
                                                <option value="2">- 输入柜员 -</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" type="text"
                                                   value="" name="">
                                        </div>
                                    </div>
                                </div>



                            </div>





                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>补单列表</h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>品牌</th>
                                <th>类型</th>
                                <th>补单订单号</th>
                                <th>原订单号</th>
                                <th>产品信息</th>
                                <th>补单建单柜员（门店/部门号+订单号）</th>
                                <th>补单建单时间</th>
                                <th>补单原因</th>
                                <th>补单当前状态</th>
                                <th>审核加盟价</th>
                                <th>出厂价</th>
                            </tr>
                            </thead>
                            <tbody>
                           <tr>
                               <td>1</td>
                               <td>布兰莎</td>
                               <td>具体类型</td>
                               <td><a href="/order/resupply/detail/11222">11222</a></td>
                               <td><a href="/order/detail/555">11222</a></td>
                               <td>衣柜</td>
                               <td>564798456465321/356456</td>
                               <td>2016-10-10</td>
                               <td>损坏</td>
                               <td>已发货</td>
                               <td>0.00</td>
                               <td>0.00</td>
                           </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {



        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery

    })

</script>


<%- include('../layouts/foot'); %>