<form class="form-horizontal  layer-template" method="post" id="check_pass" action="/resupplys/doPass" >

    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-3 control-label"><span class="requird"></span> 补单原因:</label>
            <div class="col-xs-6">
                <select class="form-control margin-bottom-10 validate[required]" id="levelOne" data-prompt-position="bottomLeft:20,5">
                    <% resupplyReason.forEach(function (element,index) {
                       if(element){ %>
                    <option value="<%= element.id %>" >
                        <%= element.name %>
                    </option>
                    <% } %>

                    <% }) %>
                </select>
                <select class="form-control margin-bottom-10 validate[required]" id="levelTwo" data-prompt-position="bottomLeft:20,5">
                    <% resupplyReason[1].data.forEach(function (element) {
                    if(element){ %>
                    <option value="<%= element.id %>" >
                        <%= element.name %>
                    </option>
                    <% }%>

                    <% }) %>
                </select>
                <select class="form-control validate[required]" name="cause"  id="levelThr" data-prompt-position="bottomLeft:20,5">
                    <% resupplyReason[1].data[0].dataChild.forEach(function (element) {
                        if(element){ %>
                    <option value="<%= element.id %>" >
                        <%= element.name %>
                    </option>
                    <%   }%>

                    <% }) %>
                </select>
            </div>
        </div>
    </div>


    <input value="<%= tid %>" name="tid" type="hidden">
    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-3 control-label">受理意见:</label>
            <div class="col-xs-6">
                <textarea name="remark" class="form-control"
                          placeholder="请填写受理意见"  cols="30"
                          rows="5"></textarea>
            </div>

        </div>
    </div>

    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary">确认受理</button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>

<form class="form-horizontal  layer-template" method="post" id="order_reject"
        <%  switch (resupplyInfo.status){
        case 250:%>
      action="/resupplys/notPass"
        <%    break;
        case 450: %>
      action='/resupplys/apart/notPass'
        <%       break;
        case 475: %>
      action='/resupplys/apartCheck/notPass'
        <%       break;
        case 635: %>
      action='/schedule/notPass'
        <%       break;
        } %>
>


    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span> 退回类型:</label>
            <div class="col-xs-8">
                <select class="form-control validate[required]" name="cause" data-prompt-position="bottomLeft:20,5">
                    <option value="">- 请选择 -</option>
                    <%
                    switch (resupplyInfo.status){
                        case 250:
                    acceptReason.forEach(function (element) { %>
                    <option value="<%= element.id %>"><%= element.name %></option>
                    <%  })
                            break;
                        case 450:
                    apartReason.forEach(function (element) { %>
                    <option value="<%= element.id %>"><%= element.name %></option>
                    <%  })
                     break;
                        case 475:
                    apartReviewReason.forEach(function (element) { %>
                    <option value="<%= element.id %>"><%= element.name %></option>
                    <%  })
                            break;
                    case 635:
                    scheduleReason.forEach(function (element) { %>
                    <option value="<%= element.id %>"><%= element.name %></option>
                    <%  })
                        break;
                    }  %>

                </select>
            </div>

        </div>

    </div>
    <input value="<%= tid %>" name="tid" type="hidden">
    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label">退回原因:</label>
            <div class="col-xs-8">
                <textarea name="remark" class="form-control"
                          placeholder="请填写退回原因"  cols="30"
                          rows="5"></textarea>
            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                退回
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>


<script type="text/javascript">

    $(document).ready(function () {

        $("#check_pass").validationEngine();
        $("#order_reject").validationEngine();
        

        //弹出类
        $('#check-pass-modal').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '700px',
                    content: $('#check_pass'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })

        //弹出类
        $('.reject-modal').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '700px',
                    content: $('#order_reject'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })

    })

</script>

<% if(resupplyInfo.status == 250){  %>
<%- include('./js_function'); %>
<% } %>

