<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>新增企业客户</li>
        </ol>
        <!-- end breadcrumb -->

        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right">
        <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
        <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
        </span> -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!--
            The ID "widget-grid" will start to initialize all widgets below
            You do not need to use widgets if you dont want to. Simply remove
            the <section></section> and you can use wells or panels instead
            -->


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>新增企业客户信息</legend>


                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="post" action="/customer/create">

                            <div class="col-xs-12">

                                <!--键值+下拉选择+输入组合-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "> 企业联系人电话: </label>
                                        <div class="col-xs-5 tight-right">
                                            <input class="form-control" placeholder="输入号码" type="tel"
                                                   name="mobile">
                                        </div>
                                        <div class="col-xs-3 tight-left">
                                            <button class="btn-primary btn-sm">查询客户</button>
                                        </div>
                                    </div>
                                </div>

                                <!--键值+下拉选择+输入组合-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label "> 企业联系人: </label>
                                        <div class="col-xs-5 tight-right">
                                            <input class="form-control" placeholder="输入姓名" type="text" value=""
                                                   name="name">
                                        </div>
                                        <div class="col-xs-4 tight-left">
                                            <select class="form-control" name="gender">
                                                <option value="">- 客户性别 -</option>
                                                <option value="1">男</option>
                                                <option value="2">女</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">企业地址:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control" placeholder="提示信息" type="text" value="默认值"
                                                   name="pageSize">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">企业名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="提示信息" type="text" value="默认值"
                                                   name="pageSize">
                                        </div>
                                    </div>
                                </div>
                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">企业类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="gender">
                                                <option value="">- 企业类型 -</option>
                                                <option value="1">男</option>
                                                <option value="2">女</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">企业所属行业:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="gender">
                                                <option value="">- 企业所属行业 -</option>
                                                <option value="1">男</option>
                                                <option value="2">女</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">企业情况:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="提示信息" type="text" value="默认值"
                                                   name="pageSize">
                                        </div>
                                    </div>
                                </div>
                                <!--输入字段-->


                            </div>

                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认添加
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        /* DO NOT REMOVE : GLOBAL FUNCTIONS!
         *
         * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
         *
         * // activate tooltips
         * $("[rel=tooltip]").tooltip();
         *
         * // activate popovers
         * $("[rel=popover]").popover();
         *
         * // activate popovers with hover states
         * $("[rel=popover-hover]").popover({ trigger: "hover" });
         *
         * // activate inline charts
         * runAllCharts();
         *
         * // setup widgets
         * setup_widgets_desktop();
         *
         * // run form elements
         * runAllForms();
         *
         ********************************
         *
         * pageSetUp() is needed whenever you load a page.
         * It initializes and checks for all basic elements of the page
         * and makes rendering easier.
         *
         */

        pageSetUp();

        /*
         * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
         * eg alert("my home function");
         *
         * var pagefunction = function() {
         *   ...
         * }
         * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
         *
         * TO LOAD A SCRIPT:
         * var pagefunction = function (){
         *  loadScript(".../plugin.js", run_after_loaded);
         * }
         *
         * OR
         *
         * loadScript(".../plugin.js", run_after_loaded);
         */

        var pageFunction = function () {

        }

        pageFunction();

    })

</script>


<%- include('../layouts/foot'); %>