<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>财务统计管理</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">门店名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  type="text"
                                                   placeholder="请输入门店名"
                                                   value="<%= DWYRequest.query.storeName %>"
                                                   name="storeName">
                                        </div>
                                    </div>
                                </div>

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">机构名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  type="text"
                                                   placeholder="请输入机构名"
                                                   value="<%= DWYRequest.query.organName %>"
                                                   name="organName">
                                        </div>
                                    </div>
                                </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>
                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                    <input type="hidden" value="<%= DWYRequest.query.ifInitTime?DWYRequest.query.ifInitTime:'' %>" name="ifInitTime">
                                </div>
                                <%}%>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="slideToggle display-none">
                                <%}%>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">主材颜色:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="color">
                                                    <option value="">- 请选择 -</option>
                                                    <% colorList.forEach(function (element) {  %>
                                                    <option value="<%= element.id %>" <%= (DWYRequest.query.color == element.id)?"selected":"" %>>
                                                        <%= element.name %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">订单付款时间:</label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.payTimeStart%>"
                                                       name="payTimeStart">
                                            </div>
                                            <label class="from-to control-label "> 至 </label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.payTimeEnd%>"
                                                       name="payTimeEnd">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">订单状态:</label>
                                            <div class="col-xs-4">
                                                <select class="form-control" name="orderStcodeStart">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    stcodeInfo.forEach(function (element) { %>
                                                    <option value="<%= element.id %>" <%= (DWYRequest.query.orderStcodeStart == element.id)?"selected":"" %>><%= element.name %></option>
                                                    <%  }) %>
                                                </select>
                                            </div>
                                            <label class="from-to control-label "> 至 </label>
                                            <div class="col-xs-4">
                                                <select class="form-control" name="orderStcodeEnd">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    stcodeInfo.forEach(function (element) { %>
                                                    <option value="<%= element.id %>" <%= (DWYRequest.query.orderStcodeEnd == element.id)?"selected":"" %>><%= element.name %></option>
                                                    <%  }) %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                </div>
                                <%}%>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <input type="hidden" value="<%= DWYRequest.query.ifInitTime?DWYRequest.query.ifInitTime:'' %>" name="ifInitTime">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>

                                </div>
                            </div>
                            <%}%>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
        </div>
        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="200px">共受理订单数</td>
                                <td><%= FinancialStatisticsList.total.orderNum %></td>
                                <td width="200px">出厂价合计</td>
                                <td><%= FinancialStatisticsList.total.factoryPrice %></td>
                            </tr>
                            <tr>
                                <td>加盟价合计</td>
                                <td><%= FinancialStatisticsList.total.frncPrice %></td>
                                <td>零售价合计</td>
                                <td><%= FinancialStatisticsList.total.retailPrice %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <legend>今日进展</legend>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>品牌名</th>
                                <th>受理订单数</th>
                                <th>出厂价合计</th>
                                <th>加盟价合计</th>
                                <th>零售价合计</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(FinancialStatisticsList.todayPage.result)){
                            FinancialStatisticsList.todayPage.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= element.brandName %></td>
                                <td><%= element.orderNum %></td>
                                <td><%= element.factoryPrice %></td>
                                <td><%= element.frncPrice %></td>
                                <td><%= element.retailPrice %></td>
                            </tr>
                            <%})}%>
                            <!--<td colspan="11" class="text-align-center">暂无结果</td>-->
                            </tbody>
                        </table>
                        <div class="col-xs-12 clearfix padding-left-0">
                            <div class="col-xs-6 padding-left-0">
                                <div class="col-xs-3 padding-left-0">共计受理：<%= FinancialStatisticsList.todayTotal.orderNum %></div>
                                <div class="col-xs-3 padding-left-0">出厂价合计：<%= FinancialStatisticsList.todayTotal.factoryPrice %></div>
                                <div class="col-xs-3 padding-left-0">加盟价合计：<%= FinancialStatisticsList.todayTotal.frncPrice %></div>
                                <div class="col-xs-3 padding-left-0">零售价合计：<%= FinancialStatisticsList.todayTotal.retailPrice %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <legend>本月进展</legend>
                    <!-- row -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>品牌名</th>
                                <th>受理订单数</th>
                                <th>出厂价合计</th>
                                <th>加盟价合计</th>
                                <th>零售价合计</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(FinancialStatisticsList.customPage.result)){
                            FinancialStatisticsList.customPage.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= element.brandName %></td>
                                <td><%= element.orderNum %></td>
                                <td><%= element.factoryPrice %></td>
                                <td><%= element.frncPrice %></td>
                                <td><%= element.retailPrice %></td>
                            </tr>
                            <%})}%>
                            <!--<td colspan="11" class="text-align-center">暂无结果</td>-->
                            </tbody>
                        </table>
                        <div class="col-xs-12 clearfix padding-left-0">
                            <div class="col-xs-6 padding-left-0">
                                <div class="col-xs-3 padding-left-0">共计受理：<%= FinancialStatisticsList.customTotal.orderNum %></div>
                                <div class="col-xs-3 padding-left-0">出厂价合计：<%= FinancialStatisticsList.customTotal.factoryPrice %></div>
                                <div class="col-xs-3 padding-left-0">加盟价合计：<%= FinancialStatisticsList.customTotal.frncPrice %></div>
                                <div class="col-xs-3 padding-left-0">零售价合计：<%= FinancialStatisticsList.customTotal.retailPrice %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery

    })
</script>