<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/factory">仓储管理</a></li>
            <li>新建工厂</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>新建工厂信息</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal" method="post" action="/factory/doCreate" id="create-store">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span>
                                            工厂名称:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control validate[required]"
                                                   value="<%= DWY_last_request_param.name %>"
                                                   name="name">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 工厂类型:
                                        </label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="type">
                                                <option value="">- 请选择 -</option>
                                                <option value="1" <%= DWY_last_request_param.type ==1 ?'selected':'' %>>工厂</option>
                                                <option value="2" <%= DWY_last_request_param.type ==2 ?'selected':'' %>>仓储中心</option>

                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 编号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required,custom[onlyNumberSp],min[10],max[99]]"
                                                   value="<%= DWY_last_request_param.ftyId %>"
                                                   name="ftyId" id="ftyId" placeholder="10~49为工厂，50~99为区域仓库">
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left control-label text-muted" id="status"></div>


                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-8">
                                    <div class="form-group dwy-area">
                                        <label class="col-xs-2 control-label"><span class="requird"></span>
                                            工厂所在:</label>
                                        <div class="col-xs-10 no-padding">
                                            <div class="col-xs-3">
                                                <select class="form-control dwy-province validate[required]"
                                                        name="province">
                                                    <option value="">- 省 -</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <select class="form-control dwy-city validate[required]" name="city">
                                                    <option value="">- 市 -</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <select class="form-control dwy-district validate[required]"
                                                        name="dist">
                                                    <option value="">- 区 -</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"> 详细地址:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control"
                                                   value="<%= DWY_last_request_param.address %>"
                                                   name="address">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">所属机构:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="bid">
                                                <%  factoryList.forEach(function (element) {
                                                    if(element.id == user.bid){ %>
                                                <option value="<%= element.id %>" <%= DWY_last_request_param.bid ==element.id ?'selected':'' %>>
                                                    <%= element.name %>
                                                </option>
                                                <% } }) %>
                                            </select>
                                            <% } %>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            物流约束标识:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="areaFlag">
                                                <option value="">- 请选择 -</option>
                                                <option value="1" <%= DWY_last_request_param.areaFlag ==1 ?'selected':'' %>>是</option>
                                                <option value="2" <%= DWY_last_request_param.areaFlag ==2 ?'selected':'' %>>否</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group dwy-area">
                                        <label class="col-xs-2 control-label"><span class="requird"></span>配送范围:</label>
                                        <div class="col-xs-10 no-padding" id="addAreaHere">
                                            <div class="margin-bottom-10" id="areaSection0">
                                                <div class="col-xs-3">
                                                    <select class="form-control dwy-province provinceCode validate[required]" data-code="0" >
                                                        <option value="">- 省 -</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <select class="form-control dwy-city cityCode" name="area0" data-code="0">
                                                        <option value="">- 市 -</option>
                                                    </select>
                                                </div>
                                                <div class="dwy-clear"></div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>


                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"></label>
                                        <div class="col-xs-8">
                                            <p class="text-muted">市或区不选，表示整个省都是配送范围</p>
                                            <a class="btn btn-primary" id="addArea">添加配送省市</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" value="" name="area" id="area">
                            <input type="hidden" value="" name="areaNum" id="areaNum">

                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">备注:</label>
                                        <div class="col-xs-10">
                                            <textarea name="remark" class="form-control"
                                                      cols="30" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary" id="submit">
                                        <i class="fa fa-save"></i>
                                        确认添加
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">
    $(document).ready(function () {
//        pageSetUp();
        $('#ftyId').on('input propertychange', function() {
            var ftyId = this.value;
            if($("#ftyId").validationEngine('validate')){
                $.ajax({
                    url: '/getFactoryByID/'+ftyId,
                    success: function (data) {
                        console.log('data',data)
                        if(data == 'true'){
                            $('#status').html('<i class="fa fa-check text-success font-lg"></i>');
                            $('#submit').attr('disabled',false);

                        }else{
                            $('#submit').attr('disabled',true);
                            $('#status').html('<i class="fa fa-times text-danger font-lg"></i> <span class="text-danger">编号重复，请更换</span>');
//                            $("#ftyId").val('');
//                            layer.msg('改工厂编号已存在，请输入其它编号', {icon: 2, time: 2000})
                        }
                    },
                    error: function (response) {
                        errorLayout.normal(response);
                    }
                });
            }
        });

        var areaFor = $('#area');
        var codes = []
        $(".dwy-area").on("change",".cityCode,.provinceCode",function(){
            var areaCode = $(this).val();
            var index = $(this).attr('data-code');
            codes[index] = areaCode;
            var areaArry = codes.filter(function (item, index) {
                return item != '';
            })
            areaFor.val(areaArry)
            console.log(index)
            console.log('codes',areaFor.val())
        });

        $(".dwy-area").on("click",".deleteInco",function(){
            var index = $(this).attr('data-code');
            codes[index] = '';
            $('#areaSection'+index).remove();

            var areaArry = codes.filter(function (item, index) {
                return item != '';
            })

            console.log('codes',areaArry)
            console.log('codesOld',codes)

            areaFor.val(areaArry);
            addNum = addNum-1;
        });

        $("#create-store").validationEngine();
        var num = 1;
        var addNum = num;
        var areaNum = $('#areaNum');
        var beforeHere = $('#addAreaHere');
        $('#addArea').click(function () {
            if(addNum>= 15){
                layer.msg('最多保存15个配送范围！', {icon: 2, time: 2000});
                return
            }
            var html = '<div class="margin-bottom-10" id="areaSection'+num+'">'+
                '<div class="col-xs-3">'+
                '<select class="form-control dwy-province'+num+' provinceCode validate[required]" data-code="'+num+'">'+
                '<option value="">- 省 -</option>'+
                '</select>'+
                '</div>'+
                '<div class="col-xs-3">'+
                '<select class="form-control dwy-city'+num+' cityCode" name="area'+num+'" data-code="'+num+'">'+
                '<option value="">- 市 -</option>'+
                '</select>'+
                '</div>'+
                '<a class="deleteInco" data-code="'+num+'"><i class="fa fa-trash-o"></i></a><div class="dwy-clear"></div>'+
                '</div>';
            beforeHere.append(html);
            DWY_area.init({
                //可不填
                target: '.dwy-area',
                province: '.dwy-province'+num,
                city: '.dwy-city'+num,
            });
            num++;
            addNum++;
            areaNum.val(num);
        })
        DWY_area.init({});

    })

</script>


<%- include('../layouts/foot'); %>