<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>修改工厂信息</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>修改工厂信息</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal" method="post" action="/factory/doModify" id="create-store">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span>
                                            工厂名称:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control validate[required]"
                                                   value="<%= factoryInfo.name %>"
                                                   name="name">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 工厂类型:
                                        </label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="type">
                                                <option value="">- 请选择 -</option>
                                                <option value="1" <%= (factoryInfo.type == 1 )?"selected":"" %>>工厂</option>
                                                <option value="2" <%= (factoryInfo.type == 2 )?"selected":"" %>>仓储中心</option>

                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 编号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= factoryInfo.ftyId %>"
                                                   name="ftyId" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-8">
                                    <div class="form-group dwy-area">
                                        <label class="col-xs-2 control-label"><span class="requird"></span>
                                            工厂所在:</label>
                                        <div class="col-xs-10 no-padding">
                                            <div class="col-xs-3">
                                                <select class="form-control dwy-province validate[required]"
                                                        name="province">
                                                    <option value="">- 省 -</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <select class="form-control dwy-city validate[required]" name="city">
                                                    <option value="">- 市 -</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <select class="form-control dwy-district validate[required]"
                                                        name="dist">
                                                    <option value="">- 区 -</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"> 详细地址:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control"
                                                   value="<%= factoryInfo.address %>"
                                                   name="address">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            所属机构:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="bid">
                                                <option value="">- 请选择 -</option>
                                                <%  factoryList.forEach(function (element) {  %>
                                                <option value="<%= element.id %>" <%= (factoryInfo.bid == element.id )?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            物流约束标识:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="areaFlag">
                                                <option value="">- 请选择 -</option>
                                                <option value="1" <%= (factoryInfo.areaFlag == 1 )?"selected":"" %>>是</option>
                                                <option value="2" <%= (factoryInfo.areaFlag == 2 )?"selected":"" %>>否</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group dwy-area">
                                        <label class="col-xs-2 control-label"><span class="requird"></span>配送范围:</label>
                                        <div class="col-xs-10 no-padding" id="addAreaHere">
                                            <% factoryInfo.areaList.forEach(function (element, index) { %>
                                            <div class="margin-bottom-10">
                                                <div class="col-xs-3">
                                                    <select class="form-control dwy-province<%= index %> provinceCode validate[required]"
                                                            name="areaprovince<%= index %>" data-code="<%= index %>" >
                                                        <option value="">- 省 -</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <select class="form-control dwy-city<%= index %> cityCode" name="area<%= index %>" data-code="<%= index %>">
                                                        <option value="">- 市 -</option>
                                                    </select>
                                                </div>
                                                <div class="dwy-clear"></div>
                                            </div>
                                            <% }) %>

                                        </div>

                                    </div>
                                </div>

                            </div>


                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"></label>
                                        <div class="col-xs-8">
                                            <p class="text-muted">市或区不选，表示整个省都是配送范围</p>
                                            <a class="btn btn-primary" id="addArea">添加配送省市</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" value="" name="area" id="area">
                            <input type="hidden" value="<%= factoryInfo.areaList.length %>" name="areaNum" id="areaNum">

                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">备注:</label>
                                        <div class="col-xs-10">
                                            <textarea name="remark" class="form-control"
                                                      cols="30" rows="5"><%= factoryInfo.remark %></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认添加
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

//        pageSetUp();

        $("#create-store").validationEngine();

        var areaFor = $('#area');
        var codes = [];
        var num = '<%= factoryInfo.areaList.length %>';
        var defaultValue = [
            {
                name:'province',
                value: '<%= factoryInfo.province %>',
                key:'province',
                linkcity:'city',
                linkdis:'dist',
                cityId: '<%= factoryInfo.city %>'
            },
            {name:'city', value: '<%= factoryInfo.city %>', key:'city',linkdis:'dist',disId: '<%= factoryInfo.dist %>'},
            {name:'dist', value: '<%= factoryInfo.dist %>', key:'district'},
        ];
//        初始化 area 值 及 配送区域地址联动初值
        var areaList =  <%- JSON.stringify(factoryInfo.areaList) %>;

        console.log('areaList',areaList.length)
        console.log('areaList',areaList)

        for(var i=0,j=3 ;i<areaList.length;i++){
            if(areaList[i].city){
                codes[i] = areaList[i].city;
                defaultValue[j] ={
                    name:'areaprovince'+i,
                    value: areaList[i].province,
                    key:'province',
                    linkcity:'area'+i,
                    cityId: areaList[i].city
                };
                defaultValue[j+1] ={name:'area'+i, value: areaList[i].city, key:'city'};
                DWY_area.init({
                    province: '.dwy-province'+i,
                    city: '.dwy-city'+i,
                });
                j += 2;
            }else{
                codes[i] = areaList[i].province;
                defaultValue[j] ={
                    name:'areaprovince'+i,
                    value: areaList[i].province,
                    key:'province',
                    linkcity:'area'+i,
                };
                DWY_area.init({
                    province: '.dwy-province'+i,
                    city: '.dwy-city'+i,
                });
                j++;
            }
        }
        areaFor.val(codes);
        console.log('defaultValue',defaultValue)
        DWY_area.init({
            defaultValue:defaultValue
        });

        $(".dwy-area").on("change",".cityCode,.provinceCode",function(){
            var areaCode = $(this).val();
            var num = $(this).attr('data-code');
            console.log(num)
            codes[num] = areaCode;
            areaFor.val(codes);
            console.log('codes',areaFor.val())
        });


        var areaNum = $('#areaNum');
        var beforeHere = $('#addAreaHere');
        $('#addArea').click(function () {
            var html = '<div class="margin-bottom-10">'+
                '<div class="col-xs-3">'+
                '<select class="form-control dwy-province'+num+' provinceCode validate[required]" name="areaprovince'+num+'" data-code="'+num+'">'+
                '<option value="">- 省 -</option>'+
                '</select>'+
                '</div>'+
                '<div class="col-xs-3">'+
                '<select class="form-control dwy-city'+num+' cityCode" name="area'+num+'" data-code="'+num+'">'+
                '<option value="">- 市 -</option>'+
                '</select>'+
                '</div>'+
                '<div class="dwy-clear"></div>'+
                '</div>';
            beforeHere.append(html);
            DWY_area.init({
                //可不填
                target: '.dwy-area',
                province: '.dwy-province'+num,
                city: '.dwy-city'+num,
            });
            num++;
            areaNum.val(num);
        })



    })

</script>


<%- include('../layouts/foot'); %>