<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/factory">仓储管理</a></li>
            <li><a class="back-url" href="/warehouse?ftyId=<%= ftyId %>"> 仓库列表</a></li>
            <li>仓库区域列表</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>订单搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="searchArea">

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 工厂仓储:</label>
                                        <div class="col-xs-8">
                                            <%
                                            if ( !DWY_Helper.hasPermission(Permission.storage.queryAll.id, permission) ){ %>
                                            <input class="form-control"  value="<%= DWY_Helper.getAssistValFtyId(ftyId,factoryList) %>" readonly>
                                            <input type="hidden" name="ftyId" value="<%= ftyId %>">
                                            <% }else{ %>

                                            <select class="form-control validate[required]" name="ftyId" id="ftyId">
                                                <option value="">- 请选择 -</option>
                                                <% factoryList.forEach(function (element) { %>
                                                <option value="<%= element.ftyId %>" <%= ftyId == element.ftyId?'selected':'' %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                            <% } %>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 仓库:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="whseId" id="whseId">
                                                <option value="">- 请选择 -</option>
                                                <% warehouseList.forEach(function (element) { %>
                                                <option value="<%= element.whseId %>"  <%= whseId == element.whseId?'selected':'' %>>
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">区域编号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  type="text"
                                                   value="<%= DWYRequest.query.regionId %>"
                                                   name="regionId">
                                        </div>
                                    </div>
                                </div>

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">区域名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control"  type="text"
                                                   value="<%= DWYRequest.query.name %>"
                                                   name="name">
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <% if (DWY_Helper.hasPermission(Permission.storage.createArea.id, permission) ){ %>
                                    <a class="btn btn-primary margin-right-5" href="/region/create/<%= ftyId %>/<%= whseId %>">
                                        <i class="fa fa-save"></i>
                                        新建仓库区域
                                    </a>
                                    <% } %>
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>仓库区域列表</h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>区域编号</th>
                                <th>区域名称</th>
                                <th>存储类型</th>
                                <th>二级存储类型</th>
                                <th>所属仓库</th>
                                <th>所属工厂仓储</th>
                                <th>新建时间</th>
                                <th>备注</th>
                                <th width="350">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if( regionList.result && (regionList.result.length > 0)  ){
                            regionList.result.forEach(function (element, index) { %>
                            <tr class="<%= element.stcode == 1 ? '' : 'disabletr' %>">
                                <td><%= index+1 %></td>
                                <td><%= element.regionId %></td>
                                <td><%= element.name %></td>
                                <td><%= element.cargoName %></td>
                                <td><%= element.regionName %></td>
                                <td><%= element.whseName %></td>
                                <td><a href="/factory/detail/<%= element.ftyId %>"><%= element.ftyName %></a></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.addTime) %></td>
                                <td><%= element.remark %></td>
                                <td>
                                    <% if(element.stcode == 1){ %>
                                    <% if (DWY_Helper.hasPermission(Permission.goodsAllocation.create.id, permission) ){ %>
                                    <a href="/cargospace/createNext/<%= element.ftyId %>/<%= element.whseId %>/<%= element.regionId %>" class="label label-primary">新建货位</a>
                                    <% } %>
                                    <a href="/cargospace?isAll=1&ftyId=<%= element.ftyId %>&whseId=<%= element.whseId %>&regionId=<%= element.regionId %>" class="label label-primary">查看所有货位</a>
                                    <% if (DWY_Helper.hasPermission(Permission.storage.updateArea.id, permission) ){ %>
                                    <a href="/region/modify/<%= element.whseId %>/<%= element.regionId %>?ftyId=<%= ftyId %>" class="label label-primary">修改</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.storage.deleteArea.id, permission) ){ %>
                                    <a class=" todoClose label label-danger" data-id="<%= element.regionId %>" >禁用</a>
                                    <%  }}else if(DWY_Helper.hasPermission(Permission.storage.deleteArea.id, permission)){ %>
                                    <a class="todoOpen label label-primary"  data-id="<%= element.regionId %>">启用</a>
                                    <%  }%>
                                </td>
                            </tr>
                            <%  })
                            }else{ %>
                            <tr>
                                <td colspan="10" align="center">暂无数据</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                        <%- pagination %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<%- include('../cargospace/js_function'); %>

<script type="text/javascript">

    $(document).ready(function () {
        $("#searchArea").validationEngine();

        pageSetUp();



        $(".todoClose").on({
            click: function () {
                var id = $(this).attr('data-id');
                layer.confirm('确定禁用该仓库区域?',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/region/doClose/'+id,
                            method: 'delete',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);

                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })

        $(".todoOpen").on({
            click: function () {
                var id = $(this).attr('data-id');
                layer.confirm('确定启用该仓库区域?',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/region/doOpen/'+id,
                            method: 'put',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);

                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })
    })

</script>


<%- include('../layouts/foot'); %>