<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>客户产品</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>订单搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal clearfix" method="get" id="search-customer" action="/orders/completeSet">

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户姓名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control " placeholder="请输入客户姓名"
                                                   value="<%= DWYRequest.query.name %>" type="text" name="name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">门店名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control " placeholder="请输入门店名称"
                                                   value="<%= DWYRequest.query.storeName %>" type="text" name="storeName">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">流水号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入流水号"
                                                   value="<%= DWYRequest.query.lid %>" type="text" name="lid">
                                        </div>
                                    </div>
                                </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>
                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                </div>
                                <%}%>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="slideToggle display-none">
                                    <%}%>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">手机号:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control " placeholder="请输入手机号"
                                                       value="<%= DWYRequest.query.mobile %>" type="text" name="mobile">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">批次号:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" placeholder="请输入批次号"
                                                       value="<%= DWYRequest.query.batchNumber %>" type="text" name="batchNumber">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="col-xs-2 control-label">大区类型:</label>
                                            <div class="col-xs-4">
                                                <select class="form-control" id="areaParentId" name="regionTypeId">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(TypesList[0])){
                                                    TypesList[0].forEach(function (element) { %>
                                                    <option value="<%= element.id %>"  <%= (DWYRequest.query.regionTypeId == element.id )?"selected":"" %>>
                                                        <%= element.name %>
                                                    </option>
                                                    <% })
                                                    }%>

                                                </select>

                                            </div>
                                            <div class="col-xs-6">
                                                <% var desName = DWYRequest.query.regionTypes?(DWYRequest.query.regionTypes).split(','):[] %>
                                                <select multiple style="width:100%" class="select2 select2-offscreen" id="areaChidId" name="regionTypes">
                                                    <% if(DWY_Helper.isCanLoop(TypesList[DWYRequest.query.regionTypeId])){
                                                    TypesList[DWYRequest.query.regionTypeId].forEach(function (element) { %>
                                                    <option value="<%= element.id %>" <%= DWY_Helper.getAssistMultiple( element.id,desName)?"selected":"" %>><%= element.name %></option>
                                                    <%  }) }  %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                </div>
                                <%}%>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                    <%}%>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>客户产品列表</h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>客户姓名</th>
                                <th>手机号</th>
                                <th>流水号</th>
                                <th>批次号</th>
                                <th>门店名称</th>
                                <th>区域</th>
                                <th>订单类型</th>
                                <th>总包数</th>
                                <th>未入库</th>
                                <th>已入库</th>
                                <th>已入库未上架</th>
                                <th>已备货</th>
                                <th>已发货</th>
                            </tr>
                            </thead>

                            <tbody>

                            <%if(DWY_Helper.isCanLoop(completeSetList)){
                            completeSetList.forEach(function (element,index) {
                                var num = 1;
                            if(element.detailList.length ==0) { %>
                            <tr>
                                <td colspan="100">暂无结果</td>
                            </tr>
                            <% }else{
                            element.detailList.forEach(function (detaelement) { %>
                            <tr>
                                <% if (num == 1){ %>
                                <td rowspan="<%= element.detailList.length  %>"><%= index+1 %></td>
                                <td rowspan="<%= element.detailList.length  %>"><%=element.name %></td>
                                <td rowspan="<%= element.detailList.length  %>"><%= element.mobile%></td>
                                <td rowspan="<%= element.detailList.length  %>"><%= element.lid%></td>
                                <td rowspan="<%= element.detailList.length  %>"><%= element.batchNumber%></td>
                                <td rowspan="<%= element.detailList.length  %>"><%= element.storeName %></td>
                                <td rowspan="<%= element.detailList.length  %>"><%= element.regionStr %>-<%= element.subRegionStr %></td>
                                <% } %>
                                <%
                                var val=detaelement.typeName;
                                var type;
                                    if(val=="普通订单"){
                                        type=1
                                    }
                                    if(val=="补单"){
                                        type=2
                                    }
                                    if(val=="增单"){
                                        type=3
                                    }
                                %>
                                <td><%= detaelement.typeName %></td>
                                <td>
                                    <a href="/orders/package/allInfo?lid=<%= element.lid%>&type=<%= type%>&batchNumber=<%= element.batchNumber%>">
                                        <%= detaelement.packageNum%>
                                    </a>
                                </td>
                                <td>
                                    <a href="/orders/package/allInfo?packageStatus=1&lid=<%= element.lid%>&type=<%= type%>&batchNumber=<%= element.batchNumber%>">
                                        <%= detaelement.notInHouse%>
                                    </a>
                                </td>
                                <td>
                                    <a href="/orders/package/allInfo?packageStatus=2&lid=<%= element.lid%>&type=<%= type%>&batchNumber=<%= element.batchNumber%>">
                                        <%= detaelement.inHouse %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/orders/completeSet/unshelf?lid=<%= element.lid%>&type=<%= type%>&batchNumber=<%= element.batchNumber%>">
                                        <%= detaelement.offShelves %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/orders/package/allInfo?packageStatus=3&lid=<%= element.lid%>&type=<%= type%>&batchNumber=<%= element.batchNumber%>">
                                        <%= detaelement.stock%>
                                    </a>
                                </td>
                                <td>
                                    <a href="/orders/package/allInfo?packageStatus=4&lid=<%= element.lid%>&type=<%= type%>&batchNumber=<%= element.batchNumber%>">
                                        <%= detaelement.send %>
                                    </a>
                                </td>

                            </tr>
                            <% num++ }) %>
                            <% } %>
                            <% })} else{ %>
                            <tr>
                                <td colspan="100" class="text-center">暂无结果</td>
                            </tr>
                            <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<!--include('./js_function');-->

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
        $("#search-customer").validationEngine({scroll: false});
        //区域查询
        var TypesList = <%-  JSON.stringify(TypesList) %>;
        $(".search").click(function(){
            DWY_Utils.AreaSelect.find("#areaParentId","#areaChidId",TypesList);
        })

    })

</script>


<%- include('../layouts/foot'); %>
