<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>个人中心</li>
        </ol>
        <!-- end breadcrumb -->

        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right">
        <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
        <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
        </span> -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!--
            The ID "widget-grid" will start to initialize all widgets below
            You do not need to use widgets if you dont want to. Simply remove
            the <section></section> and you can use wells or panels instead
            -->


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>个人信息</legend>
                    <!-- row -->
                    <div class="row search-form">
                        <div class="form-horizontal" method="get">

                            <div class="col-xs-6">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <label class="text-right col-xs-6">门店编号:</label>
                                    <p class="text-left col-xs-6"><%= user.bid %></p>
                                </div>
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <label class="text-right col-xs-6">柜员姓名:</label>
                                    <p class="text-left col-xs-6"><%= user.name %></p>
                                </div>

                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <label class="text-right col-xs-6">柜员编号:</label>
                                    <p class="text-left col-xs-6"><%= user.id %></p>
                                </div>

                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <label class="text-right col-xs-6">柜员手机:</label>
                                    <p class="text-left col-xs-6"><%= user.mobile %></p>
                                </div>


                            </div>

                            <div style="clear: both;"></div>

                            <div class="col-xs-6">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <a class="btn btn-primary" href="/customer/create">
                                        <i class="fa fa-save"></i>
                                        新建客户
                                    </a>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/customer/create/company">
                                        <i class="fa fa-save"></i>
                                        新建企业客户
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        /* DO NOT REMOVE : GLOBAL FUNCTIONS!
         *
         * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
         *
         * // activate tooltips
         * $("[rel=tooltip]").tooltip();
         *
         * // activate popovers
         * $("[rel=popover]").popover();
         *
         * // activate popovers with hover states
         * $("[rel=popover-hover]").popover({ trigger: "hover" });
         *
         * // activate inline charts
         * runAllCharts();
         *
         * // setup widgets
         * setup_widgets_desktop();
         *
         * // run form elements
         * runAllForms();
         *
         ********************************
         *
         * pageSetUp() is needed whenever you load a page.
         * It initializes and checks for all basic elements of the page
         * and makes rendering easier.
         *
         */

        pageSetUp();

        /*
         * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
         * eg alert("my home function");
         *
         * var pagefunction = function() {
         *   ...
         * }
         * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
         *
         * TO LOAD A SCRIPT:
         * var pagefunction = function (){
         *  loadScript(".../plugin.js", run_after_loaded);
         * }
         *
         * OR
         *
         * loadScript(".../plugin.js", run_after_loaded);
         */

        var pageFunction = function () {

        }

        pageFunction();

    })

</script>


<%- include('../layouts/foot'); %>