<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>修改密码</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>修改密码</legend>
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="post" id="set-password" action="/user/doPassword">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"><span class="requird"></span> 旧密码:</label>
                                    <div class="col-xs-6">
                                        <input class="form-control validate[required]"  value="" type="password" name="oldPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"><span class="requird"></span> 新密码:</label>
                                    <div class="col-xs-6">
                                        <input class="form-control validate[required,funcCall[custom_validate_fn.regexPassword]]"
                                               type="password"  value="" name="password" id="password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"><span class="requird"></span> 确认密码:</label>
                                    <div class="col-xs-6">
                                        <input class="form-control validate[required, equals[password]]" type="password" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确定
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#set-password").validationEngine();
    })

</script>


<%- include('../layouts/foot'); %>