<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/agency"><i class="fa fa-chevron-left"></i> 机构列表</a></li>
            <li>机构信息</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>基本信息
                        <% if( organizationsInfo.stcode == 2 ){ %>
                        <a class="label label-primary" id="openStore">启用</a>
                        <% }else{ %>
                        <a class="label label-primary" href="/agency/modify/<%= organizationsInfo.id %>">修改</a>
                        <a class="label label-danger" id="closeStore">禁用</a>
                        <% } %>

                    </legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information <%= ( organizationsInfo.stcode == 2 )? 'close-info':'' %>">
                            <tbody>
                            <tr>
                                <td>机构编号</td>
                                <td><%= organizationsInfo.id %></td>
                                <td>负责人姓名</td>
                                <td><%= organizationsInfo.orgEmp %></td>
                                <td>负责人电话</td>
                                <td><%= organizationsInfo.mobile %></td>
                            </tr>
                            <tr>
                                <td>新建日期</td>
                                <td><%= DWY_Helper.getLocalDate(organizationsInfo.addTime) %></td>
                                <td>新建人</td>
                                <td><%= organizationsInfo.gname %></td>
                                <td>机构类型</td>
                                <td><%= DWY_Helper.getAssistVal(organizationsInfo.orgType, organTypes) %></td>
                            </tr>
                            <tr>
                                <td>机构名称</td>
                                <td><%= organizationsInfo.name %></td>
                                <td>是否自带仓库</td>
                                <td><%= DWY_Helper.getWhether(organizationsInfo.isWareh) %></td>
                                <td>机构最低保证金</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>机构地址</td>
                                <td colspan="5"><%= organizationsInfo.address %></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="5"><%= organizationsInfo.remark %></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        var organizationsId = '<%= organizationsInfo.id %>';
        $("#closeStore").on({
            click: function () {
                layer.confirm('确定禁用该机构？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/agency/setStatus/'+organizationsId+'/2',
                            method: 'put',
                            success: function (data) {
                                window.location.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                var data = JSON.parse(response.responseText);
                                $.smallBox({
                                    title: "操作失败",
                                    content: data.msg,
                                    color: "#C46A69",
                                    iconSmall: "fa fa-times fa-2x fadeInRight animated",
                                    timeout: 3000
                                });
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        });
        $("#openStore").on({
            click: function () {
                layer.confirm('确定启用该机构？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/agency/setStatus/'+organizationsId+'/1',
                            method: 'put',
                            success: function (data) {
                                window.location.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                var data = JSON.parse(response.responseText);
                                $.smallBox({
                                    title: "操作失败",
                                    content: data.msg,
                                    color: "#C46A69",
                                    iconSmall: "fa fa-times fa-2x fadeInRight animated",
                                    timeout: 3000
                                });
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })
    })

</script>

<%- include('../layouts/foot'); %>
<%- include('./money_modal'); %>