<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>新建机构</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>新建机构信息</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal" method="post" action="/agency/doCreate" id="create-store">

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 负责人姓名:
                                        </label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= DWY_last_request_param.orgEmp %>"
                                                   name="orgEmp">
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 负责人手机:
                                        </label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required,funcCall[custom_validate_fn.isMobile]]"
                                                   placeholder="输入号码" type="tel"
                                                   value="<%= DWY_last_request_param.mobile %>"
                                                   name="mobile">
                                        </div>
                                    </div>
                                </div>

                                <!--<input type="hidden" name="empType" value="20">-->
                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 机构名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= DWY_last_request_param.name %>"
                                                   name="name">
                                        </div>
                                    </div>
                                </div>

                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            机构类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="orgType">
                                                <option value="">- 请选择 -</option>
                                                <% organTypes.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWY_last_request_param.orgType == element.id )?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            是否自带仓库:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="isWareh">
                                                <option value="">- 请选择 -</option>
                                                <option value="1" <%= (DWY_last_request_param.isWareh == 1) ? 'selected' : '' %> >
                                                    是
                                                </option>
                                                <option value="2" <%= (DWY_last_request_param.isWareh == 2) ? 'selected' : '' %> >
                                                    否
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-xs-4">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-xs-4 control-label"><span class="requird"></span>-->
                                            <!--最低保证金:</label>-->
                                        <!--<div class="col-xs-8">-->
                                            <!--<input class="form-control validate[required]"-->
                                                   <!--value="<%= DWY_last_request_param.minFunds %>"-->
                                                   <!--name="minFunds">-->
                                            <!--<span code-data="元" class="unit"></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                            </div>


                            <div class="col-xs-12">

                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 机构地址:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control validate[required]" placeholder="请输入详细地址"
                                                   value="<%= DWY_last_request_param.address %>"
                                                   name="address">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">备注:</label>
                                        <div class="col-xs-10">
                                            <textarea name="remark" class="form-control"
                                                      cols="30" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认添加
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

//        pageSetUp();

        $("#create-store").validationEngine();


//        结合html5标准事件 oninput 和 IE 专属事件 onpropertychange 事件来动态监听输入框值变化
//        $('#mobile').on('input propertychange', function () {
//            var mobile = this.value;
//            if ($("#mobile").validationEngine('validate')) {
//                $.ajax({
//                    url: '/getEmployeesByMobile/' + mobile,
//                    success: function (data) {
//                        console.log('employees3333',data)
//                        if(data.result.length !=0){
//                            location.href = "/employees/detail/" + data.result[0].id;
//                        }
//                    }
//                });
//            }
//        });


    })

</script>


<%- include('../layouts/foot'); %>