<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/storesManage">门店管理</a></li>
            <li>门店信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"><i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>基本信息
                        <% if( storeInfo.stcode == 40 ){ %>
                        <a class="label label-primary  on-off-switch" id="openStore" data-type="10">启用</a>
                        <% }else{ %>
                        <a class="label label-primary" href="/storesManage/modify/<%= storeInfo.bid %>">修改</a>
                        <a class="label label-danger on-off-switch" id="closeStore" data-type="40">禁用</a>
                        <% } %>
                    </legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information <%= ( storeInfo.stcode == 40 )? 'close-info':'' %>">
                            <tbody>
                            <tr>
                                <td width="12%">门店编号</td>
                                <td width="21%"><%= storeInfo.bid %></td>
                                <td width="12%">门店名称</td>
                                <td width="21%"><%= storeInfo.storeName %></td>
                                <td width="12%">新建日期</td>
                                <td><%= DWY_Helper.getLocalDate(storeInfo.addTime) %></td>
                            </tr>
                            <tr>
                                <td>店长姓名</td>
                                <td><%= storeInfo.storeGid %></td>
                                <td>店长电话</td>
                                <td><%= storeInfo.mobile %></td>
                                <td>门店类型</td>
                                <td><%= DWY_Helper.getAssistVal(storeInfo.addrType, addrTypesList) %></td>
                            </tr>
                            <tr>
                                <td>经营类型</td>
                                <td><%= DWY_Helper.getAssistVal(storeInfo.storeType, storeTypes) %></td>
                                <td>是否自带仓库</td>
                                <td><%= DWY_Helper.getWhether(storeInfo.isWarehouse) %></td>
                                <td>门店最低资金</td>
                                <td><%= storeInfo.minFunds %> 元</td>
                            </tr>

                            <tr>
                                <td>预约电话</td>
                                <td><%= storeInfo.businessMobile %></td>
                                <td>营业时间</td>
                                <td><%= storeInfo.businessHours %></td>
                                <td>大区类型</td>
                                <td><%= storeInfo.regionTypeName %></td>
                            </tr>
                            <tr>
                                <td>门店地址</td>
                                <td colspan="5"><%= storeInfo.provinceStr %> <%= storeInfo.cityStr %> <%= storeInfo.areaStr %> <%= storeInfo.address %></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="5"><%= storeInfo.remark %></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>账户信息
                        <% if( storeInfo.stcode == 40 ){ %>
                        <span class="label label-default">实际可用资金 <%= DWY_Helper.outputmoney(JSON.stringify(moneyInfo.account)) %>元</span>
                        <span class="label label-default">预警资金 <%= DWY_Helper.outputmoney(JSON.stringify(moneyInfo.warnFunds)) %>元</span>
                        <span class="label label-default">最底保证金 <%= DWY_Helper.outputmoney(JSON.stringify(moneyInfo.minFunds)) %>元</span>
                        <span class="label label-default">冻结资金 <%= DWY_Helper.outputmoney(JSON.stringify(moneyInfo.frozenFunds)) %>元</span>
                        <% }else{ %>
                        <span class="label label-success">实际可用资金 <%= DWY_Helper.outputmoney(JSON.stringify(moneyInfo.account)) %>元</span>
                        <span class="label label-success">预警资金 <%= DWY_Helper.outputmoney(JSON.stringify(moneyInfo.warnFunds)) %>元</span>
                        <span class="label label-success">最底保证金 <%= DWY_Helper.outputmoney(JSON.stringify(moneyInfo.minFunds)) %>元</span>
                        <span class="label label-success">冻结资金 <%= DWY_Helper.outputmoney(JSON.stringify(moneyInfo.frozenFunds)) %>元</span>
                        <a class="label label-primary recharge" id="<%= storeInfo.bid %>" data-type="detail">充值</a>
                        <!--<a class="label label-primary" href="/storesManage/receiptMoney/<%= storeInfo.bid %>">收款</a>-->
                        <% } %>
                    </h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped <%= ( storeInfo.stcode == 40 )? 'close-info':'' %>">
                            <thead>
                            <tr>
                                <th>资金类型</th>
                                <th>交易金额</th>
                                <th>交易时间</th>
                                <th>操作说明</th>
                                <th>订单编号</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(moneyList.result)){
                            moneyList.result.forEach(function (element) { %>
                            <tr>
                                <td><%= element.typeName %></td>
                                <td><%= element.direction ==1?'+':'-' %><%= element.money %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= element.describe %></td>
                                <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        var storeId = '<%= storeInfo.bid %>';

        $(".on-off-switch").on({
            click:function () {
                var type=$(this).data("type");
                var confirmMsg=(type==10)?"确定启用该门店？":"确定禁用该门店？";
                layer.confirm(
                    confirmMsg,
                    {icon:3,title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/storesManage/setStatus/'+storeId+'/'+type,
                            method: 'put',
                            success:function (data) {
                                successLayout.reload();
                            },
                            error:function (response) {
                                layer.close(index);
                                errorLayout.normal(response);
                            }
                        })
                    },
                    function (index) {
                        layer.close(index);
                    }

                )

            }

            })




    })

</script>

<%- include('../layouts/foot'); %>
<%- include('./money_modal'); %>