<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/storesManage">门店管理</a></li>
            <li><a class="back-url" href="/storesManage/detail/<%= storeInfo.bid %>">门店信息</a></li>
            <li>修改门店</li>
            <li><a class="back-url" href="javascript:history.go(-1)"><i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>修改门店信息</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal" method="post" action="/storesManage/doModify" id="create-store">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 门店名称:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control validate[required]" placeholder="请输入门店名称"
                                                   value="<%= storeInfo.storeName %>"
                                                   name="storeName">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 店长姓名:
                                        </label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= storeInfo.storeGid %>"
                                                   name="storeGid">
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 店长手机:
                                        </label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required,funcCall[custom_validate_fn.isMobile]]"
                                                   placeholder="输入号码" type="tel"
                                                   value="<%= storeInfo.mobile %>"
                                                   name="mobile">
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="storeId" value="<%= cid %>">



                            </div>

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            门店类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="addrType">
                                                <option value="">- 请选择 -</option>
                                                <% addrTypesList.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (storeInfo.addrType == element.id )?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            经营类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="storeType">
                                                <option value="">- 请选择 -</option>
                                                <% storeTypes.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (storeInfo.storeType == element.id )?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>

                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            是否自带仓库:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="isWarehouse">
                                                <option value="">- 请选择 -</option>
                                                <option value="1" <%= (storeInfo.isWarehouse == 1) ? 'selected' : '' %> >
                                                    是
                                                </option>
                                                <option value="2" <%= (storeInfo.isWarehouse == 2) ? 'selected' : '' %> >
                                                    否
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            最低资金:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= storeInfo.minFunds %>"
                                                   name="minFunds">
                                            <span code-data="元" class="unit"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            预警资金:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= storeInfo.warnFunds %>"
                                                   name="warnFunds">
                                            <span code-data="元" class="unit"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            大区类型:</label>
                                        <div class="col-xs-4">
                                            <select class="form-control validate[required]" name="regionTypeId" id="areaParentId">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(TypesList[0])){
                                                TypesList[0].forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (storeInfo.regionTypeId == element.id )?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% })
                                                }%>

                                            </select>

                                        </div>
                                        <div class="col-xs-4">

                                            <select class="form-control" style="width:100%"  id="areaChidId" name="subrangeTypeId">
                                                <% if(DWY_Helper.isCanLoop(TypesList[storeInfo.regionTypeId])){
                                                TypesList[storeInfo.regionTypeId].forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (storeInfo.subrangeTypeId == element.id )?"selected":"" %>><%= element.name %></option>
                                                <%  }) }  %>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">预约电话:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= storeInfo.businessMobile %>"
                                                   name="businessMobile">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">营业时间:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= storeInfo.businessHours %>"
                                                   name="businessHours">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">门店所在行政区:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control validate"
                                                   value="<%= storeInfo.provinceStr %> <%= storeInfo.cityStr %> <%= storeInfo.areaStr %>"
                                                   name="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 门店地址:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control validate[required]" placeholder="请输入详细地址"
                                                   value="<%= storeInfo.address %>"
                                                   name="address">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">备注:</label>
                                        <div class="col-xs-10">
                                            <textarea name="remark" class="form-control"
                                                      cols="30" rows="5"><%= storeInfo.remark %></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认添加
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

//        pageSetUp();

        $("#create-store").validationEngine();


//        结合html5标准事件 oninput 和 IE 专属事件 onpropertychange 事件来动态监听输入框值变化
        $('#mobile').on('input propertychange', function () {
            var mobile = this.value;
            if ($("#mobile").validationEngine('validate')) {
                $.ajax({
                    url: '/getEmployeesByMobile/' + mobile,
                    success: function (data) {
//                        console.log('employees3333',data)
                        if(data.result.length !=0){
                            var href = "/employees/detail/" + data.result[0].id;
                            successLayout.hrefTo(href);
                        }
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);

                    }
                });
            }
        });

        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery

        var areaParentId = $('#areaParentId');
        var areaChilId = $('#areaChidId');
        areaParentId.change(function () {
            var ftyId = $(this).val();
            if (!ftyId) {
                areaChilId.html('<option value="">- 请选择 -</option>');
                return
            }

            var TypesList = <%-  JSON.stringify(TypesList) %>;
            areaChilId.empty();
            $(".select2-container ul li").empty();

            var htmls = $(".select2-container ul li").html();
            if(htmls=='undefined'||htmls==''||htmls==null){
                $(".select2-search-choice").removeClass("select2-search-choice");
                $(".select2-choices li").css("height","30px")
            }
            var html = '';
            if (TypesList[ftyId]) {
                var child = TypesList[ftyId];
                if(child.length == 0){
                    html = '<option value="">暂无分类</option>'
                }else {

                    for (var i = 0; i < child.length; i++) {

                        html += '<option value="' + child[i].id + '" >' + child[i].name + '</option>'

                    }
                }
                areaChilId.html(html);
            }else{
                areaChilId.html('<option value="">- 请选择 -</option>');
                return
            }


        })


    })

</script>


<%- include('../layouts/foot'); %>