<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>门店信息</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>基本信息
                        <% if( storeInfo.stcode == 40 ){ %>
                        <a class="label label-primary" id="openStore">启用</a>
                        <% }else{ %>
                        <a class="label label-primary" href="/storesManage/modify/<%= storeInfo.bid %>">修改</a>
                        <a class="label label-danger" id="closeStore">禁用</a>
                        <% } %>
                    </legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information <%= ( storeInfo.stcode == 40 )? 'close-info':'' %>">
                            <tbody>
                            <tr>
                                <td width="12%">门店编号</td>
                                <td width="16%"><%= storeInfo.bid %></td>
                                <td width="12%">店长姓名</td>
                                <td width="16%"><%= storeInfo.storeGid %></td>
                                <td width="12%">店长电话</td>
                                <td><%= storeInfo.mobile %></td>
                            </tr>
                            <tr>
                                <td>新建日期</td>
                                <td><%= DWY_Helper.getLocalDate(storeInfo.addTime) %></td>
                                <td>新建人</td>
                                <td></td>
                                <td>门店类型</td>
                                <td><%= DWY_Helper.getAssistVal(storeInfo.addrType, addrTypesList) %></td>
                            </tr>
                            <tr>
                                <td>经营类型</td>
                                <td><%= DWY_Helper.getAssistVal(storeInfo.storeType, storeTypes) %></td>
                                <td>是否自带仓库</td>
                                <td><%= DWY_Helper.getWhether(storeInfo.isWarehouse) %></td>
                                <td>门店最低保证金</td>
                                <td><%= storeInfo.minFunds %> 元</td>
                            </tr>
                            <tr>
                                <td>门店名称</td>
                                <td><%= storeInfo.storeName %></td>
                                <td>门店地址</td>
                                <td colspan="3"><%= storeInfo.address %></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="5"><%= storeInfo.remark %></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>账户信息
                        <% if( storeInfo.stcode == 40 ){ %>
                        <span class="label label-default">虚拟账户余额 6666666.66</span>
                        <% }else{ %>
                        <span class="label label-success">虚拟账户余额 6666666.66</span>
                        <a class="label label-primary" id="recharge">充值</a>
                        <a class="label label-primary" id="receipt">收款</a>
                        <% } %>
                    </h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped <%= ( storeInfo.stcode == 40 )? 'close-info':'' %>">
                            <thead>
                            <tr>
                                <th>交易类型</th>
                                <th>交易金额</th>
                                <th>交易时间</th>
                                <th>交易后余额</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                           <tr>
                               <td>充值</td>
                               <td>20000.00</td>
                               <td>2016-10-10</td>
                               <td>66666.66</td>
                               <td>充值</td>
                           </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        var storeId = '<%= storeInfo.bid %>';

        $("#closeStore").on({
            click: function () {
                layer.confirm('确定禁用该门店？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/storesManage/setStatus/'+storeId+'/40',
                            method: 'put',
                            success: function (data) {
                                window.location.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                var data = JSON.parse(response.responseText);
                                $.smallBox({
                                    title: "操作失败",
                                    content: data.msg,
                                    color: "#C46A69",
                                    iconSmall: "fa fa-times fa-2x fadeInRight animated",
                                    timeout: 3000
                                });
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        });
        $("#openStore").on({
            click: function () {
                layer.confirm('确定启用该门店？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/storesManage/setStatus/'+storeId+'/10',
                            method: 'put',
                            success: function (data) {
                                window.location.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                var data = JSON.parse(response.responseText);
                                $.smallBox({
                                    title: "操作失败",
                                    content: data.msg,
                                    color: "#C46A69",
                                    iconSmall: "fa fa-times fa-2x fadeInRight animated",
                                    timeout: 3000
                                });
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })


    })

</script>

<%- include('../layouts/foot'); %>
<%- include('./money_modal'); %>