<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>门店管理</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>订单搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">门店名:</label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" name="storeName" value="<%= DWYRequest.query.storeName %>" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="stcode">
                                                <option value="" <%= (DWYRequest.query.stcode == '')?"selected":"" %>>- 请选择 -</option>
                                                <option value="0" <%= (DWYRequest.query.stcode == 0)?"selected":"" %>>未提交</option>
                                                <option value="1" <%= (DWYRequest.query.stcode == 1)?"selected":"" %>>已提交</option>
                                                <option value="2" <%= (DWYRequest.query.stcode == 2)?"selected":"" %>>通过</option>
                                                <option value="3" <%= (DWYRequest.query.stcode == 3)?"selected":"" %>>退回</option>
                                                <option value="9" <%= (DWYRequest.query.stcode == 9)?"selected":"" %>>作废</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">提交时间:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.submitStartDate%>"
                                                   name="submitStartDate">
                                        </div>
                                        <label class="from-to  control-label "> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.submitEndDate%>"
                                                   name="submitEndDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">通过时间:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.passStartDate%>"
                                                   name="passStartDate">
                                        </div>
                                        <label class="from-to  control-label "> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.passEndDate%>"
                                                   name="passEndDate">
                                        </div>
                                    </div>
                                </div>
                                <!--输入字段-->
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple" />
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>门店预充值列表</h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-hover table-striped table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>门店号</th>
                                <th>门店名称</th>
                                <th>充值金额（元）</th>
                                <th>真实充值金额</th>
                                <th>门店操作柜员</th>
                                <th>机构操作柜员</th>
                                <th>状态</th>
                                <th>提交时间</th>
                                <th>通过时间</th>
                                <th class="display-none">凭证路径</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(preRechargeList.result)  ){
                            preRechargeList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= ++index  %></td>
                                <td><a href=""><%= element.bid %></a></td>
                                <td><%=element.storeName %></td>
                                <td><%=element.amount %></td>
                                <td><%=element.realAmount %></td>
                                <td><%=element.storeEmpName %></td>
                                <td><%=element.orgEmpName %></td>
                                <td><%=element.stcodeName %></td>
                                <td><%=DWY_Helper.getLocalDate(element.submitTime) %></td>
                                <td><%=DWY_Helper.getLocalDate(element.passTime) %></td>
                                <td class="display-none"><%=element.voucherPath %></td>
                                <td><%=element.remark %></td>
                                <td>
                                    <button class="label label-primary rechargeModify <%= (element.stcode==1)?"":"display-none" %>">通过充值申请</button>
                                    <button class="label label-primary rechargeBack <%= (element.stcode==1)?"":"display-none" %>">退回申请</button>
                                </td>
                                <td class="display-none"><%=element.id %></td>
                            </tr>
                            <%  })
                            }else{ %>
                            <tr>
                                <td colspan="12" align="center">暂无结果</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>


                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {


        pageSetUp();

        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery

    })

</script>


<%- include('../layouts/foot'); %>
<%- include('./money_modal'); %>