<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>新建请购单--物料关联信息</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <form class="form-horizontal" method="post" id="creat-supplier" action="/purchase/applyMaterialCreate" >
                        <div class="col-xs-12">
                            <legend>
                                新建请购单
                                <!--<a class="label label-danger" id="closeStore">禁用</a>-->
                            </legend>
                        </div>
                        <div class="col-xs-12">
                            <div class="orderItemLayerTit">
                            </div>
                            <div class="orderItemLayerTable">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>物料编号</th>
                                        <th>物料名称</th>
                                        <th>分类名称</th>
                                        <th>请购数量</th>
                                        <th>预计交期</th>
                                        <th>供应商</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <%
                                    if(suppliersMaterialLists && DWY_Helper.isCanLoop(suppliersMaterialLists)){
                                    suppliersMaterialLists.forEach(function (element, index) { %>
                                    <tr>
                                        <td class="materialId<%= index %>"><%= element.id %></td>
                                        <td><%= element.name %></td>
                                        <td><%= element.catName %></td>
                                        <td>
                                            <input type="text" name="amount<%= index %>" value="" class="amountApply" />
                                        </td>
                                        <td>
                                            <input class="form-control fg-date-picker deliveryDate" type="text" value=""
                                                   name="deliveryDate<%= index %>"  />
                                        </td>
                                        <td><%= element.suppName %></td>
                                    </tr>
                                    <input type="hidden" name="tid" value="<%= element.id %>">
                                    <%  }) }%>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <a class="btn btn-primary" type="submit" id="sub">
                                        提交
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
        $("#sub").click(function(){
            if (isNaN(parseFloat($(".amountApply").val())) || parseFloat($(".amountApply").val()) <= 0)  alert('请输入正整数');
            if (isNaN(parseFloat($(".deliveryDate").val())) )  {
                alert('日期不能为空')
                return false;
            }
            var myArray=new Array()
            var length=$("input[name=tid]").length;
            for(var i=0;i<length;i++){
                var a = new Object();
                var materialId=$(".materialId"+i).text();
                var amount=$("input[name=amount"+i+"]").val();
                var deliveryDate=$("input[name=deliveryDate"+i+"]").val();
                a.materialId=materialId;
                a.amount = amount;
                a.deliveryDate = deliveryDate;
                myArray.push(a);
            }
            layer.confirm("确认提交？", {title:'提示'},function(index){
                console.log(myArray);
                    $.ajax({
                        url: '/purchase/applyMaterialCreate/',
                        data:JSON.stringify(myArray),
                        method: 'post',
                        dataType: 'json',
                        success: function (data) {
                            location.href="/purchase";
                        },
                        error: function (response) {
                            layer.close(index)
                            var data = JSON.parse(response.responseText);
                            $.smallBox({
                                title: "操作失败",
                                content: data.msg,
                                color: "#C46A69",
                                iconSmall: "fa fa-times fa-2x fadeInRight animated",
                                timeout: 3000
                            });
                            setTimeout(function(){
                                window.location.reload();
                            },1000000)
                        }
                    });
                },function(index){
                    layer.close(index)}
            )



        })


    })
</script>
<%- include('../layouts/foot'); %>