<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>后台管理</li>
            <li><a href="/purchase" class="back-url"><i class="fa fa-chevron-left"></i>采购管理</a></li>
            <li><a class="back-url" href="/purchase/applyCreat"><i class="fa fa-chevron-left"></i>新建请购单</a></li>
            <li>填写请购信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"><i class="fa fa-chevron-left"></i> 返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <form class="form-horizontal" method="post" id="creat-supplier" >
                        <div class="col-xs-12">
                            <legend>
                                新建请购单
                            </legend>
                        </div>
                        <div class="col-xs-12">
                            <div class="orderItemLayerTit">
                            </div>
                            <div class="orderItemLayerTable">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>物料编号</th>
                                        <th>物料名称</th>
                                        <th>供应商名称</th>
                                        <th>分类名称</th>
                                        <th>单价</th>
                                        <th>请购数量</th>
                                        <th>预计交期</th>
                                        <th>最小数量</th>
                                    </tr>
                                    </thead>
                                    <tbody class="purApplyTr">
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <a class="btn btn-primary"  id="sub">
                                        <i class="fa fa-save"></i>
                                        确认提交
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        var parentEle = '.purApplyTr';
        var storageKey = 'LIST_DATA';
        var listArr = DWY_Utils.StorageUtils.getListArr(storageKey);
        var htmlStr = '';
        if (listArr instanceof Array && listArr.length != 0) {
            var len = listArr.length;
            for (var i = 0; i < len; i++) {
                var itemHtml = ''
                    + '<tr class="topTr">'
                    + '<td class="materialId'+i+'">' + listArr[i].id + '</td>'
                    + '<td>' + listArr[i].name + '</td>'
                    + '<td>' + listArr[i].suppName + '</td>'
                    + '<td>' + listArr[i].class_name + '</td>'
                    + '<td class="price'+i+'">' + listArr[i].price + '</td>'
                    + '<td><input type="text" name="amount'+i+'" value="" class="form-control amountApply" /> </td>'
                    + '<td><input class="form-control fg-date-picker deliveryDate" type="text" value="" name="deliveryDate'+i+'" /> </td>'
                    + '<td><input name="minAmount'+i+'" class="form-control minAmount" value="" /></td>'
                    + '</tr>';
                htmlStr += itemHtml;
                // 判断是否是初始化 是的话保持下面列表状态同步
            }
            $(parentEle).html(htmlStr);
            $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
            $("#creat-supplier").validationEngine({scroll: false});
        }else{
            $(parentEle).html("");
        }
        $("#sub").click(function(){
            if (isNaN(parseFloat($(".amountApply").val())) || parseFloat($(".amountApply").val()) <= 0) {
                layer.alert('请输入有效数字！', {icon: 3});
                return false;
            }
            if (isNaN(parseFloat($(".deliveryDate").val())) )  {
                layer.alert('日期不能为空！', {icon: 3});
                return false;
            }
            var num=$('.amountApply').val();
            var minNum=$('.minAmount').val();
            if(parseInt(num)<parseInt(minNum)){
                layer.alert('请购数量不能低于最小数量！', {icon: 3});
                return false;
            }
            var myArray=new Array()
            for(var i=0;i<len;i++){
                var a = new Object();
                var mateId=$(".materialId"+i).text();
                var price=$(".price"+i).text();
                var amount=$("input[name=amount"+i+"]").val();
                var minAmount=$("input[name=minAmount"+i+"]").val();
                var deliveryDate=$("input[name=deliveryDate"+i+"]").val();
                a.mateId=mateId;
                a.price=price;
                a.amount = amount;
                a.minAmount = minAmount;
                a.deliveryDate = deliveryDate;
                myArray.push(a);
            }
            var date={reqMaterialList:myArray};
            layer.confirm("确认提交？", {title:'提示'},function(index){
//                    console.log(myArray);return false;
                    $.ajax({
                        url: '/purchase/applyMaterialCreate',
                        data:JSON.stringify(date),
                        method: 'post',
                        dataType: 'json',
                        contentType:"application/json",
                        success: function (data) {
                            location.href="/purchase";
                            localStorage.clear();
                        },
                        error: function (response) {
                            if(response.status==200){
                                successLayout.hrefTo("/purchase");
                                localStorage.clear();
                            }else {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        }
                    });
                },function(index){
                    layer.close(index)}
            )
        })
    })
</script>
<%- include('../layouts/foot'); %>