<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>后台管理</li>
            <li><a href="/purchase" class="back-url">采购管理</a></li>
            <li><a class="back-url" href="/purchase/create">新建采购单</a></li>
            <li>填写采购信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <form class="form-horizontal" method="post" id="creat-supplier" >
                        <div class="col-xs-12">
                            <legend>
                                新建采购单
                            </legend>
                        </div>
                        <div class="col-xs-12">
                            <div class="orderItemLayerTit">
                            </div>
                            <div class="orderItemLayerTable">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>物料编号</th>
                                        <th>物料名称</th>
                                        <th>供应商名称</th>
                                        <th>分类名称</th>
                                        <th width="price">单价</th>
                                        <th>单位</th>
                                        <th width="120px">请购数量</th>
                                        <th>总价</th>
                                        <th width="120px">预付款百分比(%)</th>
                                        <th>预付款金额</th>
                                        <th>预计交期</th>
                                        <th width="120px">最小数量</th>
                                    </tr>
                                    </thead>
                                    <tbody class="purApplyTr">
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <a class="btn btn-primary"  id="sub">
                                        <i class="fa fa-save"></i>
                                        确认提交
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $("#creat-supplier").validationEngine();
        var parentEle = '.purApplyTr';
        var storageKey = 'LIST_DATA_PUR';
        var listArr = DWY_Utils.StorageUtils.getListArr(storageKey);
        var htmlStr = '';


        if (listArr instanceof Array && listArr.length != 0) {
            var len = listArr.length;
            for (var i = 0; i < len; i++) {
                var options = ''
                var unitsp=listArr[i].unit.split(',');
                var unitId=listArr[i].unitId.split(',');
                var unitAmount=listArr[i].unitAmount.split(',');
                for(var j=0;j<unitsp.length-1;j++){
                    options += '<option value="'+unitId[j]+'" amount="'+unitAmount[j]+'">'+unitsp[j]+'</option>'
                }
                var itemHtml = ''
                    + '<tr class="topTr">'
                    + '<td style="line-height:32px" class="materialId'+i+'">' + listArr[i].id + '</td>'
                    + '<td style="display:none"  class="suppId'+i+'">' + listArr[i].suppId + '</td>'
                    + '<td style="line-height:32px" class="matName'+i+'">' + listArr[i].name + '</td>'
                    + '<td style="line-height:32px" class="suppName'+i+'">' + listArr[i].suppName + '</td>'
                    + '<td style="line-height:32px">' + listArr[i].class_name + '</td>'
                    + '<td width="120px"><input name="price'+i+'" class="form-control price validate[required]" price="' + listArr[i].price + '" value="' + listArr[i].price + '" /></td>'
                    + '<td width="120px"><select data-index="' + i + '" name="unit' + i + '" class="form-control unitSelect">'+options+'</select></td>'
                    + '<td width="120px"><input data-index="' + i + '" type="text" name="amount'+i+'" value="" class="form-control amountApply validate[required,custom[number],min[1]]" /> </td>'
                    + '<td class="total'+i+'">0</td>'
                    + '<td width="120px"><input type="text" class="form-control percentage validate[custom[number],min[0],max[100]]" /></td>'
                    + '<td class="deposit'+i+'">0</td>'
                    + '<td><div class="col-xs-12"><input data-index="' + i + '" class="form-control fg-date-picker deliveryDate validate[required]" type="text" value="" name="deliveryDate'+i+'" /></div> </td>'
                    + '<td width="120px"><input name="minAmount'+i+'" class="form-control minAmount validate[required]" value="" /></td>'
                    + '</tr>';
                htmlStr += itemHtml;
                // 判断是否是初始化 是的话保持下面列表状态同步
            }
            $(parentEle).html(htmlStr);
            $(".fg-date-picker").flatpickr(data_time_picker.purchase_data_picker); // jQuery
            $("#creat-supplier").validationEngine({scroll: false});
        }else{
            $(parentEle).html("");
        }
        $(".unitSelect").on('change',function(){
            var index = $(this).attr('data-index');
            var indexUnit = $(this).parents('td').siblings('.price'+index).attr('priceUnit');
            var amount = $(this).find('option:selected').attr("amount");
            var parse =  parseInt(indexUnit) * parseInt(amount);
            $('.price'+index).text(parse);
        })
        $(".amountApply").change(function(){
            var index = $(this).attr('data-index');
            var price=$(this).parents('td').siblings().find('.price').val();
            var amount=$(this).val();
            var val=parseInt(price) * parseInt(amount);
            if(val.toString().length>8){
                layer.alert('您输入的数量过大，请重新输入！', {icon: 3});
                return false;
            }
        })

        $("#sub").click(function(){
            if($("#creat-supplier").validationEngine('validate')) {
                var num = $('.amountApply').val();
                var minNum = $('.minAmount').val();
                if (parseInt(num) < parseInt(minNum)) {
                    layer.alert('采购数量不能低于最小数量！', {icon: 3});
                    return false;
                }
                var myArray = new Array()
                for (var i = 0; i < len; i++) {
                    var a = new Object();
                    var mateId = $(".materialId" + i).text();
                    var suppId = $(".suppId" + i).text();
                    var mateName = $(".matName" + i).text();
                    var suppName = $(".suppName" + i).text();
                    var total = $(".total" + i).text();
                    var deposit = $(".deposit" + i).text();
                    var price = $("input[name=price" + i + "]").val();
                    var amount = $("input[name=amount" + i + "]").val();
                    var minAmount = $("input[name=minAmount" + i + "]").val();
                    var deliveryDate = $("input[name=deliveryDate" + i + "]").val();
                    var unit = $("select[name=unit" + i + "]").val();
                    a.mateId = mateId;
                    a.price = price;
                    a.amount = amount;
                    a.minAmount = minAmount;
                    a.deliveryDate = deliveryDate;
                    a.unit = unit;
                    a.suppId = suppId;
                    a.mateName = mateName;
                    a.suppName = suppName;
                    a.deposit = deposit;
                    a.total = total;
                    myArray.push(a);
                    console.log(a)
                }
                var date = {
                    reqMaterialList: myArray,
                    type: 10
                };
                layer.confirm("确认提交？", {title: '提示'}, function (index) {
//                    console.log(myArray);return false;
                        $.ajax({
                            url: '/purchase/materialCreate',
                            data: JSON.stringify(date),
                            method: 'post',
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                location.href = "/purchase";
                                localStorage.clear();
                            },
                            error: function (response) {
                                if (response.status == 200) {
                                    successLayout.hrefTo("/purchase/detail");
                                    localStorage.clear();
                                } else {
                                    layer.close(index)
                                    errorLayout.normal(response);
                                }
                            }
                        });
                    }, function (index) {
                        layer.close(index)
                    }
                )
            }
        })

//输入请购数量的时候自动填充最小数量
        $(".amountApply").on('keyup',function(){
            var value=$(this).val();
//                var val = $(this).parents("td").siblings().find(".price").val();
            var val = $(this).parent().prev().prev().find(".price").val();
//                $(this).parents("td").siblings().find(".minAmount").val(value);
//                $(this).parents("td").siblings(".total").text(parseInt(val)*parseInt(value));
            $(this).parent().next().next().next().next().next().find(".minAmount").val(value);
            $(this).parent().next().text(parseInt(val)*parseInt(value))

        });
        //输入预付款百分比 自动计算预付款金额
        $(".percentage").on('keyup',function(){
            var val = $(this).val();
            var text = $(this).parent().prev().text();
            var money = Math.round((val*0.01*parseInt(text))*100/100);
            $(this).parent().next().text(money);
        })

        //最小数量的值应该小于请购数量
        $(".minAmount").on('change',function(){
            var valM=$(this).val();
            var valA= $(this).parent().prev().prev().children("input").val();
            if(valM>valA){
                layer.alert('最小数量应小于请购数量，请重新输入',{icon:3})
            }
        });

    })
</script>
<%- include('../layouts/foot'); %>