<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a href="/purchase" class="back-url">采购管理</a></li>
            <li>采购列表</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">采购单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入采购单号" type="text" value="<%= DWYRequest.query.purcNo %>" name="purcNo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">请购单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入请购单号" type="text" value="<%= DWYRequest.query.reqId %>" name="reqId">
                                        </div>
                                    </div>
                                </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-4 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if (DWY_Helper.hasPermission(Permission.request.queryAll.id, permission)|| DWY_Helper.hasPermission(Permission.request.queryOrganization.id, permission)){ %>
                                    <a class="btn btn-primary" href="/purchase?stcode=30">
                                        已审核请购列表
                                    </a>
                                    <% } %>
                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>
                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                </div>
                                <%}%>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="slideToggle display-none">
                                <%}%>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">采购状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="stcode">
                                                <option value="">- 请选择 -</option>
                                                <option value="10" <%= (DWYRequest.query.stcode == 10 )?"selected":"" %> >未提交</option>
                                                <option value="30" <%= (DWYRequest.query.stcode == 30 )?"selected":"" %> >已审核</option>
                                                <option value="50" <%= (DWYRequest.query.stcode == 50 )?"selected":"" %> >已提交</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <% if (DWY_Helper.hasPermission(Permission.purchase.queryAll.id, permission) ){ %>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">机构:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="bid">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(factoryLists)){
                                                    factoryLists.forEach(function (element, index) { %>
                                                    <option value="<%= element.id %>" <%= (DWYRequest.query.bid == element.id)?"selected":"" %>><%= element.name %></option>
                                                    <%})}%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">供应商:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="suppId">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(suppLists)){
                                                    suppLists.forEach(function (element, index) { %>
                                                    <option value="<%= element.id %>" <%= (DWYRequest.query.suppId == element.id)?"selected":"" %>><%= element.name %></option>
                                                    <%})}%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">物料编号:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" placeholder="请输入物料编号" type="text" value="<%= DWYRequest.query.mateId %>" name="mateId">
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">付款状态:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="payCode">
                                                    <option value="">- 请选择 -</option>
                                                    <option value="10" <%= (DWYRequest.query.payCode == 10 )?"selected":"" %> >未付预款</option>
                                                    <option value="20" <%= (DWYRequest.query.payCode == 20 )?"selected":"" %> >已付预款</option>
                                                    <option value="30" <%= (DWYRequest.query.payCode == 30 )?"selected":"" %> >已付全款</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">起止日期:</label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.startDate%>"
                                                       name="startDate">
                                            </div>
                                            <label class="from-to  control-label "> 至 </label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.endDate%>"
                                                       name="endDate">
                                            </div>
                                        </div>
                                    </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                </div>
                                <%}%>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if (DWY_Helper.hasPermission(Permission.request.queryAll.id, permission)|| DWY_Helper.hasPermission(Permission.request.queryOrganization.id, permission)){ %>
                                    <a class="btn btn-primary" href="/purchase?stcode=30">
                                        已审核请购列表
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                            <%}%>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>
                        采购列表
                    </legend>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-4">
                        <% if (DWY_Helper.hasPermission(Permission.purchase.merge.id, permission)){ %>
                        <button class="btn btn-primary" id="purchaseMerge">合并</button>
                        <% } %>
                        <input type="hidden" class="" id="checkedValue" />
                        <% if (DWY_Helper.hasPermission(Permission.purchase.check.id, permission)){ %>
                        <button class="btn btn-primary" id="purchaseReview">审核</button>
                        <button class="btn btn-primary" id="purchaseRecall">撤回</button>
                        <% } %>
                        <% if (DWY_Helper.hasPermission(Permission.purchase.commit.id, permission)){ %>
                        <button class="btn btn-primary" id="purchaseSubmit">提交</button>
                        <% } %>
                        <% if (DWY_Helper.hasPermission(Permission.purchase.delete.id, permission)){ %>
                        <button class="btn btn-danger" id="DelOrder">删除</button>
                        <% } %>
                        <% if (DWY_Helper.hasPermission(Permission.purchase.createP.id, permission)){ %>
                        <a href="/purchase/create?mateType=10" class="btn btn-primary">新建采购单</a>
                        <% } %>
                        <a class="btn btn-primary" id="print" href="">打印</a>
                        <!--<button class="btn btn-primary">打印</button>-->
                    </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <!--<label class="checkbox-inline">-->
                                        <!--<input type="checkbox" class="checkbox"-->
                                               <!--id="checkAll"  />-->
                                        <!--<span>序号</span>-->
                                    <!--</label>-->序号
                                </th>
                                <th>采购单编号</th>
                                <th>供应商编号</th>
                                <th>供应商名称</th>
                                <th>采购数量</th>
                                <th>入库数量</th>
                                <th>采购类型</th>
                                <th>预计交付时间</th>
                                <th>创建时间</th>
                                <th>采购人</th>
                                <th>审核人</th>
                                <th>采购状态</th>
                                <th>付款状态</th>
                                <!--<th>操作</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(purchasesLists.result)){
                                purchasesLists.result.forEach(function (element, index) { %>
                            <tr class="">
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox validate[minCheckbox[1]]" name="roles" value="<%= element.id %>" stcode="<%= element.stcode %>" isdirect="<%= element.isDirect %>" gid="<%= element.empId %>" isimprest="<%= element.isImprest %>" suppid="<%= element.suppId %>" />
                                        <span><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></span>
                                    </label>
                                </td>
                                <td><a href="/purchase/orderDetail/<%= element.id %>"><%= element.id %></a></td>
                                <td><a href="/supplier/detail/<%= element.suppId %>"><%= element.suppId %></a></td>
                                <td><%= element.suppName %></td>
                                <td><%= element.purcAmount %></td>
                                <td><%= element.inAmount %></td>
                                <td><% if(element.type==10){ %>
                                    普通请购
                                    <% }%>
                                    <% if(element.type==30){ %>
                                    外协请购
                                    <a class="label label-success margin-left-10" href="/purchase/export?purcId=<%= element.id %>">导出</a>
                                    <a class="label label-primary" href="/system/purcPackagelist/<%= element.id %>">包装</a>
                                    <% }%></td>
                                <td><%= DWY_Helper.getLocalDate(element.deliveryDate) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= element.empName %></td>
                                <td><%= element.reviewName %></td>
                                <td><%= element.stcodeName %></td>
                                <td>
                                    <% if(element.payCode==10){ %>
                                        未付预款
                                    <%}else if(element.payCode==20){%>
                                        已付预款
                                    <%}else{%>
                                        已付全款
                                    <%}%>
                                </td>
                            </tr>
                            <%  })
                            }else{ %>
                            <td colspan="13" class="text-align-center">暂无结果</td>
                            <%  }%>
                            <input type="hidden" name="gidHid" value="<%= user.id %>" />
                            <input type="hidden" name="hids"  />
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <%- include('../layouts/footer'); %>
    <%- include('../layouts/footer_common_script'); %>
    <script type="text/javascript">
        $(document).ready(function () {
            pageSetUp();
            $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery

            var checkedValue = $('#checkedValue');
            var tid;
//            $("#checkAll").change(function () {
//                if($(this).is(":checked")){
//                    $(":checkbox:not(:disabled)").prop('checked',true);
//                    $("input[name='roles']:checked").each(function (i) {
//                        checkedValue.addClass(this.value+',');
//                    });
//                }else{
//                    $(":checkbox").prop('checked',false);
//                    checkedValue.removeClass();
//                }
//            })
            $("input[name='roles']").change(function () {
                var vids='',
                    isImprest='',
                    isDirect='',
                    gid='';
                $('input[name=roles]').each(function(){
                    if($(this).is(':checked')){
                        vids += $(this).attr('stcode') + ',';
                        isImprest += $(this).attr('isimprest') + ',';
                        isDirect += $(this).attr('isdirect') + ',';
                        gid += $(this).attr('gid') + ',';
                    }
                })
                $("input[name=hids]").attr("stcodestr",vids);
                $("input[name=hids]").attr("isimprests",isImprest);
                $("input[name=hids]").attr("isdirect",isDirect);
                $("input[name=hids]").attr("gidvali",gid);

                if($(this).is(':checked')){
                    checkedValue.addClass(this.value+',');
                }else{
                    checkedValue.removeClass(this.value+',');
                }
            });
            //合并采购单
            $("#purchaseMerge").click(function(){
                var stcodeStr = $("input[name=hids]").attr("stcodestr");
               var lenCheck =  $('input[name=roles]:checked').length;
                if(lenCheck<=1){
                    layer.alert('请至少选择两条合并！', {icon: 3})
                    return false;
                }
                var val1 = $("input[name=roles]:checked:first-child").attr("suppid");
                $("input[name=roles]:checked:not(:first)").each(function(){
                    var val2 = $(this).attr("suppid");
                    if(val1 != val2){
                        layer.alert('供应商不同无法合并！', {icon: 3});
                        throw("供应商不同无法合并！");
                    }
                })
                if(stcodeStr.indexOf('30')>-1){
                    layer.alert('仅能合并未审核订单！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('50')>-1){
                    layer.alert('仅能合并未审核订单！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('70')>-1){
                    layer.alert('仅能合并未审核订单！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('90')>-1){
                    layer.alert('仅能合并未审核订单！', {icon: 3})
                    return false;
                }
                var tid = checkedValue.attr('class').replace(/[ ]/g,"");
                tid = tid.substring(0,tid.length-1);
                doAjax('确认合并?','/purchases/merge/'+tid);
            })
            //审核采购单
            $("#purchaseReview").click(function(){
                var stcodeStr = $("input[name=hids]").attr("stcodestr");
                if(checkedValue.attr('class')==null||checkedValue.attr('class')=='') {
                    layer.alert('请选择采购单！', {icon: 3});
                    return false;
                }
                if(stcodeStr.indexOf('30')>-1){
                    layer.alert('该订单已审核！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('50')>-1){
                    layer.alert('该订单已提交！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('70')>-1){
                    layer.alert('该订单待审核！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('90')>-1){
                    layer.alert('该订单已入库！', {icon: 3})
                    return false;
                }
                var tid = checkedValue.attr('class').replace(/[ ]/g,"");
                tid = tid.substring(0,tid.length-1);
                doAjax('确认审核?',  '/purchases/review/'+tid);
            })

            //撤回采购单
            $("#purchaseRecall").click(function(){
                if(checkedValue.attr('class')==null||checkedValue.attr('class')=='') {
                    layer.alert('请选择采购单！', {icon: 3});
                    return false;
                }
                var stcodeStr = $("input[name=hids]").attr("stcodestr");
                if(stcodeStr.indexOf('10')>-1 || stcodeStr.indexOf('50')>-1 || stcodeStr.indexOf('70')>-1 || stcodeStr.indexOf('90')>-1){
                    layer.alert('仅已审核采购单可撤回！', {icon: 3})
                    return false;
                }
                var tid = checkedValue.attr('class').replace(/[ ]/g,"");
                tid = tid.substring(0,tid.length-1);
                doAjax('确认撤回?',  '/purchases/recall/'+tid);
            })

            //提交采购单
            $("#purchaseSubmit").click(function(){
                var stcodeStr = $("input[name=hids]").attr("stcodeStr"),
                    isImprests = $("input[name=hids]").attr("isImprests");
                if(checkedValue.attr('class')==null||checkedValue.attr('class')=='') {
                    layer.alert('请选择采购单！', {icon: 3});
                    return false;
                }
                if(stcodeStr.indexOf('10')>-1){
                    layer.alert('请先审核！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('50')>-1){
                    layer.alert('该订单已提交！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('70')>-1){
                    layer.alert('该订单待审核！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('90')>-1){
                    layer.alert('该订单已入库！', {icon: 3})
                    return false;
                }
                if(isImprests.indexOf('1')>-1){
                    layer.alert('预付款未付清！', {icon: 3})
                    return false;
                }
                var tid = checkedValue.attr('class').replace(/[ ]/g,"");
                tid = tid.substring(0,tid.length-1);
                doAjax('确认提交?',  '/purchases/submit/'+tid);
            })
            //删除采购单
            $("#DelOrder").click(function(){
                var stcodeStr = $("input[name=hids]").attr("stcodestr"),
                    isdirect = $("input[name=hids]").attr("isdirect"),
                    gidVali = $("input[name=hids]").attr("gidvali");
                if(checkedValue.attr('class')==null||checkedValue.attr('class')=='') {
                    layer.alert('请选择采购单！', {icon: 3});
                    return false;
                }
                var val= $("input[name=gidHid]").val();
                if(stcodeStr.indexOf('30')>-1 || stcodeStr.indexOf('50')>-1 || stcodeStr.indexOf('70')>-1 || stcodeStr.indexOf('90')>-1){
                    layer.alert('仅能删除未审核采购单！', {icon: 3})
                    return false;
                }
                if(isdirect.indexOf('0')>-1){
                    layer.alert('已完成请购流程的采购单无法删除！', {icon: 3})
                    return false;
                }
                if(gidVali.indexOf(val)==-1){
                    layer.alert('仅能删除自己创建的采购单！', {icon: 3})
                    return false;
                }
                var tid = checkedValue.attr('class').replace(/[ ]/g,"");
                tid = tid.substring(0,tid.length-1);
                doAjax('确认删除?', '/purchases/del/'+tid);
            })


            $("input[name='roles']").change(function () {
                var purcIds = checkedValue.attr('class').replace(/[ ]/g,"");
                purcIds = purcIds.substring(0,purcIds.length-1);
                $("#print").attr("href","/purchases/print/"+purcIds);
            })
            $("#print").click(function(){
                if(checkedValue.attr('class')==null||checkedValue.attr('class')=='') {
                    layer.alert('请选择采购单！', {icon: 3});
                    return false;
                }
            })


            var doAjax = function (text,url) {
                layer.confirm(text,{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: url,
                            method: 'post',
                            data:{
                                tid:tid,
                            },
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)});
            };

        })
    </script>
<%- include('../layouts/foot'); %>