<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>采购列表</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">采购单号:</label>
                                        <div class="col-xs-9">
                                            <input class="form-control" placeholder="请输入订单号" type="text" value="<%= DWYRequest.query.purcNo %>" name="purcNo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">采购状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="stcode">
                                                <option value="">- 请选择 -</option>
                                                <option value="10" <%= (DWYRequest.query.stcode == 10 )?"selected":"" %> >未提交</option>
                                                <option value="30" <%= (DWYRequest.query.stcode == 30 )?"selected":"" %> >已审核</option>
                                                <option value="50" <%= (DWYRequest.query.stcode == 50 )?"selected":"" %> >已提交</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">起止日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.startDate%>"
                                                   name="startDate">
                                        </div>
                                        <label class="from-to  control-label "> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.endDate%>"
                                                   name="endDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if (DWY_Helper.hasPermission(Permission.purchase.queryAll.id, permission) ){ %>
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">机构:</label>
                                        <div class="col-xs-9">
                                            <select class="form-control" name="bid">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(factoryLists)){
                                                factoryLists.forEach(function (element, index) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.bid == element.id)?"selected":"" %>><%= element.name %></option>
                                                <%})}%>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if (DWY_Helper.hasPermission(Permission.request.queryAll.id, permission)|| DWY_Helper.hasPermission(Permission.request.queryOrganization.id, permission)){ %>
                                    <a class="btn btn-primary" href="/purchase?stcode=30">
                                        已审核请购列表
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>
                        采购列表
                    </legend>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-3">
                        <% if (DWY_Helper.hasPermission(Permission.purchase.merge.id, permission)){ %>
                        <button class="btn btn-primary" id="purchaseMerge">合并</button>
                        <% } %>
                        <input type="hidden" class="" id="checkedValue" />
                        <% if (DWY_Helper.hasPermission(Permission.purchase.check.id, permission)){ %>
                        <button class="btn btn-primary" id="purchaseReview">审核</button>
                        <% } %>
                        <% if (DWY_Helper.hasPermission(Permission.purchase.commit.id, permission)){ %>
                        <button class="btn btn-primary" id="purchaseSubmit">提交</button>
                        <% } %>
                        <button class="btn btn-primary">打印</button>
                    </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"
                                               id="checkAll"  />
                                        <span>序号</span>
                                    </label>
                                </th>
                                <th>采购单编号</th>
                                <th>供应商编号</th>
                                <th>供应商名称</th>
                                <th>预计交付时间</th>
                                <th>创建时间</th>
                                <th>采购状态</th>
                                <!--<th>操作</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(purchasesLists.result)){
                                purchasesLists.result.forEach(function (element, index) { %>
                            <tr class="">
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox" name="roles" value="<%= element.id %>" stcode="<%= element.stcode %>" />
                                        <span><%= index+1 %></span>
                                    </label>
                                </td>
                                <td><a href="/purchase/orderDetail/<%= element.id %>"><%= element.id %></a></td>
                                <td><a href="/supplier/detail/<%= element.suppId %>"><%= element.suppId %></a></td>
                                <td><%= element.suppName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.deliveryDate) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= element.stcodeName %></td>
                            </tr>
                            <%  })
                            }else{ %>
                            <td colspan="7" class="text-align-center">暂无结果</td>
                            <%  }%>
                            <input type="hidden" name="stcodeStr" />
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <%- include('../layouts/footer'); %>
    <%- include('../layouts/footer_common_script'); %>
    <script type="text/javascript">
        $(document).ready(function () {
            pageSetUp();
            $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
            var checkedValue = $('#checkedValue');
            $("#checkAll").change(function () {
                if($(this).is(":checked")){
                    $(":checkbox").prop('checked',true);
                    $("input[name='roles']:checked").each(function (i) {
                        checkedValue.addClass(this.value+',');
                    });
                }else{
                    $(":checkbox").prop('checked',false);
                    checkedValue.removeClass();
                }
            })
            $("input[name='roles']").change(function () {
                var vids='';
                $('input[name=roles]:checked').each(function(){
                    vids += $(this).attr('stcode') + ',';
                    if($(this).is(':checked')){
                        $("input[name='stcodeStr']").attr('stcode',vids);
                    }else{
                        $("input[name='stcodeStr']").attr('stcode','');
                    }
                    stcodeStr=$("input[name='stcodeStr']").attr('stcode');
                })
                if($(this).is(':checked')){
                    checkedValue.addClass(this.value+',');
                }else{
                    checkedValue.removeClass(this.value+',');
                }
            });
            //合并采购单
            $("#purchaseMerge").click(function(){
                if(checkedValue.attr('class')==null||checkedValue.attr('class')=='') {
                    layer.alert('请选择！', {icon: 3});
                    return false;
                }
               var lenCheck =  $('input[name=roles]:checked').length;

                if(lenCheck<=1){
                    layer.alert('请至少选择两条合并！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('30')>-1){
                    layer.alert('已审核订单无法合并！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('50')>-1){
                    layer.alert('已提交订单无法合并！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('70')>-1){
                    layer.alert('已入库订单无法合并！', {icon: 3})
                    return false;
                }
                var tid = checkedValue.attr('class').replace(/[ ]/g,"");
                tid = tid.substring(0,tid.length-1);
                layer.confirm('确认合并?',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/purchases/merge/'+tid,
                            method: 'post',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)})
            })

            $("#purchaseReview").click(function(){
                if(checkedValue.attr('class')==null||checkedValue.attr('class')=='') {
                    layer.alert('请选择！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('30')>-1){
                    layer.alert('该订单已审核！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('50')>-1){
                    layer.alert('该订单已提交！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('70')>-1){
                    layer.alert('该订单已入库！', {icon: 3})
                    return false;
                }
                var tid = checkedValue.attr('class').replace(/[ ]/g,"");
                tid = tid.substring(0,tid.length-1);
                layer.confirm('确认审核?',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/purchases/review/'+tid,
                            method: 'post',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)})
            })
            //提交采购单
            $("#purchaseSubmit").click(function(){
                if(checkedValue.attr('class')==null||checkedValue.attr('class')=='') {
                    layer.alert('请选择！', {icon: 3});
                    return false;
                }
                if(stcodeStr.indexOf('10')>-1){
                    layer.alert('请先审核！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('50')>-1){
                    layer.alert('该订单已提交！', {icon: 3})
                    return false;
                }
                if(stcodeStr.indexOf('70')>-1){
                    layer.alert('该订单已入库！', {icon: 3})
                    return false;
                }
                var tid = checkedValue.attr('class').replace(/[ ]/g,"");
                tid = tid.substring(0,tid.length-1);
                layer.confirm('确认提交?',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/purchases/submit/'+tid,
                            method: 'post',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index);
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)})
            })
        })
    </script>
<%- include('../layouts/foot'); %>