<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>采购管理</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">请购单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入订单号" type="text" value="<%= DWYRequest.query.id %>" name="id">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">请购状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="stcode">
                                                <option value="">- 请选择 -</option>
                                                <option value="10" <%= (DWYRequest.query.stcode == 10 )?"selected":"" %>>请购中</option>
                                                <option value="30" <%= (DWYRequest.query.stcode == 30 )?"selected":"" %>>已审核</option>
                                                <option value="50" <%= (DWYRequest.query.stcode == 50 )?"selected":"" %>>已生成</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-4 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if (DWY_Helper.hasPermission(Permission.purchase.queryAll.id, permission)|| DWY_Helper.hasPermission(Permission.purchase.queryOrganization.id, permission) || DWY_Helper.hasPermission(Permission.purchase.query.id, permission) ){ %>
                                    <a class="btn btn-primary " href="/purchase/detail">
                                        查看采购列表
                                    </a>
                                    <% } %>
                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>
                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                </div>
                                <%}%>
                                <% if (DWY_Helper.hasPermission(Permission.request.queryAll.id, permission) ){ %>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="slideToggle display-none">
                                <%}%>
                                    <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="col-xs-3 control-label">机构:</label>
                                                <div class="col-xs-8">
                                                    <select class="form-control" name="bid">
                                                        <option value="">- 请选择 -</option>
                                                        <%
                                                        if(DWY_Helper.isCanLoop(factoryLists)){
                                                        factoryLists.forEach(function (element, index) { %>
                                                        <option value="<%= element.id %>" <%= (DWYRequest.query.bid == element.id)?"selected":"" %>><%= element.name %></option>
                                                        <%})}%>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">供应商:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="suppId">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(suppLists)){
                                                    suppLists.forEach(function (element, index) { %>
                                                    <option value="<%= element.id %>" <%= (DWYRequest.query.suppId == element.id)?"selected":"" %>><%= element.name %></option>
                                                    <%})}%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">物料编号:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" placeholder="请输入物料编号" type="text" value="<%= DWYRequest.query.mateId %>" name="mateId">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">起止日期:</label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.startDate%>"
                                                       name="startDate">
                                            </div>
                                            <label class="from-to control-label "> 至 </label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text" value="<%= DWYRequest.query.endDate%>"
                                                       name="endDate">
                                            </div>
                                        </div>
                                    </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                </div>
                                <%}%>
                                <% } %>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if (DWY_Helper.hasPermission(Permission.purchase.queryAll.id, permission)|| DWY_Helper.hasPermission(Permission.purchase.queryOrganization.id, permission) || DWY_Helper.hasPermission(Permission.purchase.query.id, permission) ){ %>
                                    <a class="btn btn-primary " href="/purchase/detail">
                                        查看采购列表
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                            <%}%>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well dis-flex">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <legend>
                        已请购列表
                        <% if (DWY_Helper.hasPermission(Permission.request.create.id, permission) ){ %>
                        <a class="label label-primary" href="/purchase/applyCreat?mateType=10">新建请购单</a>
                        <% } %>
                        <% if (DWY_Helper.hasPermission(Permission.request.delete.id, permission)){ %>
                        <button class="label label-danger" id="DelOrder">删除</button>
                        <%}%>
                        <input type="hidden" id="checkedValue"></input>
                    </legend>
                </div>
            </div>
            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>请购单号</th>
                                <th>请购人</th>
                                <th>请购人部门</th>
                                <th>请购时间</th>
                                <th>请购类型</th>
                                <th>批次号</th>
                                <th>审核人</th>
                                <th>审核人部门</th>
                                <th>审核时间</th>
                                <th>生成时间</th>
                                <th>请购状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(purchasesList.result)){
                            purchasesList.result.forEach(function (element, index) { %>
                            <tr>
                                <td>
                                    <label class="checkbox-inline">
                                        <%
                                        if(element.stcode<30 && element.addEmp == user.id){%>
                                        <input type="checkbox" class="checkbox" name="roles" value="<%= element.id %>" stcode="<%= element.stcode %>" />
                                        <% }else{%>
                                        <input type="checkbox" class="checkbox" name="roles" value="<%= element.id %>" stcode="<%= element.stcode %>" disabled="disabled" />
                                        <%}%>
                                        <span><%= index+1 %></span>
                                    </label>
                                </td>
                                <td><a href="/purchase/applyDetail/<%= element.id %>" class="purId"><%= element.id %></a></td>
                                <td><%= element.addEmpName %></td>
                                <td><%= element.addDeptName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= (element.reqType==10)?'普通请购':'外协请购' %></td>
                                <td><%= element.batchNumber %></td>
                                <td><%= element.reviewEmpName %></td>
                                <td><%= element.reviewDeptName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.reviewTime) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.buildTime) %></td>
                                <td>
                                    <% if(element.stcode == 30 ){ %>
                                    <% if (DWY_Helper.hasPermission(Permission.purchase.create.id, permission) ){ %>
                                    <button class="label label-primary PurchaseOrder" data-purchase-id="<%= element.id %>">生成采购单</button>
                                    <% } %>
                                    <% } %>
                                    <% if(element.stcode == 10 ){ %>
                                    <% if (DWY_Helper.hasPermission(Permission.request.check.id, permission) ){ %>
                                    <% if(element.reqType==30){%>
                                        <button class="label label-primary purchaseReview" data-stcode="<%= element.stcode %>" data-purchase-id="<%= element.id %>" <%= (element.isAssign==1)?'disabled=disabled style=background-color:#ccc':'' %> >审核</button>
                                    <% }else{ %>
                                        <button class="label label-primary purchaseReview" data-stcode="<%= element.stcode %>" data-purchase-id="<%= element.id %>" >审核</button>
                                    <% } %>
                                    <% } %>
                                    <% } %>
                                    <% if(element.stcode == 50 ){ %>
                                    <button class="label label-success">已生成</button>
                                    <% } %>
                                </td>
                            </tr>
                            <%  })
                            }else{ %>
                            <td colspan="12" class="text-align-center">暂无结果</td>
                            <%  }%>
                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
        var checkedValue = $('#checkedValue');
        var tid;
        $("input[name='roles']").change(function () {
            if($(this).is(':checked')){
                checkedValue.addClass(this.value+',');
            }else{
                checkedValue.removeClass(this.value+',');
            }
        });
        $("#DelOrder").click(function(){
            var atClass = checkedValue.attr('class');
            if(atClass==null || atClass=='' || atClass==undefined) {
                layer.alert('请选择！', {icon: 3});
                return false;
            }
            var tid = checkedValue.attr('class').replace(/[ ]/g,"");
            tid = tid.substring(0,tid.length-1);
            doAjax('确认删除?','/applyPurchases/del/'+tid);
        })
        $(".PurchaseOrder").click(function(){
            var tid=$(this).data('purchaseId');
            doAjax('确认生成采购单?','/purchases/Order/'+tid);
        })
        //请购单审核
        $(".purchaseReview").click(function(){
            var tid=$(this).data('purchaseId');
            doAjax('确认审核?','/purchase/applyReview/'+tid);
        })

        var doAjax = function (text,url) {
            layer.confirm(text,{icon: 3, title:'提示'},
                function(index){
                    $.ajax({
                        url: url,
                        method: 'post',
                        data:{
                            tid:tid,
                        },
                        success: function (data) {
                                successLayout.reload();
                        },
                        error: function (response) {
                            layer.close(index)
                            errorLayout.normal(response);
                        }
                    });
                },
                function(index){layer.close(index)});
        };
    })
</script>
<%- include('../layouts/foot'); %>

