<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>请购列表</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">请购单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入订单号" type="text" value="<%= DWYRequest.query.id %>" name="id">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">请购状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="stcode">
                                                <option value="">- 请选择 -</option>
                                                <option value="10" <%= (DWYRequest.query.stcode == 10 )?"selected":"" %>>请购中</option>
                                                <option value="30" <%= (DWYRequest.query.stcode == 30 )?"selected":"" %>>已审核</option>
                                                <option value="50" <%= (DWYRequest.query.stcode == 50 )?"selected":"" %>>已生成</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">起止日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker" placeholder="" type="text" value="<%= DWYRequest.query.startDate%>"
                                                   name="startDate">
                                        </div>
                                        <label class="from-to control-label "> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker" placeholder="" type="text" value="<%= DWYRequest.query.endDate%>"
                                                   name="endDate">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% if (DWY_Helper.hasPermission(Permission.request.queryAll.id, permission) ){ %>
                            <div class="col-xs-12">
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">机构:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="bid">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(factoryLists)){
                                                    factoryLists.forEach(function (element, index) { %>
                                                    <option value="<%= element.id %>" <%= (DWYRequest.query.bid == element.id)?"selected":"" %>><%= element.name %></option>
                                                    <%})}%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <% } %>

                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if (DWY_Helper.hasPermission(Permission.purchase.queryAll.id, permission)|| DWY_Helper.hasPermission(Permission.purchase.queryDept.id, permission) || DWY_Helper.hasPermission(Permission.purchase.query.id, permission) ){ %>
                                    <a class="btn btn-primary " href="/purchase/detail">
                                        查看采购列表
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well dis-flex">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <legend>
                        已请购列表
                        <% if (DWY_Helper.hasPermission(Permission.request.create.id, permission) ){ %>
                        <a class="label label-primary" href="/purchase/applyCreat">新建请购单</a>
                        <% } %>
                    </legend>
                </div>
            </div>
            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll dis-flex">
                            <thead>
                            <tr>
                                <th width="50px">序号</th>
                                <th>请购单号</th>
                                <th>请购人</th>
                                <th>请购人部门</th>
                                <th>请购时间</th>
                                <th>审核人</th>
                                <th>审核人部门</th>
                                <th>审核时间</th>
                                <th>生成时间</th>
                                <th>请购状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(purchasesList.result)){
                            purchasesList.result.forEach(function (element, index) { %>
                            <tr>
                                <td width="50px"><%= index+1 %></td>
                                <td><a href="/purchase/applyDetail/<%= element.id %>" class="purId"><%= element.id %></a></td>
                                <td><%= element.addEmpName %></td>
                                <td><%= element.addDeptName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= element.reviewEmpName %></td>
                                <td><%= element.reviewDeptName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.reviewTime) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.buildTime) %></td>
                                <td>
                                    <% if(element.stcode == 30 ){ %>
                                    <button class="label label-primary PurchaseOrder" data-purchase-id="<%= element.id %>">生成采购单</button>
                                    <% } %>
                                    <% if(element.stcode == 10 ){ %>
                                    <button class="label label-primary purchaseReview" data-stcode="<%= element.stcode %>" data-purchase-id="<%= element.id %>">审核</button>
                                    <% } %>
                                    <% if(element.stcode == 50 ){ %>
                                    <button class="label label-success">已生成</button>
                                    <% } %>
                                </td>
                            </tr>
                            <%  })
                            }else{ %>
                            <td colspan="10" class="text-align-center">暂无结果</td>
                            <%  }%>
                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_time_picker); // jQuery
        $(".PurchaseOrder").click(function(){
            var tid=$(this).data('purchaseId');
            layer.confirm('确认生成采购单?',{icon: 3, title:'提示'},
                function(index){
                    $.ajax({
                        url: '/purchases/Order/'+tid,
                        method: 'post',
                        success: function (data) {
                            successLayout.hrefTo("/purchase");
                        },
                        error: function (response) {
                            layer.close(index);
                            errorLayout.normal(response);
                        }
                    });
                },
                function(index){layer.close(index)})
        })
        //请购单审核
        $(".purchaseReview").click(function(){
            var tid=$(this).data('purchaseId');
            layer.confirm('确认审核?',{icon: 3, title:'提示'},
                function(index){
                    $.ajax({
                        url: '/purchase/applyReview/'+tid,
                        method: 'post',
                        success: function (data) {
                            successLayout.reload();
                        },
                        error: function (response) {
                            layer.close(index)
                            errorLayout.normal(response);
                        }
                    });
                },
                function(index){layer.close(index)})
        })


    })
</script>
<%- include('../layouts/foot'); %>

