<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>请购信息</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">请购单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入订单号" type="text" value="<%= DWYRequest.query.id %>" name="id">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">建单日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker" placeholder="" type="text" value="<%= DWYRequest.query.startDate%>"
                                                   name="startDate">
                                        </div>
                                        <label class="from-to control-label "> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker" placeholder="" type="text" value="<%= DWYRequest.query.endDate%>"
                                                   name="endDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <legend>
                        已请购列表
                        <a class="label label-primary" href="/purchase/applyCreat">新建请购单</a>
                    </legend>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>请购单号</th>
                                <th>请购人</th>
                                <th>请购人部门</th>
                                <th>请购时间</th>
                                <th>审核人</th>
                                <th>审核人部门</th>
                                <th>审核时间</th>
                                <th>生成时间</th>
                                <th>请购状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(purchasesList.totalItems != 0  ){
                            purchasesList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><a href="/purchase/applyDetail/<%= element.id %>"><%= element.id %></a></td>
                                <td><%= element.addEmpName %></td>
                                <td><%= element.addDeptName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= element.reviewEmpName %></td>
                                <td><%= element.reviewDeptName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.reviewTime) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.buildTime) %></td>
                                <td><%= element.stcodeName %></td>
                            </tr>
                            <%  })
                            }else{ %>
                            <td colspan="6" class="text-align-center">暂无结果</td>
                            <%  }%>
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_time_picker); // jQuery
    })
</script>
<%- include('../layouts/foot'); %>

