<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/purchase/detail">采购列表</a></li>
            <li>采购单详情</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>
                        采购单信息
                    </legend>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>采购单编号</td>
                                <td colspan=""><%= purchaseOrderList.id  %></td>
                                <td>预计交付时间</td>
                                <td colspan=""><%= DWY_Helper.getLocalDate(purchaseOrderList.deliveryDate) %></td>

                            </tr>
                            <tr>
                                <td>供应商名称</td>
                                <td><%= purchaseOrderList.suppName %></td>
                                <td>采购状态</td>
                                <td><%= purchaseOrderList.stcodeName %></td>
                            </tr>
                            <tr>
                                <td>创建时间</td>
                                <td colspan="3"><%= DWY_Helper.getLocalDate(purchaseOrderList.addTime) %></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-12">
                            <legend>
                                采购清单
                            </legend>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>请购单号</th>
                                <th>采购数量</th>
                                <th>入库数量</th>
                                <th>百分比</th>
                                <th>最小数量</th>
                                <th>物料名称</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(purchaseOrderList.reqMaters)){
                            purchaseOrderList.reqMaters.forEach(function (element, index) {
                                var count = (element.amount-element.inAmount)/element.amount*100;
                            %>
                            <tr class="purList">
                                <td>
                                    <label class="checkbox-inline">
                                        <span><%= index+1 %></span>
                                    </label>
                                </td>
                                <td>
                                    <a href="/purchase/applyDetail/<%= element.reqId %>">
                                        <%if(element.reqId==-1){%>

                                        <%}else{%>
                                        <%= element.reqId %>
                                        <%}%>
                                    </a>
                                </td>
                                <td><%= element.amount %></td>
                                <td><%= element.inAmount %></td>
                                <td class="count<%= index %>">
                                    <%
                                    if(count<=0){%>
                                        <span class="btn-success">0</span>
                                    <%}else if(0<count && count<35){%>
                                        <span class="btn-success"><%= count %></span>
                                    <%}else if(35 <= count && count<70){%>
                                        <span style="background:#fdcc9c"><%= count %></span>
                                    <%}else if(70 <= count && count<=100){%>
                                        <span class="btn-danger"><%= count %></span>
                                    <%}%>
                                </td>
                                <td><%= element.minAmount %></td>
                                <td><%= element.mateName %></td>
                            </tr>
                            <% }) }%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
        var length = $(".purList").length;
        for(var i=0;i<length;i++){
            var count = $(".count"+i).find("span").html();
            var result = Math.round(count*100)/100;
            $(".count"+i).find("span").html(result+'%')


        }
    })
</script>
<%- include('../layouts/foot'); %>