<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/purchase/detail">采购列表</a></li>
            <li>采购单详情</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>
                        采购单信息
                    </legend>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>采购单编号</td>
                                <td colspan=""><%= purchaseOrderList.id  %></td>
                                <td>预计交付时间</td>
                                <td colspan=""><%= DWY_Helper.getLocalDate(purchaseOrderList.deliveryDate) %></td>

                            </tr>
                            <tr>
                                <td>供应商名称</td>
                                <td><%= purchaseOrderList.suppName %></td>
                                <td>采购状态</td>
                                <td><%= purchaseOrderList.stcodeName %></td>
                            </tr>
                            <tr>
                                <td>创建时间</td>
                                <td colspan="3"><%= DWY_Helper.getLocalDate(purchaseOrderList.addTime) %></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-12">
                            <legend>
                                采购清单
                            </legend>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>请购单号</th>
                                <th>物料名称</th>
                                <th>采购数量</th>
                                <th>入库数量</th>
                                <th>百分比</th>
                                <th>最小数量</th>
                                <% if (DWY_Helper.hasPermission(Permission.supplier.pay.id, permission) ){ %>
                                <th>操作</th>
                                <% } %>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(purchaseOrderList.reqMaters)){
                            purchaseOrderList.reqMaters.forEach(function (element, index) {
                                var count = (element.amount-element.inAmount)/element.amount*100;
                            %>
                            <tr class="purList">
                                <td>
                                    <label class="checkbox-inline">
                                        <span><%= index+1 %></span>
                                    </label>
                                </td>
                                <td class="reqListId display-none"><input value="<%= element.id %>" /></td>
                                <td class="deposit display-none"><input value="<%= element.deposit %>" /></td>
                                <td class="balance display-none"><input value="<%= element.balance %>" /></td>
                                <td>
                                    <a href="/purchase/applyDetail/<%= element.reqId %>">
                                        <%if(element.reqId==-1){%>

                                        <%}else{%>
                                        <%= element.reqId %>
                                        <%}%>
                                    </a>
                                </td>
                                <td><%= element.mateName %></td>
                                <td><%= element.amount %></td>
                                <td><%= element.inAmount %></td>
                                <td class="count<%= index %>">
                                    <%
                                    if(count<=0){%>
                                        <span class="btn-success">0</span>
                                    <%}else if(0<count && count<35){%>
                                        <span class="btn-success"><%= count %></span>
                                    <%}else if(35 <= count && count<70){%>
                                        <span style="background:#fdcc9c"><%= count %></span>
                                    <%}else if(70 <= count && count<=100){%>
                                        <span class="btn-danger"><%= count %></span>
                                    <%}%>
                                </td>
                                <td><%= element.minAmount %></td>
                                <% if (DWY_Helper.hasPermission(Permission.supplier.pay.id, permission) ){ %>
                                <td>
                                    <!--<label class="label label-primary advanceCharge">付款</label>-->
                                    <% if(purchaseOrderList.stcode<50){%>
                                         <%if(element.deposit>0){%>
                                                <%if(element.isDeposit==1){%>
                                                    <label class="label label-success">已预付款</label>
                                                <%}else{%>
                                                    <label class="label label-primary advanceCharge">预付款</label>
                                                <%}%>
                                            <%}else{%>
                                                
                                            <%}%>
                                    <%}else{%>
                                        <%if(element.balance>0){%>
                                            <label class="label label-primary advanceCharge2">付款</label>
                                        <%}else{%>
                                            <label class="label label-success">已付清</label>
                                        <%}%>
                                    <%}%>
                                </td>
                                <input type="hidden" value="<%= purchaseOrderList.stcode %>" name="stcode" />
                                <% } %>
                            </tr>
                            <% }) }%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
        var length = $(".purList").length;
        for(var i=0;i<length;i++){
            var count = $(".count"+i).find("span").html();
            var result = Math.round(count*100)/100;
            $(".count"+i).find("span").html(result+'%')
        }
        var stcode = $("input[name=stcode]").val();
        if(stcode<50){
            $("#advanceChargeForm2 input[name=remaId]").attr('name','');
            $("#advanceChargeForm2 input[name=money]").attr('name','');
            $("#advanceChargeForm2 input[name=path]").attr('name','');
            $("#advanceChargeForm2 input[name=file_name]").attr('name','');
            $("#advanceChargeForm input[name=remaId]").attr('name','remaId');
            $("#advanceChargeForm input[name=money]").attr('name','money');
            $("#advanceChargeForm input[name=path]").attr('name','path');
            $("#advanceChargeForm input[name=file_name]").attr('name','file_name');


        }else{
            $("#advanceChargeForm input[name=remaId]").attr('name','');
            $("#advanceChargeForm input[name=money]").attr('name','');
            $("#advanceChargeForm input[name=path]").attr('name','');
            $("#advanceChargeForm input[name=file_name]").attr('name','');
            $("#advanceChargeForm2 input[name=remaId]").attr('name','remaId');
            $("#advanceChargeForm2 input[name=money]").attr('name','money');
            $("#advanceChargeForm2 input[name=path]").attr('name','path');
            $("#advanceChargeForm2 input[name=file_name]").attr('name','file_name');

        }
        $(".advanceCharge").click(function(){
            var remaId = $(this).parents("td").siblings(".reqListId").find("input").val();
            var deposit = $(this).parents("td").siblings(".deposit").find("input").val();
            $("input[name=money]").val(deposit);
            $("input[name=remaId]").val(remaId);
            layer.open({
                title: false,
                type: 1,
                area: '700px',
                content: $('#advanceChargeForm'),
                cancel: function () {
                    //右上角关闭回调
                },

            });
        })
        $(".advanceCharge2").click(function(){
            var remaId = $(this).parents("td").siblings(".reqListId").find("input").val();
            var balance = $(this).parents("td").siblings(".balance").find("input").val();
            $("input[name=money]").val(balance);
            $("input[name=remaId]").val(remaId);
            layer.open({
                title: false,
                type: 1,
                area: '700px',
                content: $('#advanceChargeForm2'),
                cancel: function () {
                    //右上角关闭回调
                },

            });
        })

    })
</script>
<%- include('../layouts/foot'); %>
<%- include('./purchase_modal'); %>