<ul>
	<% result.forEach(function(element,index){%>

	<tr>
		<td>
			<label class="checkbox-inline">
				<input type="checkbox" class="checkbox"
					   name="checkbox" value="1">
				<span><%= ++index %></span>
			</label>
		</td>
		<td><a href="/materialManage/detail/<%= element.id%>"><%= element.id%></a></td>
		<td><%= element.name%></td>
		<td><a href="name">12345</a></td>
		<td>未定</td>
		<td>其他</td>
		<td>新橱柜18</td>
		<td>未定</td>
		<td>未定</td>
	</tr>

	<li>
		<p><%= element.name%></p>
	</li>
	<%})%>
</ul>