	<%
	if(result&&result.length>0){
	result.forEach(function(element,index){%>
	<tr>
		<td>
			<label class="checkbox-inline">
				<input type="checkbox" class="checkbox"
					   name="checkbox" value="<%= index %>">
				<span><%= ++index %></span>
			</label>
		</td>
		<td><a href="/materialManage/detail/<%= element.id%>"><%= element.id%></a></td>
		<td><%= element.name%></td>
		<td><%= element.catName%></td>
		<td><%= element.unit%></td>
		<td><%= element.stock%></td>
		<td><%= element.warning%></td>
	</tr>

    <%})
	}else{ %>
	<tr>
		<td colspan="7" class="text-align-center">暂无结果</td>
	</tr>
    <%} %>

