<%- include('layouts/head_top'); %>
<%- include('layouts/head_bottom'); %>
<%- include('layouts/header'); %>
<%- include('layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>客户查询</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 客户号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[groupRequired[someName]]" placeholder="请输入客户号" value="<%= DWYRequest.query.cid %>" type="text" name="cid">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 客户手机:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[groupRequired[someName],funcCall[custom_validate_fn.isMobile]]" placeholder="请输入客户手机" value="<%= DWYRequest.query.mobile %>" type="text" name="mobile">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">建客日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker" placeholder="" type="text"  value="<%= DWYRequest.query.startDate %>"
                                                   name="startDate">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker" placeholder="" type="text"  value="<%= DWYRequest.query.endDate %>"
                                                   name="endDate">
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户类型:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="ctype">
                                                <option value="">- 请选择 -</option>
                                                <option value="10" <%= (DWYRequest.query.ctype == 10)?"selected":"" %> >个人客户</option>
                                                <option value="20" <%= (DWYRequest.query.ctype == 20)?"selected":"" %>>企业客户</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>客户列表</h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll dis-flex">
                            <thead>
                            <tr>
                                <th width="4%">序号</th>
                                <th>客户号</th>
                                <th>客户名</th>
                                <th>客户电话</th>
                                <th>流水号</th>
                                <th>流水状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            var num = 1;
                            if(customerList.result && (customerList.result instanceof Array) && customerList.result.length != 0  ){
                            customerList.result.forEach(function (element) { %>
                            <tr>
                                <td width="4%"><%= num %></td>
                                <td><a href="/customer/detail/<%= element.cid %>"><%= element.cid %></a></td>
                                <td><%= element.name %></td>
                                <td><%= element.mobile %></td>
                                <% if (element.custFlowDtos.length) { %>
                                <% var custFlow = element.custFlowDtos[0] %>
                                <td><a href="/taskseq/index/<%= custFlow.lid %>"><%= custFlow.lid %></a></td>
                                <td><%= DWY_Helper.getAssistVal(custFlow.stcode, statusInfo) %></td>
                                <% }  else { %>
                                <td></td>
                                <td></td>
                                <% } %>
                            </tr>
                            <% num++ })
                            }else{ %>
                            <tr>
                                <td colspan="100" align="center">暂无结果</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                        <%- pagination %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('layouts/footer'); %>
<%- include('layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        $("#search-customer").validationEngine();

        pageSetUp();

        var pageFunction = function () {

        }

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery

        pageFunction();

    })

</script>


<%- include('layouts/foot'); %>