<%- include('layouts/head_top'); %>
<%- include('layouts/head_bottom'); %>
<%- include('layouts/header'); %>
<%- include('layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <% if(type=='networkCustomers'){%>
            <li>网络客户查询</li>
            <%}else if(type=='companyCustomers'){%>
            <li>企业客户查询</li>
            <%}else{%>
            <li>客户查询</li>
            <%}%>

        </ol>

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 客户号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入客户号" value="<%= DWYRequest.query.cid %>" type="text" name="cid">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 客户手机:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[funcCall[custom_validate_fn.isMobile]]"
                                                   placeholder="请输入客户手机" value="<%= DWYRequest.query.mobile %>" type="text" name="mobile">
                                        </div>
                                    </div>
                                </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-6 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if(type == 'customers'){ %>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/companyCustomers">
                                        <i class="fa fa-search"></i>
                                        查询企业客户
                                    </a>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/networkCustomers">
                                        <i class="fa fa-search"></i>
                                        查询网络客户
                                    </a>
                                    <% } %>
                                    <% if(type == 'companyCustomers'){ %>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/customers">
                                        <i class="fa fa-search"></i>
                                        查询普通客户
                                    </a>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/networkCustomers">
                                        <i class="fa fa-search"></i>
                                        查询网络客户
                                    </a>
                                    <% } %>

                                    <% if(type == 'networkCustomers'){ %>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/companyCustomers">
                                        <i class="fa fa-search"></i>
                                        查询企业客户
                                    </a>

                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/customers">
                                        <i class="fa fa-search"></i>
                                        查询普通客户
                                    </a>
                                    <% } %>

                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>

                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>

                                </div>
                                <%}%>

                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="slideToggle display-none">
                                    <%}%>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label"> 建档人:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" placeholder="请输入建档人" value="<%= DWYRequest.query.createName %>" type="text" name="createName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label"> 门店:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" placeholder="请输入门店" value="<%= DWYRequest.query.storeName %>" type="text" name="storeName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">客户地址:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" placeholder="请输入客户地址" value="<%= DWYRequest.query.customAddress %>" type="text" name="customAddress">
                                            </div>
                                        </div>
                                    </div>
                                    <% if(type != 'networkCustomers'){ %>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">建客日期:</label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text"  value="<%= DWYRequest.query.startDate %>"
                                                       name="startDate">
                                            </div>
                                            <label class="control-label " style="float: left"> 至 </label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker" placeholder="" type="text"  value="<%= DWYRequest.query.endDate %>"
                                                       name="endDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="col-xs-2 control-label">大区类型:</label>
                                            <div class="col-xs-4">
                                                <select class="form-control" id="areaParentId" name="regionTypeId">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(TypesList[0])){
                                                    TypesList[0].forEach(function (element) { %>
                                                    <option value="<%= element.id %>"  <%= (DWYRequest.query.regionTypeId == element.id )?"selected":"" %>>
                                                        <%= element.name %>
                                                    </option>
                                                    <% })
                                                    }%>

                                                </select>

                                            </div>
                                            <div class="col-xs-4">
                                                <% var desName = DWYRequest.query.regionTypes?(DWYRequest.query.regionTypes).split(','):[] %>
                                                <select multiple style="width:100%" class="select2 select2-offscreen" id="areaChidId" name="regionTypes">
                                                    <% if(DWY_Helper.isCanLoop(TypesList[DWYRequest.query.regionTypeId])){
                                                    TypesList[DWYRequest.query.regionTypeId].forEach(function (element) { %>
                                                    <option value="<%= element.id %>" <%= DWY_Helper.getAssistMultiple( element.id,desName)?"selected":"" %>><%= element.name %></option>
                                                    <%  }) }  %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                                    <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                </div>
                                <%}%>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if(type == 'customers'){ %>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/companyCustomers">
                                        <i class="fa fa-search"></i>
                                        查询企业客户
                                    </a>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/networkCustomers">
                                        <i class="fa fa-search"></i>
                                        查询网络客户
                                    </a>
                                    <% } %>
                                    <% if(type == 'companyCustomers'){ %>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/customers">
                                        <i class="fa fa-search"></i>
                                        查询普通客户
                                    </a>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/networkCustomers">
                                        <i class="fa fa-search"></i>
                                        查询网络客户
                                    </a>
                                    <% } %>

                                    <% if(type == 'networkCustomers'){ %>
                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/companyCustomers">
                                        <i class="fa fa-search"></i>
                                        查询企业客户
                                    </a>

                                    <span style="width: 20px;display: inline-block;"></span>
                                    <a class="btn btn-primary" href="/customers">
                                        <i class="fa fa-search"></i>
                                        查询普通客户
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                            <%}%>




                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>客户列表</h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>客户号</th>
                                <th>客户名</th>
                                <th>客户电话</th>
                                <% if(type == 'companyCustomers'){ %>
                                <th>企业名称</th>
                                <% } %>
                                <% if(type != 'networkCustomers'){ %>
                                <th>流水号</th>
                                <th>流水状态</th>
                                <%}%>
                                <% if(type == 'networkCustomers'){ %>
                                <th>操作</th>
                                <%}%>
                                <th>建档人</th>
                                <th>建档时间</th>
                                <th>门店</th>
                                <th>客户地址</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            var num = 1;
                            if(customerList.result && (customerList.result instanceof Array) && customerList.result.length != 0  ){
                            customerList.result.forEach(function (element,index) { %>
                            <tr>
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><a href="/customer/detail/<%= element.cid %>"><%= element.cid %></a></td>
                                <td><%= element.name %></td>
                                <td><%= element.mobile %></td>
                                <% if(type == 'companyCustomers'){ %>
                                <td><%= element.entpName %></td>
                                <% } %>
                                <% if(type != 'networkCustomers'){ %>
                                <% if (element.custFlowDtos.length) { %>
                                <% var custFlow = element.custFlowDtos[0] %>
                                <td><a href="/taskseq/index/<%= custFlow.lid %>"><%= custFlow.lid %></a></td>
                                <td><%= DWY_Helper.getAssistVal(custFlow.stcode, statusInfo) %></td>
                                <% }  else { %>
                                <td></td>
                                <td></td>
                                <% } }%>
                                <% if(type == 'networkCustomers'){ %>
                                <td><a class="label label-primary dealStore" data-cid="<%= element.cid %>">分配店铺</a></td>
                                <%}%>
                                <td><%= element.createName %></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.addTime )%></td>
                                <td><%= element.storeName %></td>
                                <td><%= element.customAddress %></td>
                            </tr>
                            <% num++ })
                            }else{ %>
                            <tr>
                                <td colspan="7" align="center">暂无结果</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<form id="dealStore" class="col-xs-12 layer-template" action="/customer/assignStore" method="post">
    <div class="col-xs-12" style="margin-top:20px;">
        <div class="col-xs-2 margin-top-10 text-center">
            门店名称:
        </div>
        <div class="col-xs-6">
            <select class="form-control validate[required]" name="bid">
                <option value="">--请选择--</option>
                <%
                if(DWY_Helper.isCanLoop(storeList)){
                storeList.forEach(function (element) { %>
                <option value="<%= element.id %>"  <%= (DWYRequest.query.regionTypeId == element.id )?"selected":"" %>>
                    <%= element.storeName %>
                </option>
                <% })
                }%>
            </select>
            <input type="hidden" value="" name="customerid" />
        </div>
    </div>
    <div class="col-xs-12 text-center margin-top-10">
        <button class="btn btn-primary margin-top-10" type="submit">确认指定</button>
    </div>
</form>
<!-- END MAIN PANEL -->

<%- include('layouts/footer'); %>
<%- include('layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();
        $("#search-customer").validationEngine();
        $("#dealStore").validationEngine();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery


        //区域查询
        var TypesList = <%-  JSON.stringify(TypesList) %>;
        $(".search").click(function(){
            DWY_Utils.AreaSelect.find("#areaParentId","#areaChidId",TypesList);
        })

        $(".dealStore").click(function(){
            var val = $(this).attr('data-cid');
            $('input[name=customerid]').val(val);
            layer.open({

                title: false,
                type: 1,
                area: '700px',
                content: $('#dealStore'),
                cancel: function () {
                    //右上角关闭回调
                },

            });
        })
    })

</script>


<%- include('layouts/foot'); %>