<%- include('layouts/head_top'); %>
<%- include('layouts/head_bottom'); %>
<%- include('layouts/header'); %>
<%- include('layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>个人中心</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well no-border no-box-shadow">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-7 well height01">
                    <legend>个人信息</legend>
                    <!-- row -->
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-information">
                                <tbody>
                                <tr>
                                    <td width="">机构编号</td>
                                    <td><%= user.bid %></td>
                                    <td width="">柜员姓名</td>
                                    <td><%= user.name %></td>
                                </tr>
                                <tr>
                                    <td>柜员编号</td>
                                    <td><%= user.id %></td>
                                    <td>柜员手机</td>
                                    <td><%= user.mobile %></td>
                                </tr>
                                <tr>
                                    <td>柜员角色</td>
                                    <td colspan="3"> <%
                                        if(user.role){
                                        user.role.forEach(function (element) { %>
                                        <%= element.name %>
                                        <% })
                                        } %>

                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>


                    </div>
                    <!-- end row -->
                </div>

                <!-- end col -->
                <!--col-->
                <!--end col-->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <!-- well -->
        <!-- end well -->



    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('layouts/footer'); %>
<%- include('layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
        var pageFunction = function () {
        }
    })

</script>


<%- include('layouts/foot'); %>