<%- include('layouts/head_top'); %>
<%- include('layouts/head_bottom'); %>


<%- include('layouts/header'); %>
<%- include('layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>基础页面</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row dwy-show-content">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>个人信息</legend>
                    <div class="col-xs-4">
                        <label class="text-right tight-left col-xs-4">编号:</label>
                        <p class="text-left col-xs-8 tight-left">23465465</p>
                    </div>
                    <div class="col-xs-4">
                        <label class="text-right tight-left col-xs-4">姓名:</label>
                        <p class="text-left col-xs-8 tight-left">张三</p>
                    </div>
                    <!-- end row -->
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <label class="text-right tight-left col-xs-4">职务:</label>
                        <p class="text-left col-xs-8 tight-left">审单员</p>
                    </div>
                    <div class="col-xs-4">
                        <label class="text-right tight-left col-xs-4">手机:</label>
                        <p class="text-left col-xs-8 tight-left">1354879456</p>
                    </div>
                    <!-- end row -->
                </div>
                <div class="col-xs-12">
                    <hr class="simple">
                    <div class="col-xs-12 text-align-center">
                        <button class="btn btn-primary " >获取订单</button>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('layouts/footer'); %>
<%- include('layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

    })

</script>


<%- include('layouts/foot'); %>