<%- include('layouts/head_top'); %>
<%- include('layouts/head_bottom'); %>
<%- include('layouts/header'); %>
<%- include('layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>个人中心</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row dwy-show-content">
                <div class="col-xs-6">
                    <!-- col -->
                    <legend>个人信息</legend>
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-information">
                                <tbody>
                                <tr>
                                    <td width="">机构编号:</td>
                                    <td><%= user.bid %></td>
                                    <td width="">姓名:</td>
                                    <td><%= user.name %></td>
                                </tr>
                                <tr>
                                    <td>柜员编号:</td>
                                    <td><%= user.id %></td>
                                    <td>柜员手机:</td>
                                    <td><%= user.mobile %></td>
                                </tr>
                                <tr>
                                    <td>柜员角色:</td>
                                    <td> <%
                                        if(user.role){
                                        user.role.forEach(function (element) { %>
                                        <%= element.name %>
                                        <% })
                                        } %>

                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>


                    </div>


                    <!--<div class="col-xs-12">-->
                    <!--<div class="col-xs-4">-->
                    <!--<label class="text-right tight-left col-xs-4">职务:</label>-->
                    <!--<p class="text-left col-xs-8 tight-left">审单员</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-xs-12">
                        <hr class="simple">
                        <div class="col-xs-12 text-align-center">
                            <a class="btn btn-primary" href="/order/check/waitOrder">获取订单</a>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('layouts/footer'); %>
<%- include('layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

    })

</script>


<%- include('layouts/foot'); %>