<%- include('layouts/head_top'); %>
<%- include('layouts/head_bottom'); %>



<%- include('layouts/header'); %>
<%- include('layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>流水查询</li>
        </ol>


    </div>
    <!-- END RIBBON -->
    <div id="content" class="dis-flex">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入客户号" type="text" name="cid" value="<%= DWYRequest.query.cid %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">流水创建日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker" placeholder="" type="text" value="<%= DWYRequest.query.startDate %>"
                                                   name="startDate">
                                        </div>
                                        <label class="control-label from-to"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker" placeholder="" type="text" value="<%= DWYRequest.query.endDate %>"
                                                   name="endDate">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户手机:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[funcCall[custom_validate_fn.isMobile]]"
                                                   placeholder="请输入客户手机" type="text" name="mobile" value="<%= DWYRequest.query.mobile %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">流水状态:</label>
                                        <div class="col-xs-4 ">
                                            <select class="form-control" name="stcodeStart">
                                                <option value="">- 起始 请选择 -</option>
                                                <%
                                                statusInfo.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.stcodeStart == element.id)?"selected":"" %>><%= element.name %></option>
                                                <%  }) %>
                                            </select>
                                        </div>
                                        <label class=" from-to control-label "> 至 </label>
                                        <div class="col-xs-4 ">
                                            <select class="form-control" name="stcodeEnd">
                                                <option value="">- 截止 请选择 -</option>
                                                <%
                                                statusInfo.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.stcodeEnd == element.id)?"selected":"" %>><%= element.name %></option>
                                                <%  }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">设计师姓名</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入设计师姓名" type="text" name="desName" value="<%= DWYRequest.query.desName %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">门店:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="storeId">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                storesList.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.storeId == element.id)?"selected":"" %>><%= element.storeName %></option>
                                                <%  }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">柜员所属区域:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="regionType">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                regionList.forEach(function (element) { %>
                                                <option value="<%= element.stcode %>" <%= (DWYRequest.query.regionType == element.stcode)?"selected":"" %>><%= element.name %></option>
                                                <%  }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>流水列表</h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll dis-flex">
                            <thead>
                            <tr>
                                <th width="50">序号</th>
                                <th>门店名称</th>
                                <th width="7%">客户名称</th>
                                <th width="110px">客户电话</th>
                                <th>楼盘名称</th>
                                <th width="7%">流水号</th>
                                <th>建流水柜员</th>
                                <th>建流水时间</th>
                                <th>预约量尺时间</th>
                                <th>完成量尺时间</th>
                                <th>预期交付时间</th>
                                <th>设计师</th>
                                <th width="7%">流水状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(taskseqList.result)){
                            taskseqList.result.forEach(function (element, index) { %>
                            <tr>
                                <td width="50"><%= ++index %></td>
                                <td><%= element.storeName %></td>
                                <td width="7%"><a href="/customer/detail/<%= element.cid %>"><%= element.custName %></a></td>
                                <td width="110px"><%= element.custMobile %></td>
                                <td><%= element.realEstate %></td>
                                <td width="7%"><a href="/taskseq/index/<%= element.lid %>"><%= element.lid %></a></td>
                                <td><%= element.gname %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.appointmentTime) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.finishTime) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.deliveryDate) %></td>
                                <td><%= element.desName %></td>
                                <td width="7%"><%= DWY_Helper.getAssistVal(element.stcode,statusInfo)  %></td>
                            </tr>
                            <% }) }else{ %>
                            <tr>
                                <td colspan="13" align="center">暂无结果</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <%- pagination %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('layouts/footer'); %>
<%- include('layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        $("#search-customer").validationEngine({scroll: false});
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery



    })

</script>


<%- include('layouts/foot'); %>