<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <div id="ribbon">
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>网络预约</li>
        </ol>
    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">

        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">手机号码:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.custMobile %>" type="text"
                                                   name="custMobile">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control"  name="stcode"  >
                                                <option value="">全部</option>
                                                <option value="0" <%= DWYRequest.query.stcode == '0' ? 'selected':'' %>>已删除</option>
                                                <option value="1" <%= DWYRequest.query.stcode == 1 ? 'selected':'' %>>未分配</option>
                                                <option value="2" <%= DWYRequest.query.stcode == 2 ? 'selected':'' %>>已分配</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- well -->
        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>预约列表</h6>
                    <hr class="simple">
                </div>
            </div>
            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll dis-flex" id="mytable">
                            <thead>
                            <tr>
                                <th width="5%">序号</th>
                                <!--<th>客户号</th>-->
                                <th width="15%">客户姓名</th>
                                <th width="10%">客户手机号</th>
                                <th width="20%">所在地址(行政区域编码)</th>
                                <th width="15%">创建时间</th>
                                <th width="15%">分配时间</th>
                                <th >状态</th>
                                <th width="200px">操作</th>
                            </tr>
                            </thead>
                            <tbody >
                            <% if(DWY_Helper.isCanLoop(measureList.result)){
                            measureList.result.forEach(function (element, index) { %>
                            <tr>
                                <td width="5%"><%= index + 1 %></td>
                                <td width="15%"><%= element.custName %></td>
                                <td width="10%"><%= element.custMobile %></td>
                                <td width="20%"><%= element.realAddress %></td>
                                <td width="15%"><%= DWY_Helper.getLocalDate(element.createdTime) %></td>
                                <td width="15%"><%= DWY_Helper.getLocalDate(element.affirmedTime) %></td>
                                <td width=""><%= DWY_Helper.getMeasureType(element.stcode) %></td>
                                <td width="200px">
                                    <% if (DWY_Helper.hasPermission(Permission.network.distribute.id, permission) && element.stcode==1 ){ %>
                                    <a class="label label-primary choiceShop"
                                       data-id="<%= element.id %>"
                                       data-realAddress="<%= element.realAddress %>"
                                       data-custMobile="<%= element.custMobile %>"
                                       data-custName="<%= element.custName %>"
                                       data-provinceCode="<%= element.provinceCode %>"
                                       data-cityCode="<%= element.cityCode %>"
                                       data-distCode="<%= element.address %>"
                                    >分配店铺</a>
                                    <% } %>

                                    <% if (DWY_Helper.hasPermission(Permission.network.delete.id, permission)&& element.stcode==1 ){ %>
                                    <a class="label label-danger closeThis" data-id="<%= element.id %>">置为无效</a>
                                    <% } %>
                                </td>
                            </tr>
                            <% })
                            }else{ %>
                            <tr>
                                <td colspan="5" class="text-align-center">暂无数据</td>
                            </tr>
                            <% } %>


                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<link rel="stylesheet" href="/css/SearchControl_min.css"/>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script src="/js/SearchControl.js"></script>

<div id="modal-map" class="modal-content" style="display: none;">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-8">
                <div id="map_container"></div>
            </div>
            <div class="col-xs-4">

                <div class="col-xs-12 margin-bottom-10">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">地区选择:</label>
                        <div class="col-xs-8 no-padding">
                            <div class="col-xs-6">
                                <select id='BMapLib_provinces' class="form-control">
                                    <option type="0" value="0">- 全国 -</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <select id='BMapLib_city' class="form-control">
                                    <option type="0" value="0">- 全国 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 margin-bottom-10">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">详细地址:</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <input data-widget="quickdelete" id="BMapLib_PoiSearch" class="form-control"
                                       type="search" placeholder="请输入地址"/>
                                <span class="input-group-addon btn btn-primary" id="BMapLib_sc_b0">搜索</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="BMapLib_tipBox" class="BMapLib_tipBox">
                    <div></div>
                </div>

                <div class="col-xs-12 BMapLib_resultArea margin-top-10" id="BMapLib_resultArea">
                    <p><label class="col-xs-3 control-label">查询城市:</label><span id="BMapLib_cityTab">北京市</span>
                    </p>
                    <p><label class="col-xs-3 control-label">查询楼盘:</label><span
                                id="search_address">&nbsp;</span></p>
                    <p><label class="col-xs-3 control-label">查询经纬度:</label><span id="longLatitude">&nbsp;</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save">保存</button>
    </div>
</div>
<!--选择店铺列表-->
<form class="form-horizontal  layer-template" method="post" id="layer-form" action="/networkBook/doMeasure"
      style="display: none;">

    <div class="row" style="padding: 30px 40px 0 0;">

        <div class="col-xs-12" id="hasCustomer">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label">客户名:</label>
                    <div class="col-xs-8">
                        <input class="form-control" value="" id="CusName" readonly>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label">客户手机号:</label>
                    <div class="col-xs-8">
                        <input class="form-control" value="" id="CusMobile" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label" id="whiceName"><span class="requird"></span> 客户名:</label>
                    <div class="col-xs-8">
                        <input class="form-control validate[required]"
                               value="" name="custName" id="custName">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label" id="whiceMobile"><span class="requird"></span> 客户手机号:</label>
                    <div class="col-xs-8">
                        <input class="form-control validate[required]"
                               value="" name="custMobile" id="custMobile">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value="" id="ebisId">
        <input value="" id="provinceCode" name="provinceCode" type="hidden">
        <input value="" id="cityCode" name="cityCode" type="hidden">
        <input value="" id="distCode" name="distCode" type="hidden">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="requird"></span> 选择门店:</label>
                    <div class="col-xs-8">
                        <select class="form-control validate[required]" name="did">
                            <option value="">- 请选择店铺-</option>
                            <% storesList.forEach(function (element) { %>
                            <option value="<%= element.id %>"><%= element.storeName %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="requird"></span> 预约量尺时间:</label>
                    <div class="col-xs-8">
                        <input class="form-control fg-date-picker validate[required]" name="appointmentTime"
                               value="">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <!--输入字段-->
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="requird"></span> 楼盘名:</label>
                    <div class="col-xs-8">
                        <input class="form-control validate[required]" placeholder="请获取定位"
                               value="" name="realEstate" readonly>
                    </div>
                </div>
            </div>
            <!--输入字段-->
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="requird"></span> 楼盘坐标:</label>
                    <div class="col-xs-6">
                        <input class="form-control validate[required]" placeholder="请获取定位"
                               value="" name="realEstateGps" readonly>
                    </div>
                    <div class="col-xs-2">
                        <a class="btn btn-primary" id="mapModal">获取定位</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="form-group dwy-area">
                    <label class="col-xs-2 control-label">所在地址:</label>
                    <div class="col-xs-10">
                        <label class="control-label" id="realAddress"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label"><span class="requird"></span> 详细地址:</label>
                    <div class="col-xs-10">
                        <input class="form-control validate[required]" placeholder="请输入详细地址"
                               value="" name="address">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <hr class="simple">
            <div class="col-xs-12 text-center">
                <button class="btn btn-primary  margin-right-5" type="submit">
                    <i class="fa fa-save"></i>
                    提交
                </button>
            </div>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!--END 选择店铺列表-->
<script type="text/javascript">

    $(document).ready(function () {
//      $(".table-scroll").freezeHeader({ 'height': '100%' });
        $("#layer-form").validationEngine();
        $(".fg-date-picker").flatpickr(data_time_picker.data_time_picker);
        pageSetUp();
        $(".closeThis").click(function () {
            var measureId = $(this).attr('data-id');
            layer.confirm('确定置为无效？', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/networkBook/doClose/'+measureId,
                    method: 'put',
                    success: function (data) {
                        successLayout.reload();

                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) { layer.close(index) })
        })


        //弹出类
        $('.choiceShop').on({
            click: function (e) {
                var ebisId = $(this).attr('data-id');
                var realAddress = $(this).attr('data-realAddress');
                var custMobile = $(this).attr('data-custMobile');
                var custName = $(this).attr('data-custName');
                var provinceCode = $(this).attr('data-provinceCode');
                var cityCode = $(this).attr('data-cityCode');
                var distCode = $(this).attr('data-distCode');
                $('#ebisId').val(ebisId)
                $('#custName').val(custName)
                $('#custMobile').val(custMobile)
                $('#provinceCode').val(provinceCode)
                $('#cityCode').val(cityCode)
                $('#distCode').val(distCode)
                $('#realAddress').text(realAddress);
                $.ajax({
                    url: '/measure/'+custMobile,
                    method: 'put',
                    success: function (data) {
                        if(!data){
                            $('#hasCustomer').hide();
                            $('#whiceName').text('* 客户名');
                            $('#whiceMobile').text('* 客户手机号');
                        }else{
                            var arry = JSON.parse(data);
                            $('#CusName').val(arry.name);
                            $('#CusMobile').val(arry.mobile);
                            $('#hasCustomer').show();
                            $('#whiceName').text('* 联系人姓名');
                            $('#whiceMobile').text('* 联系人电话');
                        }
//                        var arry = eval(data);
                        layer.open({
                            title: '分配店铺',
                            type: 1,
                            area: '800px',
                            content: $('#layer-form'),
                            cancel: function () {
                                //右上角关闭回调
                            },
                        });
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });




            }
        });


        var index;
        $('#mapModal').on({
            click: function (e) {
                index =  layer.open({
                    title: '定位',
                    type: 1,
                    area: '1200px',
                    content: $('#modal-map'),
                    cancel: function () {
                        //右上角关闭回调
                    },
                });
            }
        });

        $("#save").click(function () {
            $("input[name=realEstate ]").val($("#search_address").text());
            $("input[name=realEstateGps ]").val($("#longLatitude").text());
            console.log(index)
            layer.close(index)
        })

        // 创建地图对象并初始化
        var baiduMap = new BMap.Map("map_container");
        var point = new BMap.Point(116.404, 39.915);
        baiduMap.centerAndZoom(point, 14);

        //创建检索控件
        var searchControl = new BMapLib.SearchControl({
            map: baiduMap, //关联地图对象
            type: 'LOCAL_SEARCH'  //检索类型
        });


    })

</script>


<%- include('../layouts/foot'); %>