<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>分配店铺</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>预约列表</h6>
                    <hr class="simple">
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal  layer-template" method="post" id="layer-form" action="/networkBook/doMeasure"
                          style="display: none;">

                        <div class="row" style="padding: 30px 40px 0 0;">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 客户名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="" name="custName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 客户手机号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="" name="custMobile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="" id="ebisId">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 楼盘名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]" placeholder="楼盘名"
                                                   value="" name="realEstate">
                                        </div>
                                    </div>
                                </div>
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 楼盘坐标:</label>
                                        <div class="col-xs-6">
                                            <input class="form-control validate[required]" placeholder="楼盘坐标"
                                                   value="" name="realEstateGps">
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="btn btn-primary" id="mapModal">获取定位</a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 选择门店:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="did">
                                                <option value="">- 请选择店铺-</option>
                                                <% storesList.forEach(function (element) { %>
                                                <option value="<%= element.id %>"><%= element.storeName %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 预约量尺时间:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control fg-date-picker validate[required]" name="appointmentTime"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-12">
                                    <div class="form-group dwy-area">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 所在地址:</label>
                                        <div class="col-xs-10 no-padding">

                                            <div class="col-xs-3">
                                                <select class="form-control dwy-province validate[required]" name="province">
                                                    <option value="">- 省 -</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <select class="form-control dwy-city validate[required]" name="city">
                                                    <option value="">- 市 -</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <select class="form-control dwy-district validate[required]" name="address">
                                                    <option value="">- 区 -</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary  margin-right-5" type="submit">
                                        <i class="fa fa-save"></i>
                                        提交
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="dwy-clear"></div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<link rel="stylesheet" href="/css/SearchControl_min.css"/>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script src="/js/SearchControl.js"></script>

<div id="modal-map" class="modal-content" style="display: none;">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-8">
                <div id="map_container"></div>
            </div>
            <div class="col-xs-4">

                <div class="col-xs-12 margin-bottom-10">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">地区选择:</label>
                        <div class="col-xs-8 no-padding">
                            <div class="col-xs-6">
                                <select id='BMapLib_provinces' class="form-control">
                                    <option type="0" value="0">- 全国 -</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <select id='BMapLib_city' class="form-control">
                                    <option type="0" value="0">- 全国 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 margin-bottom-10">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">详细地址:</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <input data-widget="quickdelete" id="BMapLib_PoiSearch" class="form-control"
                                       type="search" placeholder="请输入地址"/>
                                <span class="input-group-addon btn btn-primary" id="BMapLib_sc_b0">搜索</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="BMapLib_tipBox" class="BMapLib_tipBox">
                    <div></div>
                </div>

                <div class="col-xs-12 BMapLib_resultArea margin-top-10" id="BMapLib_resultArea">
                    <p><label class="col-xs-3 control-label">查询城市:</label><span id="BMapLib_cityTab">北京市</span>
                    </p>
                    <p><label class="col-xs-3 control-label">查询楼盘:</label><span
                                id="search_address">&nbsp;</span></p>
                    <p><label class="col-xs-3 control-label">查询经纬度:</label><span id="longLatitude">&nbsp;</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save">保存</button>
    </div>
</div>
<!--选择店铺列表-->
<!--END 选择店铺列表-->
<script type="text/javascript">

    $(document).ready(function () {

        $("#layer-form").validationEngine();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker);
        pageSetUp();
        //弹出类
        $('.choiceShop').on({
            click: function (e) {
                var ebisId = $(this).attr('data-id');
                var province = $(this).attr('data-province');
                var city = $(this).attr('data-city');
                var address = $(this).attr('data-address');
                $('#ebisId').val(ebisId)
                layer.open({
                    title: '分配店铺',
                    type: 1,
                    area: '800px',
                    content: $('#layer-form'),
                    cancel: function () {
                        //右上角关闭回调
                    },
                });

                DWY_area.init({
                    defaultValue: [
                        {
                            name: 'province',
                            value: province,
                            key: 'province',
                            linkcity: 'city',
                            linkdis: 'address',
                            cityId: city
                        },
                        {name: 'city', value: city, key: 'city', linkdis: 'address', disId: address},
                        {name: 'address', value: address, key: 'district'},

                    ]
                });

            }
        });

//        DWY_area.init({
//            defaultValue:[
//                {
//                    name:'province',
//                    value: 430000,
//                    key:'province',
//                    linkcity:'city',
//                    linkdis:'address',
//                    cityId: 430100
//                },
//                {name:'city', value: 430100, key:'city',linkdis:'address',disId: 430102},
//                {name:'address', value: 430102, key:'district'},
//
//            ]
//        });

        var index;
        $('#mapModal').on({
            click: function (e) {
                index =  layer.open({
                    title: '定位',
                    type: 1,
                    area: '1200px',
                    content: $('#modal-map'),
                    cancel: function () {
                        //右上角关闭回调
                    },
                });
            }
        });

        $("#save").click(function () {
            $("input[name=realEstate ]").val($("#search_address").text());
            $("input[name=realEstateGps ]").val($("#longLatitude").text());
            console.log(index)
            layer.close(index)
        })

        // 创建地图对象并初始化
        var baiduMap = new BMap.Map("map_container");
        var point = new BMap.Point(116.404, 39.915);
        baiduMap.centerAndZoom(point, 14);

        //创建检索控件
        var searchControl = new BMapLib.SearchControl({
            map: baiduMap, //关联地图对象
            type: 'LOCAL_SEARCH'  //检索类型
        });


    })

</script>


<%- include('../layouts/foot'); %>