<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <% if(type=='outMaterial'){ %>
            <li><a class="back-url" href="/outMaterial/canSend"><i class="fa fa-chevron-left"></i>  可发货订单</a></li>
            <% }%>
            <% if(type=='outProduct'){ %>
            <li><a class="back-url" href="/outProduct/canSend"><i class="fa fa-chevron-left"></i> 可发货订单</a></li>
            <% }%>

            <li>发货</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->


        <div class="well">

            <div class="row">
                <form class="form-horizontal" method="post" id="search-customer" >

                    <div class="col-xs-12 search-form">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">工厂:</label>
                                <div class="col-xs-8">
                                    <select class="form-control" name="ftyId" id="ftyId">
                                        <option value="">- 请选择 -</option>
                                        <% factoryList.forEach(function (element) { %>
                                        <option value="<%= element.ftyId %>"  >
                                            <%= element.name %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">仓库:</label>
                                <div class="col-xs-8">
                                    <select class="form-control" name="whseId" id="whseId">
                                        <option value="">- 请选择 -</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">区域:</label>
                                <div class="col-xs-8">
                                    <select class="form-control" name="regionId" id="regionId">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input name="tid" value="<%= tid %>" type="hidden">
                    <input name="mateDeliveryItems" value="" type="hidden">

                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover table-editinput">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>物料编号</th>
                                    <th>物料名称</th>
                                    <th>代号</th>
                                    <th>规格</th>
                                    <th>数量</th>
                                    <th width="200">货位号(行列层)</th>
                                    <th width="100">出库数量</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if(DWY_Helper.isCanLoop(matesList)){%>
                                    <% matesList.forEach(function(element,index){%>
                                        <tr class="cargoinDo">
                                            <td><%= index+1 %></td>
                                            <td><a href="/materialManage/detail/<%= user.bid %>/<%= element.mid %>"><%= element.mid %></a></td>
                                            <td><%= element.name %></td>
                                            <td><%= element.code %></td>
                                            <td><%= element.standard %></td>
                                            <td><%= element.amount %></td>
                                            <td>
                                                <input class="form-control validate[condRequired[custom[number],minSize[6],maxSize[6]]]"
                                                       name="spaceId<%= index %>" placeholder="行列层，6位数字" id="spaceId<%= index %>" data-index="<%= index %>">
                                                <input name="cargoId<%= index %>" value="<%= element.mid %>" type="hidden">
                                            </td>
                                            <td>
                                                <input class="form-control short validate[condRequired[spaceId<%= index %>]]"
                                                       value="<%=element.amount%>" name="amount<%= index %>" id="amount<%= index %>" data-index="<%= index %>">
                                            </td>
                                        </tr>
                                <%
                                    })}else{%>
                                    <tr>
                                        <td colspan="8" class="text-align-center">暂无数据</td>
                                    </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr class="simple">
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-primary" id="toEnter">确认出库</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#search-customer").validationEngine();

        pageSetUp();

        $('#toEnter').click(function () {
            var ftyId=$("#ftyId").val();
            var whseId=$("#whseId").val();
            var regionId=$("#regionId").val();

            var myArray=new Array();
            var length=$(".cargoinDo").length;
            console.log('length',length);
            var ifSubmit = false;
            for(var i=0;i<length;i++){
                var spaceId=$("input[name=spaceId"+i+"]").val();
                var amount=$("input[name=amount"+i+"]").val();
                if(!spaceId ||!amount){console.log('continue');continue;}
                var cargoId=$("input[name=cargoId"+i+"]").val();

                var a = new Object();
                a = {
                    spaceId:spaceId,
                    cargoId:cargoId,
                    amount:amount,
                }

                myArray.push(a);
                ifSubmit = true;
            }
            var date={
                tid:'<%= tid %>',
                ftyId:ftyId,
                whseId:whseId,
                regionId:regionId,
                mateDeliveryItems:myArray
            };
            if(!ifSubmit){layer.msg('请先填写正确入库信息', {icon: 2, time: 2000});return ;}

            layer.confirm("确认提交？", {title:'提示'},function(index){
                    console.log(myArray);
                    $.ajax({
                        url: '/canSend/doSend',
                        data:JSON.stringify(date),
                        method: 'post',
                        dataType: 'json',
                        contentType:"application/json",
                        success: function (data) {
                        },
                        error: function (response) {
                            layer.close(index)
                            var status = response.status;
                            if(status == 200){
                                location.href="/<%= type %>/canSend";
                                return;
                            }
                            errorLayout.normal(response);

                            setTimeout(function(){
                                window.location.reload();
                            },1000000)
                        }
                    });
                },function(index){
                    layer.close(index)}
            )
        })



    })

</script>

<%- include('../cargospace/js_function'); %>


<%- include('../layouts/foot'); %>