<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/waitSend"><i class="fa fa-chevron-left"></i> 待发货流水</a></li>
            <li><a class="back-url" href="/deliveryNote"><i class="fa fa-chevron-left"></i> 发货通知单</a></li>
            <li>发货通知单信息</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>发货通知单信息</legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="12%">发货通知单号</td>
                                <td><%= deliveryInfo.diId %></td>
                                <td width="12%">合同号</td>
                                <td><%= deliveryInfo.contNo %></td>
                                <td width="12%">经销商</td>
                                <td><%= deliveryInfo.stoName %></td>
                            </tr>
                            <tr>
                                <td>客户姓名</td>
                                <td><%= deliveryInfo.cName %></td>
                                <td>客户电话</td>
                                <td colspan="3"><%= deliveryInfo.mobile %></td>
                            </tr>
                            <tr>
                                <td>收货地址</td>
                                <td colspan="5"><%= deliveryInfo.address %></td>
                            </tr>
                            <tr>
                                <td>状态</td>
                                <td><%=DWY_Helper.geDeliveryStatus(deliveryInfo.type)%></td>
                                <td>审核人</td>
                                <td><%= deliveryInfo.reviewName %></td>
                                <td>审核时间</td>
                                <td><%= DWY_Helper.getLocalDate(deliveryInfo.reviewDate) %></td>
                            </tr>
                            <tr>
                                <td>司机姓名</td>
                                <td><%= deliveryInfo.driverName %></td>
                                <td>物流车牌号</td>
                                <td colspan="3"><%= deliveryInfo.licensePlate %></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>
                        发货清单
                        <% if(deliveryInfo.type == 2){ %>
                        <a class="label label-primary" id="checkThis">审核</a>
                        <% }%>

                    </h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>订单号</th>
                                <th>包号名称</th>
                                <th>包装流水号</th>
                                <th>包装类型</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(deliveryInfoList)){
                                deliveryInfoList.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><a href="/order/detail/<%= element.tid %>"><%= element.tid %></a></td>
                                <td><%= element.pakgName %></td>
                                <td><%= element.pakgLid %></td>
                                <td><%= element.pakgType %></td>
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        var id = <%= deliveryInfo.diId %>;
        $("#checkThis").click(function () {
            layer.confirm('确定提交审核?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/deliveryNote/doChecked/'+id,
                    method: 'put',
                    success: function (data) {
                        layer.msg('操作成功', {icon: 1, time: DWY_GLOBAL_CONSTANT.TimeOut});
                        setTimeout(function () {
                            window.location.reload();
                        }, DWY_GLOBAL_CONSTANT.TimeOut)
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);

                    }
                });
            }, function (index) { layer.close(index) })
        })

    })

</script>

<%- include('../layouts/foot'); %>
