<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/outBred"> 原料领料</a></li>
            <li>原料出库</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <div class="well">
            <form class="row form-horizontal" id="search-customer">

                <div class="">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="col-xs-4 control-label"><span class="requird"></span> 领料人:</label>
                            <div class="col-xs-8">
                                <input class="form-control validate[required]" value="" name="mateEmp" id="mateEmp">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="col-xs-4 control-label"><span class="requird"></span> 出库人:</label>
                            <div class="col-xs-8">
                                <input class="form-control validate[required]" value="" name="outEmp" id="outEmp">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="col-xs-4 control-label"><span class="requird"></span>出库时间:</label>
                            <div class="col-xs-8">
                                <input class="form-control fg-date-time-picker validate[required]" value=""
                                       name="outTime" id="outTime">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="col-xs-4 control-label"><span class="requird"></span> 批次号:</label>
                            <div class="col-xs-8">
                                <input class="form-control validate[required]" value="" name="batchId" id="batchId">
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="control-label" id="statusFa" style="white-space: nowrap"></label>
                        </div>
                    </div>
                    <div class="dwy-clear"></div>
                </div>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover table-editinput">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>物料编号</th>
                                <th>物料名称</th>
                                <th>物料厚度</th>
                                <th>规格</th>
                                <th>换算前单位</th>
                                <th>换算前数量</th>
                                <th>货位存储单位</th>
                                <th>数量</th>
                                <th>备注</th>
                                <th width="300">货位号(行列层)</th>
                                <th width="100">出库数量</th>
                                <th width="50">操作</th>
                            </tr>
                            </thead>
                            <tbody id="moreAddTR">
                            <input name="plateList" value="" type="hidden">

                            <% if(DWY_Helper.isCanLoop(plateList)){ %>

                            <% plateList.forEach(function(element, index){ %>
                            <tr class="cargoinDo" data-index="<%= index %>">
                                <td><%= index + 1 %></td>
                                <td><%= element.mateId %></td>
                                <td><%= element.mateName %></td>
                                <td><%= element.thick %></td>
                                <td><%= element.size %></td>
                                <td><%= element.befUnit %></td>
                                <td><%= element.befAmount %></td>
                                <td><%= element.unit %></td>
                                <td><%= element.amount %></td>
                                <td><%= element.remark %></td>
                                <td class="no-padding" id="selectTD<%= index %>">
                                    <input name="cargoId<%= index %>" value="<%= element.mateId %>" type="hidden">
                                    <input name="amountAll<%= index %>" value="<%= element.amount %>" type="hidden">
                                    <input name="remark<%= index %>" value="<%= element.price %>" type="hidden">

                                    <div class="more-space" data-index="<%= index %>">
                                        <select class="form-control spaceIdSelect validate[required]" name="spaceId<%= index %>" id="spaceId<%= index %>" data-index="<%= index %>">
                                            <option value="">-- 请选择 --</option>
                                            <% if(DWY_Helper.isCanLoop(element.list)){
                                                element.list.forEach(function (context) { %>
                                            <option value="<%= context.spaceId %>" data-nowAmount="<%= context.nowAmount %>" data-mateBatchId="<%= context.mateBatchId %>">
                                                <%= context.spaceId %>(库存数量 <%= context.nowAmount %> , 物料批次号 <%= context.batchId %>)
                                            </option>
                                            <% }) } %>
                                        </select>
                                    </div>


                                </td>
                                <td class="no-padding" id="amountTD<%= index %>">
                                    <div class="more-space">
                                        <input class="form-control validate[required,custom[number],min[1]]"
                                               value="<%= element.amount %>" name="amount<%= index %>"
                                               id="amount<%= index %>" data-index="<%= index %>">
                                    </div>

                                </td>
                                <td class="no-padding" id="operationArea<%= index %>">
                                    <div class="more-space">
                                        <a class="add-spaceid" data-index="<%= index %>"><i class="fa fa-plus"></i></a>
                                    </div>

                                </td>
                            </tr>
                            <%
                            })}else{ %>
                            <tr>
                                <td colspan="10" class="text-align-center">暂无数据</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr class="simple">
                    <div class="col-xs-12 text-center">
                        <% if ( DWY_Helper.hasPermission(Permission.cargoManages.mateOut.id, permission) ){ %>
                        <a class="btn btn-primary" id="toEnter">确认出库</a>
                        <% } %>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<%- include('../cargospace/js_function'); %>

<script type="text/javascript">

    $(document).ready(function () {
        var cargoinList_result = parseInt(<%= plateList.length %>);
        var contentArea = $('#moreAddTR');
        var status = $('#statusFa');
        var toEnter = $('#toEnter');

        $("#search-customer").validationEngine({binded:false});

        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery


        contentArea.on('change','.spaceIdSelect',function () {
            var _self = $(this);
            var index = _self.attr('data-index');
            var option = _self.find('option:selected').attr('data-nowAmount');
            $("#amount"+index).attr('class','form-control validate[required,custom[number],min[1],max['+option+']]');

        })
        $("#batchId").on('input propertychange', function () {
            status.empty();
            var batchId = $(this).val();
            if (batchId) {
                $.ajax({
                    url: '/outBred/batchnumber/ifCan',
                    method: 'post',
                    data: {
                        batchNumber: batchId,
                    },
                    success: function (data) {
                        console.log('data', data)
                        if (data == 'true') {
                            toEnter.attr('disabled',false);
                            status.html('<span class="text-success"><i class="fa fa-check font-lg"></i> 批次号可用</span>');
                        } else {
                            toEnter.attr('disabled',true);
                            status.html('<span class="text-danger"><i class="fa fa-times font-lg"></i> 批次号不可用</span>');
                        }
                    },
                    error: function (response) {
                        console.log('response', response)
                        toEnter.attr('disabled',true);
                        status.html('<span class="text-danger"><i class="fa fa-times font-lg"></i> 批次号不可用</span>');
                    }
                });
            }
        });


        //增加货位
        $('.add-spaceid').on('click',function () {
            var _self = $(this);
            var index = _self.attr('data-index');
            var select = $("#spaceId"+index).html();

            var selectHtml = '<div class="more-space newtarget'+cargoinList_result+'" data-index="'+cargoinList_result+'">'
                + '<select class="form-control spaceIdSelect validate[required]" name="spaceId'+cargoinList_result+'" id="spaceId'+cargoinList_result+'" data-index="'+cargoinList_result+'">'
                +select
                + '</select>'
                + '</div>';
            $("#selectTD"+index).append(selectHtml);
            var amountHtml = '<div class="more-space newtarget'+cargoinList_result+'">'
                +'<input class="form-control short validate[required,custom[number]]"'
                +'value="" name="amount'+cargoinList_result+'"'
                +'id="amount'+cargoinList_result+'" data-index="'+cargoinList_result+'">'
                +'</div>';
            $("#amountTD"+index).append(amountHtml);
            $('#operationArea'+index).append(' <div class="more-space newtarget'+cargoinList_result+'"> <a class="less-spaceid" data-index="'+cargoinList_result+'"><i class="fa fa-minus"></i></a> </div>');

            ++cargoinList_result;

        })

        //删除货位
        contentArea.on('click','.less-spaceid',function () {
            var _self = $(this);
            var index = _self.attr('data-index');
            $('.newtarget'+index).remove();
        })


        $('#toEnter').click(function () {
            if ($("#search-customer").validationEngine('validate')) {
                var mateEmp = $("#mateEmp").val();
                var outEmp = $("#outEmp").val();
                var outTime = $("#outTime").val();
                var batchId = $("#batchId").val();

                var myArray = new Array();
                var ifAmount = true;//主要判断入库数量是否正确
                var cargoIdNotIn = '';

                $('.cargoinDo').each(function () {
                    var _self = $(this);
                    var indexTR = _self.attr('data-index');

                    var cargoId = $("input[name=cargoId" + indexTR + "]").val();
                    //原料需要入库的数量
                    var amountTotal=Number($("input[name=amountAll"+indexTR+"]").val());
                    //实际填的总入库数量
                    var amountActually = 0;

                    $('#selectTD'+indexTR).find('.more-space').each(function () {
                        var _element = $(this);
                        var index = _element.attr('data-index');

                        var spaceId=$("select[name=spaceId"+index+"]").val();
                        var mateBatchId = $("select[name=spaceId"+index+"]").find('option:selected').attr('data-mateBatchId');
                        var amount=$("input[name=amount"+index+"]").val();
                        amountActually += Number(amount);

                        var a = new Object();
                        a = {
                            spaceId: spaceId,
                            cargoId: cargoId,
                            amount: amount,
                            mateBatchId: mateBatchId,
                        }

                        myArray.push(a);

                    })

//                    console.log('amountTotal',amountTotal)
//                    console.log('amountActually',amountActually)
                    if(amountTotal != amountActually){
                        ifAmount = false;
                        cargoIdNotIn += cargoId+'</br>'
                        return false
                    }

//                    console.log('ifAmount',ifAmount)
                })

                if(!ifAmount){
                    layer.msg('以下物料号出库数量不正确，填写的总出库数需要与该单号要求出库数量保持一致！</br>'+cargoIdNotIn, {icon: 2, time: 3000});
                    return;
                }
                var date = {
                    mateEmp: mateEmp,
                    outEmp: outEmp,
                    outTime: outTime,
                    batchId: batchId,
                    plateList: myArray
                };

                layer.confirm("确认提交？", {title: '提示'}, function (index) {
                        console.log(myArray);
                        $.ajax({
                            url: "<%= type == 1 ? '/outBred/plateOut' : '/outBred/accessoryOut' %>",
                            data: JSON.stringify(date),
                            method: 'post',
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                successLayout.hrefTo("/outBred");

                            },
                            error: function (response) {
                                layer.close(index)
                                var status = response.status;
                                if(status == 200){
                                    successLayout.hrefTo("/outBred");

                                    return;
                                }
                                errorLayout.normal(response);


                            }
                        });
                    }, function (index) {
                        layer.close(index)
                    }
                )
            }

        })


    })

</script>

<%- include('./bred_upload'); %>
<%- include('../layouts/foot'); %>
