<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/outProduct"><i class="fa fa-chevron-left"></i> 成品出库</a></li>
            <li>成品出库信息</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>成品出库信息</legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="12%">出库单号</td>
                                <td width="21%"><%= prodsInfo.id %></td>
                                <td width="12%">出库人</td>
                                <td width="21%"><%= prodsInfo.outEmp %></td>
                                <td width="12%">出库日期</td>
                                <td><%= prodsInfo.outTime %></td>
                            </tr>
                            <tr>
                                <td>订单号</td>
                                <td><a href="/order/detail/<%= prodsInfo.tid %>"><%= prodsInfo.tid %></a></td>
                                <td>出库类型</td>
                                <td><%= prodsInfo.outType %></td>
                                <td>仓库</td>
                                <td><%= prodsInfo.whse %></td>
                            </tr>
                            <tr>
                                <td>客户姓名</td>
                                <td><%= prodsInfo.custName %></td>
                                <td>出厂价</td>
                                <td><%= prodsInfo.ftyPrice %> 元</td>
                                <td>经销商</td>
                                <td><%= prodsInfo.stoName %></td>
                            </tr>

                            <tr>
                                <td>备注</td>
                                <td colspan="5"><%= prodsInfo.remark %></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>
                        成品出库清单
                        <% if(prodsInfo.stcode == 2){ %>
                        <a class="label label-primary" id="checkThis">审核</a>
                        <% }%>
                    </h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>货位号</th>
                                <th>包装序号</th>
                                <th>包装名称</th>
                                <th>包装类型</th>
                                <th>包重</th>
                                <th>包装产品</th>
                                <th>包装产品材料</th>
                                <th>出库数量</th>
                                <th>状态</th>
                                <th>出库时间</th>
                                <th>扫描人</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(prodsInfo.prodOutItems)){
                            prodsInfo.prodOutItems.forEach(function (element, index) {  %>
                            <tr>
                                <td><%= ++index %></td>
                                <td><a href="/cargospace/cargospace/detail/<%= element.spaceId %>"><%= element.spaceId %></a></td>
                                <td><%= element.pakgId %></td>
                                <td><%= element.pakgName %></td>
                                <td><%= element.pakgType %></td>
                                <td><%= element.pakgWeight %></td>
                                <td><%= element.prodName %></td>
                                <td><%= element.pakgMateName %></td>
                                <td><%= element.amount %></td>
                                <td><%= element.stcode %></td>
                                <td><%= element.outTime %></td>
                                <td><%= element.outEmp %></td>
                                <td><%= element.remark %></td>
                            </tr>
                            <%   })
                            }else{  %>
                            <tr>
                                <td colspan="10" class="text-align-center">暂无数据</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#checkThis").click(function () {
            layer.confirm('确定提交审核?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/outProduct/doChecked/<%= outId %>',
                    method: 'put',
                    success: function (data) {
//                        window.location.reload();
                        location.href='/outProduct/canSend';
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);

                    }
                });
            }, function (index) { layer.close(index) })
        })

    })

</script>

<%- include('../layouts/foot'); %>
