<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/outProduct"> 成品出库</a></li>
            <li>成品出库信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>成品出库信息</legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="12%">出库单号</td>
                                <td width="21%"><%= prodsInfo.id %></td>
                                <td width="12%">订单号</td>
                                <td colspan="3"><a href="/order/detail/<%= prodsInfo.tid %>"><%= prodsInfo.tid %></a>
                                </td>
                            </tr>
                            <tr>
                                <td>出库类型</td>
                                <td><%= prodsInfo.outType %></td>
                                <td>仓库</td>
                                <td colspan="3"><%= prodsInfo.whse %></td>
                            </tr>
                            <tr>
                                <td>客户姓名</td>
                                <td><%= prodsInfo.custName %></td>
                                <td>出厂价</td>
                                <td><%= prodsInfo.ftyPrice %> 元</td>
                                <td width="12%">经销商</td>
                                <td width="21%"><%= prodsInfo.stoName %></td>
                            </tr>

                            <tr>
                                <td>备注</td>
                                <td colspan="5"><%= prodsInfo.remark %></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>
                        成品出库清单

                        <% if( DWY_Helper.hasPermission(Permission.cargoManages.prodOut.id, permission)){ %>
                        <a class="label label-primary" id="checkThis">出库</a>
                        <input type="hidden" class="" id="checkedValue">
                        <% } %>
                    </h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="80px">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"
                                               id="checkAll">
                                        <span>&nbsp;</span>
                                    </label>
                                    序号
                                </th>
                                <th>货位号</th>
                                <th>包装序号</th>
                                <th>包装名称</th>
                                <th>包装类型</th>
                                <th>包重</th>
                                <!--<th>包装产品</th>-->
                                <!--<th>包装产品材料</th>-->
                                <!--<th>出库数量</th>-->
                                <th>状态</th>
                                <th>出库时间</th>
                                <th>扫描人</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(prodsInfo.page.result)){
                            prodsInfo.page.result.forEach(function (element, index) { %>
                            <tr>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox"
                                               name="pakgs" value="<%= element.pakgId %>" <%= element.stcode == 3? '':'disabled'%> >
                                        <span><%= index + 1 %></span>
                                    </label>
                                </td>
                                <td>
                                    <a href="/cargospace/cargospace/detail/<%= element.spaceId %>"><%= element.spaceId %></a>
                                </td>
                                <td><%= element.pakgId %></td>
                                <td><%= element.pakgName %></td>
                                <td><%= element.pakgType %></td>
                                <td><%= element.pakgWeight %></td>
                                <!--<td><%= element.prodName %></td>-->
                                <!--<td><%= element.pakgMateName %></td>-->
                                <!--<td><%= element.amount %></td>-->
                                <td><%= DWY_Helper.getPackageType(element.stcode) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.outTime) %></td>
                                <td><%= element.outEmp %></td>
                                <td><%= element.remark %></td>

                            </tr>
                            <% })
                            }else{ %>
                            <tr>
                                <td colspan="11" class="text-align-center">暂无数据</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                        <%- pagination %>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

  $(document).ready(function () {

    var checkedValue = $('#checkedValue');
    $("#checkAll").change(function () {
      if ($(this).is(":checked")) {
        $(":checkbox").prop('checked', true);
        $("input[name='pakgs']:checked").each(function (i) {
          checkedValue.addClass(this.value + ',')
        });
      } else {
        $(":checkbox").prop('checked', false);
        checkedValue.removeClass()
      }
    })
    $("input[name='pakgs']").change(function () {
      if ($(this).is(':checked')) {
        checkedValue.addClass(this.value + ',')
      } else {
        checkedValue.removeClass(this.value + ',')
      }
    });

    $('#checkThis').click(function () {
      var pakgs = checkedValue.attr('class');
      pakgs = pakgs.substring(0,pakgs.length-1);
      pakgs = pakgs.replace(/\s/g,"");

      if(!pakgs){
        layer.msg('请先选择订单', {icon: 2, time: 2000});
        return;
      }

      layer.confirm('确定出库所选包装?', {icon: 3, title: '提示'}, function (index) {
        $.ajax({
          url: '/app/doCargoout',
          method: 'post',
          data: {
            tid: '<%= prodsInfo.tid %>',
            pakgId: pakgs
          },
          success: function (data) {
            console.log(data)
            if (data.code == 1001) {
              successLayout.reload();
            } else {
              layer.close(index)
              var response = {
                responseText: JSON.stringify(data)
              };
              errorLayout.normal(response);
            }
//                        successLayout.hrefTo('/outProduct/canSend');
          },
          error: function (response) {
            layer.close(index)
            errorLayout.normal(response);

          }
        });
      }, function (index) {
        layer.close(index)
      })


      console.log(pakgs);

    })



  })

</script>

<%- include('../layouts/foot'); %>
