<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/outBred"><i class="fa fa-chevron-left"></i> 大板领料单</a></li>
            <li>大板领料详情</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>
                        大板领料信息</legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="12%">领用单号</td>
                                <td><%= cargoutInfo.outId %></td>
                                <td width="12%">领料日期</td>
                                <td><%= cargoutInfo.outDate %></td>
                                <td width="12%">领用人</td>
                                <td><%= cargoutInfo.outEmpName %></td>
                            </tr>
                            <tr>
                                <td>部门编号</td>
                                <td><%= cargoutInfo.did %></td>
                                <td>审核人</td>
                                <td colspan="3"><%= cargoutInfo.reviewName %></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>
                        领料清单
                        <% if(cargoutInfo.stcode == 2){ %>
                        <a class="label label-primary" id="checkThis">审核</a>
                        <% }%>
                    </h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>编号</th>
                                <th>名称</th>
                                <th>规格</th>
                                <th>领用数量</th>
                                <th>备注</th>
                                <th>单价</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(plateInfo)){
                            plateInfo.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><a href="/materialManage/detail/<%= element.mateId %>"><%= element.mateId %></a></td>
                                <td><%= element.mateName %></td>
                                <td><%= element.size %></td>
                                <td><%= element.amount %></td>
                                <td><%= element.remark %></td>
                                <td><%= element.price %></td>
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        var ftyId = 10000;
        $("#checkThis").click(function () {
            var id = $(this).attr('data-id');

            layer.confirm('确定提交审核?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/outBred/doCheck/'+id,
                    method: 'put',
                    success: function (data) {
//                        window.location.reload();
                        location.href='/canSend';
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);

                    }
                });
            }, function (index) { layer.close(index) })
        })
        $("#backThis").click(function () {
            var id = $(this).attr('data-id');

            layer.confirm('确定撤回重新审核吗?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/outBred/doUnCheck/'+id,
                    method: 'put',
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);

                    }
                });
            }, function (index) { layer.close(index) })
        })


    })

</script>

<%- include('../layouts/foot'); %>
