<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/outBred"><i class="fa fa-chevron-left"></i> 大板领料单</a></li>
            <li>大板出库</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <div class="well">
            <form class="row form-horizontal" id="search-customer">

                <div class="search-form">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="col-xs-3 control-label"><span class="requird"></span> 领料人:</label>
                            <div class="col-xs-9">
                                <input class="form-control validate[required]" value="" name="mateEmp" id="mateEmp">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="col-xs-3 control-label"><span class="requird"></span> 出库人:</label>
                            <div class="col-xs-9">
                                <input class="form-control validate[required]" value="" name="outEmp" id="outEmp">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="col-xs-3 control-label"><span class="requird"></span>出库时间:</label>
                            <div class="col-xs-9">
                                <input class="form-control fg-date-time-picker validate[required]" value=""
                                       name="outTime" id="outTime">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">批次号:</label>
                            <div class="col-xs-9">
                                <input class="form-control" value="" name="batchId" id="batchId">
                            </div>
                        </div>
                    </div>
                    <div class="dwy-clear"></div>
                </div>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover table-editinput">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>物料编号</th>
                                <th>物料名称</th>
                                <th>物料厚度</th>
                                <th>规格</th>
                                <th>单位</th>
                                <th>数量</th>
                                <th>备注</th>
                                <th width="200">货位号(行列层)</th>
                                <th width="100">出库数量</th>
                            </tr>
                            </thead>
                            <tbody id="moreAddTR">
                            <input name="plateList" value="" type="hidden">

                            <% if(DWY_Helper.isCanLoop(plateList)){ %>
                            <% plateList.forEach(function(element, index){ %>
                            <tr class="cargoinDo">
                                <td><%= index + 1 %></td>
                                <td><%= element.mateId %></td>
                                <td><%= element.mateName %></td>
                                <td><%= element.thick %></td>
                                <td><%= element.size %></td>
                                <td><%= element.unit %></td>
                                <td><%= element.amount %></td>
                                <td><%= element.remark %></td>
                                <td>
                                    <input class="form-control validate[required,custom[number],minSize[12],maxSize[12]]"
                                           name="spaceId<%= index %>" placeholder="行列层，6位数字" id="spaceId<%= index %>"
                                           data-index="<%= index %>">
                                    <input name="cargoId<%= index %>" value="<%= element.mateId %>" type="hidden">
                                    <input name="remark<%= index %>" value="<%= element.price %>" type="hidden">
                                </td>
                                <td>
                                    <input class="form-control short validate[required,custom[number]]"
                                           value="<%= element.amount %>" name="amount<%= index %>"
                                           id="amount<%= index %>" data-index="<%= index %>">
                                </td>
                            </tr>
                            <%
                            })}else{ %>
                            <tr>
                                <td colspan="10" class="text-align-center">暂无数据</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr class="simple">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-primary" id="toEnter">确认出库</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<%- include('../cargospace/js_function'); %>

<script type="text/javascript">

    $(document).ready(function () {

        $("#search-customer").validationEngine();

        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery

        $('#toEnter').click(function () {
            if ($("#search-customer").validationEngine('validate')) {
                var mateEmp = $("#mateEmp").val();
                var outEmp = $("#outEmp").val();
                var outTime = $("#outTime").val();
                var batchId = $("#batchId").val();
                var myArray = new Array();
                var length = $(".cargoinDo").length;
                console.log('length', length);
                var ifSubmit = false;
                for (var i = 0; i < length; i++) {
                    var spaceId = $("input[name=spaceId" + i + "]").val();
                    var amount = $("input[name=amount" + i + "]").val();
                    if (!spaceId || !amount) {
                        console.log('continue');
                        continue;
                    }
                    var cargoId = $("input[name=cargoId" + i + "]").val();

                    var a = new Object();
                    a = {
                        spaceId: spaceId,
                        cargoId: cargoId,
                        amount: amount,
                    }

                    myArray.push(a);
                    ifSubmit = true;
                }
                var date = {
                    mateEmp: mateEmp,
                    outEmp: outEmp,
                    outTime: outTime,
                    batchId: batchId,
                    plateList: myArray
                };
                if (!ifSubmit) {
                    layer.msg('请先填写正确入库信息', {icon: 2, time: 2000});
                    return;
                }

                layer.confirm("确认提交？", {title: '提示'}, function (index) {
                        console.log(myArray);
                        $.ajax({
                            url: "<%= type == 1 ? '/outBred/plateOut' : '/outBred/accessoryOut' %>",
                            data: JSON.stringify(date),
                            method: 'post',
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                layer.msg('操作成功', {icon: 1, time: 2000});
                                setTimeout(function () {
                                    location.href = "/outBred";
                                }, 2000)

                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);

                                setTimeout(function () {
                                    window.location.reload();
                                }, 1000000)
                            }
                        });
                    }, function (index) {
                        layer.close(index)
                    }
                )
            }

        })


    })

</script>

<%- include('./bred_upload'); %>
<%- include('../layouts/foot'); %>
