<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>原料领料</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">出库单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.outId %>" type="text"
                                                   name="outId">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="stcode">
                                                <option value="">- 请选择 -</option>
                                                <option value="2" <%= (DWYRequest.query.stcode == 2)?"selected":"" %>>待审核</option>
                                                <option value="4" <%= (DWYRequest.query.stcode == 4)?"selected":"" %>>已审核</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.startDate %>"
                                                   name="startDate">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.endDate %>"
                                                   name="endDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>


                                    <!--<a class="btn btn-primary" id="import">-->
                                        <!--领料单导入-->
                                    <!--</a>-->

                                    <% if ( DWY_Helper.hasPermission(Permission.cargoManages.mateOutList.id, permission) ){ %>
                                    <a href="/outBred/mateSelect" class="btn btn-primary">
                                        选取物料
                                    </a>
                                    <% } %>

                                </div>

                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>出库单号</th>
                                <th>领料日期</th>
                                <th>领用人</th>
                                <th>部门</th>
                                <th>类型</th>
                                <th>状态</th>
                                <th>审核人</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%  if(DWY_Helper.isCanLoop(plateList.result) ){
                            plateList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= ++index %></td>
                                <td><a href="/outBred/deatil/<%= element.outId %>"><%= element.outId %></a></td>
                                <td><%= DWY_Helper.getLocalDate(element.outDate) %></td>
                                <td><%= element.outEmpName %></td>
                                <td><%= element.did %></td>
                                <td><%=DWY_Helper.getEnterType(element.type)%></td>
                                <td><%= element.stcodeName %></td>
                                <td><%= element.reviewName %></td>
                                <td>
                                    <% if(element.stcode == 2 && DWY_Helper.hasPermission(Permission.cargoManages.mateOutReview.id, permission)){ %>
                                    <a class="label label-primary checkThis" data-id="<%= element.outId %>" data-type="1">审核</a>
                                    <a class="label label-danger checkThis" data-id="<%= element.outId %>" data-type="2">作废</a>
                                    <% }%>
                                    </td>
                            </tr>
                            <% })
                            }else{ %>
                            <tr>
                                <td colspan="9" class="text-align-center">暂无数据</td>
                            </tr>
                            <% }  %>

                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#search-customer").validationEngine();

        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery

        $(".checkThis").click(function () {
            var id = $(this).attr('data-id');
            var type = $(this).attr('data-type');
            var text = type== 1?'确定审核通过?':'确定退回?'

            layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/outBred/doCheck/'+id+'/'+type,
                    method: 'put',
                    success: function (data) {
                        successLayout.reload();
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);

                    }
                });
            }, function (index) { layer.close(index) })
        })
    })

</script>

<%- include('./bred_upload'); %>
<%- include('../layouts/foot'); %>
