<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/productStock">发货清单</a></li>

            <li>成品备货</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>

        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">

        <!-- well -->
        <!-- end well -->

        <div class="well dis-flex">
            <div class="row">
                <div class="col-xs-12">
                    <h6>可备货订单</h6>
                    <hr class="simple">
                </div>
            </div>
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>货位号</th>
                                <th>货位剩余数量</th>
                                <th>最大库存数量</th>
                                <th>已用库存数量</th>
                                <th>货位状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%  if(DWY_Helper.isCanLoop(stockList.result) ){
                            stockList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><a href="/cargospace/cargospace/detail/<%= element.spaceId %>"><%= element.spaceId %></a></td>
                                <td><%= element.amountRemain == -1? '不限':element.amountRemain %></td>
                                <td><%= element.maxAmount == 0? '不限':element.maxAmount %></td>
                                <td><%= element.useAmount %></td>
                                <td><%= element.spaceStcodeName %></td>
                                <td>
                                    <% if (DWY_Helper.hasPermission(Permission.cargoManages.deliveryPackage.id, permission) && ifCanDo == 2 && element.stcode == 2 ){ %>
                                    <!--<a class="label label-primary" href="/productStock/pakg/element.tid" >备货</a>-->
                                    <a class="label label-primary doProductStock" data-spaceId="<%= element.spaceId %>" >备货</a>
                                    <% } %>
                                    <% if (element.stcode == 3 ){ %>
                                    <a class="label label-danger unProductStock" data-spaceId="<%= element.spaceId %>" >取消</a>
                                    <% } %>
                                </td>
                            </tr>
                            <% })
                            }else{ %>
                            <tr>
                                <td colspan="7" class="text-align-center">暂无数据</td>
                            </tr>
                            <% }  %>

                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();
        var spaceId;

        $(".doProductStock").click(function (e) {
            spaceId = $(this).attr('data-spaceId');
            doAjax('确定备货？','/productOut/spaceid/stock')
        })
        $(".unProductStock").click(function (e) {
            spaceId = $(this).attr('data-spaceId');
            doAjax('确定取消？','/productOut/spaceid/stockCancel')
        })

        function doAjax(text,url) {
            layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: url,
                    method: 'post',
                    data: {
                        spaceId: spaceId,
                        diId: '<%= diId%>'
                    },
                    success: function (data) {
                        successLayout.reload();
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }, function (index) { layer.close(index) })
        }
    })

</script>

<%- include('../layouts/foot'); %>
