<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>待发货流水</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <div class="row-url">
            <a class="title-url active" href="/waitSend">待发货流水</a>
            <a class="title-url" href="/outMaterial">原料出库</a>
            <a class="title-url" href="/outProduct">成品出库</a>
            <a class="title-url" href="/outBred">大板领料单</a>
        </div>
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">流水号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.cid %>" type="text"
                                                   name="cid">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">合同号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.cid %>" type="text"
                                                   name="cid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户姓名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.cid %>" type="text"
                                                   name="cid">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户电话:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.cid %>" type="text"
                                                   name="cid">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">流水状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="ctype">
                                                <option value="">- 请选择 -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.startDate %>"
                                                   name="startDate">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.endDate %>"
                                                   name="endDate">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <a class="btn btn-primary " href="/deliveryNote">
                                        发货通知单
                                    </a>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>流水号</th>
                                <th>合同号</th>
                                <th>客户姓名</th>
                                <th>客户电话</th>
                                <th>收货地址</th>
                                <th>日期</th>
                                <th>流水状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="/taskseq/index/123456">123456</a></td>
                                <td></td>
                                <td>仓库1</td>
                                <td>区域1</td>
                                <td></td>
                                <td>张三</td>
                                <td>待发货</td>
                                <td><a class="cursor-pointer deliverThis" data-id="37">填写发货通知单</a></td>
                            </tr>

                            <tr>
                                <td colspan="9" class="text-align-center">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#search-customer").validationEngine();

        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery


    })

</script>


<%- include('./deliver_set'); %>
<%- include('../layouts/foot'); %>