<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/deliveryNote">发货管理</a></li>
            <li>查看流水号发货信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">门店名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.storeName %>" type="text"
                                                   name="storeName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">流水号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.lid %>" type="text"
                                                   name="lid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户姓名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.cName %>" type="text"
                                                   name="cName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>
                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                </div>


                                <% if(DWY_GLOBAL.ButtonOpen!=1){  %>
                                <div class="slideToggle display-none">
                                <% } %>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">客户号:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" value="<%= DWYRequest.query.cid %>" type="text"
                                                       name="cid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">客户电话:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control" value="<%= DWYRequest.query.mobile %>" type="text"
                                                       name="mobile">
                                            </div>
                                        </div>
                                    </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){  %>
                                </div>
                                <%}%>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                            <%}%>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">
            <div class="row">
                <div class="col-xs-12">
                    <h6>流水发货列表</h6>
                    <hr class="simple">
                </div>
            </div>
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>客户号</th>
                                <th>客户姓名</th>
                                <th>客户电话</th>
                                <th>门店名称</th>
                                <th>收货地址</th>
                                <th>门店地址</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(deliveryList.result)){%>
                            <% deliveryList.result.forEach(function (element, index) {%>
                            <tr>
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><%=element.cid %></td>
                                <td><%=element.cname %></td>
                                <td><%=element.mobile %></td>
                                <td><%=element.storeName %></td>
                                <td><%=element.customerAddress %></td>
                                <td><%= element.storeAddress %></td>
                                <td>
                                    <% if ( DWY_Helper.hasPermission(Permission.cargoManages.deliveryWrite.id, permission) ){ %>
                                    <a class="cursor-pointer deliverThis label label-primary"
                                       data-cid="<%=element.cid %>" data-deliveryTime="<%=element.deliveryTime %>" data-cName="<%=element.cname %>"
                                       data-mobile="<%=element.mobile %>" data-storeAddress="<%=element.storeAddress %>" data-customerAddress="<%=element.customerAddress %>"
                                    >填写发货通知单</a>
                                    <% } %>

                                </td>
                            </tr>
                            <%})%>
                            <% } else {%>
                            <tr>
                                <td colspan="8" class="text-align-center">暂无数据</td>
                            </tr>
                            <% }%>
                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#search-customer").validationEngine();

        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery



    })

</script>


<%- include('./deliver_set'); %>
<%- include('../layouts/foot'); %>