<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/deliveryNote">发货管理</a></li>
            <li>查看流水号发货信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">流水号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.lid %>" type="text"
                                                   name="lid">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">合同号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.contNo %>" type="text"
                                                   name="contNo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户姓名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.cName %>" type="text"
                                                   name="cName">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户电话:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.mobile %>" type="text"
                                                   name="mobile">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">流水状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="stcode">
                                                <option value="">- 请选择 -</option>
                                                <% statusInfo.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.stcode == element.id )?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.startTime %>"
                                                   name="startTime">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.endTime %>"
                                                   name="endTime">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>

                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>流水号</th>
                                <th>合同号</th>
                                <th>客户姓名</th>
                                <th>客户电话</th>
                                <th>收货地址</th>
                                <th>待发货日期</th>
                                <th>流水状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(deliveryList.result)){%>
                            <% deliveryList.result.forEach(function (element, index) {%>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><a href="/taskseq/index/<%=element.lid %>"><%=element.lid %></a></td>
                                <td><%=element.contNo %></td>
                                <td><%=element.cName %></td>
                                <td><%=element.mobile %></td>
                                <td><%=element.address %></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.deliveryTime) %></td>
                                <td><%= element.stcodeName %></td>
                                <td>
                                    <% if ( DWY_Helper.hasPermission(Permission.cargoManages.deliveryWrite.id, permission) ){ %>
                                    <a class="cursor-pointer deliverThis label label-primary" data-lid="<%=element.lid %>"
                                       data-contNo="<%=element.contNo %>" data-deliveryTime="<%=element.deliveryTime %>" data-cName="<%=element.cName %>"
                                       data-mobile="<%=element.mobile %>" data-address="<%=element.address %>"
                                    >填写发货通知单</a>
                                    <% } %>

                                </td>
                            </tr>
                            <%})%>
                            <% } else {%>
                            <tr>
                                <td colspan="9" class="text-align-center">暂无数据</td>
                            </tr>
                            <% }%>
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#search-customer").validationEngine();

        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery


    })

</script>


<%- include('./deliver_set'); %>
<%- include('../layouts/foot'); %>