<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>流水信息</li>
        </ol>
        <!-- end breadcrumb -->

        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right">
        <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
        <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
        </span> -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!--
            The ID "widget-grid" will start to initialize all widgets below
            You do not need to use widgets if you dont want to. Simply remove
            the <section></section> and you can use wells or panels instead
            -->


        <!-- well -->
        <div class="well dwy-show-well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>基本信息
                        <button class="btn-primary btn btn-sm ml-20">编辑信息</button>
                    </legend>
                    <!-- row -->

                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">客户号:</label>
                            <p class="text-left col-xs-8 tight-left"><%= taskseqInfo.cid %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">客户姓名:</label>
                            <p class="text-left col-xs-8 tight-left"><%= taskseqInfo.name %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">客户电话:</label>
                            <p class="text-left col-xs-8 tight-left"><%= taskseqInfo.mobile %></p>
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">建档日期:</label>
                            <p class="text-left col-xs-8 tight-left"><%= getLocalDate(taskseqInfo.addTime) %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">建档人:</label>
                            <p class="text-left col-xs-8 tight-left"><%= taskseqInfo.empName %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">提交量尺时间:</label>
                            <p class="text-left col-xs-8 tight-left"><%= getLocalDate(taskseqInfo.taskTime) %></p>
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">设计师:</label>
                            <p class="text-left col-xs-8 tight-left"><%= taskseqInfo.designer %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">门店地址:</label>
                            <p class="text-left col-xs-8 tight-left"><%= taskseqInfo.stoAddress %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">门店编号:</label>
                            <p class="text-left col-xs-8 tight-left"><%= taskseqInfo.bid %></p>
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-8">
                            <label class="text-right col-xs-2">量尺空间:</label>
                            <p class="text-left col-xs-10 tight-left"><%= taskseqInfo.space %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">希望量尺时间:</label>
                            <p class="text-left col-xs-8 tight-left"><%= getLocalDate(taskseqInfo.appointmentTime) %></p>
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-8">
                            <label class="text-right col-xs-2">客户地址:</label>
                            <p class="text-left col-xs-10 tight-left"><%= taskseqInfo.address %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">楼盘位置:</label>
                            <p class="text-left col-xs-8 tight-left"><%= taskseqInfo.realEstateGps %></p>
                        </div>

                    </div>

                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>量尺信息</legend>
                    <!-- row -->

                    <div class="col-xs-12">
                        <div class="col-xs-8">
                            <label class="text-right tight-left col-xs-2">量尺时间:</label>
                            <p class="text-left col-xs-10 tight-left">
                                <%= getLocalDate(measureInfo.finishTime) %>
                                <button class="btn-primary btn btn-xs ml-20">量尺登记</button>
                                <button class="btn-primary btn btn-xs ml-20">未成交</button>
                            </p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">计划首次沟通时间:</label>
                            <p class="text-left col-xs-8 tight-left"><%= getLocalDate(measureInfo.firstCommTime) %></p>
                        </div>

                    </div>

                    <div class="col-xs-12">

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">装修阶段:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.decoStageId %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">计划入住时间:</label>
                            <p class="text-left col-xs-8 tight-left"><%= getLocalDate(measureInfo.planDate) %></p>
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">量尺性质:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.measPropId %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">客户职业:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.custOcp %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">面积:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.area %></p>
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">房价:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.hsePrice %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">户型:</label>
                            <p class="text-left col-xs-8 tight-left"><%= taskseqInfo.appointmentTime %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">预算:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.budget %></p>
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">家庭成员:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.fmlyNumId %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">孩子性别:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.childGender %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">装修风格:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.decoStyleId %></p>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">预购家具:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.wantPurchase %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">喜欢主材颜色:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.decoColorId %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">量尺备注:</label>
                            <p class="text-left col-xs-8 tight-left"><%= measureInfo.remark %></p>
                        </div>


                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>查房信息</legend>
                    <!-- row -->

                    <div class="col-xs-12">
                        <%
                        wardroundInfo.forEach(function (element) { %>
                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">查房人姓名:</label>
                            <p class="text-left col-xs-8 tight-left"><%= element.name %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">计划首次沟通时间:</label>
                            <p class="text-left col-xs-8 tight-left"><%= getLocalDate(element.checkTime) %></p>
                        </div>

                        <div class="col-xs-4">
                            <label class="text-right tight-left col-xs-4">查房意见:</label>
                            <p class="text-left col-xs-8 tight-left"><%= element.content %></p>
                        </div>
                        <% }) %>
                    </div>

                </div>
                <!-- end row -->
            </div>
            <!-- end col -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>客户跟进</legend>
                    <!-- row -->

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>沟通时间:</th>
                                <th>备注:</th>
                                <th>待成交关键点:</th>
                                <th>下次沟通时间:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            followupInfo.forEach(function (element) { %>
                            <tr>
                                <td><%= getLocalDate(element.commTime) %></td>
                                <td><%= element.remark %></td>
                                <td><%= element.keyPoint %></td>
                                <td><%= getLocalDate(element.nextCommTime) %></td>
                            </tr>
                            <% }) %>

                            </tbody>
                        </table>

                    </div>


                </div>
                <!-- end row -->
            </div>

        </div>
        <!-- end row -->
    </div>
    <!-- end well -->


</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        /* DO NOT REMOVE : GLOBAL FUNCTIONS!
         *
         * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
         *
         * // activate tooltips
         * $("[rel=tooltip]").tooltip();
         *
         * // activate popovers
         * $("[rel=popover]").popover();
         *
         * // activate popovers with hover states
         * $("[rel=popover-hover]").popover({ trigger: "hover" });
         *
         * // activate inline charts
         * runAllCharts();
         *
         * // setup widgets
         * setup_widgets_desktop();
         *
         * // run form elements
         * runAllForms();
         *
         ********************************
         *
         * pageSetUp() is needed whenever you load a page.
         * It initializes and checks for all basic elements of the page
         * and makes rendering easier.
         *
         */

        pageSetUp();

        /*
         * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
         * eg alert("my home function");
         *
         * var pagefunction = function() {
         *   ...
         * }
         * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
         *
         * TO LOAD A SCRIPT:
         * var pagefunction = function (){
         *  loadScript(".../plugin.js", run_after_loaded);
         * }
         *
         * OR
         *
         * loadScript(".../plugin.js", run_after_loaded);
         */

        var pageFunction = function () {

        }

        pageFunction();

    })

</script>


<%- include('../layouts/foot'); %>