<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>角色信息</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>默认角色
                        <a class="label label-primary" href="/roles/create/<%= bid %>/<%= scope %>/sys">新建角色</a>
                    </h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="200">角色</th>
                                <th>权限</th>
                                <th width="300">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% rolesInfo.forEach(function (element) {
                            if(element.bid == 0){ %>
                            <tr>
                                <td><%= element.name %></td>
                                <td>
                                    <% element.permissionList.forEach(function (element) {  %>
                                    <span class="separation"><%= element.name %></span>
                                    <%   }) %>

                                </td>
                                <td>
                                    <a href="/roles/modify/<%= bid %>/<%= scope %>/<%= element.id %>" class="label label-primary">修改</a>
                                    <a class="delete-role label label-danger"  selfId="<%= element.id %>">删除</a>

                                </td>
                            </tr>
                            <%  } }) %>


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>门店自定义角色
                        <a class="label label-primary"  href="/roles/create/<%= bid %>/<%= scope %>/self" >新建自定义角色</a>
                    </h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped ">
                            <thead>
                            <tr>
                                <th width="200">角色</th>
                                <th>权限</th>
                                <th width="300">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% rolesInfo.forEach(function (element) {
                            if(element.bid != 0){ %>
                            <tr>
                                <td><%= element.name %></td>
                                <td>
                                    <% element.permissionList.forEach(function (element) {  %>
                                    <span class="separation"><%= element.name %></span>
                                    <% }) %>

                                </td>
                                <td>
                                    <a href="/roles/modify/<%= bid %>/<%= scope %>/<%= element.id %>" class="label label-primary">修改</a>
                                    <a class="delete-role label label-danger"  selfId="<%= element.id %>">删除</a>

                                </td>
                            </tr>
                            <%  } }) %>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- end well -->


</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(function () {
        $(".delete-role").on({
            click: function () {
                var roleId = $(this).attr('selfId');
                layer.confirm('确定删除该角色？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/roles/setStatus/'+roleId,
                            method: 'put',
                            success: function (data) {
                                layer.msg('操作成功', {icon: 1, time: DWY_GLOBAL_CONSTANT.TimeOut});
                                setTimeout(function () {
                                    window.location.reload();
                                }, DWY_GLOBAL_CONSTANT.TimeOut)
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);

                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })
    })
</script>


<%- include('../layouts/foot'); %>
