<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <% if(type == 'stores'){ %>
            <li><a class="back-url" href="/storesManage">门店管理</a></li>
            <% }else{ %>
            <li><a class="back-url" href="/agency">机构管理</a></li>
            <% } %>
            <li><a class="back-url" href="/roles/<%= bid %>/<%= scope %>"> 角色信息</a></li>
            <li>修改角色信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">

        <!-- well -->
        <div class="well dis-flex">
            <!-- row -->
            <div class="row dis-flex">
                <!-- col -->
                <div class="col-xs-12 dis-flex">
                    <legend>修改角色信息</legend>

                    <!-- row -->
                    <div class="row dis-flex">
                        <form class="form-horizontal dis-flex" method="post" action="/roles/doModify" id="create-store">

                            <div class="col-xs-12 ">
                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 角色:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control validate[required]"
                                                   value="<%= rolesInfo.name %>"
                                                   name="name">
                                            <input type="hidden" name="cid" value="<%= stcode %>">
                                            <input type="hidden" name="bid" value="<%= rolesInfo.bid %>">
                                            <input type="hidden" name="scope" value="<%= scope %>">
                                            <input type="hidden" name="bidUrl" value="<%= bid %>">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 dis-flex">

                                <div class="col-xs-8 dis-flex">
                                    <div class="form-group dis-flex-row">
                                        <label class="col-xs-2 control-label "><span class="requird"></span> 权限:</label>
                                        <div class="col-xs-10 no-padding dis-flex-row">
                                            <div class="col-xs-6 dis-flex">
                                                <div class="table-responsive dis-flex">
                                                    <table class="table table-bordered table-striped table-scroll table-role dis-flex"
                                                           id="tableOne">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                <label>
                                                                    <input type="checkbox" class="checkbox" id="checkAllOne">
                                                                    <span>全选</span>
                                                                </label>
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <%
                                                        var initTwo;
                                                        var permissionStr = '';
                                                        rolesInfo.permissionList.forEach(function (element) {
                                                            permissionStr += element.id + ','
                                                        })
                                                        permissionStr = permissionStr.substring(0, permissionStr.length - 1);

                                                        permissionsAllList.forEach(function (element, index) {
                                                            if (index == 0) {
                                                                initTwo = element.id
                                                            } %>
                                                        <tr class="level-0 <%= index == 0 ? 'active' : '' %>"
                                                            data-id="<%= element.id %>">
                                                            <td>
                                                                <label>
                                                                    <input type="checkbox"
                                                                           class="checkbox validate[minCheckbox[1]]"
                                                                           name="permission" value="<%= element.id %>"
                                                                            <%= DWY_Helper.checkboxStatusStr(permissionStr, element.id) %>
                                                                    >
                                                                    <span><%= element.name %></span>
                                                                </label>
                                                            </td>
                                                        </tr>

                                                        <% }) %>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div class="col-xs-6 dis-flex">
                                                <div class="table-responsive dis-flex">
                                                    <table class="table table-bordered table-striped table-scroll table-role dis-flex"
                                                           id="tableTwo">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                <label>
                                                                    <input type="checkbox" class="checkbox" id="checkAllTwo">
                                                                    <span>全选</span>
                                                                </label>
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <%
                                                        var permissionStr = '';
                                                        rolesInfo.permissionList.forEach(function (elements) {
                                                            permissionStr += elements.id + ','
                                                        })
                                                        permissionStr = permissionStr.substring(0, permissionStr.length - 1);

                                                        permissionsAllList.forEach(function (elementa, index) {
                                                            var parentId = elementa.id;
                                                        if(DWY_Helper.isCanLoop(elementa.subPermission)){

                                                        elementa.subPermission.forEach(function (element) { %>
                                                        <tr class="level-1 <%= parentId == initTwo ? 'show-this' : '' %>"
                                                            data-parentId="<%= parentId %>">
                                                            <td class="level-1-title">
                                                                <label>
                                                                    <input type="checkbox"
                                                                           class="checkbox validate[minCheckbox[1]]"
                                                                           name="permission" value="<%= element.id %>"
                                                                           parentId="<%= parentId %>"
                                                                            <%= DWY_Helper.checkboxStatusStr(permissionStr, element.id) %>
                                                                    >
                                                                    <span><%= element.name %></span>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <% })
                                                        }else{ %>
                                                        <tr class="level-1 <%= parentId == initTwo ? 'show-this' : '' %> "
                                                            data-parentId="<%= parentId %>">
                                                            <td>该权限无子权限</td>
                                                        </tr>
                                                        <% }
                                                        }) %>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认修改
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

//        pageSetUp();

        $("#create-store").validationEngine();

        $("#checkAllOne").change(function () {
            if ($(this).is(":checked")) {
                $(":checkbox").prop('checked', true);

            } else {
                $(":checkbox").prop('checked', false);
            }
        })

        $("#checkAllTwo").change(function () {
            $("#tableTwo :checkbox:visible").prop('checked', this.checked);
            var parentId = $("#tableTwo tbody :checkbox:visible:first-child").attr('parentId');
            $("input[value=" + parentId + "]").prop('checked', true);
        })
        $(':checkbox').change(function () {
            var parentId = $(this).attr('parentId');
            if (parentId) {
                $("input[value=" + parentId + "]").prop('checked', true);
            } else {
                var value = $(this).val();
                if ($(this).is(":checked")) {
                    $("input[parentId=" + value + "]").prop('checked', true);

                } else {
                    $("input[parentId=" + value + "]").prop('checked', false);
                }
            }

        })

        $("#tableOne tbody tr").on('click', function () {
            var id = $(this).attr('data-id')
            $("#tableOne tr").removeClass('active')
            $(this).addClass('active')

            $("#tableTwo tr").removeClass('show-this')
            $("#tableTwo tr[data-parentId=" + id + "]").addClass('show-this')
        })

    })

</script>


<%- include('../layouts/foot'); %>