<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>基础数据设置</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!--<div class="tab-title">-->
            <!--<a class="tab-title-url active" href="/system">基础数据设置</a>-->
            <!--<a class="tab-title-url " href="/system/timeSet">预警时间设置</a>-->
            <!--<a class="tab-title-url " href="/system/timeSet">预警时间设置</a>-->
        <!--</div>-->
        <!-- well -->
        <div class="well no-border no-box-shadow basicDataSet">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-4 table-responsive scroll level-0">
                    <div data-level="level-1" class="text-align-center basicDataTit01">
                     &nbsp;
                    </div>
                    <div class="basicDataTit text-align-center basicDataTit01">
                        类别
                    </div>
                    <table class="table table-bordered table-linkage basicDataFirst">
                        <tbody>
                        <%
                        if(DWY_Helper.isCanLoop(basicDataList)){
                        basicDataList.forEach(function (element, index) { %>
                        <tr key="<%= element.key%>" class="<%= (element.key == "assistantSpaceProd")?"display-none":'' %>">
                            <td ><%= element.name %></td>
                        </tr>
                        <%  })
                        }else{ %>
                        <tr>
                            <td  align="center">暂无数据</td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                </div>

                <div class="col-xs-8 table-responsive level-1">

                        <div data-level="level-1" class="text-align-center basicDataTit01">
                            <a class="label label-primary create status01">新建</a>
                            <a class="label label-primary modify status01">修改</a>
                            <a class="label label-primary open-this status03">启用</a>
                            <a class="label label-danger delete status01">删除</a>
                            <a class="label label-primary see-all status01">查看所有</a>
                            <a class="label label-primary open-all display-none">启用所有</a>
                            <a class="label label-primary revoke status02">撤销</a>
                            <a class="label label-primary save status02">保存</a>
                            <input type="hidden" name="key" value="" class="key"type='text'/>
                        </div>
                        <div class="basicDataTit text-align-center basicDataTit01">
                            类别1
                        </div>
                        <table class="table table-bordered table-linkage ">
                            <tbody class="basicDataSec">
                            <tr><td>请点击左侧进行查看</td></tr>
                            </tbody>
                        </table>

                </div>

                <div class="col-xs-4 table-responsive level-2  display-none">
                    <div data-level="level-2" class="text-align-center basicDataTit01">
                        <a class="label label-primary create status01">新建</a>
                        <a class="label label-primary modify status01">修改</a>
                        <a class="label label-primary open-this status03">启用</a>
                        <a class="label label-danger delete status01">删除</a>
                        <a class="label label-primary revoke status02">撤销</a>
                        <a class="label label-primary save status02">保存</a>
                        <input type="hidden" name="parentId" value="" class="parentId" type='text'/>
                    </div>
                    <div class="basicDataTit text-align-center basicDataTit01">
                        类别2
                    </div>
                    <table class="table table-bordered table-linkage ">
                        <tbody class="basicDataThree">
                        <tr><td>点击左侧进行数据查看</td></tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-xs-4 table-responsive level-3  display-none">
                    <div data-level="level-3" class="text-align-center basicDataTit01">
                        <a class="label label-primary create status01">新建</a>
                        <a class="label label-primary modify status01">修改</a>
                        <a class="label label-primary open-this status03">启用</a>
                        <a class="label label-danger delete status01">删除</a>
                        <a class="label label-primary revoke status02">撤销</a>
                        <a class="label label-primary save status02">保存</a>
                        <input type="hidden" name="parentId" value="" class="parentId" type='text'/>
                        <input type="hidden" name="spaceId" value="" class="spaceId" type='text'/>
                    </div>
                    <div class="basicDataTit text-align-center basicDataTit01">
                        类别3
                    </div>
                    <table class="table table-bordered table-linkage ">
                        <tbody class="basicDataFour">
                        <tr><td>点击左侧进行数据查看</td></tr>
                        </tbody>
                    </table>

                </div>
                <!-- end col -->
                <!--col-->
                <!--end col-->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <!-- well -->
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->
<!--新建分包类型-->
<form class="form-horizontal  layer-template" method="post" id="create-subPackageDao-form" action="/system/doCreate">

    <div class="row" style="padding-top: 30px;">

        <div class="col-xs-12">
            <div class="col-xs-8">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="requird"></span>分包类型:</label>
                    <div class="col-xs-8">
                        <select class="form-control validate[required]" name="code" id="" >
                            <option value="">- 请选择 -</option>
                            <option value="1003">导轨</option>
                            <option value="1004">趟门</option>
                            <option value="1005">功能部件</option>
                            <option value="1006">背面板件</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-8">
                <div class="form-group">
                    <label class="col-xs-4 control-label" ><span class="requird"></span> 输入值:</label>
                    <div class="col-xs-8">
                        <input class="form-control validate[required]" value="" name="name" id="">
                    </div>
                </div>
            </div>
        </div>
    </div>
  <input type="hidden" name="key" value="subPackageDao"/>
    <div class="row">
        <div class="col-xs-12">
            <hr class="simple">
            <div class="col-xs-12 text-center">
                <button  class="btn btn-primary  margin-right-5" type="submit">
                    <i class="fa fa-save"></i>
                    提交
                </button>
            </div>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!--END 新建分包类型-->
<!--修改分包类型-->
<form class="form-horizontal  layer-template" method="post" id="modify-subPackageDao-form" action="/system/doModify">

    <div class="row" style="padding-top: 30px;">

        <div class="col-xs-12">
            <div class="col-xs-8">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="requird"></span>分包类型:</label>
                    <div class="col-xs-8">
                        <select class="form-control validate[required]" name="code" id="subPackageDaoCode" >
                            <option value="">- 请选择 -</option>
                            <option value="1003">导轨</option>
                            <option value="1004">趟门</option>
                            <option value="1005">功能部件</option>
                            <option value="1006">背面板件</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-8">
                <div class="form-group">
                    <label class="col-xs-4 control-label" ><span class="requird"></span> 输入值:</label>
                    <div class="col-xs-8">
                        <input class="form-control validate[required]" value="" name="name" id="subPackageDaoName">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="key" value="subPackageDao"/>
    <input type="hidden" name="id" value="" id="subPackageDaoId"/>
    <div class="row">
        <div class="col-xs-12">
            <hr class="simple">
            <div class="col-xs-12 text-center">
                <button  class="btn btn-primary  margin-right-5" type="submit">
                    <i class="fa fa-save"></i>
                    提交
                </button>
            </div>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!--END 修改分包类型-->
<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">

    $(document).ready(function () {

        //表单初始验证
        $("#create-subPackageDao-form").validationEngine();
        $("#modify-subPackageDao-form").validationEngine();


        //点击basicDataFirst--左边第一栏的tr时
        $(".basicDataFirst>tbody>tr").click(function(){
         var key=$(this).attr("key");
             $(".level-1 input[name=key]").val(key);

             //初始化二三栏内容
            $(".basicDataThree").html("");
            $(".basicDataFour").html("");

            //展示的样式
          if(key=='assistantResupplyReason'|| key=='assistantOrderSpaceinfo'){
               $(".level-0").removeClass("col-xs-4").addClass("col-xs-3");
               $(".level-1").removeClass("col-xs-8").addClass("col-xs-3");
               $(".level-2").removeClass("display-none").addClass("col-xs-3");
               $(".level-3").removeClass("display-none").addClass("col-xs-3");
           }
            else{
               $(".level-0").removeClass("col-xs-3").addClass("col-xs-4");
               $(".level-1").removeClass("col-xs-3").removeClass("col-xs-4").addClass("col-xs-8");
               $(".level-2").removeClass("col-xs-4").addClass("display-none");
               $(".level-3").addClass("display-none");
            }


            //订单退单原因添加备注
            if(key=="assistantReviewReson"){
                $(".level-1 .basicDataTit" ).html("类别1"+"<p>22:加盟退回原因 21:受理退回原因 60:排料退回原因 50:拆审退回原因 40:拆单退回原因 20:审单退回原因<p>");
            }
            else{
                $(".level-1 .basicDataTit" ).html("类别1");
            }

            //重置按钮
            $(".level-1").find('.status01').show();
            $(".level-1").find('.status02,.status03').hide();


            //系统项隐藏新建和删除
            if(key=="assistantConfig"){
                $(".create ").hide();
                $(".delete").hide();
            }
            else{
                $(".create").show();
                $(".delete").show();
            }

            //ajax功能
            ajaxFuncOne(key);



        });

        //点击左边第二栏
        $(document).on("click",".basicDataSec>tr",function(){
           var key= $(".level-1 input[name=key]").val();

            var parentId=$(this).attr("id");
           // console.log(parentId);

            $(".level-2 input[name=parentId]").val(parentId);

            if(key=="assistantResupplyReason"){
                ajaxResupplyReason0ne(parentId);
            }
            if(key=="assistantOrderSpaceinfo"){
                ajaxOrderSpaceinfoOne(parentId);
            }
        });
        //点击左边第三栏
        $(document).on("click",".basicDataThree>tr",function(){
            var key= $(".level-1 input[name=key]").val();

            var parentId=$(this).attr("id");
           // console.log(parentId);

            $(".level-3 input[name=parentId]").val(parentId);

            $(".level-3 input[name=spaceId]").val();

            if(key=="assistantResupplyReason"){
                ajaxResupplyReasonTwo(parentId);
            }
            if(key=="assistantOrderSpaceinfo"){
                ajaxOrderSpaceinfoTwo(parentId);
            }
        });

    })

    function ajaxFuncOne(key){
        $.ajax({
            url: '/system/'+key,
            method: 'put',
            async: true, //异步请求
            beforeSend: function(){
                $(".basicDataSec").html('数据正在加载中');
            },
            success: function (data) {
                var arry= JSON.parse(data);
                //console.log(arry);
                setFrag(key,arry);
            },
            error: function (response) {
                layer.close(index)
                errorLayout.normal(response);
            }
        });
    }
    function setFrag(key,arry){
        if(arry.length==0){
            $(".basicDataSec").html('<tr><td>暂无数据</td></tr>');
        }
        else if(key=="assistantConfig"){
            var frag="";
            for(var i=0;i<arry.length;i++){
                frag+="<tr id=" +arry[i].id+" stcode="+arry[i].status+">" +
                    "<td width='30%'><input class='border-0 text-align-center' type='text' value="+arry[i].code+" name='code' readonly/></td>" +
                    "<td width='30%'><input class='border-0 text-align-center' type='text' value="+arry[i].value+" name='value' readonly/></td>" +
                    "<td width='40%'><textarea class='border-0 text-align-center' name='remark' row='6'>"+arry[i].remark+"</textarea></td>" +
                    "</tr>"
            }
            $(".basicDataSec").html(frag);
        }
        else  if(key=="assistantBrandInfo"){
            var frag="";
            for(var i=0;i<arry.length;i++){
                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+">" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td>" +
                    "</tr>"
            }
            $(".basicDataSec").html(frag);
        }
        else  if(key=="assistantOrderSpaceinfo"){
            var frag="";
            for(var i=0;i<arry.length;i++){
                if(arry[i].parentId==0){
                    frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+" parentId=" + arry[i].parentId + ">" +
                        "<td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td>" +
                        "</tr>"
                }
            }
            $(".basicDataSec").html(frag);
        }
        else  if(key=="assistantSpaceProd"){
            var frag="";
            for(var i=0;i<arry.length;i++){
                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+">" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td>" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].spaceId+" name='spaceId' readonly/></td>" +
                    "</tr>"
            }
            $(".basicDataSec").html(frag);
        }
        else  if(key=="assistantResupplyReason"){
            var frag="";
            for(var i=0;i<arry.length;i++){
                if(arry[i].levelType==1){
                    frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+">" +
                        "<td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td>" +
                        "</tr>"
                }
            }
            $(".basicDataSec").html(frag);
        }
        else  if(key=="assistantReviewReson"){
            var frag="";
            for(var i=0;i<arry.length;i++){
                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+">" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td>" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].reasonType+" name='reasonType' readonly/>" +
                    "</tr>"
            }
            $(".basicDataSec").html(frag);
        }
        else  if(key=="assistantTaskseqFileType"){
            var frag="";
            for(var i=0;i<arry.length;i++){
                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+">" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].type+" name='type' readonly/></td>" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/>" +
                    "</td><td><input class='border-0 text-align-center' type='text' value="+arry[i].fileExt+" name='fileExt' readonly/></td>" +
                    "</tr>"
            }
            $(".basicDataSec").html(frag);
        }
        else  if(key=="assistantOrderFileType"){
            var frag="";
            for(var i=0;i<arry.length;i++){
                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+">" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].code+" name='code' readonly/></td>" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td>" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].fileExt+" name='fileExt' readonly/></td>" +
                    "</tr>"
            }
            $(".basicDataSec").html(frag);
        }
        else if(key=="subPackageDao"){
            for(var i=0;i<arry.length;i++){
                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+" code="+arry[i].code+">" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].type+" name='type' readonly/></td>" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td>" +
                    "</tr>"
            }
            $(".basicDataSec").html(frag);
        }
        else{
            var frag="";
            for(var i=0;i<arry.length;i++){
                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+">" +
                    "<td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td>" +
                    "</tr>"
            }
            $(".basicDataSec").html(frag);
        }

        //给禁用项目设置样式
        $(".basicDataSec").find("tr").each(function(){
            if($(this).attr("stcode")=='0'){
                $(this).addClass("disable display-none");
            }
        });
    }
    function ajaxResupplyReason0ne(parentId) {
        $.ajax({
            url: '/resupplyReason/'+parentId,
            method: 'put',
            async: true, //异步请求
            beforeSend: function(){
                $(".basicDataThree").html('数据正在加载中');
            },
            success: function (data) {
                var arry= JSON.parse(data);
               // console.log(arry);
                var frag = "";
                for (var i = 0; i < arry.length; i++) {
                    frag += "<tr id=" + arry[i].id + " stcode=" + arry[i].stcode + "  parentId=" + arry[i].parentId + ">" +
                        "<td><input class='border-0 text-align-center' type='text' value=" + arry[i].name + " name='name' readonly/></td>" +
                        "</tr>"
                }
                $(".basicDataThree").html(frag);

                //给禁用项目设置样式
                $(".basicDataThree").find("tr").each(function(){
                    if($(this).attr("stcode")=='0'){
                        $(this).addClass("disable");
                    }
                });

            },
            error: function (response) {
                layer.close(index)
                errorLayout.normal(response);
            }
        });
    }
    function ajaxResupplyReasonTwo(parentId) {
        $.ajax({
            url: '/resupplyReason/'+parentId,
            method: 'put',
            async: true, //异步请求
            beforeSend: function(){
                $(".basicDataFour").html('数据正在加载中');
            },
            success: function (data) {
                var arry= JSON.parse(data);
               // console.log(arry);
                var frag = "";
                for (var i = 0; i < arry.length; i++) {
                    frag += "<tr id=" + arry[i].id + " stcode=" + arry[i].stcode + "  parentId=" + arry[i].parentId + ">" +
                        "<td><input class='border-0 text-align-center' type='text' value=" + arry[i].name + " name='name' readonly/></td>" +
                        "</tr>"
                }
                $(".basicDataFour").html(frag);

                //给禁用项目设置样式
                $(".basicDataFour").find("tr").each(function(){
                    if($(this).attr("stcode")=='0'){
                        $(this).addClass("disable");
                    }
                });

            },
            error: function (response) {
                layer.close(index)
                errorLayout.normal(response);
            }
        });
    }
    function ajaxOrderSpaceinfoOne(parentId){
        $.ajax({
            url: '/orderSpaceinfo/'+parentId,
            method: 'put',
            async: true, //异步请求
            beforeSend: function(){
                $(".basicDataThree").html('数据正在加载中');
            },
            success: function (data) {
                var arry= JSON.parse(data);
                //console.log(arry);

                var frag = "";
                for (var i = 0; i < arry.length; i++) {
                    frag += "<tr id=" + arry[i].id + " stcode=" + arry[i].stcode + " parentId=" + arry[i].parentId + ">" +
                        "<td><input class='border-0 text-align-center' type='text' value=" + arry[i].name + " name='name' readonly/></td>" +
                        "</tr>"
                }
                $(".basicDataThree").html(frag);

                //给禁用项目设置样式
                $(".basicDataThree").find("tr").each(function(){
                    if($(this).attr("stcode")=='0'){
                        $(this).addClass("disable");
                    }
                });

            },
            error: function (response) {
                layer.close(index)
                errorLayout.normal(response);
            }
        });
    }
    function ajaxOrderSpaceinfoTwo(parentId){
        $.ajax({
            url: '/orderSpaceinfoTwo/'+parentId,
            method: 'put',
            async: true, //异步请求
            beforeSend: function(){
                $(".basicDataFour").html('数据正在加载中');
            },
            success: function (data) {
                var arry= JSON.parse(data);
                //console.log(arry);
                var frag = "";
                for (var i = 0; i < arry.length; i++) {
                    frag += "<tr id=" + arry[i].id + " stcode=" + arry[i].stcode + "  parentId=" + arry[i].parentId + ">" +
                        "<td><input class='border-0 text-align-center' type='text' value=" + arry[i].name + " name='name' readonly/></td>" +
                        "</tr>"
                }
                $(".basicDataFour").html(frag);

                //给禁用项目设置样式
                $(".basicDataFour").find("tr").each(function(){
                    if($(this).attr("stcode")=='0'){
                        $(this).addClass("disable");
                    }
                });

            },
            error: function (response) {
                layer.close(index)
                errorLayout.normal(response);
            }
        });
    }

</script>

<%- include('./index-model'); %>
<%- include('../layouts/foot'); %>