<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>基础数据设置</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!--<div class="tab-title">-->
            <!--<a class="tab-title-url active" href="/system">基础数据设置</a>-->
            <!--<a class="tab-title-url " href="/system/timeSet">预警时间设置</a>-->
            <!--<a class="tab-title-url " href="/system/timeSet">预警时间设置</a>-->
        <!--</div>-->
        <!-- well -->
        <div class="well no-border no-box-shadow basicDataSet">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-4 table-responsive scroll level-0">
                    <div data-level="level-1" class="text-align-center basicDataTit01">
                     &nbsp;
                    </div>
                    <div class="basicDataTit text-align-center basicDataTit01">
                        类别
                    </div>
                    <table class="table table-bordered table-linkage basicDataFirst">
                        <tbody>
                        <%
                        if(DWY_Helper.isCanLoop(basicDataList)){
                        basicDataList.forEach(function (element, index) { %>
                        <tr key="<%= element.key%>">
                            <td ><%= element.name %></td>
                        </tr>
                        <%  })
                        }else{ %>
                        <tr>
                            <td  align="center">暂无数据</td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                </div>

                <div class="col-xs-8 table-responsive level-1">

                        <div data-level="level-1" class="text-align-center basicDataTit01">
                            <a class="label label-primary create status01">新建</a>
                            <a class="label label-primary modify status01">修改</a>
                            <a class="label label-primary open-this status03">启用</a>
                            <a class="label label-danger delete status01">删除</a>
                            <a class="label label-primary see-all status01 display-none">查看所有</a>
                            <a class="label label-primary open-all status01">启用所有</a>
                            <a class="label label-primary revoke status02">撤销</a>
                            <a class="label label-primary save status02">保存</a>
                            <input type="hidden" name="key" value="" class="key"type='text'/>
                        </div>
                        <div class="basicDataTit text-align-center basicDataTit01">
                            类别1
                        </div>
                        <table class="table table-bordered table-linkage ">
                            <tbody class="basicDataSec">
                            <tr><td>请点击左侧进行查看</td></tr>
                            </tbody>
                        </table>

                </div>

                <div class="col-xs-4 table-responsive level-2 scroll display-none">
                    <div data-level="level-2" class="text-align-center basicDataTit01">
                        <a class="label label-primary create status01">新建</a>
                        <a class="label label-primary modify status01">修改</a>
                        <a class="label label-danger delete status01">删除</a>
                        <a class="label label-primary revoke status02">撤销</a>
                        <a class="label label-primary save status02">保存</a>
                        <input type="hidden" name="parentId" value="" class="parentId" type='text'/>
                    </div>
                    <div class="basicDataTit text-align-center basicDataTit01">
                        类别2
                    </div>
                    <table class="table table-bordered table-linkage ">
                        <tbody class="basicDataThree">
                        <tr><td>点击左侧进行数据查看</td></tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-xs-4 table-responsive level-3 scroll display-none">
                    <div data-level="level-3" class="text-align-center basicDataTit01">
                        <a class="label label-primary create status01">新建</a>
                        <a class="label label-primary modify status01">修改</a>
                        <a class="label label-danger delete status01">删除</a>
                        <a class="label label-primary revoke status02">撤销</a>
                        <a class="label label-primary save status02">保存</a>
                        <input type="hidden" name="parentId" value="" class="parentId" type='text'/>
                    </div>
                    <div class="basicDataTit text-align-center basicDataTit01">
                        类别3
                    </div>
                    <table class="table table-bordered table-linkage ">
                        <tbody class="basicDataFour">
                        <tr><td>点击左侧进行数据查看</td></tr>
                        </tbody>
                    </table>

                </div>
                <!-- end col -->
                <!--col-->
                <!--end col-->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <!-- well -->
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">

    $(document).ready(function () {

        //点击basicDataFirst--左边第一栏的tr时
        $(".basicDataFirst>tbody>tr").click(function(){
         var key=$(this).attr("key");
             $(".level-1 input[name=key]").val(key);

            //
           if(key=='assistantOrderSpaceinfo'){
               $(".level-0").removeClass("col-xs-3").addClass("col-xs-4");
                $(".level-1").removeClass("col-xs-8").addClass("col-xs-4");
                $(".level-2").removeClass("display-none").addClass("col-xs-4");
                $(".level-3").addClass("display-none");
            }
            else if(key=='assistantResupplyReason'){
               $(".level-0").removeClass("col-xs-4").addClass("col-xs-3");
               $(".level-1").removeClass("col-xs-8").addClass("col-xs-3");
               $(".level-2").removeClass("display-none").addClass("col-xs-3");
               $(".level-3").removeClass("display-none").addClass("col-xs-3");
           }
            else{
               $(".level-0").removeClass("col-xs-3").addClass("col-xs-4");
               $(".level-1").removeClass("col-xs-3").removeClass("col-xs-4").addClass("col-xs-8");
               $(".level-2").removeClass("col-xs-4").addClass("display-none");
               $(".level-3").addClass("display-none");
            }



            $.ajax({
                url: '/system/'+key,
                method: 'put',
                success: function (data) {
                    var arry= JSON.parse(data);
                    console.log(arry);
                    if(arry.length==0){
                        $(".basicDataSec").html('<tr><td>暂无数据</td></tr>');
                    }
                    else if(key=="assistantConfig"){
                             var frag="";
                             for(var i=0;i<arry.length;i++){
                                 frag+="<tr id="+arry[i].id+" stcode="+arry[i].status+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].code+" name='code' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].value+" name='value' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].remark+"       name='remark' readonly/></td></tr>"
                             }
                             $(".basicDataSec").html(frag);
                     }
                     else  if(key=="assistantBrandInfo"){
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].type+" name='type' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td></tr>"
                        }
                        $(".basicDataSec").html(frag);
                    }
                    else  if(key=="assistantOrderSpaceinfo"){
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            if(arry[i].parentId==0){
                                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td></tr>"
                            }
                       }
                        $(".basicDataSec").html(frag);
                    }
                    else  if(key=="assistantSpaceProd"){
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].spaceId+" name='spaceId' readonly/></td></tr>"
                        }
                        $(".basicDataSec").html(frag);
                    }
                    else  if(key=="assistantResupplyReason"){
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            if(arry[i].levelType==1){
                                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].levelType+" name='levelType' readonly/></td></tr>"
                            }
                      }
                        $(".basicDataSec").html(frag);
                    }
                    else  if(key=="assistantReviewReson"){
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].reasonType+" name='reasonType' readonly/></tr>"
                        }
                        $(".basicDataSec").html(frag);
                    }
                    else  if(key=="assistantTaskseqFileType"){
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].type+" name='type' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].fileExt+" name='fileExt' readonly/></td></tr>"
                        }
                        $(".basicDataSec").html(frag);
                    }
                    else  if(key=="assistantOrderFileType"){
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].code+" name='code' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].fileExt+" name='fileExt' readonly/></td></tr>"
                        }
                        $(".basicDataSec").html(frag);
                    }
                    else{
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td></tr>"
                        }
                        $(".basicDataSec").html(frag);
                    }

                    //给禁用项目设置样式
                    $(".basicDataSec").find("tr").each(function(){
                        if($(this).attr("stcode")=='0'){
                            $(this).addClass("disable");
                        }
                    });

                },
                error: function (response) {
                    layer.close(index)
                    errorLayout.normal(response);
                }
            });



        });

        $(document).on("click",".basicDataSec>tr",function(){
           var key= $(".level-1 input[name=key]").val();
            var parentId=$(this).attr("id");
            console.log(parentId);
            $(".level-2 input[name=parentId]").val(parentId);
            if(key=="assistantResupplyReason"){
                $.ajax({
                    url: '/resupplyReason/'+parentId,
                    method: 'put',
                    success: function (data) {
                        var arry= JSON.parse(data);
                        console.log(arry);

                            var frag="";
                            for(var i=0;i<arry.length;i++){
                                frag+="<tr id="+arry[i].id+" stcode="+arry[i].stcode+"  parentId="+arry[i].parentId+"><td><input class='border-0 text-align-center' type='text' value="+arry[i].name+" name='name' readonly/></td></td><td><input class='border-0 text-align-center' type='text' value="+arry[i].levelType+" name='levelType' readonly/></td></tr>"
                            }
                            $(".basicDataThree").html(frag);



                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }
            if(key=="assistantOrderSpaceinfo"){
                $.ajax({
                    url: '/orderSpaceinfo/'+parentId,
                    method: 'put',
                    success: function (data) {
                        var arry= JSON.parse(data);
                        console.log(arry);

                            var frag = "";
                            for (var i = 0; i < arry.length; i++) {
                                frag += "<tr id=" + arry[i].id + " stcode=" + arry[i].stcode + "><td><input class='border-0 text-align-center' type='text' value=" + arry[i].name + " name='name' readonly/></td></tr>"
                            }
                            $(".basicDataThree").html(frag);



                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }

        });
        $(document).on("click",".basicDataThree>tr",function(){
            var key= $(".level-1 input[name=key]").val();
            var parentId=$(this).attr("id");
            console.log(parentId);
            $(".level-2 input[name=parentId]").val(parentId);
            if(key=="assistantResupplyReason"){
                $.ajax({
                    url: '/resupplyReason/'+parentId,
                    method: 'put',
                    success: function (data) {
                        var arry= JSON.parse(data);
                        console.log(arry);
                            var frag = "";
                            for (var i = 0; i < arry.length; i++) {
                                frag += "<tr id=" + arry[i].id + " stcode=" + arry[i].stcode + "  parentId=" + arry[i].parentId + "><td><input class='border-0 text-align-center' type='text' value=" + arry[i].name + " name='name' readonly/></td></td><td><input class='border-0 text-align-center' type='text' value=" + arry[i].levelType + " name='levelType' readonly/></td></tr>"
                            }
                            $(".basicDataFour").html(frag);

                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);
                    }
                });
            }
        });

    })

</script>

<%- include('./index-model'); %>
<%- include('../layouts/foot'); %>