<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<style>
    hr{
        border-top:3px  dotted #000 !important;
    }
</style>
<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
            <li>打印预览</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">


        <div class="prin-preview">
            <% if(type == 'arry'){ %>
            <div class="orderItemLayerTit">
                <ul class="orderItemMenu">
                    <a href="/system/printParts/<%= batchNumber%>/<%= factoryId%>?type=A">
                        <li class="padding-10 <%= (showTYpe=='A'|| !showTYpe)? 'materielBak':''%>">配件</li>
                    </a>
                    <a href="/system/printParts/<%= batchNumber%>/<%= factoryId%>?type=W">
                        <li class="padding-10 <%= showTYpe=='W'? 'materielBak':''%> ">工件</li>
                    </a>
                </ul>
            </div>
            <% } %>

            <div id="printHtml">
                <% if(type == 'html'){ %>
                <div class="printBody"><%- printINfo %></div>
                <%  } %>

                <% if(type == 'arry'){
                if(( showTYpe=='A' || !showTYpe ) && DWY_Helper.isCanLoop(printINfo.A)){
                printINfo.A.forEach(function (element) { %>
                <div class="printBody nopadding-table" id="tabDiv0"><%- element %></div>
                <%  })
                }
                if(showTYpe=='W' && DWY_Helper.isCanLoop(printINfo.W)){
                printINfo.W.forEach(function (element) { %>
                <div class="printBody nopadding-table" id="tabDiv1"><%- element %></div>
                <%  })
                }
                } %>

                <% if(type == 'delivery'){
                if(DWY_Helper.isCanLoop(printINfo.delivery)){
                printINfo.delivery.forEach(function (element) { %>
                <div class="printBody"><%- element %></div>
                <%  })
                }
                } %>
            </div>
        </div>

        <div class="form-horizontal fix-print">
            <div class="form-group">
                <label class="pull-left control-label">纸张大小:</label>
                <div class="col-xs-8">
                    <select class="form-control" name="stcode">
                        <option value="0">A4</option>
                        <option value="1">小票</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary " id="print">
                <i class="fa fa-print"></i>&nbsp;
                打印
            </button>

        </div>

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->


<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script src="/asset/js/jQuery.print.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('body').on('click', '#print', function () {
            $("#printHtml").print({
                stylesheet : "/css/print.css",
            });
        })

    })

</script>


<%- include('../layouts/foot'); %>