<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<style>
    hr{
        border-top:3px  dotted #000 !important;
    }
</style>
<div id="main" role="main">

    <div id="ribbon">

        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="<%= backPath %>"> <i class="fa fa-chevron-left"></i>返回</a></li>
            <li>打印预览</li>
        </ol>


    </div>
    <div id="content">

        <% var printINfoKeys = Object.keys(printINfo) %>

        <div class="prin-preview">

            <div class="tab-pane">

                <ul class="nav nav-tabs">

                    <% if(DWY_Helper.isCanLoop(printINfoKeys)){
                    printINfoKeys.forEach(function (element, index) {  %>

                    <li class="<%= (index == 0)? 'active':''%>">
                        <a href="#<%= element %>Div" data-toggle="tab"><%= element %></a>
                    </li>
                    <%  }) }%>


                </ul>
                <div class="tab-content padding-10">

                    <%  var num = 0;
                            for(var tabType in printINfo ){   %>

                    <div class="tab-pane <%= (num == 0)? 'active':''%>" id="<%= tabType %>Div">

                        <% if(DWY_Helper.isCanLoop(printINfo[tabType])){
                        printINfo[tabType].forEach(function (element, index) { %>

                        <div class="printBody nopadding-table">
                            <%- element %>
                        </div>

                        <%  })
                        } %>

                    </div>

                    <% num++ }   %>
                </div>

            </div>

            <div id="printHtml" class="display-none"></div>

        </div>

        <div class="form-horizontal fix-print">
            <div class="form-group">
                <label class="pull-left control-label">纸张大小:</label>
                <div class="col-xs-8">
                    <select class="form-control" name="stcode">
                        <option value="0">A4</option>
                        <option value="1">小票</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="pull-left control-label">打印分类:</label>
                <div class="col-xs-8">
                    <% if(DWY_Helper.isCanLoop(printINfoKeys)){
                    printINfoKeys.forEach(function (element, index) {  %>

                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox"
                               name="printType" value="<%= element %>">
                        <span><%= element %></span>
                    </label>
                    <%  }) }%>
                </div>
            </div>
            <button class="btn btn-primary " id="print">
                <i class="fa fa-print"></i>&nbsp;
                打印
            </button>

        </div>

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->


<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script src="/asset/js/jQuery.print.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var printHtml =  $('#printHtml');

        $('body').on('click', '#print', function () {

            printHtml.empty();

            var value=[];
            $("input[name=printType]:checked").each(function () {
                value.push($(this).val())
            });
            if(value.length>0){
                var html = "";
                value.forEach(function (element) {
                    html += $('#'+element+'Div').html();
                })

//                for(var i = 0;i<5000;i++){
//                    html += $('#totalDiv').html();
//                }
//                printHtml.append(html);

                printHtml.print({
                    stylesheet : "/css/print.css",
//                    timeout: 750,
                    prepend: html,
//                    deferred: $.Deferred(test),
                });

            }else{
                layer.alert('请先选择要打印的分类', {icon: 3})
            }

//            $('.printIndex1').addClass('no-print')


        })



    })

</script>


<%- include('../layouts/foot'); %>