<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>模板管理</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">


        <div class="row">
            <!-- col -->
            <div class="col-xs-3">
                <ul class="template-ul">
                    <li>包装</li>
                    <li>包装</li>
                    <li>包装</li>
                    <li>包装</li>
                    <li>包装</li>
                </ul>
            </div>
            <div class="col-xs-8">
                <table class="table table-bordered time-edit">
                    <thead>
                    <tr>
                        <th width="50%">类别</th>
                        <th width="50%">值</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>黄色预警</td>
                        <td class="time-value insert" data-time="15"></td>
                    </tr>
                    <tr>
                        <td>红色预警</td>
                        <td class="time-value insert" data-time="15"></td>
                    </tr>
                    <tr>
                        <td>红色预警</td>
                        <td class="time-value insert" data-time="15"></td>
                    </tr>

                    <!--<tr>-->
                    <!--<td>红色预警</td>-->
                    <!--<td class="time-value" data-time="15">-->
                    <!--<input class="form-control validate[custom[number]]" name="time" value="15" >-->
                    <!--</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>

            </div>

        </div>



    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {


    })

</script>


<%- include('../layouts/foot'); %>