<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>新建货位</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>新建货位</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal" method="post" action="/region/doCreate" id="create-store">
                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">工厂:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong>布兰莎</strong></label>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">仓库:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong>布兰莎</strong></label>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">仓库区域:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong>布兰莎</strong></label>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">已有行/列/层:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong>60行60列60层</strong></label>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span>
                                            新建类型:</label>
                                        <div class="col-xs-10">

                                            <label class="radio radio-inline">
                                                <input type="radio" class="radiobox validate[required]" name="type" value="1" checked>
                                                <span>新建单个货位</span>
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" class="radiobox validate[required]" name="type" value="2">
                                                <span>新建一行</span>
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" class="radiobox validate[required]" name="type" value="3">
                                                <span>新建一列</span>
                                            </label>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="addAnother">
                                <div class="col-xs-12">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label class="col-xs-2 control-label"><span class="requird"></span> 第几行/列/层:</label>
                                            <div class="col-xs-10">
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required, custom[onlyNumberSp]]" placeholder="行" type="text"
                                                               name="spaceRow" value="<%= DWYRequest.query.spaceRow %>">
                                                    </div>
                                                    <label class="control-label ">行 </label>
                                                </div>
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="列" type="text"
                                                               name="spaceColumn" value="<%= DWYRequest.query.spaceColumn %>">
                                                    </div>
                                                    <label class="control-label ">列 </label>
                                                </div>
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="层" type="text"
                                                               name="spaceLayer" value="<%= DWYRequest.query.spaceLayer %>">
                                                    </div>
                                                    <label class="control-label ">层 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label class="col-xs-2 control-label"><span class="requird"></span> 货架长宽高:</label>
                                            <div class="col-xs-10">
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required, custom[onlyNumberSp]]" placeholder="长" type="text"
                                                               name="sizeLength" value="<%= DWYRequest.query.sizeLength %>">
                                                    </div>
                                                    <label class="control-label ">长(cm) </label>
                                                </div>
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="宽" type="text"
                                                               name="sizeWidth" value="<%= DWYRequest.query.sizeWidth %>">
                                                    </div>
                                                    <label class="control-label ">宽(cm) </label>
                                                </div>
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="高" type="text"
                                                               name="sizeHeight" value="<%= DWYRequest.query.sizeHeight %>">
                                                    </div>
                                                    <label class="control-label ">高(cm) </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="addRow" style="display: none">
                                <div class="col-xs-12">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label class="col-xs-2 control-label"><span class="requird"></span> 第几行:</label>
                                            <div class="col-xs-10">

                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="行" type="text"
                                                               name="spaceColumn" value="<%= DWYRequest.query.spaceColumn %>">
                                                    </div>
                                                    <label class="control-label ">行 </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label class="col-xs-2 control-label"><span class="requird"></span> 拥有列/层:</label>
                                            <div class="col-xs-10">

                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="列" type="text"
                                                               name="spaceColumn" value="<%= DWYRequest.query.spaceColumn %>">
                                                    </div>
                                                    <label class="control-label ">列 </label>
                                                </div>
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="层" type="text"
                                                               name="spaceLayer" value="<%= DWYRequest.query.spaceLayer %>">
                                                    </div>
                                                    <label class="control-label ">层 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="addCol" style="display: none">
                                <div class="col-xs-12">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label class="col-xs-2 control-label"><span class="requird"></span> 第几列:</label>
                                            <div class="col-xs-10">

                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="列" type="text"
                                                               name="spaceColumn" value="<%= DWYRequest.query.spaceColumn %>">
                                                    </div>
                                                    <label class="control-label ">列 </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label class="col-xs-2 control-label"><span class="requird"></span> 拥有行/层:</label>
                                            <div class="col-xs-10">

                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="行" type="text"
                                                               name="spaceColumn" value="<%= DWYRequest.query.spaceColumn %>">
                                                    </div>
                                                    <label class="control-label ">行 </label>
                                                </div>
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="层" type="text"
                                                               name="spaceLayer" value="<%= DWYRequest.query.spaceLayer %>">
                                                    </div>
                                                    <label class="control-label ">层 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 最大承重:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= DWY_last_request_param.maxWeight %>"
                                                   name="maxWeight" placeholder="0为不限">
                                            <span code-data="千克" class="unit"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 最大存货数量:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= DWY_last_request_param.maxAmount %>"
                                                   name="maxAmount" placeholder="0为不限">
                                            <span code-data="件" class="unit"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">备注:</label>
                                        <div class="col-xs-10">
                                            <textarea name="remark" class="form-control"
                                                      cols="30" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认添加
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

//        pageSetUp();

        $("#create-store").validationEngine();

        var addAnother = $('#addAnother');
        var addRow = $('#addRow');
        var addCol = $('#addCol');

        $(':radio[name=type]').change(function () {
            var value = $(this).val();
            switch (value){
                case '1':
                    addAnother.show();
                    addRow.hide();
                    addCol.hide();
                    break;
                case '2':
                    addRow.show();
                    addAnother.hide();
                    addCol.hide();
                    break;
                case '3':
                    addCol.show();
                    addAnother.hide();
                    addRow.hide();
                    break;

            }
        })

    })

</script>


<%- include('../layouts/foot'); %>