<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/cargospaceList">货位管理</a></li>
            <li>新建货位</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>新建货位</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal" method="post" action="/cargospace/doCreate" id="create-store">
                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">工厂仓储:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong><%= regionInfo.ftyName %></strong></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">仓库:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong><%= regionInfo.whseName %></strong></label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">仓库区域:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong><%= regionInfo.name %></strong></label>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="ftyId" value="<%= ftyId %>">
                                <input type="hidden" name="whseId" value="<%= whseId %>">
                                <input type="hidden" name="regionId" value="<%= regionId %>">
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span>
                                            新建类型:</label>
                                        <div class="col-xs-10">

                                            <label class="radio radio-inline">
                                                <input type="radio" class="radiobox validate[required]" name="type" value="1" checked>
                                                <span>新建单个货位</span>
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" class="radiobox validate[required]" name="type" value="2">
                                                <span>新建一行</span>
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" class="radiobox validate[required]" name="type" value="3">
                                                <span>新建一列</span>
                                            </label>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="addAnother">
                                <div class="col-xs-12">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label class="col-xs-2 control-label"><span class="requird"></span> 第几行/列/层:</label>
                                            <div class="col-xs-10">
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required, custom[onlyNumberSp]]" placeholder="行" type="text"
                                                               name="spaceRow" value="<%= DWY_last_request_param.spaceRow %>">
                                                    </div>
                                                    <label class="control-label ">行 </label>
                                                </div>
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="列" type="text"
                                                               name="spaceColumn" value="<%= DWY_last_request_param.spaceColumn %>">
                                                    </div>
                                                    <label class="control-label ">列 </label>
                                                </div>
                                                <div class="col-xs-4 no-padding">
                                                    <div class="col-xs-8 no-padding">
                                                        <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="层" type="text"
                                                               name="spaceLayer" value="<%= DWY_last_request_param.spaceLayer %>">
                                                    </div>
                                                    <label class="control-label ">层 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 货架长宽高:</label>
                                        <div class="col-xs-10">
                                            <div class="col-xs-4 no-padding">
                                                <div class="col-xs-8 no-padding">
                                                    <input class="form-control validate[required, custom[onlyNumberSp]]" placeholder="长" type="text"
                                                           name="sizeLength" value="<%= DWY_last_request_param.sizeLength %>">
                                                </div>
                                                <label class="control-label ">长(mm) </label>
                                            </div>
                                            <div class="col-xs-4 no-padding">
                                                <div class="col-xs-8 no-padding">
                                                    <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="宽" type="text"
                                                           name="sizeWidth" value="<%= DWY_last_request_param.sizeWidth %>">
                                                </div>
                                                <label class="control-label ">宽(mm) </label>
                                            </div>
                                            <div class="col-xs-4 no-padding">
                                                <div class="col-xs-8 no-padding">
                                                    <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="高" type="text"
                                                           name="sizeHeight" value="<%= DWY_last_request_param.sizeHeight %>">
                                                </div>
                                                <label class="control-label ">高(mm) </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 最大承重:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= DWY_last_request_param.maxWeight %>"
                                                   name="maxWeight" placeholder="0为不限">
                                            <span code-data="千克" class="unit"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 最大存货数量:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= DWY_last_request_param.maxAmount %>"
                                                   name="maxAmount" placeholder="0为不限">
                                            <span code-data="件" class="unit"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary" id="createOne">
                                        <i class="fa fa-save"></i>
                                        确认添加
                                    </button>
                                    <button class="btn btn-primary "  id="createAgan">
                                        <i class="fa fa-save"></i>
                                        提交并继续新建
                                    </button>
                                    <input name="create" id="create" value="1" type="hidden">
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

//        pageSetUp();

        $("#create-store").validationEngine();

        var addAnother = $('#addAnother');
        var addAnotherDiv = '<div class="col-xs-12">'+
                            '<div class="col-xs-8">'+
                            '<div class="form-group">'+
                            '<label class="col-xs-2 control-label"><span class="requird"></span> 第几行/列/层:</label>'+
                        '<div class="col-xs-10">'+
                            '<div class="col-xs-4 no-padding">'+
                            '<div class="col-xs-8 no-padding">'+
                            '<input class="form-control validate[required, custom[onlyNumberSp]]" placeholder="行" type="text"'+
                        ' name="spaceRow" value="">'+
                            '</div>'+
                            '<label class="control-label ">行 </label>'+
                            '</div>'+
                            '<div class="col-xs-4 no-padding">'+
                            '<div class="col-xs-8 no-padding">'+
                            '<input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="列" type="text"'+
                        ' name="spaceColumn" value="">'+
                            '</div>'+
                            '<label class="control-label ">列 </label>'+
                            '</div>'+
                            '<div class="col-xs-4 no-padding">'+
                            '<div class="col-xs-8 no-padding">'+
                            '<input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="层" type="text"'+
                        ' name="spaceLayer" value="">'+
                            '</div>'+
                            '<label class="control-label ">层 </label> </div> </div> </div> </div> </div>';

        var addRow = '<div class="col-xs-12">'+
                            '<div class="col-xs-8">'+
                            '<div class="form-group">'+
                            '<label class="col-xs-2 control-label"><span class="requird"></span> 第几行:</label>'+
                        '<div class="col-xs-10">'+
                            '<div class="col-xs-4 no-padding">'+
                            '<div class="col-xs-8 no-padding">'+
                            '<input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="行" type="text" '+
                        ' name="spaceRow" value=""> '+
                            '</div><label class="control-label ">行 </label>'+
                            '</div></div></div></div></div><div class="col-xs-12">'+
                            '<div class="col-xs-8">'+
                            '<div class="form-group">'+
                            '<label class="col-xs-2 control-label"><span class="requird"></span> 拥有列/层:</label>'+
                        '<div class="col-xs-10">'+
                            '<div class="col-xs-4 no-padding">'+
                            '<div class="col-xs-8 no-padding">'+
                            '<input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="列" type="text" '+
                        ' name="spaceColumn" value="">'+
                            '</div>'+
                            '<label class="control-label ">列 </label>'+
                            '</div>'+
                            '<div class="col-xs-4 no-padding">'+
                            '<div class="col-xs-8 no-padding">'+
                            '<input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="层" type="text" '+
                         ' name="spaceLayer" value="">'+
                            '</div>'+
                            '<label class="control-label ">层 </label>'+
                            '</div></div></div></div></div>';

        var addCol = '<div class="col-xs-12">'+
                            '<div class="col-xs-8">'+
                            '<div class="form-group">'+
                            '<label class="col-xs-2 control-label"><span class="requird"></span> 第几列:</label>'+
                        '<div class="col-xs-10">'+
                            '<div class="col-xs-4 no-padding">'+
                            '<div class="col-xs-8 no-padding">'+
                            '<input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="列" type="text"'+
                        ' name="spaceColumn" value="">'+
                            '</div>'+
                            '<label class="control-label ">列 </label>'+
                            '</div> </div> </div> </div> </div>'+
                            '<div class="col-xs-12">'+
                            '<div class="col-xs-8">'+
                            '<div class="form-group">'+
                            '<label class="col-xs-2 control-label"><span class="requird"></span> 拥有行/层:</label>'+
                        '<div class="col-xs-10">'+
                            '<div class="col-xs-4 no-padding">'+
                            '<div class="col-xs-8 no-padding">'+
                            '<input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="行" type="text"'+
                        ' name="spaceRow" value="">'+
                            '</div>'+
                            '<label class="control-label ">行 </label>'+
                            '</div>'+
                            '<div class="col-xs-4 no-padding">'+
                            '<div class="col-xs-8 no-padding">'+
                            '<input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="层" type="text"'+
                        ' name="spaceLayer" value="">'+
                            '</div>'+
                            '<label class="control-label ">层 </label>'+
                            '</div> </div> </div> </div> </div>';

        $(':radio[name=type]').change(function () {
            var value = $(this).val();
            switch (value){
                case '1':
                    addAnother.html(addAnotherDiv);
                    break;
                case '2':
                    addAnother.html(addRow);
                    break;
                case '3':
                    addAnother.html(addCol);
                    break;

            }
        })

        var createType = $('#create');
        $('#createAgan').click(function () {
            createType.val(2)
        })
        $('#createOne').click(function () {
            createType.val(1)
        })

    })

</script>


<%- include('../layouts/foot'); %>