<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/cargospaceList"><i class="fa fa-chevron-left"></i>货位管理</a></li>
            <li>货位信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"><i class="fa fa-chevron-left"></i> 返回</a></li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 ">
                    <legend>基本信息
                        <% if( cargospaceInfo.usable == 2 ){ %>
                        <a class="label label-primary" id="openStore">启用</a>
                        <% }else{ %>
                        <a class="label label-primary" href="/cargospace/modify/<%= cargospaceInfo.spaceId %>">修改</a>
                        <a class="label label-danger" id="closeStore">禁用</a>
                        <% } %>

                    </legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information <%= ( cargospaceInfo.usable == 2 )? 'close-info':'' %>">
                            <tbody>
                            <tr>
                                <td width="12%">货位编号</td>
                                <td width="21%"><%= cargospaceInfo.spaceId %></td>
                                <td width="12%">所在行/列/层</td>
                                <td width="21%"><%= cargospaceInfo.spaceRow %>行<%= cargospaceInfo.spaceColumn %>列<%= cargospaceInfo.spaceLayer %>层</td>
                                <td width="12%">货位状态</td>
                                <td width="21%"><%= cargospaceInfo.usable ==1 ? '可用':'禁用' %></td>
                            </tr>
                            <tr>
                                <td>所属工厂</td>
                                <td><%= cargospaceInfo.ftyName %></td>
                                <td>所属仓库</td>
                                <td  width="21%"><%= cargospaceInfo.whseName %></td>
                                <td width="12%">所属仓库区域</td>
                                <td  width="21%"><%= cargospaceInfo.regionName %></td>
                            </tr>
                            <tr>
                                <td>货架长宽高</td>
                                <td><%= cargospaceInfo.sizeLength %>*<%= cargospaceInfo.sizeWidth %>*<%= cargospaceInfo.sizeHeight %></td>
                                <td>最大承重</td>
                                <td colspan="3"><%= (cargospaceInfo.maxWeight==0)?'不限':cargospaceInfo.maxWeight+'KG' %></td>


                            </tr>
                            <tr>
                                <td>最大存货数量</td>
                                <td><%= (cargospaceInfo.maxAmount==0)?'不限':cargospaceInfo.maxAmount+'件' %></td>
                                <td>剩余存货数</td>
                                <td colspan="3"><%= cargospaceInfo.amountRemain <0 ?'不限':cargospaceInfo.amountRemain %></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>货位存货详情</h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>货物类型</th>
                                <th>货物号</th>
                                <th>包名/物料名</th>
                                <th>货位号</th>
                                <th>数量</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(cargospaceList.result)){
                            cargospaceList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.typeName %></td>
                                <td><%= element.cargoId %></td>
                                <td><%= element.name %></td>
                                <td><%= element.spaceId %></td>
                                <td><%= element.amount %></td>
                            </tr>
                            <%  })
                            }else{ %>
                            <tr>
                                <td colspan="6" align="center">暂无数据</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        var spaceId = '<%= cargospaceInfo.spaceId %>';
        $("#closeStore").on({
            click: function () {
                layer.confirm('确定禁用该货位？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/cargospace/doClose/'+spaceId,
                            method: 'delete',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);

                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        });
        $("#openStore").on({
            click: function () {
                layer.confirm('确定启用该货位？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/cargospace/doOpen/'+spaceId,
                            method: 'put',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);

                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })


    })

</script>

<%- include('../layouts/foot'); %>
