<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/cargospaceList">货位管理</a></li>
            <li>修改货位信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>修改货位信息</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal" method="post" action="/cargospace/doModify" id="create-store">
                            <div class="col-xs-12">

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">工厂:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong><%= cargospaceInfo.ftyName %></strong></label>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">仓库:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong><%= cargospaceInfo.whseName %></strong></label>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label ">仓库区域:</label>
                                        <div class="col-xs-8">
                                            <label class="control-label "><strong><%= cargospaceInfo.regionName %></strong></label>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="spaceId" value="<%= cargospaceInfo.spaceId %>">


                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 第几行/列/层:</label>
                                        <div class="col-xs-10">
                                            <div class="col-xs-4 no-padding">

                                                <label class="control-label "><strong><%= cargospaceInfo.spaceRow %></strong>行 </label>
                                            </div>
                                            <div class="col-xs-4 no-padding">

                                                <label class="control-label "><strong><%= cargospaceInfo.spaceColumn %></strong>列 </label>
                                            </div>
                                            <div class="col-xs-4 no-padding">

                                                <label class="control-label "><strong><%= cargospaceInfo.spaceLayer %></strong>层 </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 货架长宽高:</label>
                                        <div class="col-xs-10">
                                            <div class="col-xs-4 no-padding">
                                                <div class="col-xs-8 no-padding">
                                                    <input class="form-control validate[required, custom[onlyNumberSp]]" placeholder="长" type="text"
                                                           name="sizeLength" value="<%= cargospaceInfo.sizeLength %>">
                                                </div>
                                                <label class="control-label ">长(cm) </label>
                                            </div>
                                            <div class="col-xs-4 no-padding">
                                                <div class="col-xs-8 no-padding">
                                                    <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="宽" type="text"
                                                           name="sizeWidth" value="<%= cargospaceInfo.sizeWidth %>">
                                                </div>
                                                <label class="control-label ">宽(cm) </label>
                                            </div>
                                            <div class="col-xs-4 no-padding">
                                                <div class="col-xs-8 no-padding">
                                                    <input class="form-control validate[required,custom[onlyNumberSp]]" placeholder="高" type="text"
                                                           name="sizeHeight" value="<%= cargospaceInfo.sizeHeight %>">
                                                </div>
                                                <label class="control-label ">高(cm) </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 最大承重:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= cargospaceInfo.maxWeight %>"
                                                   name="maxWeight" placeholder="0为不限">
                                            <span code-data="千克" class="unit"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 最大存货数量:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]"
                                                   value="<%= cargospaceInfo.maxAmount %>"
                                                   name="maxAmount" placeholder="0为不限">
                                            <span code-data="件" class="unit"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认修改
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

//        pageSetUp();

        $("#create-store").validationEngine();



    })

</script>


<%- include('../layouts/foot'); %>