<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>原料入库</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">入库单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.inId %>" type="text"
                                                   name="inId">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">工厂:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control"  name="ftyId" id="ftyId" >
                                                <option value="">- 请选择 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(factoryList)){
                                                factoryList.forEach(function (element) { %>
                                                <option value="<%= element.ftyId %>" <%= userFtyId == element.ftyId? 'selected':'' %> >
                                                    <%= element.name %>
                                                </option>
                                                <% })
                                                } %>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">仓库:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="whseId" id="whseId">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(warehouseList)){
                                                warehouseList.forEach(function (element) { %>
                                                <option value="<%= element.whseId %>" <%= (DWYRequest.query.whseId == element.whseId )?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% })
                                                } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">区域:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="regionId" id="regionId">
                                                <option value="">- 请选择 -</option>
                                                <% regionList.forEach(function (element) { %>
                                                <option value="<%= element.regionId %>" <%= (DWYRequest.query.regionId == element.regionId )?"selected":"" %> >
                                                    <%= element.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="stcode">
                                                <option value="">- 请选择 -</option>
                                                <option value="2" <%= (DWYRequest.query.stcode == 2) ? "selected" : "" %> >
                                                    待审核
                                                </option>
                                                <option value="4" <%= (DWYRequest.query.stcode == 4) ? "selected" : "" %> >
                                                    已审核
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">类别:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="inType">
                                                <option value="">- 请选择 -</option>
                                                <option value="1" <%= (DWYRequest.query.inType == 1) ? "selected" : "" %> >
                                                    物料
                                                </option>
                                                <option value="2" <%= (DWYRequest.query.inType == 2) ? "selected" : "" %> >
                                                    成品
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.startTime %>"
                                                   name="startTime">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.endTime %>"
                                                   name="endTime">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <a class="btn btn-primary " href="/enterMaterial/stockOver">
                                        采购完成单
                                    </a>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>类型</th>
                                <th>入库单号</th>
                                <th>日期</th>
                                <th>工厂</th>
                                <th>仓库</th>
                                <th>区域</th>
                                <th>采购单号</th>
                                <th>入库人</th>
                                <th>状态</th>
                                <th>审核人</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(mateList.result.length>0){%>
                                <% mateList.result.forEach(function (element, index) {%>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td><%=DWY_Helper.getEnterType(element.inType)%></td>
                                        <td><a href="/enterMaterial/detail/<%=element.inId %>"><%=element.inId %></a></td>
                                        <td><%= DWY_Helper.getLocalDate(element.editTime) %></td>
                                        <td><%=element.ftyName %></td>
                                        <td><%=element.whseName %></td>
                                        <td><%=element.regionName %></td>
                                        <td><a href="/purchase/orderDetail/<%=element.purId %>"><%=element.purId %></a></td>
                                        <td><%=element.inName%></td>
                                        <% if(element.stcode == 2){%>
                                            <td>待审核</td>
                                        <% }%>
                                        <% if(element.stcode == 4){%>
                                            <td>已审核</td>
                                        <% }%>
                                        <td><%=element.reviewName %></td>
                                        <td>
                                            <% if(element.stcode == 2){%>
                                            <a class="label label-primary checkThis" data-inId="<%=element.inId %>" data-purId="<%=element.purId %>">审核</a>
                                            <% }%>
                                        </td>
                                    </tr>
                                <%})%>
                            <% } else {%>
                                <tr>
                                    <td colspan="12" class="text-align-center">暂无数据</td>
                                </tr>
                            <% }%>
                            </tbody>
                        </table>
                            <%- pagination %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#search-customer").validationEngine();

        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery

        $(".checkThis").click(function () {
            var inId = $(this).attr('data-inId');
            var purId = $(this).attr('data-purId');

            layer.confirm('确定提交审核?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/enterMaterial/doPass/'+inId+'/'+purId,
                    method: 'put',
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);

                    }
                });
            }, function (index) { layer.close(index) })
        })

    })

</script>

<%- include('../cargospace/js_function'); %>
<%- include('../layouts/foot'); %>