<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/enterProduct"> 成品入库</a></li>
            <li>入库</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">订单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.tid %>" type="text"
                                                   name="tid">
                                        </div>
                                    </div>
                                    <input name="type" type="hidden" value="<%= DWYRequest.query.type %>">
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>


                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>


        <div class="well">

            <div class="row">
                <div class="col-xs-12">
                    <div class="orderItemLayerTit">
                        <ul class="orderItemMenu">
                            <a href="/enterProduct/notin?type=1001&tid=<%= DWYRequest.query.tid %>">
                                <li class="padding-10 <%= DWYRequest.query.type == 1001 ? 'materielBak' : '' %>">配件</li>
                            </a>
                            <a href="/enterProduct/notin?type=1002&tid=<%= DWYRequest.query.tid %>">
                                <li class="padding-10 <%= DWYRequest.query.type == 1002 ? 'materielBak' : '' %>">工件</li>
                            </a>
                        </ul>

                    </div>

                </div>

                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="contentArea">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox" autocomplete="off"
                                               id="checkAll">
                                        <span>&nbsp;</span>
                                    </label>序号
                                </th>
                                <th>包装流水号</th>
                                <th>包装名</th>
                                <th>包装类型</th>
                                <th>包装产品</th>
                                <th>订单号</th>
                                <th>包装状态</th>
                                <!--<th>操作</th>-->
                            </tr>
                            </thead>
                            <tbody id="moreAddTR">
                            <%
                            if(DWY_Helper.isCanLoop(cargoinList.page.result)){
                            cargoinList.page.result.forEach(function(element, index){ %>
                            <tr>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox" autocomplete="off"
                                               name="pakgs" value="<%= element.packageLid %>" data-tid="<%= element.tid %>">
                                        <span><%= index + 1 %></span>
                                    </label>
                                </td>
                                <td><%= element.packageLid %></td>
                                <td><%= element.packageName %></td>
                                <td><%= element.packageTypeName %></td>
                                <td><%= element.packageProduct %></td>
                                <td class="tid-td"><%= element.tid %></td>
                                <td><%= DWY_Helper.getPackageType(element.stcode) %></td>
                            </tr>
                            <%
                            })}else{ %>
                            <tr>
                                <td colspan="8" class="text-align-center">暂无数据</td>
                            </tr>
                            <% }
                            %>
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>

            </div>
        </div>

        <% if(cargoinList.ftyId){ %>
        <div class="well">
            <form class="form-horizontal target" id="opretion">
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="col-xs-3 control-label"><span class="requird"></span> 工厂:</label>
                            <div class="col-xs-9">
                                <!--<select class="form-control ftyId validate[required]" disabled>-->
                                    <!--<option value="">- 工厂 -</option>-->
                                <!--</select>-->
                                <input class="form-control"
                                       value="<%= DWY_Helper.getAssistValFtyId(cargoinList.ftyId, factoryList) %>"
                                       readonly>
                                <input type="hidden" name="ftyId" value="<%= cargoinList.ftyId %>">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="col-xs-3 control-label"><span class="requird"></span> 仓库:</label>
                            <div class="col-xs-9">
                                <select class="form-control whseId validate[required]" name="whseId" id="whseId">
                                    <option value="">- 仓库 -</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="col-xs-3 control-label"><span class="requird"></span> 区域:</label>
                            <div class="col-xs-9">
                                <select class="form-control regionId validate[required]" name="regionId" id="regionId">
                                    <option value="">- 区域 -</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <input class="form-control validate[required,custom[number],minSize[6],maxSize[6]]"
                               name="spaceId" placeholder="行列层，6位数字" id="spaceId">
                    </div>
                    <div class="col-xs-1">
                        <label class="control-label" id="statusFa"></label>
                    </div>
                    <div class="col-xs-1">
                        <a class="btn btn-success" id="toRecommend">推荐货位</a>
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="col-xs-3 control-label"></label>
                            <div class="col-xs-9">
                                <input type="hidden" class="" id="checkedValue">
                                <input type="hidden" id="statusThis">
                                <% if ( DWY_Helper.hasPermission(Permission.cargoManages.prodIn.id, permission) ){ %>
                                <a class="btn btn-primary" id="toEnter">确定入库</a>
                                <% } %>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="dwy-clear"></div>
            </form>
        </div>
        <% }else{ %>
        <div class="alert alert-danger alert-block">
            <h4 class="alert-heading margin-bottom-10">注意!</h4>
            无所属工厂，无法操作，请先到<a href="/factory">"仓储管理"</a>进行新建
        </div>

        <% } %>

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">
    $(document).ready(function () {

        $("#search-customer").validationEngine();
        $("#opretion").validationEngine();

        DWY_fty_region.init({
            target: '.target',
//                factory: '.ftyId',
//                warehouse: '.whseId',
//                region: '.regionId',
            factoryValue: '<%= cargoinList.ftyId %>',
            warehouseValue: '<%= cargoinList.whseId %>',
            regionValue: '<%= cargoinList.regionId %>',
            cargoId: 2,  //类型，1物料，2包装
            type: '<%= DWYRequest.query.type %>',     //物料时传物料编号， 包装时传工件、配件 id
        });

        var checkedValue = $('#checkedValue');
        var checkedNum = 0;

        var status = $('#statusFa');
        var statusThis = $("#statusThis");

        $("#checkAll").change(function () {
            if ($(this).is(":checked")) {
                checkedNum = 0;
                $(":checkbox:not(:disabled)").prop('checked', true);
                $("input[name='pakgs']:checked").each(function (i) {
                    checkedValue.addClass(this.value + ',');
                    checkedNum++;
                });

                ifRegionIdUsable();
            } else {
                $(":checkbox").prop('checked', false);
                checkedValue.removeClass();
                checkedNum = 0;

                status.empty();
                statusThis.val(0);
            }
        })
        $("input[name='pakgs']").change(function () {
            if ($(this).is(':checked')) {
                checkedValue.addClass(this.value + ',');
                checkedNum++;
            } else {
                checkedValue.removeClass(this.value + ',');
                checkedNum--;
            }

            ifRegionIdUsable();
        });

        $('#ftyId,#whseId,#regionId').change(function () {
            $('#spaceId').val('');
            status.empty();

        });

        //判断货位是否可用
        $('#spaceId').on('input propertychange', function () {
            ifRegionIdUsable();
        });

        function ifRegionIdUsable() {
//            console.log('checkedNum',checkedNum);
            status.empty();
            if ($("#opretion").validationEngine('validate') && checkedNum > 0) {
                console.log(':valida');
                $.ajax({
                    url: '/enterMaterial/stockOver/toEnter/ifCanEnter',
                    method: 'post',
                    data: {
                        regionId: $("#regionId").val(),//所属区域编号
                        spaceId: $("#spaceId").val(),//货位号
                        amount: checkedNum,//入库数量
                    },
                    success: function (data) {
                        console.log('data', data)
                        if (data == 'true') {
                            statusThis.val(1);
                            status.html('<i class="fa fa-check text-success font-lg"></i>');
                        } else {
                            statusThis.val(0);
                            status.html('<i class="fa fa-times text-danger font-lg"></i>');
                        }
                    },
                    error: function (response) {
                        console.log('response', response)
                        statusThis.val(0);
                        if (response.responseText) {
                            var data = JSON.parse(response.responseText);
                            console.log(data.msg)
                            status.html('<span class="text-danger"><i class="fa fa-times font-lg"></i>' + data.msg + '</span>');
                        } else {
                            status.html('<span class="text-danger"><i class="fa fa-times font-lg"></i>不可用</span>');
                        }

                    }
                });
            }
        }
        $('#toRecommend').click(function () {
            var packageList = checkedValue.attr('class');
            if (!packageList) {
                layer.msg('请先选择订单', {icon: 2, time: 2000});
                return;
            }
        })
        $('#toEnter').click(function () {
            var packageList = checkedValue.attr('class');
            if (!packageList) {
                layer.msg('请先选择订单', {icon: 2, time: 2000});
                return;
            }
            if (statusThis.val() == 0) {
                layer.msg('货位号不可用，请修改！', {icon: 2, time: 2000});
                return;
            }
            if ($("#opretion").validationEngine('validate')) {
                var regionId = $("#regionId").val();
                var spaceId = $("#spaceId").val();

                packageList = packageList.substring(0, packageList.length - 1);
                packageList = packageList.replace(/\s/g, "")
                $.ajax({
                    url: '/app/doCargoin',
                    data: {
                        regionId: regionId,
                        spaceId: spaceId,
                        packageList: packageList,
                    },
                    method: 'post',
                    success: function (data) {
                        console.log(data)
                        if (data.code == 1001) {
                            successLayout.reload();
                        } else {
                            var response = {
                                responseText: JSON.stringify(data)
                            };
                            errorLayout.normal(response);
                        }

                    },
                    error: function (response) {
                        layer.close(index)
                        var status = response.status;
                        if (status == 201) {
                            location.href = "/enterProduct";
                            return;
                        }
                        errorLayout.normal(response);

                    }
                });


            }


        })

        pageSetUp();


    })

</script>

<%- include('../layouts/foot'); %>