<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/enterMaterial"><i class="fa fa-chevron-left"></i> 原料入库</a></li>
            <li>原料入库信息</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>原料入库信息</legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="12%">入库单号</td>
                                <td>23456123</td>
                                <td width="12%">入库人</td>
                                <td>张三</td>
                                <td width="12%">入库日期</td>
                                <td>2016-10-10</td>
                            </tr>
                            <tr>
                                <td>仓库</td>
                                <td>板材仓库</td>
                                <td>采购单号</td>
                                <td><a href="/purchase/orderDetail/123456">123456</a></td>
                                <td>供应商编号</td>
                                <td><a href="/supplier/detail/123456">123456</a></td>
                            </tr>
                            <tr>
                                <td>供应商</td>
                                <td>浙江省杭州市湖滨银泰店</td>
                                <td>状态</td>
                                <td>已审核</td>
                                <td>审核人</td>
                                <td>
                                    张三</td>
                            </tr>
                            <tr>
                                <td>类别</td>
                                <td colspan="5">原材料</td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="5"></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>
                        入库清单
                        <a class="label label-primary" id="checkThis">审核</a>
                        <a class="label label-danger" id="backThis">撤审</a>
                    </h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>货位号</th>
                                <th>批号</th>
                                <th>物料编号</th>
                                <th>物料名称</th>
                                <th>颜色</th>
                                <th>规格</th>
                                <th>单价</th>
                                <th>采购数量</th>
                                <th>采购金额</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="/cargospace/detail/12345">12345</a></td>
                                <td>56456789456</td>
                                <td><a href="12345">12345</a></td>
                                <td>银白下框</td>
                                <td></td>
                                <td>750*1334*640</td>
                                <td>20000.00</td>
                                <td>8</td>
                                <td>20000.00</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        var ftyId = 10000;
        $("#checkThis").click(function () {
            var id = $(this).attr('data-id');

            layer.confirm('确定提交审核?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/enterMaterial/doPass/'+id,
                    method: 'put',
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (response) {
                        layer.close(index)
                        var data = JSON.parse(response.responseText);
//                        var data = (response.responseText);
                        $.smallBox({
                            title: "操作失败",
                            content: data.msg,
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 3000
                        });
                    }
                });
            }, function (index) { layer.close(index) })
        })

        $("#backThis").click(function () {
            var id = $(this).attr('data-id');

            layer.confirm('确定撤回重新审核吗?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/enterMaterial/notPass/'+id,
                    method: 'put',
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (response) {
                        layer.close(index)
                        var data = JSON.parse(response.responseText);
//                        var data = (response.responseText);
                        $.smallBox({
                            title: "操作失败",
                            content: data.msg,
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 3000
                        });
                    }
                });
            }, function (index) { layer.close(index) })
        })


    })

</script>

<%- include('../layouts/foot'); %>
