<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/enterMaterial"> 原料入库</a></li>
            <li>采购完成单</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">采购单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.purcId %>" type="text"
                                                   name="purcId">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">类别:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="type">
                                                <option value="">- 请选择 -</option>
                                                <option value="1" <%= (DWYRequest.query.type == 1) ? "selected" : "" %> >
                                                    物料
                                                </option>
                                                <option value="2" <%= (DWYRequest.query.type == 2) ? "selected" : "" %> >
                                                    成品
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-xs-3">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-xs-4 control-label">供应商:</label>-->
                                        <!--<div class="col-xs-8">-->
                                            <!--<select class="form-control" name="suppId">-->
                                                <!--<option value="">- 请选择 -</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>

                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>类型 </th>
                                <th>采购单号</th>
                                <th>采购人</th>
                                <th>供应商</th>
                                <th>预计交货日期</th>
                                <th>交货日期</th>
                                <th width="100px">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(result.length>0){%>
                            <% result.forEach(function(element,index){%>
                                <tr>
                                    <td><%=++index%></td>
                                    <td><%=DWY_Helper.getEnterType(element.type)%></td>
                                    <td><a href="/purchase/orderDetail/<%=element.orderId %>"><%=element.orderId %></a></td>
                                    <td><%=element.empName %></td>
                                    <td><%=element.suppName%></td>
                                    <td><%= DWY_Helper.getLocalDate(element.deliveryDate) %></td>
                                    <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                    <td><a class="label label-primary enterThis" href="/enterMaterial/stockOver/toEnter?purcId=<%=element.orderId %>">入库</a></td>
                                </tr>
                            <%})}else{%>
                                <tr>
                                    <td colspan="8" class="text-align-center">暂无数据</td>
                                </tr>
                            <%}%>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#search-customer").validationEngine();

        pageSetUp();

    })

</script>


<%- include('../layouts/foot'); %>