<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>原料入库</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">入库单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" value="<%= DWYRequest.query.inId %>" type="text"
                                                   name="inId">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">工厂:</label>
                                        <div class="col-xs-8">
                                            <% var initFtyId = DWY_Helper.getAssistInitFtyId(userFtyId, factoryList);
                                            if ( !DWY_Helper.hasPermission(Permission.storage.queryAll.id, permission) ){ %>
                                            <input class="form-control"
                                                   value="<%= DWY_Helper.getAssistValFtyId(userFtyId, factoryList) %>"
                                                   readonly>
                                            <input type="hidden" name="ftyId" value="<%= userFtyId %>">
                                            <% }else{ %>

                                            <select class="form-control" name="ftyId" id="ftyId">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(factoryList)){
                                                factoryList.forEach(function (element) { %>
                                                <option value="<%= element.ftyId %>" <%= initFtyId == element.ftyId ? 'selected' : '' %> >
                                                    <%= element.name %>
                                                </option>
                                                <% })
                                                } %>

                                            </select>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">状态:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="stcode">
                                                <option value="">- 请选择 -</option>
                                                <option value="2" <%= (DWYRequest.query.stcode == 2) ? "selected" : "" %> >
                                                    待审核
                                                </option>
                                                <option value="4" <%= (DWYRequest.query.stcode == 4) ? "selected" : "" %> >
                                                    已审核
                                                </option>
                                                <option value="9" <%= (DWYRequest.query.stcode == 9) ? "selected" : "" %> >
                                                    作废
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.startTime %>"
                                                   name="startTime">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-time-picker"
                                                   value="<%= DWYRequest.query.endTime %>"
                                                   name="endTime">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <% if (DWY_Helper.hasPermission(Permission.rawMateInventory.finish.id, permission) ){ %>
                                    <a class="btn btn-primary " href="/enterMaterial/stockOver">
                                        采购完成单
                                    </a>
                                    <% } %>
                                    <a href="/enterMaterial/selectMate" class="btn btn-primary">
                                        选取物料
                                    </a>

                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>入库单号</th>
                                <th>日期</th>
                                <th>工厂</th>
                                <th>采购单号</th>
                                <th>入库人</th>
                                <th>状态</th>
                                <th>审核人</th>
                                <th>原料入库类型</th>
                                <th  width="140">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(mateList.result.length > 0){ %>
                            <% mateList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><a href="/enterMaterial/detail/<%= element.inId %>"><%= element.inId %></a></td>
                                <td><%= DWY_Helper.getLocalDate(element.editTime) %></td>
                                <td><%= element.ftyName %></td>
                                <td><a href="/purchase/orderDetail/<%= element.purId %>"><%= element.purId %></a></td>
                                <td><%= element.inName %></td>
                                <td><%= element.stcodeName %></td>

                                <td><%= element.reviewName %></td>
                                <td><%= element.inMode %></td>
                                <td  width="140">
                                    <% if(element.stcode == 2 && DWY_Helper.hasPermission(Permission.cargoManages.mateInReview.id, permission)){ %>
                                    <a class="label label-primary checkThis" data-inId="<%= element.inId %>"
                                       data-purId="<%= element.purId %>" data-type="1" data-inMode="<%= element.inMode %>">审核</a>
                                    <a class="label label-danger checkThis" data-inId="<%= element.inId %>"
                                       data-purId="<%= element.purId %>" data-type="2">作废</a>
                                    <% } %>
                                </td>
                            </tr>
                            <% }) %>
                            <% } else { %>
                            <tr>
                                <td colspan="12" class="text-align-center">暂无数据</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

  $(document).ready(function () {

    $("#search-customer").validationEngine();

    pageSetUp();

    $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery

    $(".checkThis").click(function () {
      var inId = $(this).attr('data-inId');
      var purId = $(this).attr('data-purId');
      var inMode = $(this).attr('data-inMode');

      var type = $(this).attr('data-type');
      var text = type == 1 ? '确定提交审核?' : '确定退回?';

        if(purId==''||purId==null||purId==undefined){
            var url = '/enterMaterial/doPass/' + inId +'/'+type+'/'+inMode;
        }else{
            var url = '/enterMaterial/doPass/' + inId +'/'+type+'/'+ purId+'/'+inMode;
        }
      layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
        $.ajax({
          url:url,
          method: 'put',
          success: function (data) {
            successLayout.reload();

          },
          error: function (response) {
            layer.close(index)
            errorLayout.normal(response);

          }
        });
      }, function (index) {
        layer.close(index)
      })
    })

  })

</script>

<%- include('../cargospace/js_function'); %>
<%- include('../layouts/foot'); %>