<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/enterProduct"><i class="fa fa-chevron-left"></i>成品入库</a></li>
            <li>成品入库信息</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>成品入库信息</legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="12%">入库单号</td>
                                <td><%= inlistPageInfo.inId %></td>
                                <td width="12%">入库人</td>
                                <td><%= inlistPageInfo.inName %></td>
                                <td width="12%">入库日期</td>
                                <td><%= inlistPageInfo.inTime %></td>
                            </tr>
                            <tr>
                                <td>仓库</td>
                                <td><%= inlistPageInfo.whseName %></td>
                                <td>订单号</td>
                                <td><a href="/order/detail/<%= inlistPageInfo.tid %>"><%= inlistPageInfo.tid %></a></td>
                                <td>生产订单号</td>
                                <td><%= inlistPageInfo.ptid %></td>
                            </tr>
                            <tr>
                                <td>客户名称</td>
                                <td><%= inlistPageInfo.custName %></td>
                                <td>交货日期</td>
                                <td><%= inlistPageInfo.deliveryDate %></td>
                                <td>类别</td>
                                <td><%= inlistPageInfo.type %></td>
                            </tr>
                            <tr>
                                <td>出厂价</td>
                                <td colspan="5"><%= inlistPageInfo.price %></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="5"><%= inlistPageInfo.remark %></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>入库清单</h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>入库单号</th>
                                <th>包装产品</th>
                                <th>货位号</th>
                                <th>包装序号</th>
                                <th>包装名称</th>
                                <th>包装编号</th>
                                <th>包装类型</th>
                                <th>包重</th>
                                <th>包装产品材料</th>
                                <th>入库数量</th>
                                <th>状态</th>
                                <th>入库时间</th>
                                <th>预计交货时间</th>
                                <th>扫描人</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(inlistInfo.result)){
                            inlistInfo.result.forEach(function (element, index) {  %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.inId %></td>
                                <td><%= element.packageProduct %></td>
                                <td><a href="/cargospace/cargospace/detail/<%= element.spaceId %>"><%= element.spaceId %></a></td>
                                <td><%= element.pakgNo %></td>
                                <td><%= element.pakgName %></td>
                                <td><%= element.packageLid %></td>
                                <td><%= element.pakgType %></td>
                                <td><%= element.weight %></td>
                                <td><%= element.packageProductMaterial %></td>
                                <td><%= element.num %></td>
                                <td><%= element.inTime %></td>
                                <td><%= element.deliveryDate %></td>
                                <td><%= element.inEmpName %></td>
                                <td><%= element.remark %></td>
                            </tr>
                            <%  })
                            }else{ %>
                            <tr>
                                <td colspan="16" class="text-align-center">暂无数据</td>
                            </tr>
                            <% } %>


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {



    })

</script>

<%- include('../layouts/foot'); %>
