<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/enterMaterial"><i class="fa fa-chevron-left"></i> 原料入库</a></li>
            <li>原料入库信息</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>原料入库信息</legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td width="12%">入库单号</td>
                                <td><%= mateInfo.inId %></td>
                                <td width="12%">入库人</td>
                                <td><%= mateInfo.inName %></td>
                                <td width="12%">入库日期</td>
                                <td><%= mateInfo.inTime %></td>
                            </tr>
                            <tr>
                                <td>仓库</td>
                                <td><%= mateInfo.ftyName %></td>
                                <td>采购单号</td>
                                <td><a href="/purchase/orderDetail/<%= mateInfo.purId %>"><%= mateInfo.purId %></a></td>
                                <td>供应商编号</td>
                                <td><a href="/supplier/detail/<%= mateInfo.suppId %>"><%= mateInfo.suppId %></a></td>
                            </tr>
                            <tr>
                                <td>供应商</td>
                                <td><%= mateInfo.suppName %></td>
                                <td>状态</td>
                                <td><%= DWY_Helper.geOutStatus(mateInfo.stcode) %></td>
                                <td>审核人</td>
                                <td><%= mateInfo.reviewName %></td>
                            </tr>
                            <tr>
                                <td>类别</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="5"></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>
                        入库清单
                        <a class="label label-primary" id="checkThis">审核</a>
                    </h6>

                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>货位号</th>
                                <th>批号</th>
                                <th>物料编号</th>
                                <th>物料名称</th>
                                <th>颜色</th>
                                <th>规格</th>
                                <th>单价</th>
                                <th>采购数量</th>
                                <th>采购金额</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(inlistInfo.result)){
                            inlistInfo.result.forEach(function (element, index) {  %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><a href="/cargospace/detail/<%= element.spaceId %>"><%= element.spaceId %></a></td>
                                <td><%= element.batchId %></td>
                                <td><a href="/materialManage/detail/<%= element.mateId %>"><%= element.mateId %></a></td>
                                <td><%= element.mateName %></td>
                                <td><%= element.colorName %></td>
                                <td><%= element.size %></td>
                                <td><%= element.price %></td>
                                <td><%= element.amount %></td>
                                <td><%= element.totalPrice %></td>
                            </tr>
                            <%  })
                            } %>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        var ftyId = 10000;
        $("#checkThis").click(function () {
            var id = $(this).attr('data-id');

            layer.confirm('确定提交审核?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/enterMaterial/doPass/'+id,
                    method: 'put',
                    success: function (data) {
                        window.location.reload();

                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);

                    }
                });
            }, function (index) { layer.close(index) })
        })

        $("#backThis").click(function () {
            var id = $(this).attr('data-id');

            layer.confirm('确定撤回重新审核吗?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: '/enterMaterial/notPass/'+id,
                    method: 'put',
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (response) {
                        layer.close(index)
                        errorLayout.normal(response);

                    }
                });
            }, function (index) { layer.close(index) })
        })


    })

</script>

<%- include('../layouts/foot'); %>
