<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/enterMaterial"><i class="fa fa-chevron-left"></i> 原料入库</a></li>
            <li><a class="back-url" href="/enterMaterial/stockOver"><i class="fa fa-chevron-left"></i> 采购完成单</a></li>
            <li>入库</li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- well -->


        <div class="well">

            <div class="row">
                <form class="form-horizontal" method="post" id="search-customer" action="/enterMaterial/stockOver/toEnter/doEnter">

                    <div class="col-xs-12 search-form">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-4 control-label"><span class="requird"></span> 工厂:</label>
                                <div class="col-xs-8">
                                    <select class="form-control validate[required]" name="ftyId" id="ftyId">
                                        <option value="">- 请选择 -</option>
                                        <% factoryList.forEach(function (element) { %>
                                        <option value="<%= element.ftyId %>"  >
                                            <%= element.name %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-4 control-label"><span class="requird"></span> 仓库:</label>
                                <div class="col-xs-8">
                                    <select class="form-control validate[required]" name="whseId" id="whseId">
                                        <option value="">- 请选择 -</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-4 control-label"><span class="requird"></span> 区域:</label>
                                <div class="col-xs-8">
                                    <select class="form-control validate[required]" name="regionId" id="regionId">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3" id="waningArea">
                            <div class="form-group">
                                <label class="control-label txt-color-red"><strong><i class="fa fa-bell text-danger"></i> 请先选择 工厂 > 仓库 > 区域</strong></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover table-editinput" id="contentArea">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>请购单号</th>
                                    <th>采购单号</th>
                                    <th>物料编号</th>
                                    <th>物料名称</th>
                                    <th>单价</th>
                                    <th>采购数量</th>
                                    <th>采购金额</th>
                                    <th width="200">货位号(行列层)</th>
                                    <th width="100">入库数量</th>
                                    <th width="150">仓库是否可用</th>
                                </tr>
                                </thead>
                                <tbody>
                                <input name="howmuch" value="<%= cargoinList.result.length %>" type="hidden">
                                <input name="list" value="" type="hidden">
                                <% if(cargoinList.result.length>0){%>
                                    <% cargoinList.result.forEach(function(element,index){%>
                                        <tr id="cargoinDo<%= index %>">
                                            <td><%= index+1 %></td>
                                            <td><a href="/purchase/applyDetail/<%= element.reqId %>"><%= element.reqId %></a></td>
                                            <td><a href="/purchase/orderDetail/<%= element.orderId %>"><%= element.orderId %></a></td>
                                            <td><a href="/materialManage/detail/<%= element.mateId %>"><%= element.mateId %></a></td>
                                            <td><%=element.mateName%></td>
                                            <td><%=element.price%></td>
                                            <td><%=element.amount%></td>
                                            <td><%=element.totalAmount%></td>
                                            <td>
                                                <input class="form-control small validate[condRequired[custom[number],min[1],max[99],spaceColumn<%= index %>,spaceLayer<%= index %>]]"
                                                       name="spaceRow<%= index %>" placeholder="行" id="spaceRow<%= index %>" data-index="<%= index %>">
                                                <input class="form-control small validate[condRequired[custom[number],min[1],max[99],spaceRow<%= index %>,spaceLayer<%= index %>]]"
                                                       name="spaceColumn<%= index %>" placeholder="列" id="spaceColumn<%= index %>" data-index="<%= index %>">
                                                <input class="form-control small validate[condRequired[custom[number],min[1],max[99],spaceRow<%= index %>,spaceColumn<%= index %>]]"
                                                       name="spaceLayer<%= index %>" placeholder="层" id="spaceLayer<%= index %>" data-index="<%= index %>">

                                                <input name="cargoId<%= index %>" value="<%= element.mateId %>" type="hidden">
                                                <input name="purId<%= index %>" value="<%= element.orderId %>" type="hidden">
                                                <input name="unitPrice<%= index %>" value="<%=element.price%>" type="hidden">
                                            </td>
                                            <td>
                                                <input class="form-control short validate[condRequired[spaceRow<%= index %>,spaceColumn<%= index %>,spaceLayer<%= index %>]]"
                                                       value="<%=element.amount%>" name="amount<%= index %>" id="amount<%= index %>" data-index="<%= index %>">
                                            </td>
                                            <td id="status<%= index %>" class="status"></td>
                                        </tr>
                                <%
                                    })}else{%>
                                    <tr>
                                        <td colspan="10" class="text-align-center">暂无数据</td>
                                    </tr>
                                <%}%>
                                </tbody>
                            </table>
                            <%- pagination %>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr class="simple">
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-primary" id="addMater">
                                <i class="fa fa-plus"></i>
                                添加入库物料
                            </a>
                            <button class="btn btn-primary" id="toEnter">确认入库</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#search-customer").validationEngine();

        var regionSelect = $("#regionId");
        $('#search-customer :text').attr('disabled',true)

        $('#ftyId,#whseId').change(function () {
            $(':text').not('.short').val('');
            $('#search-customer :text').attr('disabled',true)
            $('.status').html('');
            $('#waningArea').show();
        })
        $('#regionId').change(function () {
            var regionId = regionSelect.val();
            $(':text').not('.short').val('');
            $('.status').html('');
            if(regionId){
                $(':text').attr('disabled',false);
                $('#waningArea').hide();
            }else{
                $('#search-customer :text').attr('disabled',true)
                $('#waningArea').show();
            }

        })

        pageSetUp();

        $(':text').on('input propertychange', function() {
            var index = $(this).attr('data-index');
            var status = $('#status'+index);
            status.empty();
            console.log('data-index',index);
            if(validateRow(index)){
                console.log(index+':success');
                $.ajax({
                    url: '/enterMaterial/stockOver/toEnter/ifCanEnter',
                    method:'post',
                    data: {
                        regionId: regionSelect.val() ,//所属区域编号
                        spaceRow:$("#spaceRow"+index).val()  ,//货位行
                        spaceColumn:$("#spaceColumn"+index).val()  ,//货位列
                        spaceLayer: $("#spaceLayer"+index).val() ,//货位层
                        amount: $("#amount"+index).val() ,//入库数量
                    },
                    success: function (data) {
                        console.log('data',data)
                        if(data){
                            status.html('<i class="fa fa-check text-success font-lg"></i>');
                        }else{
                            status.html('<i class="fa fa-times text-danger font-lg"></i>');
                        }
                    },
                    error: function (response) {
                        console.log('response',response)
                        var data = JSON.parse(response.responseText);
                        console.log(data.msg)
                        status.html('<span class="text-danger"><i class="fa fa-times font-lg"></i>'+data.msg+'</span>');
                    }
                });
            }
        });
        
        function validateRow(index) {
            return $("#spaceRow"+index).validationEngine('validate') && $("#spaceColumn"+index).validationEngine('validate') && $("#spaceLayer"+index).validationEngine('validate')
                && $("#amount"+index).validationEngine('validate')

        }

    })

</script>

<%- include('../cargospace/js_function'); %>

<%- include('./add_materials'); %>
<%- include('../layouts/foot'); %>