<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/taskseq/index/<%= lid %>">流水信息</a></li>
            <li>所有交流信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"><i class="fa fa-chevron-left"></i> 返回</a></li>
        </ol>


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>交流信息
                        <a class="label label-primary" href="/taskseq/communicates/create/<%= lid %>">
                            添加交流信息
                        </a>
                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>交流信息</th>
                                <th>新增柜员</th>
                                <th>柜员角色</th>
                                <th>柜员手机</th>
                                <th>新增日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(progressList.result)){
                            progressList.result.forEach(function (element, index) { %>
                            <tr <% if(element.isRecent){  %>
                                    class="mark-row"
                                    <% } %>>
                                <td><%= index + 1 %></td>
                                <td><%= element.content %></td>
                                <td><%= element.name %></td>
                                <td>
                                    <% if(element.roleList){
                                    element.roleList.forEach(function (element) { %>
                                    <span class="separation"><%= element.name %></span>
                                    <%  })

                                    } %>
                                </td>
                                <td><%= element.mobile %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>




<%- include('../layouts/foot'); %>