<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/taskseqs">流水查询</a></li>
            <li>流水信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>基本信息</legend>
                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr >
                                <td>流水号</td>
                                <td><%= lid %></td>
                                <td>流水状态</td>
                                <td colspan="3"><%= DWY_Helper.getAssistVal(taskseqInfo.stcode,statusInfo) %></td>
                            </tr>
                            <tr class="table-tr01">
                                <td>客户编号</td>
                                <td><a href="/customer/detail/<%= taskseqInfo.cid %>"><%= taskseqInfo.cid %></a></td>
                                <td>客户姓名</td>
                                <td><%= taskseqInfo.name %></td>
                                <td>客户电话</td>
                                <td><%= taskseqInfo.mobile %></td>
                            </tr>
                            <tr>
                                <td>建档日期</td>
                                <td><%= DWY_Helper.getLocalDate(taskseqInfo.addTime) %></td>
                                <td>建档人</td>
                                <td><%= taskseqInfo.empName %></td>
                                <td>提交量尺时间</td>
                                <td><%= DWY_Helper.getLocalDate(taskseqInfo.taskTime) %></td>
                            </tr>
                            <tr>
                                <td>设计师</td>
                                <td><%= taskseqInfo.designer %></td>
                                <td>专卖店</td>
                                <td><%= taskseqInfo.stoAddress %></td>
                                <td>专卖店编号</td>
                                <td><%= taskseqInfo.bid %></td>
                            </tr>
                            <tr>
                                <td>量尺空间</td>
                                <td colspan="3"><%= taskseqInfo.spaceStr %> &nbsp;  (<%= taskseqInfo.parentSpaceStr %>)</td>
                                <td>希望量尺时间</td>
                                <td><%= DWY_Helper.getLocalDate(taskseqInfo.appointmentTime) %></td>
                            </tr>
                            <tr>
                                <td>客户地址</td>
                                <td colspan="3"><%= taskseqInfo.address %></td>
                                <td>楼盘位置</td>
                                <td><%= taskseqInfo.realEstate %>（<%= taskseqInfo.realEstateGps %>）</td>
                            </tr>
                            <tr>
                                <td>客户备注</td>
                                <td colspan="5">无字段</td>
                            </tr>

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>量尺信息
                        <!--<a class="label label-primary">云端量尺照片</a>-->
                    </legend>
                    <!-- row -->

                    <table class="table table-bordered table-striped table-information">
                        <tbody>
                        <tr >
                            <td>量尺时间</td>
                            <td colspan="3"><%= DWY_Helper.getLocalDate(measureInfo.finishTime) %></td>
                            <td>计划首次沟通时间</td>
                            <td><%= DWY_Helper.getLocalDate(measureInfo.firstCommTime) %></td>
                        </tr>
                        <tr class="table-tr01">
                            <td>客户性质</td>
                            <td>无字段</td>
                            <td>装修阶段</td>
                            <td><%= measureInfo.decoStageStr %></td>
                            <td>计划入住时间</td>
                            <td><%= DWY_Helper.getLocalDateYMD(measureInfo.planDate) %></td>
                        </tr>
                        <tr>
                            <td>量尺性质</td>
                            <td><%= measureInfo.measPropStr %></td>
                            <td>客户职业</td>
                            <td><%= measureInfo.custOcp %></td>
                            <td>面积</td>
                            <td><%= measureInfo.area %> 平米</td>
                        </tr>
                        <tr>
                            <td>房价</td>
                            <td><%= measureInfo.hsePrice %> 元/平米</td>
                            <td>户型</td>
                            <td>
                                <% if ( measureInfo.hseTypeBed ) { %>
                                <%= measureInfo.hseTypeBed %>房
                                <% }%>
                                <% if ( measureInfo.hseTypeLiving ) { %>
                                <%= measureInfo.hseTypeLiving %>厅
                                <% }%>
                                <% if ( measureInfo.hseTypeKit ) { %>
                                <%= measureInfo.hseTypeKit %>厨
                                <% }%>
                                <% if ( measureInfo.hseTypeWashin ) { %>
                                <%= measureInfo.hseTypeWashin %>卫
                                <% }%>
                            </td>
                            <td>预算</td>
                            <td><%= measureInfo.budget %> 元</td>
                        </tr>
                        <tr>
                            <td>家庭成员</td>
                            <td><%= measureInfo.fmlyNumStr  %></td>
                            <td>孩子性别</td>
                            <td><%= DWY_Helper.getChildrenGender(measureInfo.childGender) %></td>
                            <td>装修风格</td>
                            <td><%= measureInfo.decoStyleStr %></td>
                        </tr>
                        <tr>
                            <td>预购家具</td>
                            <td colspan="3"><%= measureInfo.wantPurchaseStr %></td>
                            <td>喜欢主材颜色</td>
                            <td><%= measureInfo.decoColorStr %></td>
                        </tr>
                        <tr>
                            <td>量尺备注</td>
                            <td colspan="5"> <%= measureInfo.measureRemark %></td>
                        </tr>


                        </tbody>
                    </table>

                </div>
                <!-- end row -->
            </div>
            <!-- end col -->

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>相关文件 <a class="label label-primary" href="/file/pic/<%= lid %>">显示全部效果图</a></legend>

                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>空间</th>
                            <th>文件类型</th>
                            <th>单空间价格</th>
                            <th>文件名称</th>
                            <th>文件大小</th>
                            <th>上传时间</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                        fileInfo.forEach(function (element, index) { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= element.spaceStr %></td>
                            <td><%= element.typeStr %></td>
                            <td><%= element.price %></td>
                            <td> <a href="<%= DWY_GLOBAL.Static %>/download?originalFileName=<%= element.fileName %>&url=<%= element.savePath %>"><%= element.fileName %></a></td>
                            <td><%= DWY_Helper.renderSize(element.fileSize) %></td>
                            <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                            <td><%= element.remark %></td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    <p>建议设置文件默认下载路径：打开浏览器设置页面--》高级设置--》选择下载内容--》<span class="text-danger">勾选</span>"下载前询问每个文件的保存位置"</p>

                </div>
                <!-- end row -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>查房信息</legend>

                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>查房人姓名</th>
                            <th>查房时间</th>
                            <th>查房意见</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                        wardroundInfo.forEach(function (element, index) { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= element.name %></td>
                            <td><%= DWY_Helper.getLocalDate(element.checkTime) %></td>
                            <td><%= element.content %></td>
                        </tr>
                        <% }) %>

                        </tbody>
                    </table>


                </div>
                <!-- end row -->
            </div>
            <!-- end col -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>客户跟进</legend>
                    <!-- row -->

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>沟通时间</th>
                                <th>修改意见</th>
                                <th>备注</th>
                                <th>待成交关键点</th>
                                <th>下次沟通时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(DWY_Helper.isCanLoop(followupInfo)){
                            followupInfo.forEach(function (element) { %>
                            <tr>
                                <td><%= DWY_Helper.getLocalDate(element.commTime) %></td>
                                <td><%= element.content %></td>
                                <td><%= element.remark %></td>
                                <td><%= element.keyPoint %></td>
                                <td><%= DWY_Helper.getLocalDate(element.nextCommTime) %></td>
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>

                    </div>


                </div>
                <!-- end row -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>合同</legend>
                    <!-- row -->

                    <table class="table table-bordered table-striped table-information">
                        <tbody>
                        <tr>
                            <td>合同编号</td>
                            <td colspan="5"><%= contractInfo.contNo %></td>
                        </tr>
                        <tr class="table-tr01">
                            <td>合同登记时间</td>
                            <td><%= DWY_Helper.getLocalDate(contractInfo.addTime) %></td>
                            <td>合同总金额</td>
                            <td><%= contractInfo.amount %> 元</td>
                            <td>合同剩余金额</td>
                            <td><%= contractInfo.residualAmount %> 元</td>
                        </tr>
                        <tr>
                            <td>预付款</td>
                            <td><%= contractInfo.deposit %> 元</td>
                            <td>订单交付日期</td>
                            <td colspan="3"> <%= DWY_Helper.getLocalDate(contractInfo.deliveryDate) %></td>
                        </tr>
                        <tr>
                            <td>最晚下单日期</td>
                            <td><%= DWY_Helper.getLocalDate(contractInfo.lastDate) %></td>
                            <td>备注</td>
                            <td colspan="3"><%= contractInfo.remark %></td>
                        </tr>

                       </tbody>
                    </table>

                </div>
                <!-- end row -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>订单列表
                        <a class="label label-primary"  href="/file/order/detail/<%= lid %>">相关附件</a>
                        <span class="label label-success">已下单完毕</span>
                        <% if(taskseqInfo.sequenceEndTime){%>
                        <span class="text-danger">下单完毕日期：<%=DWY_Helper.getLocalDate(taskseqInfo.sequenceEndTime)%></span>
                        <%}%>
                    </legend>
                    <!-- row -->

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>空间名</th>
                                <th>订单号</th>
                                <th>品牌</th>
                                <th>颜色</th>
                                <th>类型</th>
                                <th>下单员工</th>
                                <th>难度</th>
                                <th>零售价（元）</th>
                                <th>约定交付日期</th>
                                <th>订单状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            seqSpaceInfo.forEach(function (element) {
                                var num = 1;
                            element.orders.forEach(function (orderelement) { %>
                            <tr>
                                <% if (taskseqInfo.stcode >= 350 && taskseqInfo.stcode <540 && num == 1){ %>
                                <td rowspan="<%= element.orders.length  %>"><%=element.spaceName %></td>
                                <% } else{ %>
                                <% if (num == 1){ %>
                                <td rowspan="<%= element.orders.length  %>"><%=element.spaceName %></td>
                                <% } %>
                                <% } %>

                                <td><a href="/order/detail/<%= orderelement.tid %>"><%= orderelement.tid %></a></td>
                                <td><%= orderelement.brandStr %></td>
                                <td><%= orderelement.decoColorStr %></td>
                                <td><%= orderelement.prodName %></td>
                                <td><%=orderelement.channelName%></td>
                                <td><%=orderelement.difficulty%></td>
                                <td><%=orderelement.retailPrice%></td>
                                <td><%=DWY_Helper.getLocalDate(orderelement.deliveryDate)%></td>
                                <td><%=orderelement.stcodeStr %></td>
                            </tr>
                            <% num++ })
                            }) %>
                            </tbody>
                        </table>

                    </div>


                </div>
                <!-- end row -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>交流信息
                        <a class="label label-primary" href="/taskseq/communicates/create/<%= lid %>">
                            添加交流信息
                        </a>
                        <a class="label label-primary" href="/taskseq/communicatesAll/<%= lid %>">
                            查看所有交流信息
                        </a>
                    </legend>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="100">序号</th>
                                <th>交流信息</th>
                                <th>新增员工</th>
                                <th>员工角色</th>
                                <th>员工手机</th>
                                <th>新增日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%  if(DWY_Helper.isCanLoop(progressInfo)){
                            progressInfo.forEach(function (element, index) {  %>
                            <tr <% if(element.isRecent){  %>
                                    class="mark-row"
                                    <% } %>>
                                <td><%= index+1 %></td>
                                <td><%= element.content %></td>
                                <td><%= element.name %></td>
                                <td>
                                    <% if(element.roleList){
                                    element.roleList.forEach(function (element) { %>
                                    <span class="separation"><%= element.name %></span>
                                    <%  })

                                    } %>
                                </td>
                                <td><%= element.mobile %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                            </tr>
                            <%  })
                            } %>

                            </tbody>
                        </table>

                    </div>


                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>


        </div>
    </div>
    <!-- end row -->
</div>


<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();


    })

</script>


<%- include('../layouts/foot'); %>