<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>新建供应商</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">订单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入订单号" type="text" value="<%= DWYRequest.query.tid %>" name="tid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户手机:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入客户手机" type="text" value="<%= DWYRequest.query.mobile %>" name="mobile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <form class="form-horizontal" method="post" id="creat-supplier" action="" >
            <div class="col-xs-12">
                <legend>
                    新建供应商
                    <a class="label label-danger" id="closeStore">禁用</a>
                </legend>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="well">
                        <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-12">
                                        <h6>基本信息</h6>
                                        <hr class="simple">
                                    </div>
                                    <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span> 供应商名称:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>联系人:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span> 联系人电话:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required,funcCall[custom_validate_fn.isMobile]]" value="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="well">
                        <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-12">
                                        <h6>详细信息</h6>
                                        <hr class="simple">
                                    </div>
                                    <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span> 区域:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>供应商等级:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <select class="form-control validate[required]" name="brandId">
                                                                <option value="">- 请选择 -</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span> 详细地点:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="well">
                        <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-12">
                                        <h6>财务负责人</h6>
                                        <hr class="simple">
                                    </div>
                                    <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span> 联系电话:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required,funcCall[custom_validate_fn.isMobile]]" value="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>开户行及银行:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>开票信息:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <hr class="simple">
                                                <div class="col-xs-10 text-center">
                                                    <button class="btn btn-primary " type="submit">
                                                        新建
                                                    </button>
                                                    <a class="btn btn-primary margin-right-5" href="offer_product">
                                                        可提供产品
                                                    </a>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dwy-clear"></div>
        </form>
    </div>
</div>

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $("#creat-supplier").validationEngine();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })
</script>
<%- include('../layouts/foot'); %>

