<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>新建供应商</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <form class="form-horizontal" method="post" id="creat-supplier" action="/supplier/doCreate">
            <div class="col-xs-12">
                <legend>
                    新建供应商
                </legend>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="col-xs-4 margin-top-5 text-center">选择供应商分类</div>
                                <div class="form-group col-xs-8">
                                    <select class="form-control validate[required]"  id="supSortId">
                                        <option value="">- 请选择 -</option>
                                        <% supplierParentSort.forEach(function (element) { %>
                                        <option value="<%= element.id %>"  >
                                            <%= element.name %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group col-xs-8">
                                    <select class="form-control validate[required]" name="cateId" id="supSortChildId">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                    <input  type="hidden" value="" name="name" id="sortNmae" />
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="well">
                        <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-12">
                                        <h6>基本信息</h6>
                                        <hr class="simple">
                                    </div>
                                    <div class="row">
                                            <div class="col-xs-12">
                                                <!--<div class="col-xs-3">-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="col-xs-4 control-label "><span class="requird"></span> 供应商名称:-->
                                                        <!--</label>-->
                                                        <!--<div class="col-xs-8">-->
                                                            <!--<input class="form-control validate[required]" value="" name="">-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>联系人:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="contact">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span> 联系人电话:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required,funcCall[custom_validate_fn.isMobile]]" value="" name="contactMobile">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="well">
                        <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-12">
                                        <h6>详细信息</h6>
                                        <hr class="simple">
                                    </div>
                                    <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-6">
                                                    <div class="form-group dwy-area">
                                                        <label class="col-xs-2 control-label"><span class="requird"></span>
                                                            供应商所在地:</label>
                                                        <div class="col-xs-10 no-padding">
                                                            <div class="col-xs-3">
                                                                <select class="form-control dwy-province validate[required]"
                                                                        name="province">
                                                                    <option value="">- 省 -</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <select class="form-control dwy-city validate[required]" name="city">
                                                                    <option value="">- 市 -</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <select class="form-control dwy-district validate[required]"
                                                                        name="dist">
                                                                    <option value="">- 区 -</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="col-xs-3">-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="col-xs-4 control-label "><span class="requird"></span>供应商等级:-->
                                                        <!--</label>-->
                                                        <!--<div class="col-xs-8">-->
                                                            <!--<select class="form-control validate[required]" name="brandId">-->
                                                                <!--<option value="">- 请选择 -</option>-->
                                                            <!--</select>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="col-xs-2 control-label "><span class="requird"></span> 详细地点:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="address">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="well">
                        <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-12">
                                        <h6>财务负责人</h6>
                                        <hr class="simple">
                                    </div>
                                    <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>财务联系人:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="financeContact">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>财务联系电话:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required,funcCall[custom_validate_fn.isMobile]]" value="" name="financeContactMobile">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>开户行及银行:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="depositBank">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>开户卡号:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="depositNo">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 control-label "><span class="requird"></span>开票信息:
                                                        </label>
                                                        <div class="col-xs-8">
                                                            <input class="form-control validate[required]" value="" name="invoiceInfo">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="col-xs-2 control-label">备注:</label>
                                                        <div class="col-xs-8">
                                                            <textarea name="remark" class="form-control"  cols="20" rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <hr class="simple">
                                                <div class="col-xs-10 text-center">
                                                    <button class="btn btn-primary " type="submit">
                                                        新建
                                                    </button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dwy-clear"></div>
        </form>
    </div>
</div>

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $("#creat-supplier").validationEngine();
//        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
        var areaFor = $('#area');
        var codes = []
        $(".dwy-area").on("change",".cityCode,.provinceCode",function(){
            var areaCode = $(this).val();
            var index = $(this).attr('data-code');
            codes[index] = areaCode;
            var areaArry = codes.filter(function (item, index) {
                return item != '';
            })
            areaFor.val(areaArry)
            console.log(index)
            console.log('codes',areaFor.val())
        });

        $(".dwy-area").on("click",".deleteInco",function(){
            var index = $(this).attr('data-code');
            codes[index] = '';
            $('#areaSection'+index).remove();

            var areaArry = codes.filter(function (item, index) {
                return item != '';
            })

//            console.log('codes',areaArry)
//            console.log('codesOld',codes)

            areaFor.val(areaArry);
            addNum = addNum-1;
        });
        DWY_area.init({});
    })
</script>
<%- include('./js_function'); %>
<%- include('../layouts/foot'); %>

