<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>供应商信息</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>供应商信息</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>供应商分类编号</td>
                                <td colspan=""><%= suppliersDetail.cateId  %></td>
                                <td>供应商分类名称</td>
                                <td colspan=""><%= suppliersDetail.name  %></td>
                            </tr>
                            <tr>
                                <td>联系人姓名</td>
                                <td><%= suppliersDetail.contact  %></td>
                                <td>联系人手机</td>
                                <td><%= suppliersDetail.contactMobile  %></td>
                            </tr>
                            <tr>
                                <td>供应商所在地区</td>
                                <td colspan="3">
                                    <span class="margin-right-5-10"><%= suppliersDetail.provinceStr %>-</span>
                                    <span class="margin-right-5-10"><%= suppliersDetail.cityStr  %>-</span>
                                    <span class="margin-right-5-10"><%= suppliersDetail.distStr  %></span>
                                </td>
                            </tr>
                            <tr>
                                <td>财务联系人</td>
                                <td colspan=""><%= suppliersDetail.financeContact  %></td>
                                <td>财务联系人手机</td>
                                <td colspan=""><%= suppliersDetail.financeContactMobile  %></td>
                            </tr>
                            <tr>
                                <td>开户银行</td>
                                <td><%= suppliersDetail.depositBank  %></td>
                                <td>开户卡号</td>
                                <td><%= suppliersDetail.depositNo  %></td>
                            </tr>
                            <tr>
                                <td>开票信息</td>
                                <td><%= suppliersDetail.invoiceInfo  %></td>
                                <td>详细地址</td>
                                <td colspan="3"><%= suppliersDetail.address  %></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="3"><%= suppliersDetail.remark  %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-xs-12">
                    <legend>供应商关联物料信息</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>物料编号</th>
                                <th>物料分类编号</th>
                                <th>物料名称</th>
                                <th>截至有效日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(suppliersDetail.materialsList){
                            suppliersDetail.materialsList.forEach(function(element,index){%>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.id %></td>
                                <td><%= element.catId %></td>
                                <td><%= element.name %></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.expiryDate) %></td>
                            </tr>
                            <%  })}%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr class="simple">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-primary " type="submit" href="/supplier/offer_product/<%= suppliersDetail.id  %>">
                           添加可提供物料
                        </a>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {


    })

</script>


<%- include('../layouts/foot'); %>