<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/supplier"><i class="fa fa-chevron-left"></i> 供应商列表</a></li>
            <li>供应商详情</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>供应商信息</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-information">
                            <tbody>
                            <tr>
                                <td>供应商分类编号</td>
                                <td colspan=""><%= suppliersDetail.cateId  %></td>
                                <td>供应商分类名称</td>
                                <td colspan=""><%= suppliersDetail.cateName  %></td>
                            </tr>
                            <tr>
                                <td>供应商名称</td>
                                <td colspan=""><%= suppliersDetail.name  %></td>
                                <td>联系人姓名</td>
                                <td><%= suppliersDetail.contact  %></td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td><%= suppliersDetail.contactMobile  %></td>
                                <td>供应商所在地区</td>
                                <td colspan="">
                                    <span class="margin-right-5-10"><%= suppliersDetail.provinceStr %>-</span>
                                    <span class="margin-right-5-10"><%= suppliersDetail.cityStr  %>-</span>
                                    <span class="margin-right-5-10"><%= suppliersDetail.distStr  %></span>
                                </td>
                            </tr>
                            <tr>
                                <td>财务联系人</td>
                                <td colspan=""><%= suppliersDetail.financeContact  %></td>
                                <td>财务联系人手机</td>
                                <td colspan=""><%= suppliersDetail.financeContactMobile  %></td>
                            </tr>
                            <tr>
                                <td>开户银行</td>
                                <td><%= suppliersDetail.depositBank  %></td>
                                <td>开户卡号</td>
                                <td><%= suppliersDetail.depositNo  %></td>
                            </tr>
                            <tr>
                                <td>开票信息</td>
                                <td colspan="3"><%= suppliersDetail.invoiceInfo  %></td>
                            </tr>
                            <tr>
                                <td>详细地址</td>
                                <td colspan="3"><%= suppliersDetail.provinceStr %>--<%= suppliersDetail.cityStr  %>--<%= suppliersDetail.distStr  %>--<%= suppliersDetail.address  %></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="3"><%= suppliersDetail.remark  %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-xs-12">
                    <legend>
                        供货信息
                        <a class="label label-primary " type="submit" href="/supplier/offer_product/<%= suppliersDetail.id  %>">
                            添加可提供物料
                        </a>
                    </legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>物料编号</th>
                                <th>物料分类名称</th>
                                <th>物料名称</th>
                                <th>截止有效日期</th>
                                <th>物料编码</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(suppliersDetail.materialsList && DWY_Helper.isCanLoop(suppliersDetail.materialsList)){
                            suppliersDetail.materialsList.forEach(function(element,index){%>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><a href="/materialManage/detail/<%= bid %>/<%= element.id %>"><%= element.id %></a></td>
                                <td><%= element.catName %></td>
                                <td><%= element.name %></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.expiryDate) %></td>
                                <td><%= element.outerCode %></td>
                                <td class="supMatTd">
                                    <button class="label label-primary deleteRelate" sid="<%= tid %>" mid="<%= element.id %>">解除关联</button>
                                    <button class="label label-primary updateDate" mid="<%= element.id %>">修改日期</button>
                                </td>
                            </tr>
                            <%  })}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">
    $(document).ready(function () {
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
        $(".deleteRelate").click(function () {
            var sid = $(this).attr('sid');
            var mid = $(this).attr('mid');
            layer.confirm("解除关联？", {title: '提示'}, function (index) {
                $.ajax({
                    url: '/supplier/deleteRelate/' + sid + '/' + mid,
                    method: 'post',
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (response) {
                        layer.close(index);
                        errorLayout.normal(response);
                    }
                });
            }, function (index) {
                layer.close(index);
            })
        })
        $(".supMatTd").on("click", ".updateDate", function () {
            var midS = $(this).attr('mid');
            $("input[name='mateId']").val(midS);
            layer.open({
                title: false,
                type: 1,
                area: '700px',
                content: $('#updateDate'),
                cancel: function () {
                },
            });
        })
    })
</script>


<%- include('../layouts/foot'); %>
<%- include('./supplier2_modal'); %>