<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>供应商详情</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">
                            <div class="col-xs-12">
                                <!--输入字段-->

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">客户手机:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入客户手机" type="text" value="<%= DWYRequest.query.contactMobile %>" name="contactMobile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <legend>
                        供应商列表
                        <a class="label label-primary" href="/supplier/sort">供应商分类</a>
                        <a class="label label-primary" href="/supplier/createPage">添加供应商</a>
                        <!--<a class="label label-primary" href="/supplier/modify">修改供应商信息</a>-->
                    </legend>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>随便</th>
                                <th>序号</th>
                                <th>供应商编号</th>
                                <th>供应商分类编号</th>
                                <th>供应商分类名称</th>
                                <th>经销商等级</th>
                                <th>联系人</th>
                                <th>联系人手机</th>
                                <th>工厂详细地址</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(suppliersList.totalItems != 0  ){
                                suppliersList.result.forEach(function (element, index) { %>
                            <tr class="<%= ( element.isDeleted == 2 )? 'close-info':'' %>">
                                <td><%= element.isDeleted %></td>
                                <td><%= index+1 %></td>
                                <td><a href="supplier/detail/<%= element.id %>"><%= element.id %></a></td>
                                <td><%= element.cateId %></td>
                                <td><%= element.name %></td>
                                <td><%= element.grade %></td>
                                <td><%= element.contact %></td>
                                <td><%= element.contactMobile %></td>
                                <td><%= element.address %></td>
                                <td><%= element.remark %></td>
                                <td>
                                    <%
                                    if(element.isDeleted==2){%>
                                        <button class="label label-primary delete-supplier" selfId="<%= element.id %>">启用</button>
                                    <% }else{%>
                                        <a class="label label-primary" href="/supplier/modify/<%= element.id %>">修改</a>
                                        <button class="label label-danger openSupplierSort" selfId="<%= element.id %>">禁用</button>
                                    <%  }%>
                                    <input value="1" id="urlType" type="hidden">
                                    <input value="2" id="urlType2" type="hidden">
                                </td>
                                <% }
                                )} %>
                            </tr>
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })
</script>
<%- include('./js_function'); %>
<%- include('../layouts/foot'); %>

