<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>供应商管理</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">联系人手机:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入客户手机" type="text" value="<%= DWYRequest.query.contactMobile %>" name="contactMobile">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">供应商名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入供应商名称" type="text" value="<%= DWYRequest.query.name %>" name="name">
                                        </div>
                                    </div>
                                </div>
                                <% if (DWY_Helper.hasPermission(Permission.supplier.queryAll.id, permission) ){ %>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">机构:</label>
                                        <div class="col-xs-8">
                                            <select name="bid" id="" class="form-control">
                                                <option value="">- 请选择 -</option>
                                                <%
                                                if(DWY_Helper.isCanLoop(organizationsList)){
                                                organizationsList.forEach(function (element, index) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.bid==element.id)?'selected':'';%>><%= element.name %></option>
                                            <%})}%>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <div class="col-xs-2 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->
        <div class="well dis-flex">
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <legend>
                        供应商列表
                        <% if (DWY_Helper.hasPermission(Permission.supplier.queryCategory.id, permission) ){ %>
                        <a class="label label-primary" href="/supplier/sort">供应商分类</a>
                        <% } %>
                        <% if (DWY_Helper.hasPermission(Permission.supplier.creae.id, permission) ){ %>
                        <a class="label label-primary" href="/supplier/createPage">新建供应商</a>
                        <% } %>
                        <!--<a class="label label-primary" href="/supplier/modify">修改供应商信息</a>-->
                    </legend>
                </div>
            </div>
            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2" >
                            <thead>
                                <th>序号</th>
                                <th>供应商编号</th>
                                <th>供应商名称</th>
                                <th>供应商分类名称</th>
                                <th>联系人</th>
                                <th>联系电话</th>
                                <th>供应商等级</th>
                                <th>供应商类型</th>
                                <th>员工名称</th>
                                <th>创建部门</th>
                                <th>创建时间</th>
                                <th>详细地址</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(suppliersList.result)){
                                suppliersList.result.forEach(function (element, index) { %>
                            <tr class="<%= ( element.isDeleted == 2 )? 'close-info':'' %>">
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><a href="supplier/detail/<%= element.id %>"><%= element.id %></a></td>
                                <td><%= element.name %></td>
                                <td><%= element.cateName %></td>
                                <td><%= element.contact %></td>
                                <td><%= element.contactMobile %></td>
                                <td><%= element.grade %></td>
                                <td><%= element.type==1 ? '外部':'内部'%></td>
                                <td><%= element.gname %></td>
                                <td><%= element.deptName %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= element.address %></td>
                                <td>
                                    <%
                                    if(element.isDeleted==2){%>
                                        <% if (DWY_Helper.hasPermission(Permission.supplier.delete.id, permission) ){ %>
                                        <button class="label label-primary delete-supplier on-off-switch"
                                                selfId="<%= element.id %>"
                                                data-type="1">启用</button>
                                         <% } %>
                                    <% }else{%>
                                        <% if (DWY_Helper.hasPermission(Permission.supplier.update.id, permission) ){ %>
                                        <a class="label label-primary" href="/supplier/modify/<%= element.id %>">修改</a>
                                        <% } %>
                                         <% if (DWY_Helper.hasPermission(Permission.supplier.delete.id, permission) ){ %>
                                        <button class="label label-danger openSupplierSort on-off-switch"
                                                selfId="<%= element.id %>"
                                        data-type="2">禁用</button>
                                         <% } %>
                                    <%  }%>
                                    <input value="1" id="urlType" type="hidden">
                                    <input value="2" id="urlType2" type="hidden">
                                </td>
                                <%
                                })}else{%>
                                <td colspan="13" class="text-align-center">暂无结果</td>
                                <% }%>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
//        $("#mytable").freezeHeader({ 'height': '100%' });
        pageSetUp();
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })
</script>
<%- include('./js_function'); %>
<%- include('../layouts/foot'); %>

