<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/supplier"><i class="fa fa-chevron-left"></i>供应商管理</a></li>
            <li>供应商分类</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- start well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">分类名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入分类名称" type="text" value="<%= DWYRequest.query.name %>" name="name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <!--start row-->
        </div>
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <legend>
                        供应商分类
                        <% if (DWY_Helper.hasPermission(Permission.supplier.createCategory.id, permission) ){ %>
                        <a class="label label-primary" id="supplierParentCreat">新建分类</a>
                        <% } %>
                        <input value="1" id="urlType" type="hidden">
                        <input value="2" id="urlType2" type="hidden">
                    </legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped ">
                            <thead>
                            <tr>
                                <th>供应商分类名称</th>
                                <th>柜员名称</th>
                                <th>创建部门</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(suppliersCategoriesList.result)){
                            suppliersCategoriesList.result.forEach(function (element, index) {%>
                                    <% if(element.parentId == 0){%>
                                        <tr class="level-0 <%= ( element.isDeleted == 2 )? 'close-info':'' %>">
                                            <td><%= element.name %></td>
                                            <td><%= element.gname %></td>
                                            <td><%= element.deptName %></td>
                                            <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                            <td>
                                                <% if(element.isDeleted == 2) {%>
                                                <% if (DWY_Helper.hasPermission(Permission.supplier.deleteCategory.id, permission) ){ %>
                                                <button class="label label-primary openSupplierSort" selfId="<%= element.id %>">启用</button>
                                                <% } %>
                                                <% }else{%>
                                                <% if (DWY_Helper.hasPermission(Permission.supplier.createCategory.id, permission) ){ %>
                                                <button class="label label-primary supplierChild-modal"  parent="<%= element.name %>" parentId="<%= element.id %>">新建子级</button>
                                                <% } %>
                                                <% if (DWY_Helper.hasPermission(Permission.supplier.updateCategory.id, permission) ){ %>
                                                <button class="label label-primary supplierModify-modal" name="<%= element.name %>" selfId="<%= element.id %>" selfType="<%= element.type %>">修改</button>
                                                <% } %>
                                                <% if (DWY_Helper.hasPermission(Permission.supplier.deleteCategory.id, permission) ){ %>
                                                <button class="label label-danger delete-supplier" selfId="<%= element.id %>" >禁用</button>
                                                <% } %>
                                                <% } %>
                                            </td>
                                        </tr>
                                    <%}else{%>
                                        <tr class="level-1 <%= ( element.isDeleted == 2 )? 'close-info':'' %>">
                                            <td class="level-1-title"><%= element.name %></td>
                                            <td><%= element.gname %></td>
                                            <td><%= element.deptName %></td>
                                            <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                            <td>
                                                <% if(element.isDeleted == 2) {%>
                                                <% if (DWY_Helper.hasPermission(Permission.supplier.deleteCategory.id, permission) ){ %>
                                                <button class="label label-primary openSupplierSort" id="openStore" selfId="<%= element.id %>">启用</button>
                                                <% } %>
                                                <% }else{%>
                                                <% if (DWY_Helper.hasPermission(Permission.supplier.updateCategory.id, permission) ){ %>
                                                <button class="label label-primary supplierModify-modal margin-left-85" name="<%= element.name %>" selfId="<%= element.id %>" selfType="<%= element.type %>">修改</button>
                                                <% } %>
                                                <% if (DWY_Helper.hasPermission(Permission.supplier.deleteCategory.id, permission) ){ %>
                                                <button class="label label-danger delete-supplier" selfId="<%= element.id %>">禁用</button>
                                                <% } %>
                                                <% } %>
                                            </td>
                                        </tr>
                                    <%}
                            })}else{%>
                            <td colspan="5" class="text-align-center">暂无结果</td>
                            <% }%>
                            </tbody>
                        </table>
                        <%- pagination %>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
        <!-- end well -->

    </div>
</div>



<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })
</script>
<%- include('../layouts/foot'); %>
<%- include('./supplier_modal'); %>

