<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <% if(pid){ %>
            <li><a class="back-url" href="/order/resupply/detail/<%= tid %>/<%= pid %>"><i class="fa fa-chevron-left"></i> 补单详情</a></li>
            <%  }else{ %>
            <li><a class="back-url" href="/order/detail/<%= tid %>"><i class="fa fa-chevron-left"></i> 订单详情</a></li>
            <% } %>
            <li>文件上传</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">



        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>文件上传</legend>


                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="post" action="/file/order/doCreate" id="file-order">

                            <div class="col-xs-12">

                                <!--键值+下拉选择+输入组合-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label "><span class="requird"></span> 文件类型: </label>
                                        <div class="col-xs-10">
                                            <select class="form-control validate[required]" name="type" id="fileType" >
                                                <option value="">- 文件类型 -</option>
                                                <% fileTypeInfo.forEach(function (element) { %>
                                                <option value="<%= element.code %>" data-id="<%= element.id %>"><%= element.name %></option>
                                                <%  }) %>

                                            </select>
                                            <input type="hidden" name="fileTypeId" id="fileTypeId" value="">
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">备注:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control" name="remark">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span> 文件地址:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control validate[required]" readonly value=""
                                                   name="savePath">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="col-xs-12 text-left">
                                        <!--<button class="btn btn-primary " type="submit">-->
                                        <!--<i class="fa fa-save"></i>-->
                                        <!--添加文件-->
                                        <!--</button>-->
                                        <!---->
                                        <label for="dwy_file_upload" class="btn btn-primary" id="label-upload-file">

                                            点击上传 <i class="fa fa-upload"></i> </label>
                                        <input type="file" name="file_name" id="dwy_file_upload" style="display: none;">
                                        <input type="hidden" name="liquid_number" id="liquid_number" value="<%= lid %>">
                                    </div>
                                </div>

                                <input type="hidden" name="fileName" value="">
                                <input type="hidden" name="fileSize" value="">
                                <input type="hidden" name="fileExt" value="">
                                <input type="hidden" name="lid" value="<%= lid %>">
                                <input type="hidden" name="tid" value="<%= tid %>">
                                <input type="hidden" name="resId" value="<%= pid %>">
                                <input type="hidden" name="ordType" value="<%= ordType %>">
                                <input type="hidden" name="stcode" value="<%= stcode %>">

                            </div>


                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-upload"></i>
                                        确认上传
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-xs-12">
                        <img src="" alt="" id="test-image-upload">
                    </div>

                </div>
                <!-- end col -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend> 相关文件
                    </legend>
                    <!-- row -->

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>订单号</th>
                                <th>文件名</th>
                                <th>文件类型</th>
                                <th>上传人</th>
                                <th>上传时间</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(fileInfo)){
                            fileInfo.forEach(function (element,index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.tid %></td>
                                <td><%= element.fileName %></td>
                                <td><%= element.fileTypeDesc %></td>
                                <td><%= element.uploadName %></td>
                                <td><%= element.addTime %></td>
                                <td><%= element.remark %></td>
                                <td>
                                    <a onclick="deleteFile(<%= element.id %>)" class="cursor-pointer">删除</a>
                                    <a href="<%= DWY_GLOBAL.Static %>/download?url=<%= element.savePath %>">下载</a>
                                </td>
                            </tr>
                            <% })
                            } %>


                            </tbody>
                        </table>

                    </div>


                </div>
                <!-- end row -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        $("#file-order").validationEngine();

        pageSetUp();
        $('#fileType').change(function () {
            var id = $(this).find('option:selected').attr('data-id');
//            alert(id)
            $('#fileTypeId').val(id);
            
        })

        $('#dwy_file_upload').on({
            change: function (e) {
                var _this = $(this);
                var label = $("#label-upload-file");
                var lid = $("[name=lid]");
                var tid = $("[name=tid]");
                var formData = new FormData();

                formData.append('file_name', _this.prop('files')[0])
                formData.append('lid', lid.val())
                formData.append('tid', tid.val())

//            console.log(window.aaa = formData);
                label.html('上传中 <i class="fa fa-circle-o-notch fa-spin">');
                label.attr('disabled', true);


                $.ajax({
                    url: '/template/upload/single',
                    data: formData,
                    type: 'POST',
                    // THIS MUST BE DONE FOR FILE UPLOADING
                    processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
                    contentType: false, // 不设置Content-type请求头
                    // ... Other options like success and et
                    success: function (data) {
                        label.attr('disabled', false);
                        if (data.code == 200) {
                            var fileName = $('[name=fileName]').val(data.data.name);
                            var fileSize = $('[name=fileSize]').val(data.data.size);
                            var savePath = $('[name=savePath]').val(data.data.url);
                            var fileExt = $('[name=fileExt]').val(data.data.ext);
                            label.html('上传成功 <i class="fa fa-check">');

                            // 图片预览
//                        $('#test-image-upload').attr('src', '/uploads/' + data.tmp_path);
                        } else {
                            label.html('上传失败 <i class="fa fa-times">');
                        }
                    },
                    error: function () {
                        label.attr('disabled', false);
                        label.html('上传失败 <i class="fa fa-times">');
                    }
                })
            }
        })



    })


    function deleteFile(id) {
        layer.confirm('确认删除该文件?',{icon: 3, title:'提示'},function(index){
            $.ajax({
                url: '/file/order/doDelete/'+id,
                method: 'delete',
                success: function (data) {
                    successLayout.reload();
                },
                error: function (response) {
                    layer.close(index)
                    errorLayout.normal(response);

                }
            });
        },function(index){
            layer.close(index)})
    }


</script>


<%- include('../layouts/foot'); %>