<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <% if(ordType != 1){ %>
            <li><a class="back-url" href="/orders/resupplys"> 补单查询</a></li>
            <li><a class="back-url" href="/order/resupply/detail/<%= tid %>"> 补单详情</a></li>
            <% }else{ %>
            <li><a class="back-url" href="/orders">订单查询</a></li>
            <li><a class="back-url" href="/order/detail/<%= tid %>"> 订单详情</a></li>
            <% } %>
            <li>文件上传</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>文件上传<span style="font-size:14px;"> 订单号：<%= tid %></span></legend>


                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="post" action="/file/order/doCreate" id="file-order">

                            <div class="col-xs-12">

                                <!--键值+下拉选择+输入组合-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label "><span class="requird"></span> 文件类型:
                                        </label>
                                        <div class="col-xs-10">
                                            <% if(DWY_Helper.isCanLoop(fileTypeInfo)){
                                            fileTypeInfo.forEach(function (element, index) {
                                            if(element.code != 1004){ %>
                                            <label class="radio radio-inline">
                                                <input type="radio" class="radiobox validate[required]" value="<%= element.code %>"
                                                       data-id="<%= element.id %>"
                                                       name="type" >
                                                <span><%= element.name %></span>
                                            </label>
                                            <% }
                                            })
                                            }else{ var notUpload = true %>
                                            <label class="pull-left control-label ">--暂无可上传文件--</label>
                                            <% } %>

                                            <input type="hidden" name="fileTypeId" id="fileTypeId"
                                                   value="">
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">备注:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control" name="remark">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"><span class="requird"></span>
                                            文件地址:</label>
                                        <div class="col-xs-10">
                                            <input class="form-control validate[required]" readonly value=""
                                                   name="fileName">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="col-xs-12 text-left">
                                        <!--<button class="btn btn-primary " type="submit">-->
                                        <!--<i class="fa fa-save"></i>-->
                                        <!--添加文件-->
                                        <!--</button>-->
                                        <!---->
                                        <label for="dwy_file_upload" class="btn btn-primary" id="label-upload-file">

                                            点击上传 <i class="fa fa-upload"></i> </label>
                                        <input type="file" name="file_name" id="dwy_file_upload" style="display: none;">
                                        <input type="hidden" name="liquid_number" id="liquid_number" value="<%= lid %>">
                                    </div>
                                </div>

                                <!--<input type="hidden" name="fileName" value="">-->
                                <input type="hidden" name="savePath" value="">
                                <input type="hidden" name="fileSize" value="">
                                <input type="hidden" name="fileExt" value="">
                                <input type="hidden" name="lid" value="<%= lid %>">
                                <input type="hidden" name="tid" value="<%= tid %>">
                                <input type="hidden" name="ordType" value="<%= ordType %>">
                                <input type="hidden" name="stcode" value="<%= stcode %>">

                            </div>


                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit" <%= notUpload ? 'disabled' : '' %>>
                                        <i class="fa fa-upload"></i>
                                        确认上传
                                    </button>
                                    <% if(ordType != 1){ %>

                                    <% switch(resupplyInfo.status){
                                        case 250:  %>

                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.passOrder.id, permission) && resupplyInfo.receiveGid == user.id ){ %>
                                    <a class="btn btn-primary margin-left-20" id="check-pass-modal">提交审核</a>
                                    <% } %>

                                    <% break;
                                        case 450: %>

                                    <% if (DWY_Helper.hasPermission(Permission.resupplyOrderApart.passOrder.id, permission) && resupplyInfo.receiveGid == user.id  ){ %>
                                    <a class="btn btn-primary margin-left-20" data-stcode="<%= resupplyInfo.status %>" id="confirm-apart-order">确认拆单</a>

                                    <% } %>
                                    <% } %>

                                    <% }else{ %>
                                    <% switch(orderInfo.stcode){
                                    case 250:  %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderReview.passOrder.id, permission) && orderInfo.receiveGid == user.id ){ %>
                                    <a class="btn btn-primary margin-left-20" id="check-pass-modal">提交审核</a>
                                    <% } %>
                                    <%        break;
                                        case 450: %>
                                    <% if (DWY_Helper.hasPermission(Permission.orderApart.passOrder.id, permission) && orderInfo.receiveGid == user.id ){ %>
                                    <a class="btn btn-primary margin-left-20" data-stcode="<%= orderInfo.stcode %>" id="confirm-apart-order">确定拆单</a>
                                    <% } %>
                                    <%  } %>

                                    <% } %>



                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-xs-12">
                        <img src="" alt="" id="test-image-upload">
                    </div>

                </div>
                <!-- end col -->
            </div>

            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend> 相关文件
                    </legend>
                    <!-- row -->

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>订单号</th>
                                <th>文件名</th>
                                <th>文件类型</th>
                                <th>上传人</th>
                                <th>上传时间</th>
                                <th>备注</th>
                                <th width="200">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(fileInfo)){
                            fileInfo.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= element.tid %></td>
                                <td><%= element.fileName %></td>
                                <td><a class="downloadZip" type="<%= element.fileTypeDesc %>"><%= element.fileTypeDesc %></a></td>
                                <td><%= element.uploadName %></td>
                                <td><%= element.addTime %></td>
                                <td><%= element.remark %></td>
                                <td>
                                    <% if(element.delFlag == true){  %>
                                    <a class="label label-danger" onclick="deleteFile(<%= element.id %>)">删除</a>
                                    <% } %>
                                    <a class="label label-primary" href="<%= DWY_GLOBAL.Static %>/download?originalFileName=<%= element.fileName %>&url=<%= element.filePath %>">下载</a>
                                    <button class="label label-primary reSubmit" data-val="<%= element.id %>">重新上传</button>
                                </td>
                                <input type="hidden" name="fileId" value="<%= element.id %>">
                            </tr>
                            <% })
                            } %>

                            </tbody>
                        </table>
                        <p>建议设置文件默认下载路径：打开浏览器设置页面--》高级设置--》选择下载内容--》<span class="text-danger">勾选</span>"下载前询问每个文件的保存位置"
                        </p>
                    </div>


                </div>
                <!-- end row -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->


        <form action="/file/zipDownload" method="post" id="forListSubmit" style="display: none;">
           <textarea name="list" id="list"></textarea>
            <input type="hidden" name="fileName" id="fileNameDown" value="">
            <button type="submit">submit</button>
        </form>

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<form id="fileUpload" class="col-xs-12 layer-template" action="/file/order/reSubmit" method="post">
    <div class="col-xs-12" style="margin-top:20px;">
        <div class="col-xs-8">
            <div class="form-group">
                <label class="col-xs-3 control-label"></span>
                    文件地址:</label>
                <div class="col-xs-9">
                    <input class="form-control" readonly value=""
                           name="fileName">
                    <input name="id" value="" type="hidden" />
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="col-xs-12 text-left">
                <label for="dwy_file_upload2" class="btn btn-primary" id="label-upload-file2">
                    点击上传 <i class="fa fa-upload"></i> </label>
                <input type="file" name="file_name" id="dwy_file_upload2" style="display: none;">
            </div>
        </div>
        <input type="hidden" name="savePath" value="">
        <input type="hidden" name="fileSize" value="">
        <input type="hidden" name="fileExt" value="">
        <input type="hidden" name="lid" value="<%= lid %>">
        <input type="hidden" name="tid" value="<%= tid %>">
        <input type="hidden" name="ordType" value="<%= ordType %>">
        <input type="hidden" name="stcode" value="<%= stcode %>">
    </div>
    <div class="col-xs-12 text-center margin-top-10">
        <button class="btn btn-primary margin-top-10" type="submit">上传</button>
    </div>
</form>
<script type="text/javascript">

    $(document).ready(function () {

        $("#file-order").validationEngine();

        pageSetUp();
        $('.radiobox').change(function () {
            var id = $("input[name='type']:checked").attr('data-id');
//            alert(id)
            $('#fileTypeId').val(id);

        })

        $(".reSubmit").click(function(){
          var fileId = $(this).attr('data-val');
          $("input[name=id]").val(fileId);
          layer.open({
            title: false,
            type: 1,
            area: '700px',
            content: $('#fileUpload'),
            cancel: function () {
              //右上角关闭回调
            },

          });
        })
        $('#dwy_file_upload').on({
            click: function () {
                $(this).val('');
            },
            change: function (e) {
                var _this = $(this);
                var choosedName =  _this.prop('files')[0].name;
                if((choosedName.indexOf('<%= tid %>') == 0) ||( '<%= fileNameType %>' == 1 )){
                    var label = $("#label-upload-file");
                    var lid = $("[name=lid]");
                    var tid = $("[name=tid]");
                    var formData = new FormData();
                    formData.append('file_name', _this.prop('files')[0])
                    formData.append('lid', lid.val())
                    formData.append('tid', tid.val())

                    label.html('上传中 <i class="fa fa-circle-o-notch fa-spin">');
                    label.attr('disabled', true);

                    $.ajax({
                        url: '/template/upload/single/order',
                        data: formData,
                        type: 'POST',
                        // THIS MUST BE DONE FOR FILE UPLOADING
                        processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
                        contentType: false, // 不设置Content-type请求头
                        // ... Other options like success and et
                        success: function (data) {
                            label.attr('disabled', false);
                            if (data.code == 200) {
                                var fileName = $('[name=fileName]').val(data.data.name);
                                var fileSize = $('[name=fileSize]').val(data.data.size);
                                var savePath = $('[name=savePath]').val(data.data.url);
                                var fileExt = $('[name=fileExt]').val(data.data.ext);
                                label.html('上传成功 <i class="fa fa-check">');

                                // 图片预览
//                        $('#test-image-upload').attr('src', '/uploads/' + data.tmp_path);
                            } else {
                                label.html('上传失败 <i class="fa fa-times">');
                            }
                        },
                        error: function () {
                            label.attr('disabled', false);
                            label.html('上传失败 <i class="fa fa-times">');
                        }
                    })

                }else{
                    layer.msg('订单号不匹配，请重新选择文件', {icon: 2, time: 2000});
                    return;
                }
            }
        })

        $('#dwy_file_upload2').on({
            change: function (e) {
              var _this = $(this);
                var label = $("#label-upload-file2");
                var formData = new FormData();
                formData.append('file_name', _this.prop('files')[0])
                label.html('上传中 <i class="fa fa-circle-o-notch fa-spin">');
                label.attr('disabled', true);
                $.ajax({
                  url: '/template/upload/single/order',
                  data: formData,
                  type: 'POST',
                  // THIS MUST BE DONE FOR FILE UPLOADING
                  processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
                  contentType: false, // 不设置Content-type请求头
                  success: function (data) {
                    label.attr('disabled', false);
                    if (data.code == 200) {
                       $('#fileUpload [name=fileName]').val(data.data.name);
                       $('#fileUpload [name=fileSize]').val(data.data.size);
                       $('#fileUpload [name=savePath]').val(data.data.url);
                       $('#fileUpload [name=fileExt]').val(data.data.ext);
                      label.html('上传成功 <i class="fa fa-check">');
                    } else {
                      label.html('上传失败 <i class="fa fa-times">');
                    }
                  },
                  error: function () {
                    label.attr('disabled', false);
                    label.html('上传失败 <i class="fa fa-times">');
                  }
                })
            }
        })

//        function simuFormSubmit($files) {
//            var form = document.createElement('form')
//            $files.forEach(function ($file) {
//                let inputFileUrl = document.createElement('input');
//                inputFileUrl.type = 'checkbox';
//                inputFileUrl.setAttribute('name','url');
//                inputFileUrl.value =$file.url;
//                inputFileUrl.setAttribute('checked',true)
//                form.appendChild(inputFileUrl)
//
//                let inputFileName =  document.createElement('input');
//                inputFileName.type = 'checkbox';
//                inputFileName.setAttribute('name','originalFileName');
//                inputFileName.value =$file.originalFileName;
//                inputFileName.setAttribute('checked',true)
//                form.appendChild(inputFileName)
//            })
//            form.setAttribute('action', '/file/zipDownload');
//            form.setAttribute('method', 'post');
//            form.style.display = 'none';
//            document.body.appendChild(form);
//            debugger;
//            form.submit();
//        }
//
//        $files = [{
//            url:'12017\\10001003\\1530800011704250019\\1638341836881606325.xls',
//            originalFileName:"工件改1.xls"
//        },{
//            url:'22017\\10001003\\1530800011704250019\\1638341836881606325.xls',
//            originalFileName:"工件改2.xls"
//        }]

        var listHere = $("#list");
        var fileNameDown = $("#fileNameDown");
        var forListSubmit = $("#forListSubmit");
        $('.downloadZip').click(function () {
            var type = $(this).attr('type');
            var fileTypeList = <%- JSON.stringify(fileTypeList)%>

            listHere.text(JSON.stringify(fileTypeList[type]))
            fileNameDown.val('<%= tid %>'+type)
            forListSubmit.submit();
//            simuFormSubmit($files)
        })


    })


    function deleteFile(id) {
        layer.confirm('确认删除该文件?', {icon: 3, title: '提示'}, function (index) {
            $.ajax({
                url: '/file/order/doDelete/' + id,
                method: 'delete',
                success: function (data) {
                    successLayout.reload();
                },
                error: function (response) {
                    layer.close(index)
                    errorLayout.normal(response);

                }
            });
        }, function (index) {
            layer.close(index)
        })
    }

    <% if(ordType==1){%>
    $(".doPass").click(function () {
        var orderStcode = $(this).attr('data-stcode');
        var ajaxUrl = '';
        var locationUrl = '';
        var text = '';
        switch (orderStcode){
            case '450':
                ajaxUrl = '/apart/doPass/<%= tid %>';
                locationUrl = '/apartPage/getOrder';
                text = '确定拆单完毕吗?';
                break;
            case '475':
                ajaxUrl = '/apartCheck/doPass/<%= tid %>';
                locationUrl = '/apartCheckPage/getOrder';
                text = '确认拆单审核完毕吗?';
                break;
            case '635':
                ajaxUrl = '/schedule/doPass/<%= tid %>';
                locationUrl = '/orders/nesting';
                text = '确定排料提交吗?';
                break;

        }
        layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
            $.ajax({
                url: ajaxUrl,
                method: 'put',
                success: function (data) {
                    successLayout.hrefTo(locationUrl);
                },
                error: function (response) {
                    layer.close(index)
                    errorLayout.normal(response);
                }
            });
        }, function (index) { layer.close(index) })
    })
    <%}else{%>
    $(".doPass").click(function () {
        var orderStcode = $(this).attr('data-stcode');
        var ajaxUrl = '';
        var locationUrl = '';
        var text = '';
        switch (orderStcode) {
            case '150':
                ajaxUrl = '/resupplys/doPass/<%= tid %>';
                locationUrl = '/orders/resupplys/accept';
                text = '确定受理完毕吗?';
                break;
            case '450':
                ajaxUrl = '/apart/doPass/<%= tid %>';
                locationUrl = '/orders/resupplys/apart';
                text = '确定拆单完毕吗?';
                break;
            case '475':
                ajaxUrl = '/apartCheck/doPass/<%= tid %>';
                locationUrl = '/orders/resupplys/apartCheck';
                text = '确认拆单审核完毕吗?';
                break;
            case '635':
                ajaxUrl = '/schedule/doPass/<%= tid %>';
                locationUrl = '/orders/nesting';
                text = '确定排料提交吗?';
                break;
        }
        layer.confirm(text, {icon: 3, title: '提示'}, function (index) {
            $.ajax({
                url: ajaxUrl,
                method: 'put',
                success: function (data) {
                    successLayout.hrefTo(locationUrl);
                },
                error: function (response) {
                    layer.close(index)
                    errorLayout.normal(response);
                }
            });
        }, function (index) {
            layer.close(index)
        })
    })
    <%}%>

</script>


<%- include('../layouts/foot'); %>
<%- include('../order/check_pass')%>
