<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>报表管理</li>
        </ol>

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料名:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入物料名" value="<%= DWYRequest.query.name %>" type="text" name="name">
                                        </div>
                                    </div>
                                </div>
                                <!--输入字段-->
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">批次号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入批次号" value="<%= DWYRequest.query.batchNumber %>" type="text" name="batchNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">排料日期范围:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker"
                                                   value="<%= DWYRequest.query.startDates %>"
                                                   name="startDateS">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker"
                                                   value="<%= DWYRequest.query.endDates %>"
                                                   name="endDates">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">批次日期范围:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker"
                                                   value="<%= DWYRequest.query.startDate %>"
                                                   name="startDate">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker"
                                                   value="<%= DWYRequest.query.endDate %>"
                                                   name="endDate">
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>报表列表</h6>
                    <hr class="simple">
                </div>
            </div>
            <div class="orderItemLayerTit">
                <ul class="orderItemMenu">
                    <a href="/batchNumMatPricing?name=<%= DWYRequest.query.name%>&startDate=<%= DWYRequest.query.startDate%>&endDate=<%= DWYRequest.query.endDate%>&batchNumber=<%= DWYRequest.query.batchNumber%>&startDates=<%= DWYRequest.query.startDates%>&endDates=<%= DWYRequest.query.endDates%>">
                        <li class="padding-10 materielBak">
                            批次物料计价
                        </li>
                    </a>
                    <a href="/orderMatPricing?name=<%= DWYRequest.query.name%>&tid=<%= DWYRequest.query.tid%>&startDate=<%= DWYRequest.query.startDate%>&endDate=<%= DWYRequest.query.endDate%>&batchNumber=<%= DWYRequest.query.batchNumber%>&startDates=<%= DWYRequest.query.startDates%>&endDates=<%= DWYRequest.query.endDates%>">
                        <li class="padding-10 ">
                            订单物料计价
                        </li>
                    </a>
                    <a href="/orderCount">
                        <li class="padding-10 ">
                            五金汇总
                        </li>
                    </a>
                    <a href="/pickMateRep">
                        <li class="padding-10">
                            领料单
                        </li>
                    </a>
                    <a href="/outMateRep">
                        <li class="padding-10">
                            出库
                        </li>
                    </a>
                    <a href="/inMateRep">
                        <li class="padding-10 ">
                            入库
                        </li>
                    </a>
                </ul>

            </div>
            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll dis-flex">
                            <thead>
                            <tr>
                                <th width="4%">序号</th>
                                <th>批次号</th>
                                <th>物料名称</th>
                                <th>采购总价 </th>
                                <th>出厂总价 </th>
                                <th>采购价格</th>
                                <th>出厂价格</th>
                                <th>物料总数</th>
                                <th>批次日期</th>
                                <th>排料日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(batchNumMatPricingList.result)){
                            batchNumMatPricingList.result.forEach(function (element,index) { %>
                            <tr>
                                <td width="4%"><%= index+1 %></td>
                                <td><a href="/orderMatPricing?name=<%= DWYRequest.query.name%>&startDate=<%= DWYRequest.query.startDate%>&endDate=<%= DWYRequest.query.endDate%>&batchNumber=<%=( DWYRequest.query.batchNumber)? DWYRequest.query.batchNumber:element.batchNumber%>&startDates=<%= DWYRequest.query.startDates%>&endDates=<%= DWYRequest.query.endDates%> %>"><%= element.batchNumber %></a></td>
                                <td><%= element.name %></td>
                                <td><%= element.totalPrice %></td>
                                <td><%= element.totalUnitprice %></td>
                                <td><%= element.oneTotalPrice %></td>
                                <td><%= element.oneTotalUnitPrice %></td>
                                <td><%= element.amount %></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.addTime) %></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.createTime)%></td>
                            </tr>
                            <%})
                            }else{ %>
                            <tr>
                                <td colspan="100" align="center">暂无结果</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                        <%- pagination %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        $("#search-customer").validationEngine();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })

</script>


<%- include('../layouts/foot'); %>