<div class="orderItemLayerTit">
    <ul class="orderItemMenu">
        <a href="/batchNumMatPricing?name=<%= DWYRequest.query.name%>&startDate=<%= DWYRequest.query.startDate%>&endDate=<%= DWYRequest.query.endDate%>&batchNumber=<%= DWYRequest.query.batchNumber%>&startDates=<%= DWYRequest.query.startDates%>&endDates=<%= DWYRequest.query.endDates%>">
            <li class="padding-10">
                批次物料计价
            </li>
        </a>
        <a href="/orderMatPricing?name=<%= DWYRequest.query.name%>&tid=<%= DWYRequest.query.tid%>&startDate=<%= DWYRequest.query.startDate%>&endDate=<%= DWYRequest.query.endDate%>&batchNumber=<%= DWYRequest.query.batchNumber%>&startDates=<%= DWYRequest.query.startDates%>&endDates=<%= DWYRequest.query.endDates%>">
            <li class="padding-10 ">
                订单物料计价
            </li>
        </a>
        <a href="/pageBatchByMonth">
            <li class="padding-10">物料计价(按月)</li>
        </a>
        <a href="/orderCount">
            <li class="padding-10 ">
                五金汇总
            </li>
        </a>
        <a href="/pageAccessoryByMonth">
            <li class="padding-10">五金汇总(按月)</li>
        </a>
        <a href="/pickMateRep">
            <li class="padding-10">
                领料单
            </li>
        </a>
        <a href="/outMateRep">
            <li class="padding-10">
                出库
            </li>
        </a>
        <a href="/inMateRep">
            <li class="padding-10 ">
                入库
            </li>
        </a>
        <a href="/report/factory/workpiece_nesting">
            <li class="padding-10 ">
                排料工件
            </li>
        </a>
        <a href="/report/factory/workpieceNesting/all">
            <li class="padding-10 ">
                排料工件汇总
            </li>
        </a>
        <a href="/report/factory/part_nesting">
            <li class="padding-10 ">
                排料配件
            </li>
        </a>
        <a href="/report/factory/partNesting/all">
            <li class="padding-10 ">
                排料配件汇总
            </li>
        </a>
    </ul>
</div>

