<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>报表管理</li>
        </ol>

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">出库日期范围:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker"
                                                   value="<%= DWYRequest.query.startDate %>"
                                                   name="startDate">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker"
                                                   value="<%= DWYRequest.query.endDate%>"
                                                   name="endDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-left">

                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>

                            </div>


                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>报表列表</h6>
                    <hr class="simple">
                </div>
            </div>
            <%- include('./common_links'); %>
            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>物料编号</th>
                                <th>物料名</th>
                                <th>物料类型</th>
                                <th>物料类型名</th>
                                <th>物料入库汇总数量</th>
                                <th>单价</th>
                                <th>总价</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(outMateRepList.result)){
                            outMateRepList.result.forEach(function (element,index) { %>
                            <tr>
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><a href="/inMateRep/detail?mId=<%= element.mId %>&startDate=<%= DWYRequest.query.startDate%>&endDate=<%= DWYRequest.query.endDate%>"><%= element.mId %></a></td>
                                <td><%= element.mName%></td>
                                <td><%= element.catId %></td>
                                <td><%= element.mcName %></td>
                                <td><%= element.smAmount %></td>
                                <td><%= element.unitPrice%></td>
                                <td><%= element.totalPrice%></td>
                            </tr>
                            <%})
                            }else{ %>
                            <tr>
                                <td colspan="100" align="center">暂无结果</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<%- include('./common_js'); %>


<script type="text/javascript">

    $(document).ready(function () {
        $("#search-customer").validationEngine();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })

</script>


<%- include('../layouts/foot'); %>