<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>报表管理</li>
        </ol>

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">

        <%- include('./reportManage'); %>
        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">
                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">日期:</label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" placeholder="" type="text"  value="<%= DWYRequest.query.startTime %>"
                                                   name="startTime">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-4">
                                            <input class="form-control fg-date-picker" placeholder="" type="text"  value="<%= DWYRequest.query.endTime %>"
                                                   name="endTime">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-left">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>订单相关报表
                        <form class="" method="post" action="/report/order/export/semiPro" style="display: inline-block;">
                            <input type="hidden" name="order" value="<%= JSON.stringify( DWYRequest.query)%>">
                            <button class="label label-primary " type="submit">
                                导出清单
                            </button>
                        </form>
                    </h6>
                    <hr class="simple">
                </div>
            </div>
            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                                <tr>
                                    <th rowspan="2">序号</th>
                                    <th rowspan="2">排产日期</th>
                                    <th rowspan="2">最早入库日期</th>
                                    <th rowspan="2">名称</th>
                                    <th rowspan="2">订单号</th>
                                    <th rowspan="2">订单总包数</th>
                                    <th colspan="2">入库明细（包）</th>
                                    <th rowspan="2">齐套日期（转入成品）</th>
                                    <th rowspan="2">半成品结存（包数）</th>
                                    <th rowspan="2">客户</th>
                                    <th rowspan="2">批次号</th>
                                    <th rowspan="2">零售价</th>
                                    <th rowspan="2">结算价</th>
                                </tr>
                                <tr>
                                    <th>工件</th>
                                    <th>配件</th>
                                </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(dataList.result)){
                            dataList.result.forEach(function (element,index) { %>
                            <tr>
                                <th><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></th>
                                <td><%= DWY_Helper.getLocalDate(element.scheduleTimeStr) %></td>
                                <td><%= DWY_Helper.getLocalDate(element.intTimeStr) %></td>
                                <td><%= element.prodInfo %></td>
                                <td><%= element.tid %></td>
                                <td><%= element.packageTotal %></td>
                                <td><%= element.workPieceStorage %></td>
                                <td><%= element.accessoryStorage %></td>
                                <td><%= DWY_Helper.getLocalDate(element.inStorageTimeStr) %></td>
                                <td><%= element.totalStorage %></td>
                                <td><%= element.customName %></td>
                                <td><%= element.batchNumber %></td>
                                <td><%= element.retailPrice %></td>
                                <td><%= element.revFranchisePrice %></td>
                            </tr>
                            <%})
                            }else{ %>
                            <tr>
                                <td colspan="15" align="center">暂无结果</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                    </div>
                    <%- pagination%>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<%- include('./common_js'); %>


<script type="text/javascript">

    $(document).ready(function () {
        $("#search-customer").validationEngine();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })

</script>


<%- include('../layouts/foot'); %>