<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <% if(type == 'designer'){ %>
            <li><a  class="back-url" href="/storeRep?type=99999996">设计师成交情况报表</a></li>
            <% } %>
            <% if(type == 'advisor'){ %>
            <li><a  class="back-url"  href="/storeRep?type=99999997">家居顾问成交情况报表</a></li>
            <% }%>
            <% if(type == 'wardRound'){ %>
            <li><a  class="back-url" href="/storeRep?type=99999995">查房成交情况报表</a></li>
            <% }%>
            <li><a class="back-url" href="javascript:history.go(-1)"><i class="fa fa-chevron-left"></i> 返回</a></li>
        </ol>

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">




        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>报表列表</h6>
                    <hr class="simple">
                </div>
            </div>

            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                <div class="table-responsive dis-flex">
                    <table class="table table-bordered table-striped table-hover table-scroll2">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>流水号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                        if(DWY_Helper.isCanLoop(showTaskseqList.result)){
                        showTaskseqList.result.forEach(function (element,index) { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><a href="/taskseq/index/<%= element.id %>"><%= element.id%></a></td>
                        </tr>
                        <%})
                        }else{ %>
                        <tr>
                            <td colspan="100" align="center">暂无结果</td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        $("#search-customer").validationEngine();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })

</script>


<%- include('../layouts/foot'); %>