<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>报表管理</li>
        </ol>

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">门店:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="channelId" >
                                                <option value="">- 请选择 -</option>
                                                <% if(DWY_Helper.isCanLoop(storesList)){
                                                storesList.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (DWYRequest.query.bid == element.id)?"selected":"" %> >
                                                    <%= element.storeName %>
                                                </option>
                                                <% })
                                                } %>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--设计师字段-->
                                <% if(type==99999996){%>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">设计师:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入设计师" value="<%= DWYRequest.query.gName %>" type="text" name="gName">
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                                <% if(type==99999997){%>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">家居顾问:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入家具顾问" value="<%= DWYRequest.query.gName %>" type="text" name="gName">
                                        </div>
                                    </div>
                                </div>
                                <%}%>

                                <% if(type==99999995){%>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">查房人:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入查房人" value="<%= DWYRequest.query.gName %>" type="text" name="gName">
                                        </div>
                                    </div>
                                </div>
                                <%}%>

                                <% if(type==99999995){%>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">查房客户数:</label>
                                        <div class="col-xs-8">
                                            <div class="col-xs-6">
                                                <select class="form-control" name="checkFilter">
                                                    <option value="1" <%= (DWYRequest.query.checkFilter == 1)?"selected":"" %>>></option>
                                                    <option value="2" <%= (DWYRequest.query.checkFilter == 2)?"selected":"" %>>>=</option>
                                                    <option value="3" <%= (DWYRequest.query.checkFilter == 3)?"selected":"" %>>=</option>
                                                    <option value="4" <%= (DWYRequest.query.checkFilter == 4)?"selected":"" %>><</option>
                                                    <option value="5" <%= (DWYRequest.query.checkFilter == 5)?"selected":"" %>><=</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <input class="form-control" placeholder="请输入客户数" value="<%= DWYRequest.query.check %>" type="text" name="check">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%} else{%>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">量尺数:</label>
                                        <div class="col-xs-8">
                                            <div class="col-xs-6">
                                                <select class="form-control" name="measureFilter">
                                                    <option value="1" <%= (DWYRequest.query.measureFilter == 1)?"selected":"" %>>></option>
                                                    <option value="2" <%= (DWYRequest.query.measureFilter == 2)?"selected":"" %>>>=</option>
                                                    <option value="3" <%= (DWYRequest.query.measureFilter == 3)?"selected":"" %>>=</option>
                                                    <option value="4" <%= (DWYRequest.query.measureFilter == 4)?"selected":"" %>><</option>
                                                    <option value="5" <%= (DWYRequest.query.measureFilter == 5)?"selected":"" %>><=</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <input class="form-control" placeholder="请输入量尺数" value="<%= DWYRequest.query.measure %>" type="text" name="measure">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-primary " type="submit" id="subBtn">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <!--data-from请填写表单的id-->
                                    <label class="btn btn-default margin-left-20 reset" data-form="search-customer">重置</label>
                                    <label class="search margin-left-20 topFindBtn">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                </div>
                                <%}%>

                                <!--输入字段-->
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="slideToggle display-none">
                                    <%}%>
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <input name="type" value="<%= type%>" type="hidden"/>
                                            <input name="regionId" value="" type="hidden" id="regionId"/>
                                            <label class="col-xs-2 control-label">区域范围:</label>
                                            <div class="col-xs-2">
                                                <select class="form-control" name="regionTypeId" id="sendType">
                                                    <option value="">- 请选择 -</option>
                                                    <%  if(DWY_Helper.isCanLoop(regionList[0])){
                                                        regionList[0].forEach(function(element,index){%>
                                                    <option value="<%= element.id　%>" <%= (DWYRequest.query.regionTypeId == element.id)?"selected":"" %>> <%= element.name%></option>
                                                    <%})}%>
                                                </select>
                                            </div>

                                            <div class="col-xs-6">
                                                <% var sendValue=DWYRequest.query.regionId?(DWYRequest.query.regionId.split(',')):[]%>
                                                <select class="select2 select2-offscreen" name="sendValue"  id="sendValue" multiple style="width: 100%;">
                                                  <% if(DWY_Helper.isCanLoop( regionList[DWYRequest.query.regionTypeId])){
                                                  regionList[DWYRequest.query.regionTypeId].forEach(function (element,index) {%>
                                                    <option value="<%= element.id　%>" <%= DWY_Helper.getAssistMultiple(element.id,sendValue)?"selected":""%> > <%= element.name%></option>
                                                    <%})}%>
                                                </select>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">成交率:</label>
                                            <div class="col-xs-8">
                                                <div class="col-xs-6">
                                                    <select class="form-control" name="percentFilter">
                                                        <option value="1" <%= (DWYRequest.query.percentFilter == 1)?"selected":"" %>>></option>
                                                        <option value="2" <%= (DWYRequest.query.percentFilter == 2)?"selected":"" %>>>=</option>
                                                        <option value="3" <%= (DWYRequest.query.percentFilter == 3)?"selected":"" %>>=</option>
                                                        <option value="4" <%= (DWYRequest.query.percentFilter == 4)?"selected":"" %>><</option>
                                                        <option value="5" <%= (DWYRequest.query.percentFilter == 5)?"selected":"" %>><=</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <input class="form-control" placeholder="请输入成交率" value="<%= DWYRequest.query.percent %>" type="text" name="percent">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">单客户成交:</label>
                                            <div class="col-xs-8">
                                                <div class="col-xs-6">
                                                    <select class="form-control" name="dealAmountFilter">
                                                        <option value="1" <%= (DWYRequest.query.dealAmountFilter == 1)?"selected":"" %>>></option>
                                                        <option value="2" <%= (DWYRequest.query.dealAmountFilter == 2)?"selected":"" %>>>=</option>
                                                        <option value="3" <%= (DWYRequest.query.dealAmountFilter == 3)?"selected":"" %>>=</option>
                                                        <option value="4" <%= (DWYRequest.query.dealAmountFilter == 4)?"selected":"" %>><</option>
                                                        <option value="5" <%= (DWYRequest.query.dealAmountFilter == 5)?"selected":"" %>><=</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <input class="form-control" placeholder="请输入单客户成交" value="<%= DWYRequest.query.dealAmount %>" type="text" name="dealAmount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">量尺日期范围:</label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker"
                                                       value="<%= DWYRequest.query.startDate %>"
                                                       name="startDate">
                                            </div>
                                            <label class="control-label " style="float: left"> 至 </label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-picker"
                                                       value="<%= DWYRequest.query.endDate %>"
                                                       name="endDate">
                                            </div>
                                        </div>
                                    </div>
                                    <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                </div>
                                <%}%>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                            <%}%>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end well -->

        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>报表列表</h6>
                    <hr class="simple">
                </div>
            </div>
            <div class="orderItemLayerTit">
                <ul class="orderItemMenu">
                    <a href="/storeRep?type=99999996">
                        <li class="padding-10 <%= (type==99999996)?'materielBak':''%>">
                            设计师成交情况
                        </li>
                    </a>
                    <a href="/storeRep?type=99999997">
                        <li class="padding-10 <%= (type==99999997)?'materielBak':''%>">
                            家具顾问成交情况
                        </li>
                    </a>
                    <a href="/storeRep?type=99999995">
                        <li class="padding-10 <%= (type==99999995)?'materielBak':''%>">
                            查房成交情况
                        </li>
                    </a>
                </ul>

            </div>
            <!-- row -->
            <div class="row dis-flex">

                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <% if(type==99999995){%>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>查房人</th>
                                <th>查房客户数</th>
                                <th>成交客户数</th>
                                <th>成交率(%)</th>
                                <th>单客户平均成交金额</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(storeRepList.result)){
                            storeRepList.result.forEach(function (element,index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.name %></td>
                                <td><a href="/showTaskseq/wardRound/measured/<%= element.gid%>?startDate=<%= DWYRequest.query.startDate %>&endDate=<%= DWYRequest.query.endDate %>"><%= element.checked %></a></td>
                                <td><a href="/showTaskseq/wardRound/deal/<%= element.gid%>?startDate=<%= DWYRequest.query.startDate %>&endDate=<%= DWYRequest.query.endDate %>"><%= element.conStcode %></a></td>
                                <td><%= element.percent %></td>
                                <td><%= element.ordersum %></td>
                            </tr>
                            <%})
                            }else{ %>
                            <tr>
                                <td colspan="100" align="center">暂无结果</td>
                            </tr>
                            <% } %>

                            </tbody>
                            <%}
                            else {%>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>店名</th>
                                <th>
                                    <% if(type==99999996){%>
                                    设计师
                                    <%}%>
                                    <% if(type==99999997){%>
                                    家居顾问
                                    <%}%>
                                </th>
                                <th>期间量尺数</th>
                                <th>成交客户数</th>
                                <th>成交率(%)</th>
                                <th>平均成交时间(天)</th>
                                <th>单客户平均成交金额</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(storeRepList.result)){
                            storeRepList.result.forEach(function (element,index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.storeName %></td>
                                <td><%= element.name %></td>
                                <% if(type==99999996){%>
                                <td><a href="/showTaskseq/designer/measured/<%= element.gid%>?startDate=<%= DWYRequest.query.startDate %>&endDate=<%= DWYRequest.query.endDate %>"><%= element.meased %></a></td>
                                <td><a href="/showTaskseq/designer/deal/<%= element.gid%>?startDate=<%= DWYRequest.query.startDate %>&endDate=<%= DWYRequest.query.endDate %>"><%= element.conStcode %></a></td>
                                <%}%>
                                <% if(type==99999997){%>
                                <td><a href="/showTaskseq/advisor/measured/<%= element.gid%>?startDate=<%= DWYRequest.query.startDate %>&endDate=<%= DWYRequest.query.endDate %>"><%= element.meased %></a></td>
                                <td><a href="/showTaskseq/advisor/deal/<%= element.gid%>?startDate=<%= DWYRequest.query.startDate %>&endDate=<%= DWYRequest.query.endDate %>"><%= element.conStcode %></a></td>
                                <%}%>
                                <td><%= element.percent %></td>
                                <td><%= element.dealTime %></td>
                                <td><%= element.ordersum %></td>
                            </tr>
                            <%})
                            }else{ %>
                            <tr>
                                <td colspan="100" align="center">暂无结果</td>
                            </tr>
                            <% } %>

                            </tbody>
                            <%}%>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {
        $("#search-customer").validationEngine();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery



        function regionFunc(data) {
            var scopesList=data;
            var sendType=$("#sendType")
            var sendValue=$("#sendValue");

            //初始化select2
            sendValue.select2();
            $("#regionId").val(sendValue.select2('val').toString(','));

            $("select[name=regionTypeId]").change(function () {
                var sendTypeVal=$(this).val();
                if(!sendTypeVal){
                    sendValue.html("<option value=''>-请选择-</option>");
                    sendValue.val([]).trigger("change");
                }
                var html="<option value=''>-请选择-</option>";
                var arry=[];
                for(var i=0;i<scopesList[sendTypeVal].length;i++){
                    html +='<option value="'+scopesList[sendTypeVal][i].id+'" >'+scopesList[sendTypeVal][i].name+'</option>'
                    arry.push(scopesList[sendTypeVal][i].id)
                }
                sendValue.html(html);
                sendValue.val(arry).trigger("change");//选择大区的时候，小区所有值自动出现
                $("#regionId").val(arry.toString(','));
            });
            sendValue.on({
                change:function () {
                    var value=sendValue.select2('val').toString(',');
                    if(value==""){
                        var array=[];
                        sendValue.find("option").each(function () {
                            array.push($(this).attr("value"));
                        });
                        $("#regionId").val(array.toString(','));
                    }
                    else{
                        $("#regionId").val(value);
                    }

                }
            });
        }
        regionFunc(<%- JSON.stringify(regionList)%>);


    })

</script>


<%- include('../layouts/foot'); %>