<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>物料管理</li>
            <li>查看物料属性</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>物料搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入名称" value="" type="text" name="">
                                        </div>
                                    </div>
                                </div>



                            </div>



                            <div class="col-xs-12 ">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary margin-right-5" type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <a class="btn btn-primary " href="javascript:void(0)">
                                        <i class="fa fa-save"></i>
                                        新建属性值
                                    </a>
                                </div>
                            </div>





                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->

                <!-- end row -->
            </div>
        </div>
        <!-- end well -->
        <!--well-->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>属性ID</th>
                                <th>名称</th>
                                <th>长度</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                               <td>1</td>
                                <td>56456</td>
                                <td>颜色</td>
                                <td>3</td>
                                <td>
                                    <a href="javascript:void(0)">修改</a>
                                    <a href="javascript:void(0)" class="margin-left-20">禁用</a>
                                    <a href="javascript:void(0)" class="margin-left-20">新建值</a>
                                </td>

                                  </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!--end well-->
    </div>



</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
      //日期组件
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_time_picker);
    })

</script>


<%- include('../layouts/foot'); %>