<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>物料管理</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>物料搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal clearfix" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料编号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入物料编号"
                                                   value="<%= DWYRequest.query.materNo %>" type="text" name="materNo">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入物料名称"
                                                   value="<%= DWYRequest.query.name %>" type="text" name="name">
                                        </div>
                                    </div>
                                </div>
                                <% if(DWY_Helper.hasPermission(Permission.material.queryByRegionAll.id, permission) ||
                                        DWY_Helper.hasPermission(Permission.material.queryByRegionOrganization.id, permission) ||
                                        DWY_Helper.hasPermission(Permission.material.queryByRegion.id, permission)){ %>

                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">工厂:</label>
                                            <div class="col-xs-8">
                                                <% var initFtyId = DWY_Helper.getAssistInitFtyId(userFtyId, factoryList);
                                                if ( !DWY_Helper.hasPermission(Permission.material.queryByRegionAll.id, permission) ){ %>
                                                <select class="form-control" name="ftyId" id="ftyId">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(factoryList)){
                                                    factoryList.forEach(function (element) {
                                                    if( userFtyId == element.ftyId ){%>
                                                    <option value="<%= element.ftyId %>" <%= DWYRequest.query.ftyId == element.ftyId ? 'selected' : '' %> >
                                                        <%= element.name %>
                                                    </option>
                                                    <%  }
                                                    })
                                                    } %>
                                                </select>
                                                <% }else{ %>

                                                <select class="form-control" name="ftyId" id="ftyId">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(factoryList)){
                                                    factoryList.forEach(function (element) {
                                                        var selectOption = DWYRequest.query.ftyId? DWYRequest.query.ftyId:userFtyId %>
                                                    <option value="<%= element.ftyId %>" <%= DWYRequest.query.ftyId == element.ftyId ? 'selected' : '' %> >
                                                        <%= element.name %>
                                                    </option>
                                                    <% })
                                                    } %>
                                                </select>
                                                <% } %>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">仓库:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="whseId" id="whseId">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(warehouseList) && initFtyId){
                                                    warehouseList.forEach(function (element) { %>
                                                    <option value="<%= element.whseId %>" <%= (DWYRequest.query.whseId == element.whseId ) ? "selected" : "" %> >
                                                        <%= element.name %>
                                                    </option>
                                                    <% })
                                                    } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">区域:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="regionId" id="regionId">
                                                    <option value="">- 请选择 -</option>
                                                    <% regionList.forEach(function (element) { %>
                                                    <option value="<%= element.regionId %>" <%= (DWYRequest.query.regionId == element.regionId ) ? "selected" : "" %> >
                                                        <%= element.name %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>



                                <%  } %>
                            </div>



                            <input type="hidden" name="stairCatId" value="<%= DWYRequest.query.stairCatId %>">

                            <div class="col-xs-12 ">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>

                                    <% if (DWY_Helper.hasPermission(Permission.material.queryCategory.id, permission) ){ %>
                                    <a class="btn btn-primary margin-left-10" href="/materialManage/materialType">
                                        查看物料分类
                                    </a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.material.queryAttribute.id, permission) ){ %>
                                    <a class="btn btn-primary margin-left-10" href="/materialManage/materialAttribute">
                                        查看物料属性
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
                <!-- end row -->
            </div>
        </div>
        <!-- end well -->
        <!--well-->
        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>物料列表
                        <% if (DWY_Helper.hasPermission(Permission.material.creae.id, permission) ){ %>
                        <a class="label label-primary" href="/materialManage/material/creStepO">新建物料</a>
                        <% } %>
                    </h6>
                    <hr class="simple">
                </div>
            </div>
            <div class="orderItemLayerTit">
                <ul class="orderItemMenu">
                    <a href="/materialManage?materNo=<%= DWYRequest.query.materNo%>&name=<%= DWYRequest.query.name%>&ftyId=<%= DWYRequest.query.ftyId%>&whseId=<%= DWYRequest.query.whseId%>&regionId=&<%= DWYRequest.query.regionId%>">
                    <li class="padding-10 <%=(!DWYRequest.query.stairCatId)? 'materielBak' : '' %>">全部</li>
                    </a>
                    <% var standardFlag%>
                    <% if(DWY_Helper.isCanLoop(stairCategory)){
                    stairCategory.forEach(function (element) { %>
                    <a href="/materialManage?stairCatId=<%= element.id %>&materNo=<%= DWYRequest.query.materNo%>&name=<%= DWYRequest.query.name%>&ftyId=<%= DWYRequest.query.ftyId%>&whseId=<%= DWYRequest.query.whseId%>&regionId=<%= DWYRequest.query.regionId%>">
                        <li class="padding-10 <%= DWYRequest.query.stairCatId == element.id ? 'materielBak' : '' %>">
                            <%= element.name %>
                        </li>
                    </a>
                    <% if(DWYRequest.query.stairCatId == element.id){
                        standardFlag=element.standardFlag;
                    }%>
                    <% })
                    } %>
                </ul>

            </div>
            <!--end roll-->
            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>物料编号</th>
                                <th>物料名称</th>
                                <th>分类</th>
                                <!--显示规格-->
                                 <% if(standardFlag==1){%>
                                <th>规格</th>
                                <%}%>
                                <th>单位</th>
                                <th>库存</th>
                                <th>预警</th>
                                <th>可用</th>
                                <th>启用</th>
                                <th>欲扣数量</th>
                                <!--根据权限展示价格-->
                                <% if(DWY_Helper.hasPermission(Permission.material.queryByPrice.id, permission)){%>
                                <th>采购价格</th>
                                <th>出厂价格</th>
                                <th>结算价</th>
                                <th>零售价</th>
                                <%}%>
                                <!--跟全部展示不同的字段-->
                                <% if(DWYRequest.query.stairCatId){%>
                                <% if(DWY_Helper.isCanLoop(theadList)){
                                theadList.forEach(function (element) { %>
                                <th><%= element.name %></th>
                                <% })
                                } %>
                               <% }%>
                                <!--是成品的话显示操作栏-->
                                <% if(DWYRequest.query.stairCatId && DWYRequest.query.stairCatId.slice(0, 2) == 19){%>
                                <th>操作</th>
                                <% }%>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(mateList.totalItems != 0  ){
                            mateList.result.forEach(function (element, index) { %>
                            <tr class="<%= ( element.stock < element.warning ) ? 'mark-row' : '' %>">
                                <td><%= index + 1 %></td>
                                <td><a href="/materialManage/detail/<%= bid %>/<%= element.id %>"
                                                   class=" "><%= element.id %></a></td>
                                <td><%= element.name %></td>
                                <td><%= element.catName %></td>
                                <!--显示规格-->
                                <% if(standardFlag==1){%>
                                <th><%= element.standard %></th>
                                <%}%>
                                <td><%= element.unit %></td>
                                <td><%= element.stock %></td>
                                <td><%= element.warning %></td>
                                <td><%= element.usable %></td>
                                <td><%= element.stcode == 1 ? '是' : '否' %></td>
                                <td><%= element.subFrozen %></td>
                                <% if(DWY_Helper.hasPermission(Permission.material.queryByPrice.id, permission)){%>
                                <td><%= element.totalPrice %></td>
                                <td><%= element.totalUnitPrice %></td>
                                <td><%= (element.purchasePrice==0)?"":element.purchasePrice%></td>
                                <td><%= (element.retailPrice==0)?"":element.retailPrice%></td>
                                <%}%>
                                <!--跟全部展示不同的字段-->
                                <% if(DWYRequest.query.stairCatId){%>
                                <% if(DWY_Helper.isCanLoop(element.valueList)){
                                element.valueList.forEach(function (elementtab) { %>
                                <td><%= elementtab.name %></td>
                                <% })
                                }else{
                                for(var i = 0;i < theadList.length;i++){ %>
                                <td></td>
                                <% }
                                } %>

                                <!--是成品的话显示操作栏-->
                                <% if(DWYRequest.query.stairCatId && DWYRequest.query.stairCatId.slice(0, 2) == 19){%>
                                <td>
                                    <a class="label label-primary display-none"
                                       href="/materialManage/add/<%= bid %>/<%= element.id %>">完善物料库存</a>
                                    <% if(element.id.slice(0, 2) == 19){ %>
                                    <% if (DWY_Helper.hasPermission(Permission.material.associateProduct.id, permission) ){ %>
                                    <a class="label label-primary" href="/materialManage/workpiece/<%= element.id %>">成品关联物料</a>
                                    <% } %>
                                    <% } %>
                                </td>
                                <% }%>

                            </tr>
                            <%} })

                            }else{ %>
                            <tr>
                                <td colspan="20" align="center">暂无结果</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
        <!--end well-->
        <!-- well-->
    </div>
    <!-- end well-->


</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();

    })


</script>

<%- include('./whse_function'); %>

<%- include('../layouts/foot'); %>