<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/materialManage">物料管理</a></li>
            <li>修改物料</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>修改物料</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal"  id="material_modify_form" method="post" action="/materialManage/material/doModify">
                            <div class="col-xs-12 ">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 分类:
                                        </label>
                                        <div class="col-xs-8 control-label strongStyle01 text-left" >
                                            <strong><%= mateInfo.catName %></strong>
                                        </div>

                                    </div>
                                </div>



                            </div>
                            <div class="col-xs-12 ">

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 物料编号:
                                        </label>
                                        <div class="col-xs-8 control-label strongStyle01 text-left" >
                                            <strong><%= mateInfo.id %></strong>
                                        </div>

                                    </div>
                                </div>



                            </div>


                            <!--输入字段-->
                            <div class="col-xs-12 ">
                                <div class="col-xs-1 width01"></div>
                                <div class="col-xs-6 my-div-style01">
                                    <% mateInfo.attrs.forEach(function(element,index){%>
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            <%= element.attrName%>:
                                        </label>
                                        <div class="col-xs-5 ">
                                            <strong class="form-control border-0"><%= element.attrValue %></strong>
                                        </div>
                                    </div>
                                    <%})%>
                                </div>
                            </div>



                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>物料名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]" placeholder="请输入物料名称" value="<%= mateInfo.name %>" type="text" name="name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 display-none">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>单位物料重量:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[custom[onlyNumberSp]]" placeholder="请输入单位物料重量" value="" type="text" name="unitWeight">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span> 主单位:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="unit" id="unit-select">
                                                <% if(DWY_Helper.isCanLoop(unitsInfo)){
                                                unitsInfo.forEach(function (element) { %>
                                                <option value="<%= element.id %>" <%= (mateInfo.unit == element.name)?"selected":"" %> ><%= element.name %></option>
                                                <% })
                                                }else{ %>
                                                <option value="">- 请选择 -</option>
                                                <%  } %>
                                            </select>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">附属单位:</label>
                                        <div class="col-xs-8">
                                            <%
                                            var bb='';
                                            mateInfo.mateUnits.forEach(function (element) {
                                                bb+=element.id+',';
                                            });
                                            bb.substring(0,bb.length-1);
                                            %>
                                            <%  if(DWY_Helper.isCanLoop(unitsInfo)){
                                            unitsInfo.forEach(function (element, index) { %>
                                            <div class="unit-list" style="display: <%= (mateInfo.unit == element.name)?"block":"none" %>;"   data-id="<%= element.id %>" id="my-label">
                                                <% if(DWY_Helper.isCanLoop( element.data)){
                                                element.data.forEach(function (element) { %>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" class="checkbox style-0"
                                                           name="mateUnit"
                                                           value="<%= element.id %>"
                                                            <%= DWY_Helper.checkboxStatusStr(bb, element.id) %>
                                                    >
                                                    <span><%= element.name %></span>
                                                </label>
                                                <% })
                                                }%>


                                            </div>
                                            <% })
                                            }%>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">包装类型：</label>
                                        <div class="col-xs-8">
                                            <select class="form-control validate[required]" name="type" id="typeVal">
                                                <option value="">- 请选择 -</option>
                                                <% getPackageTypes.forEach(function(element,index){%>
                                                <option value="<%= element.id %>"><%= element.name%></option>
                                                <%})%>

                                            </select>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>价格:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]" placeholder="请输入价格" value="<%= mateInfo.price %>" type="text" name="price">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 margin-bottom-10">
                                <label class="col-xs-2 control-label">上传物料图片:</label>
                                <div class="col-xs-6">
                                    <div class="col-xs-2 no-padding">
                                        <label for="dwy_file_upload" class="btn-primary btn-sm btn" id="label-upload-file">
                                            上传照片<i class="fa fa-upload"></i>
                                        </label>
                                        <input type="file" name="file_name" id="dwy_file_upload" style="display: none">
                                    </div>
                                    <div class="pull-left padding-right-10">
                                        <p id="idPhotoOneName">
                                            <input class="upimg-input display-none" placeholder="请上传图片1"
                                                   data-errormessage-value-missing="请上传图片1" readonly >
                                            <a class="fancybox dwy_image" href="<%= DWY_GLOBAL.Static %>/download?url=<%= mateInfo.image %>" data-fancybox-group="gallery" title="<%= mateInfo.image %>"><%= mateInfo.image %></a>
                                        </p>
                                        <!--  <p id="idPhotoTwoName">
                                              <input class="upimg-input validate[required]" placeholder="请上传图片2"
                                                     data-errormessage-value-missing="请上传图片2" readonly>
                                          </p>-->
                                        <input type="hidden" name="image" id="idPhotoOne" value="">
                                        <!--    <input type="hidden" name="image" id="idPhotoTwo" value="">-->
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">备注:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入备注" value="<%= mateInfo.remark %>" type="text" name="remark ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="mateUnits" value="" id="mateUnitsId">
                            <input type="hidden" value="<%= id%>" name="id"/>
                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary"  >
                                        <i class="fa fa-save"></i>
                                        提交
                                    </button>
                                </div>
                            </div>


                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery

        $("#unitVal").val('<%= mateInfo.unitId %>');
        $("#typeVal").val('<%= mateInfo.type %>');

        $("input[name='mateUnit']").on("change",function () {
            var mateUnitCode=[];
            $("input[name='mateUnit']:checked").each(function(){
                mateUnitCode.push($(this).val());
            });
            $("#mateUnitsId").val(mateUnitCode.join(','));
        });

        //初始化表单
        $("#material_modify_form").validationEngine();

        //上传图片
        DWY_area.init({});

        var idPhotoNum = 1;
        var idPhotoOneName = $("#idPhotoOneName");
        var idPhotoTwoName = $("#idPhotoTwoName");
        var idPhotoOne = $("#idPhotoOne");
        var idPhotoTwo = $("#idPhotoTwo");

        $('#dwy_file_upload').on({
            change: function (e) {
                var _this = $(this);
                var label = $("#label-upload-file");

                var formData = new FormData();
                formData.append('file_name', _this.prop('files')[0])

                $.ajax({
                    url: '/template/upload/img',
                    data: formData,
                    type: 'POST',
                    processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
                    contentType: false, // 不设置Content-type请求头
                    success: function (data) {
                        if (data.code == 200) {
                            if(!idPhotoOne.val()){
                                idPhotoOneFuc(data);
                                label.html('上传成功 <i class="fa fa-check">');
                                return;
                            }
                            if(!idPhotoTwo.val()){
                                idPhotoTwoFuc(data);
                                label.html('上传成功 <i class="fa fa-check">');
                                return;
                            }
                            switch(idPhotoNum%2){
                                case 1:
                                    idPhotoOneFuc(data);
                                    break;
                                case 0:
                                    idPhotoTwoFuc(data);
                                    break;
                            }
                            idPhotoNum++;
                            label.html('上传成功 <i class="fa fa-check">');
                        } else {
                            label.html('上传失败 <i class="fa fa-times">');
                        }
                    },
                    error: function (error) {
                        label.html('上传失败 <i class="fa fa-times">');
                    }
                })
            }
        })

        function idPhotoOneFuc(data) {
            idPhotoOne.val(data.data.url);
            idPhotoOneName.html('<a  class="fancybox dwy_image" href="/uploads/'+data.data.name+'" data-fancybox-group="gallery" title="'+data.data.name+'">'+data.data.name+'</a>')

        }
        function idPhotoTwoFuc(data) {
            idPhotoTwo.val(data.data.url);
            idPhotoTwoName.html('<a  class="fancybox dwy_image" href="/uploads/'+data.data.name+'" data-fancybox-group="gallery" title="'+data.data.name+'">'+data.data.name+'</a>')

        }

        //图片浏览
        $('.fancybox').fancybox();

        $('#unit-select').on({
            change: function (e) {
                var _this = $(this);
                var select_value = _this.find('option:selected').attr('value');

                var space_list = $('.unit-list');


                if (!select_value) {
                    space_list.css('display', 'none');
                    space_list.find('input[type=checkbox]').prop('checked', false);
                    return;
                }

                space_list.css('display', 'none');
                space_list.find('input[type=checkbox]').prop('checked', false);
                space_list.filter('[data-id=' + select_value + ']').css('display', 'block');

            }
        })


    })

</script>


<%- include('../layouts/foot'); %>