<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>物料管理</li>
            <li>查看物料属性</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>物料搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入名称" value="" type="text" name="">
                                        </div>
                                    </div>
                                </div>



                            </div>



                            <div class="col-xs-12 ">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary margin-right-5" type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <a class="btn btn-primary attrCreate" href="javascript:void(0)">
                                        <i class="fa fa-save"></i>
                                        新建属性
                                    </a>
                                </div>
                            </div>





                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->

                <!-- end row -->
            </div>
        </div>
        <!-- end well -->
        <!--well-->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>属性ID</th>
                                <th>名称</th>
                                <th>长度</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                                     <%attributeList.result.forEach(function (element, index) { %>
                                                      <tr class="<%= ( element.stcode == 1 )? 'close-info':'' %>">
                                                          <td><%= index+1 %></td>
                                                          <td><%= element.id %></td>
                                                          <td><a href="/materialManage/mateAttr/detail/<%= element.id %>" class="<%= ( element.stcode == 1 )? 'close-info':'' %>"><%= element.name %></a></td>
                                                          <td><%= element.length %></td>
                                                          <td>
                                                              <% if( element.stcode == 1 ){ %>
                                                              <a href="javascript:void(0)" id="openStore" class="openStore">启用</a>
                                                              <% }else{ %>
                                                              <a href="javascript:void(0)" class="attrChange">修改</a>
                                                              <a href="javascript:void(0)" class="margin-left-20 closeStore" id="closeStore">禁用</a>
                                                              <a href="javascript:void(0)" class="margin-left-20 creAttrVal attrValCreate">新建值</a>
                                                              <% } %>
                                                          </td>
                                                      </tr>
                                                      <% }) %>
                            </tbody>
                        </table>
                        <%- pagination %>

                    </div>
                </div>
            </div>
        </div>
        <!--end well-->
    </div>



</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<script type="text/javascript">
    $(document).ready(function () {
        //启用、禁用物料属性
        $(".closeStore").on({
            click: function () {
               var attrId= $(this).parent().parent().children().eq(1).text();
                console.log(attrId);
                layer.confirm('确定禁用该属性？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/mateAttr/setStatus/'+attrId+'/1',
                            method: 'put',
                            success: function (data) {
                                window.location.reload();
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        });
        $(".openStore").on({
            click: function () {
                var attrId= $(this).parent().parent().children().eq(1).text();
                console.log(attrId);
                layer.confirm('确定启用该属性？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/mateAttr/setStatus/'+attrId+'/2',
                            method: 'put',
                            success: function (data) {
                                window.location.reload();
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })


    })
</script>


<%- include('../layouts/foot'); %>
<%- include('./attribute_modal'); %>
<%- include('./attrVal_modal'); %>