<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a href="/materialManage">物料管理</a></li>
            <li>物料信息</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12 dwy-show-content">
                    <legend>物料信息

                        <% if( mateInfo.stcode == 2){ %>
                        <a class="label label-primary" id="openStore">启用</a>
                        <% }else{ %>
                        <a class="label label-primary" href="/materialManage/material/modify/<%= mateInfo.id%>">修改</a>
                        <a class="label label-danger" id="closeStore">禁用</a>
                        <a class="btn btn-primary margin-left-10"  href="javascript:void(0)" id="choiceFac">
                            <i class="fa fa-save"></i>
                            选择工厂
                        </a>
                        <% } %>

                    </legend>

                    <!-- row -->
                    <div class="table-responsive <%= ( mateInfo.stcode == 2 )? 'close-info':'' %>">
                        <table class="table table-bordered table-striped table-information ">
                            <tbody>
                            <tr>
                                <td>物料编号</td>
                                <td><%= mateInfo.id %></td>
                                <td>物料名称</td>
                                <td><%= mateInfo.name %></td>
                                <td>分类</td>
                                <td><%= mateInfo.catName %></td>
                            </tr>
                            <tr>
                                <td>预警</td>
                                <td><%= mateInfo.warning %></td>
                                <td>可用</td>
                                <td><%= mateInfo.usable %></td>
                                <td>库存</td>
                                <td><%= mateInfo.stock %></td>
                            </tr>
                            <tr>
                                <td>出厂价格</td>
                                <td></td>
                                <td>价格单位</td>
                                <td></td>
                                <td>工厂</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>单位</td>
                                <td><%= mateInfo.unit%></td>
                                <td>物料图片</td>
                                <td>
                                    <a href="<%= mateInfo.image%>">图片地址</a>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <%
                            var isTr = true;
                            var attrsLength = mateInfo.attrs.length;
                            mateInfo.attrs.forEach(function(element, index){
                            if(isTr){ %>
                            <tr>
                                <td><%= element.attrName %></td>
                                <td><%= element.attrValue %></td>

                                <% if( (index+1 == attrsLength) && (attrsLength %3 == 1) ){ %>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <% }

                                isTr = false;
                            }else{

                            if((index)%3 == 2 ){
                            %>
                            <td><%= element.attrName %></td>
                            <td><%= element.attrValue %></td>

                            </tr>
                            <% isTr = true;
                            }else{ %>
                            <td><%= element.attrName %></td>
                            <td><%= element.attrValue %></td>

                            <% if( (index+1 == attrsLength) && (attrsLength%3 == 2) ){ %>
                            <td></td>
                            <td></td>
                            </tr>
                            <% } %>

                            <% } }
                            }) %>

                            <tr>
                                <td>备注</td>
                                <td colspan="5"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-- end row -->
                </div>

                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->

        <!--well-->
        <div class="col-xs-12 " style="display: none;">
            <hr class="simple">
            <div class="col-xs-12 text-center">
                <a class="btn btn-primary margin-left-10"  href="javascript:void(0)">
                    <i class="fa fa-save"></i>
                   选择工厂
                </a>
            </div>
        </div>
        <!--end well-->

         </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<!--选择工厂-->
<form class="form-horizontal  layer-template" method="post" action="/materialManage/choiceFactory"  id="choiceFac-form"  style="display: none;" >
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>工厂:</label>
            <div class="col-xs-6">
                <select  class="form-control validate[required]" name="factory">
                    <option value="">- 请选择 -</option>
                    <% factoryList.forEach(function (element,index) {%>
                    <option value="<%= element.id%>"><%= element.name%></option>
                    <%})%>
                </select>
            </div>
        </div>
    </div>

    <input type="hidden" name="mateId" value="<%= mid %>">
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                <i class="fa fa-save"></i>
                确认
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!-- END 选择工厂-->

<script type="text/javascript">

    $(document).ready(function () {


        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery
        //启用、禁用物料详情页状态
        var mid='<%= mid %>';
        console.log(mid);
        $("#closeStore").on({
            click: function () {
                layer.confirm('确定禁用该属性？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/material/setStatus/'+mid+'/2',
                            method: 'put',
                            success: function (data) {
                                window.location.reload();
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        });
        $("#openStore").on({
            click: function () {
                layer.confirm('确定启用该属性？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/material/setStatus/'+mid+'/1',
                            method: 'put',
                            success: function (data) {
                                window.location.reload();
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })

        //初始化表单
        $("#choiceFac-form").validationEngine();

        //弹出选择工厂框
        $('#choiceFac').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '800px',
                    content: $('#choiceFac-form'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })
    })

</script>


<%- include('../layouts/foot'); %>
