<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a href="/materialManage">物料管理</a></li>
            <li>修改物料</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">
        <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>修改物料</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal"  id="material_detail_factory_add" method="post" action="">
                            <div class="col-xs-12 ">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 分类:
                                        </label>
                                        <div class="col-xs-8 control-label strongStyle01 text-left" id="typeContent">
                                            <strong><%= mateInfo.catName %></strong>
                                        </div>

                                    </div>
                                </div>



                            </div>
                            <div class="col-xs-12 ">

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label "><span class="requird"></span> 物料编号:
                                        </label>
                                        <div class="col-xs-8 control-label strongStyle01 text-left" id="typeContent">
                                            <strong><%= mateInfo.id %></strong>
                                        </div>

                                    </div>
                                </div>



                            </div>


                            <!--输入字段-->
                            <div class="col-xs-12 ">
                                <div class="col-xs-1 "></div>
                                <div class="col-xs-6 my-div-style01">
                                    <% mateInfo.attrs.forEach(function(element,index){%>
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            <%= element.attrName%>:
                                        </label>
                                        <div class="col-xs-5 ">
                                            <strong class="form-control "><%= element.attrValue %></strong>
                                        </div>
                                    </div>
                                    <%})%>
                                </div>
                            </div>



                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>物料名称:</label>
                                        <div class="col-xs-8">
                                            <strong class="form-control "><%= mateInfo.name %></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>单位物料重量:</label>
                                        <div class="col-xs-8">
                                            <strong class="form-control "></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">单位：</label>
                                        <div class="col-xs-8">
                                            <strong class="form-control "></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>价格:</label>
                                        <div class="col-xs-8">
                                            <strong class="form-control "></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>物料类型:</label>
                                        <div class="col-xs-8">
                                            <strong class="form-control "></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料图片:</label>
                                        <div class="col-xs-8">
                                            <strong class="form-control "><%= mateInfo.image %></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">备注:</label>
                                        <div class="col-xs-8">
                                            <strong class="form-control "></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>库存数量:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]" placeholder="请输入库存数量" value="" type="text" name="stock">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>预警数量:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]" placeholder="请输入预警数量" value="" type="text" name="warning">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>可用数量:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]" placeholder="请输入可用数量" value="" type="text" name="usable">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary"  >
                                        <i class="fa fa-save"></i>
                                        提交
                                    </button>


                                </div>
                            </div>


                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery


        //初始化表单
        $("#create-material_step2").validationEngine();

        //新增流水号
        $(".attrVal").change(function(){
            var length=[];
            var sum;
            $("input[name='length']").each(function(){
                length.push($(this).val());
                sum=eval(length.join('+'))
                if(sum<8 && $("#addNumber").css("display") == 'none' ){
                    for(var i=0;i<8-sum;i++){
                        var html="<div class='col-xs-2 '><input class='form-control validate[required,maxSize[1]' value='' name='number' type='text'></div>";
                        $("#addNumber").find(".col-xs-8").append(html);
                    }
                    $("#addNumber").css("display","block");
                }
            });
        });

        //直接提交
        $("#new").click(function () {
            var code=[];
            var addCode=[];
            $("select[name='attrVal']").each(function(){
                code.push($(this).val());
            });
            $("input[name='number']").each(function(){
                addCode.push($(this).val());
            });
            $("#materialId").val(($("#mateTypeId").val()+code+addCode).replace(/,/g,''));


            if ($("#create-material_step2").validationEngine('validate')) {
                //序列化表单中的每一个值，并且存储在对象中
                var craMateList = {};
                var t = $('#create-material_step2').serializeArray();
                $.each(t, function() {
                    craMateList[this.name] = this.value;
                });
                //将数据提交到nodejs端
                $.ajax({
                    url: '/materialManage/material/doCreate',
                    method: 'post',
                    data:craMateList,
                    success:function (data) {
                        console.log(data);
                        location.href="/materialManage";
                    }
                })
            }
        });

        //提交之后再重新创建
        $("#newAgain").click(function () {
            var code=[];
            var addCode=[];
            $("select[name='attrVal']").each(function(){
                code.push($(this).val());
            });
            $("input[name='number']").each(function(){
                addCode.push($(this).val());
            });
            $("#materialId").val(($("#mateTypeId").val()+code+addCode).replace(/,/g,''));

            if ($("#create-material_step2").validationEngine('validate')) {
                //序列化表单中的每一个值，并且存储在对象中
                var craMateList = {};
                var t = $('form').serializeArray();
                $.each(t, function() {
                    craMateList[this.name] = this.value;
                });
                //将数据提交到nodejs端
                $.ajax({
                    url: '/materialManage/material/doCreate',
                    method: 'post',
                    data:craMateList,
                    success:function (data) {
                        location.href="/materialManage/material/creStepS/"+"<%= id %>";
                    },

                })
            }
        });

        //上传图片
        DWY_area.init({});

        var idPhotoNum = 1;
        var idPhotoOneName = $("#idPhotoOneName");
        var idPhotoTwoName = $("#idPhotoTwoName");
        var idPhotoOne = $("#idPhotoOne");
        var idPhotoTwo = $("#idPhotoTwo");

        $('#dwy_file_upload').on({
            change: function (e) {
                var _this = $(this);
                var label = $("#label-upload-file");

                var formData = new FormData();
                formData.append('file_name', _this.prop('files')[0])

                $.ajax({
                    url: '/template/upload/img',
                    data: formData,
                    type: 'POST',
                    processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
                    contentType: false, // 不设置Content-type请求头
                    success: function (data) {
                        if (data.code == 200) {
                            if(!idPhotoOne.val()){
                                idPhotoOneFuc(data);
                                label.html('上传成功 <i class="fa fa-check">');
                                return;
                            }
                            if(!idPhotoTwo.val()){
                                idPhotoTwoFuc(data);
                                label.html('上传成功 <i class="fa fa-check">');
                                return;
                            }
                            switch(idPhotoNum%2){
                                case 1:
                                    idPhotoOneFuc(data);
                                    break;
                                case 0:
                                    idPhotoTwoFuc(data);
                                    break;
                            }
                            idPhotoNum++;
                            label.html('上传成功 <i class="fa fa-check">');
                        } else {
                            label.html('上传失败 <i class="fa fa-times">');
                        }
                    },
                    error: function (error) {
                        label.html('上传失败 <i class="fa fa-times">');
                    }
                })
            }
        })

        function idPhotoOneFuc(data) {
            idPhotoOne.val(data.data.url);
            idPhotoOneName.html('<a  class="fancybox dwy_image" href="/uploads/'+data.data.name+'" data-fancybox-group="gallery" title="'+data.data.name+'">'+data.data.name+'</a>')

        }
        function idPhotoTwoFuc(data) {
            idPhotoTwo.val(data.data.url);
            idPhotoTwoName.html('<a  class="fancybox dwy_image" href="/uploads/'+data.data.name+'" data-fancybox-group="gallery" title="'+data.data.name+'">'+data.data.name+'</a>')

        }

        //图片浏览
        $('.fancybox').fancybox();




    })

</script>


<%- include('../layouts/foot'); %>