<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>物料管理</li>
            <li>查看物料分类</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>物料搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">分类编码:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入分类编码" value="" type="text" name="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入名称" value="" type="text" name="">
                                        </div>
                                    </div>
                                </div>



                            </div>



                            <div class="col-xs-12 ">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <a class="btn btn-primary margin-right-5" href="/materialManage/materialType/creOne">
                                        <i class="fa fa-save"></i>
                                        新建分类
                                    </a>
                                </div>
                            </div>





                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->

                <!-- end row -->
            </div>
        </div>
        <!-- end well -->
        <!--well-->
        <div class="well">

                      <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                             <!--   <th>显示id</th>
                                <th>显示级别</th>-->
                                <th>一级分类</th>
                                <th>二级分类</th>
                                <th>三级分类</th>
                                <th>上级编码</th>
                                <th>添加时间</th>
                                <th>备注</th>
                                <th>操作</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(mateTypeList.totalItems != 0  ){
                            mateTypeList.result.forEach(function (element, index) { %>
                            <tr>
                             <!--   <td><%= element.id %></td>
                                <td><%= DWY_Helper.judgeMateType(element.id) %></td>-->

                                  <!--判断物料分类级别-->
                                <% switch (DWY_Helper.judgeMateType(element.id)){
                                case "一级": %>
                                <td><%= element.name %></td>
                                <td></td>
                                <td></td>
                                <%        break;
                                case "二级": %>
                                <td></td>
                                <td><%= element.name %></td>
                                <td></td>
                                <%         break;
                                default: %>
                                <td></td>
                                <td></td>
                                <td><%= element.name %></td>
                                <%  } %>
                                <!--END 判断物料分类级别-->

                                <td><%= element.parentId %></td>
                                <td><%= DWY_Helper.getLocalDate(element.addTime) %></td>
                                <td><%= element.remark %></td>

                                <!--根据物料级别不同执行不同操作-->
                                <% switch (DWY_Helper.judgeMateType(element.id)){
                                case "一级": %>
                                <td>
                                    <a href="/materialManage/materialType/creTwo/<%= element.parentId %>">新建子类</a>
                                    <a href="/materialManage/materialType/chagOne/<%= element.id %>" class="margin-left-20">修改</a>
                                    <a href="javascript:void(0)" class="margin-left-20 closeStore" >禁用</a>
                                    <a href="/materialManage/material/create" class="margin-left-20">新建物料</a>
                                </td>
                                <%        break;
                                case "二级": %>
                                <td>
                                    <a href="/materialManage/materialType/creThree/<%= element.parentId %>">新建子类</a>
                                    <a href="/materialManage/materialType/chagTwo/<%= element.id %>"  class="margin-left-20">修改</a>
                                    <a href="javascript:void(0)" class="margin-left-20 closeStore">禁用</a>
                                    <a href="/materialManage/material/create" class="margin-left-20">新建物料</a>
                                </td>
                                <%         break;
                                default: %>
                                <td>
                                    <a href="/materialManage/materialType/chagThree/<%= element.id %>" class="margin-left-78">修改</a>
                                    <a href="javascript:void(0)" class="margin-left-20 closeStore" >禁用</a>
                                    <a href="/materialManage/material/create"  class="margin-left-20">新建物料</a>
                                </td>
                                <%  } %>
                                <!--END 根据物料级别不同执行不同操作-->
                            </tr>
                            <% })

                            }else{ %>
                            <tr>
                                <td colspan="6" align="center">暂无结果</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <%- pagination %>

                    </div>
                </div>
            </div>
        </div>
        <!--end well-->
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {


        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })

</script>


<%- include('../layouts/foot'); %>