<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/materialManage">物料管理</a></li>
            <li>物料信息</li>
            <li><a class="back-url" href="javascript:history.go(-1)"> <i class="fa fa-chevron-left"></i>返回</a></li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>物料信息

                        <% if( mateInfo.stcode == 2){ %>
                        <% if (DWY_Helper.hasPermission(Permission.material.delete.id, permission) ){ %>
                        <a class="label label-primary" id="openStore">启用</a>
                        <% } %>
                        <% }else{ %>
                        <% if (DWY_Helper.hasPermission(Permission.material.update.id, permission) ){ %>
                        <a class="label label-primary" href="/materialManage/material/modify/<%= mateInfo.id%>">修改</a>
                        <% } %>
                        <% if (DWY_Helper.hasPermission(Permission.material.delete.id, permission) ){ %>
                        <a class="label label-danger" id="closeStore">禁用</a>
                        <% } %>
                        <% if (DWY_Helper.hasPermission(Permission.material.queryAll.id, permission) ){ %>
                        <a class="label label-primary margin-left-10"  href="javascript:void(0)" id="choiceFac">
                            选择工厂
                        </a>
                        <% } %>
                        <% } %>

                        <a class="label label-primary display-none" href="/materialManage/add/<%= bid %>/<%= mid %>">完善物料库存</a>
                    </legend>

                    <!-- row -->
                    <div class="table-responsive <%= ( mateInfo.stcode == 2 )? 'close-info01':'' %>">
                        <table class="table table-bordered table-striped table-information ">
                            <tbody>
                            <tr class="table-tr01">
                                <td>物料编号</td>
                                <td><%= mateInfo.id %></td>
                                <td>物料名称</td>
                                <td><%= mateInfo.name %></td>
                                <td>分类</td>
                                <td><%= mateInfo.catName %></td>
                            </tr>
                            <tr>
                                <td>预警</td>
                                <td>
                                    <form class="form-horizontal" method="post" action="/materials/doWarning"  id="doWarning-form">
                                        <div class="col-xs-6">
                                            <input  class="form-control validate[required]" name="warning" type="text" value="<%= mateInfo.warning %>"/>
                                        </div>
                                        <input type="hidden" name="mateId" value="<%= mid %>">
                                        <input type="hidden" name="bid" value="<%= bid %>">
                                        <div class="col-xs-2">
                                            <% if (DWY_Helper.hasPermission(Permission.material.update.id, permission) ){ %>
                                                <button class="btn btn-primary " type="submit">
                                                    确认
                                                </button>
                                            <% } %>
                                        </div>
                                    </form>
                                </td>
                                <td>库存</td>
                                <td><%= mateInfo.stock %></td>
                                <td>可用</td>
                                <td><%= mateInfo.usable %></td>
                            </tr>
                            <tr>
                                <td>出厂价格</td>
                                <td><%= mateInfo.price %></td>
                                <td>单位</td>
                                <td><%= mateInfo.unit%></td>
                                <td>工厂</td>
                                <td><%= mateInfo.factoryName %></td>
                            </tr>
                            <%
                            var isTr = true;
                            var attrsLength = mateInfo.attrs.length;
                            mateInfo.attrs.forEach(function(element, index){
                            if(isTr){ %>
                            <tr>
                                <td><%= element.attrName %></td>
                                <td><%= element.attrValue %></td>

                                <% if( (index+1 == attrsLength) && (attrsLength %3 == 1) ){ %>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <% }

                                isTr = false;
                            }else{

                            if((index)%3 == 2 ){
                            %>
                            <td><%= element.attrName %></td>
                            <td><%= element.attrValue %></td>

                            </tr>
                            <% isTr = true;
                            }else{ %>
                            <td><%= element.attrName %></td>
                            <td><%= element.attrValue %></td>

                            <% if( (index+1 == attrsLength) && (attrsLength%3 == 2) ){ %>
                            <td></td>
                            <td></td>
                            </tr>
                            <% } %>

                            <% } }
                            }) %>
                            <tr>
                                <td>物料图片</td>
                                <td colspan="5">
                                    <a class="fancybox dwy_image" href="<%= DWY_GLOBAL.Static %>/download?url=<%= mateInfo.image %>" data-fancybox-group="gallery" title="<%= mateInfo.image %>"><%= mateInfo.image %></a>
                                </td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="5"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-- end row -->
                </div>

                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->
        <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>库存数量状况
                        <a href="/materialManage/summary" class="label label-primary">出入仓明细</a>
                        <!--<span class="spanStyle01">剩余3160000支</span>-->
                    </legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>所属区域名</th>
                                <th>所属仓库名</th>
                                <th>货位号</th>
                                <th>库存数量</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%if(DWY_Helper.isCanLoop(whseCargospaceList.result) ){
                            whseCargospaceList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.regionName%></td>
                                <td><%= element.whseName%></td>
                                <td><%= element.spaceId%></td>
                                <td><%= element.amount%></td>
                                <td><a class="label label-primary modifyStock" href="javascript:void(0)" spaceId="<%= element.spaceId%>">修改库存</a></td>
                            </tr>
                            <% })}else{ %>
                            <tr>
                                <td colspan="6" align="center">暂无数据</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>


                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->

        <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>库存数量修改记录
                        <a href="/stockRecord?mateId=<%= mid%>" class="label label-primary">查看更多</a>
                    </legend>

                    <!-- row -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>所属区域名</th>
                                <th>所属仓库名</th>
                                <th>货位号</th>
                                <th>修改后的库存数量</th>
                                <th>修改原因</th>
                                <th>修改日期</th>
                                <th>修改人</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%if(DWY_Helper.isCanLoop(stockOperationList.result) ){
                            stockOperationList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.regionName%></td>
                                <td><%= element.whseName%></td>
                                <td><%= element.spaceId%></td>
                                <td><%= element.newStock%></td>
                                <td><%= element.reasonName%></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.operateTime)%></td>
                                <td><%= element.operateEmpName%></td>
                                <td><%= element.remark%></td>
                            </tr>
                            <% })}else{ %>
                            <tr>
                                <td colspan="9" align="center">暂无数据</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>


                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->
        <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>采购情况</legend>

                    <!-- row -->
                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-hover" id="purchasesMateList">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>订购日期</th>
                                <th>订购数量</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(purchasesMateList.result) ){
                            purchasesMateList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.addTime)%></td>
                                <td><%= element.amount %></td>
                                <td><%= element.remark%></td>
                            </tr>
                            <% })%>
                            <tr><td colspan="2" class="text-align-right" width="11%">总计</td><td colspan="2" class="text-align-left purchasesMateListAll" ></td></tr>
                            <%}else{ %>
                            <tr>
                                <td colspan="4" align="center">暂无数据</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->


         </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>
<!--选择工厂-->
<form class="form-horizontal  layer-template" method="post" action="/materialManage/choiceFactory"  id="choiceFac-form"  style="display: none;" >
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>工厂:</label>
            <div class="col-xs-6">
                <select  class="form-control validate[required]" name="factory">
                    <option value="">- 请选择 -</option>
                    <% factoryList.forEach(function (element,index) {%>
                    <option value="<%= element.id%>"><%= element.name%></option>
                    <%})%>
                </select>
            </div>
        </div>
    </div>

    <input type="hidden" name="mateId" value="<%= mid %>">
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                <i class="fa fa-save"></i>
                确认
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!-- END 选择工厂-->
<!--修改库存-->
<form class="form-horizontal  layer-template" method="post" action="/materials/doStock"  id="modifyStock-form"  style="display: none;padding-top: 50px;" >
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>修改原因:</label>
            <div class="col-xs-6">
                <select  class="form-control validate[required]" name="reason">
                    <option value="">- 请选择 -</option>
                    <% stockReasonTypes.forEach(function (element,index) {%>
                    <option value="<%= element.id%>"><%= element.name%></option>
                    <%})%>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>库存数量:</label>
            <div class="col-xs-6">
                <input  class="form-control validate[required]" type="text" value="" name="newStock"  placeholder="请输入库存数量"/>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label">备注:</label>
            <div class="col-xs-6">
                <input  class="form-control" type="text" value="" name="remark" placeholder="请输入备注"/>
            </div>
        </div>
    </div>
    <input type="hidden" name="mateId" value="<%= mid %>">
    <input type="hidden" name="bid" value="<%= bid %>">
    <input type="hidden" name="spaceId" value="">
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                <i class="fa fa-save"></i>
                确认
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!-- END 修改库存-->
<script type="text/javascript">

    $(document).ready(function () {


        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery

        //初始化表单
        $("#choiceFac-form").validationEngine();
        $("#doWarning-form").validationEngine();
        $("#modifyStock-form").validationEngine();

        //启用、禁用物料详情页状态
        var mid='<%= mid %>';
        console.log(mid);
        $("#closeStore").on({
            click: function () {
                layer.confirm('确定禁用该属性？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/material/setStatus/'+mid+'/2',
                            method: 'put',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        });
        $("#openStore").on({
            click: function () {
                layer.confirm('确定启用该属性？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/material/setStatus/'+mid+'/1',
                            method: 'put',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })



        //弹出选择工厂框
        $('#choiceFac').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '800px',
                    content: $('#choiceFac-form'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })
        //图片浏览
        $('.fancybox').fancybox();

        //采购物料总计
        $(".purchasesMateListAll").text(DWY_Utils.CommonMethods.calcTotal(document.getElementById('purchasesMateList'),2,1));

        //弹出修改库存框
        $('.modifyStock').on({
            click: function (e) {
                var spaceId=$(this).attr("spaceId");
                $("input[name=spaceId]").val(spaceId);
                layer.open({
                    title: false,
                    type: 1,
                    area: '800px',
                    content: $('#modifyStock-form'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })

    })

</script>


<%- include('../layouts/foot'); %>
