<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>物料出入仓查询</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!--well-->
        <div class="well">
            <!-- row -->
         <!--   <div class="row">
                <div class="col-xs-12">
                    <legend>物料出入仓查询
                    </legend>
                </div>
            </div>-->
            <!--end row-->
            <!-- row -->
            <div class="row">
                <!-- col -->

                <div class="col-xs-12">
                    <!--<legend>客户搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料编号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入物料编号" value="<%=  DWYRequest.query.mateId %>" type="text" name="mateId">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入物料名称" value="<%=  DWYRequest.query.mateName %>" type="text" name="mateName">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-1"></label>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="">
                                                <option value="1">收款确认日期</option>
                                                <option value="2">约定交付日期</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <input class="form-control fg-date-picker flatpickr-input fg-date-time-picker" type="text" value="<%= DWYRequest.query.startDate %>" name="startDate" readonly="readonly">
                                        </div>
                                        <label class="control-label " style="float: left"> 至 </label>
                                        <div class="col-xs-3">
                                            <input class="form-control fg-date-picker flatpickr-input fg-date-time-picker" type="text" value="<%= DWYRequest.query.endDate %>" name="endDate" readonly="readonly">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料出入仓</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="type">
                                                <option value="0" <%= (DWYRequest.query.type == 0)?"selected":"" %>>出仓</option>
                                                <option value="1" <%= (DWYRequest.query.type == 1)?"selected":"" %>>入仓</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-3 display-none">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料分类:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="catId">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">经手人:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入经手人" value="<%= DWYRequest.query.empId %>" type="text" name="empId">
                                        </div>
                                    </div>
                                </div>



                            </div>


                            <div class="col-xs-12 ">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">领料部门:</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="">
                                                <option value="财务部">财务部</option>
                                                <option value="采购中心">采购中心</option>
                                                <option value="订单服务中心">订单服务中心</option>
                                                <option value="工业工程部">工业工程部</option>
                                                <option value="工艺技术中心">工艺技术中心</option>
                                                <option value="基建部">基建部</option>
                                                <option value="……">……</option>


                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">单号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入订单号" value="<%= DWYRequest.query.id %>" type="text" name="id">
                                        </div>
                                    </div>
                                </div>



                                <div class="col-xs-3">

                                </div>


                            </div>



                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->

        <!--well-->
        <div class="well">


            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>物料出入仓明细</h6>
                    <hr class="simple">
                </div>
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>物料编号</th>
                                <th>物料名称</th>
                                <th>物料分类名</th>
                                <th>供应商名称</th>
                                <th>经手人</th>
                                <th>出入库时间</th>
                                <th>出入库数量</th>
                                <th>出入库单号</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(DWY_Helper.isCanLoop(mateInAndOutList.result)){
                            mateInAndOutList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= element.mateId %></td>
                                <td><%= element.mateName %></td>
                                <td><%= element.catName%></td>
                                <td><%= element.suppName%></td>
                                <td><%= element.empName %></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.time )%></td>
                                <td><%= element.amount %></td>
                                <td><%= element.id%></td>
                            </tr>
                            <% })

                            }else{ %>
                            <tr>
                                <td colspan="11" align="center">暂无结果</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
        <!--end well-->
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {


        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery
    })

</script>


<%- include('../layouts/foot'); %>