<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a href="/materialManage">物料管理</a></li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>物料搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料编号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入物料编号" value="" type="text" name="materNo">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">物料名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入物料名称" value="" type="text" name="name">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-4" style="display:none;">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">分类：</label>
                                        <div class="col-xs-5">

                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                                <option value="启用">启用</option>
                                                <option value="停用">停用</option>
                                                <option value="不限">不限</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                              </div>

                            <div class="col-xs-12" style="display:none;">

                                <div class="col-xs-3">

                                </div>

                                <div class="col-xs-3">

                                </div>


                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">其他：</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="">
                                                <option value="">- 请选择 -</option>
                                                <option value="预计缺货">预计缺货</option>
                                                <option value="真是库存预警">真是库存预警</option>


                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-3">

                                    </div>
                                </div>

                            <div class="col-xs-12 ">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <a class="btn btn-primary margin-left-10" href="/materialManage/materialType">
                                        查看物料分类
                                    </a>

                                    <a class="btn btn-primary margin-left-10" href="/materialManage/materialAttribute">
                                        查看物料属性
                                    </a>
                                </div>
                            </div>





                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->

            <!-- end row -->
        </div>
        </div>
        <!-- end well -->
        <!--well-->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>物料列表  <a class="label label-primary" href="/materialManage/material/creStepO">新建物料</a></h6>
                    <hr class="simple">
                </div>
            </div>
<!--end roll-->
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>物料编号</th>
                                <th>物料名称</th>
                                <th>分类</th>
                                <th>单位</th>
                                <th>库存</th>
                                <th>预警数量</th>
                                <th>可用</th>
                                <th>预警</th>
                                <th>出厂价格</th>
                                <th>价格单位</th>
                                <th>启用</th>
                                <th>条码</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(mateList.totalItems != 0  ){
                            mateList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><a href="/materialManage/detail/<%= element.id %>" class=" "><%= element.id %></a></td>
                                <td><%= element.name %></td>
                                <td><%= element.catName%></td>
                                <td><%= element.stock %></td>
                                <td><%= element.warning %></td>
                                <td><%= element.usable %></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                 <% if(element.stcode==1){%>
                                    是
                                    <%}else {%>
                                    否
                                    <%}%>
                                </td>
                                <td><a href="javascript:void(0)">打印</a></td>
                            </tr>
                            <% })

                            }else{ %>
                            <tr>
                                <td colspan="13" align="center">暂无结果</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
        <!--end well-->
        <!-- well-->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6><a class="btn btn-primary" href="/materialManage/factory">物料管理工厂端的页面点击这里查看</a></h6>
                    <hr class="simple">
                </div>
            </div>
        </div>
      </div>
      <!-- end well-->



</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
      //日期组件
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_time_picker);
    })

</script>


<%- include('../layouts/foot'); %>