<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>物料管理 </li>
            <li>查看物料分类</li>
            <li>新建子级分类</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

        <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>新建子级分类</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal" method="post" action="/materialManage/materialType/creOtherDo" id="material_type_creOther">


                                <!--输入字段-->
                                <% if( mateCategory.stairCategory &&  mateCategory.secondaryCategory && mateCategory.thirdlyCategory){ %>
                                <!--新建二级子类-->
                                <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            父类:</label>
                                        <div class="col-xs-8">
                                            <span class="form-control "><%= mateCategory.stairCategory %></span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">
                                            </label>
                                        <div class="col-xs-8">
                                            <span class="form-control"><%= mateCategory.secondaryCategory %></span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <% }%>else  <% if( mateCategory.stairCategory &&  mateCategory.secondaryCategory){ %>
                            <!--新建三级子类-->
                                <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            父类:</label>
                                        <div class="col-xs-8">
                                            <span class="form-control"><%= mateCategory.stairCategory %></span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <% } %>



                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]" value="" name="name" type="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            备注:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control " value="" name="remark">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input name="id" value='<%= id %>' type="hidden" >
                            <% switch (DWY_Helper.judgeMateType(id)){
                            case "一级": %>
                            <input name="parentId" value='<%= id.substring(0,2) %>' type="hidden" >
                            <%        break;
                            case "二级": %>
                            <input name="parentId" value='<%= id.substring(0,4) %>' type="hidden" >
                            <%         break;
                            default: %>
                                break;
                            <%  } %>



                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认
                                    </button>
                                </div>
                                <hr class="simple">
                            </div>
                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {


        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery
        //初始化表单
        $("#material_type_creOther").validationEngine('');

    })

</script>


<%- include('../layouts/foot'); %>