<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a class="back-url" href="/materialManage"><i class="fa fa-chevron-left"></i>物料管理</a></li>
            <li><a class="back-url" href="/materialManage/materialAttribute"><i class="fa fa-chevron-left"></i>查看物料属性</a></li>
            <li>查看物料属性详情值</li>
            <li><a class="back-url" href="javascript:history.go(-1)"><i class="fa fa-chevron-left"></i> 返回</a></li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>物料搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入名称" value="" type="text" name="">
                                        </div>
                                    </div>
                                </div>



                            </div>



                            <div class="col-xs-12 ">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary margin-right-5" type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>

                                    <% if (DWY_Helper.hasPermission(Permission.material.createAttribute.id, permission) ){ %>
                                    <a class="btn btn-primary attrValCreate" href="javascript:void(0)">
                                        <i class="fa fa-save"></i>
                                        新建属性值
                                    </a>
                                    <% } %>
                                </div>
                            </div>





                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->

                <!-- end row -->
            </div>
        </div>
        <!-- end well -->
        <!--well-->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>上级名称</th>
                                <th>名称</th>
                                <th>编码</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%  if(attributeDetail.attributeValueList.length!=0){
                            attributeDetail.attributeValueList.forEach(function (element, index) { %>
                            <tr>
                                <% if(index==0){%>
                                <td id="attrName"><%= attributeDetail.name %></td>
                                <% }else{ %>
                                <td></td>
                                <% } %>
                                <td class="<%= ( element.stcode == 2)? 'close-info':'' %>"><%= element.name %></td>
                                <td class="<%= ( element.stcode == 2 )? 'close-info':'' %>"><%= element.code %></td>
                                <td>
                                    <% if( element.stcode == 2 ){ %>
                                    <% if (DWY_Helper.hasPermission(Permission.material.deleteAttribute.id, permission) ){ %>
                                    <a href="javascript:void(0)" id="openStore" class="label label-primary openStore">启用</a>
                                    <% } %>
                                    <% }else{ %>
                                    <% if (DWY_Helper.hasPermission(Permission.material.updateAttribute.id, permission) ){ %>
                                    <a href="javascript:void(0)" class="label label-primary attrValChange">修改</a>
                                    <% } %>
                                    <% if (DWY_Helper.hasPermission(Permission.material.deleteAttribute.id, permission) ){ %>
                                    <a href="javascript:void(0)" class="label label-danger closeStore" id="closeStore">禁用</a>
                                    <% } %>
                                    <% } %>
                                </td>
                                <% })
                                }else{ %>
                            <tr>
                               <td id="attrName"><%= attributeDetail.name %></td><td colspan="5" align="center">暂无结果</td>
                            </tr>
                            <% } %>
                        </table>

                    </div>
                </div>
            </div>
            <input name="attrId1" value='<%= mid %>' type="hidden" id="attrId1">
        </div>
        <!--end well-->
    </div>



</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();

        var attrId= '<%= mid %>';
        //启用、禁用物料属性值状态
        $(".closeStore").on({
            click: function () {
                var code= $(this).parent().parent().children().eq(2).text();
                console.log(code);
                layer.confirm('确定禁用该属性？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/mateAttrVal/setStatus/'+code+'/2/'+attrId,
                            method: 'put',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        });
        $(".openStore").on({
            click: function () {
                var code= $(this).parent().parent().children().eq(2).text();
                console.log(code);
                layer.confirm('确定启用该属性？',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/mateAttrVal/setStatus/'+code+'/1/'+attrId,
                            method: 'put',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })
    })

</script>


<%- include('../layouts/foot'); %>
<%- include('./attrVal_modal'); %>