<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li><a href="/materialManage">物料管理</a></li>
            <li><a href="/materialManage/materialType">查看物料分类</a></li>
            <li>新建一级分类</li>
        </ol>
        <!-- end breadcrumb -->


    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">

         <!--well-->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <legend>新建一级分类</legend>

                    <!-- row -->
                    <div class="row">
                        <form class="form-horizontal" method="post" action="/materialManage/materialType/creOneDo" id="material_type_creOne">

                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required]" placeholder="请输入名称" value="" name="name" type="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            物料分类编码:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control validate[required,custom[onlyNumberSp],maxSize[2],minSize[2]]" placeholder="请输入两位编码" value="" name="id" type="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            属性:</label>
                                        <div class="col-xs-8" id="my-label">
                                            <%
                                            usableAttrList.forEach(function (element, index) { %>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox" name="attr" value="<%= element.id %>">
                                                <span><%= element.name %></span>(<span class="length"><%= element.length %></span>位)
                                            </label>
                                            <% })%>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            当前选中的属性为:</label>
                                        <div class="col-xs-8">
                                            <span id="show" class="form-control"></span>
                                            <input type="hidden" name="attributes" id="attributes" value="" class="form-control validate[required]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!--输入字段-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label"><span class="requird"></span>
                                            备注:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control " value="" name="remark">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-save"></i>
                                        确认
                                    </button>
                                </div>
                                <hr class="simple">
                            </div>

                        </form>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!--end well-->
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>


<script type="text/javascript">

    $(document).ready(function () {


        pageSetUp();

        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery
        //初始化表单
        $("#material_type_creOne").validationEngine('');
        //确认选中的物料属性
        Array.prototype.indexOf = function(val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] == val) return i;
            }
            return -1;
        };
        Array.prototype.remove = function(val) {
            var index = this.indexOf(val);
            if (index > -1) {
                this.splice(index, 1);
            }
        };
        var inputs=document.getElementsByName('attr');
        var txt=document.getElementById('show');
        var attributes=document.getElementById('attributes');
        var sum=0;
        for(var i=0;i<inputs.length;i++)
        {
            var attrId=[];//选中属性的id
            var attrName=[];//选中属性的name
            var attrLength=[];//选中属性的length
            inputs[i].onclick=function(){
                console.log(sum);
                if(this.checked){
                    attrId.push(this.value);
                    attrName.push(this.parentNode.innerText);
                    attrLength.push(this.parentNode.lastChild.previousSibling.innerHTML);
                }
                else{
                    attrId.remove(this.value);
                    attrName.remove(this.parentNode.innerText);
                    attrLength.remove(this.parentNode.lastChild.previousSibling.innerHTML);

                }
                txt.innerHTML=attrName.join(',');
                attributes.value=attrId.join(',');
                sum=eval(attrLength.join('+'));
               /* if(sum>8){
                    layer.alert('物料属性的长度之和超过8位，请重新选择！',{icon: 3, title:'提示'},
                     function(index){
                         sum=0;
                         document.getElementsByName('attr').checked = false;
                         layer.close(index);
                     }
                   )
                }*/
            }
        }
    })

</script>

<%- include('../layouts/foot'); %>
