<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>物料管理</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>物料搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get">

                            <div class="col-xs-12">

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">材料编号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入材料编号" value="" type="text"
                                                   name="materialID">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">材料名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入材料名称" value="" type="text"
                                                   name="materialName">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">分类：</label>
                                        <div class="col-xs-5">
                                            <select class="form-control" name="">
                                                <option value="板材">板材</option>
                                                <option value="外加工板材">外加工板材</option>
                                                <option value="素板">素板</option>
                                                <option value="封边带">封边带</option>
                                                <option value="玻璃">玻璃</option>
                                                <option value="金属">金属</option>
                                                <option value="……">……</option>

                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="">
                                                <option value="启用">启用</option>
                                                <option value="停用">停用</option>
                                                <option value="不限">不限</option>

                                            </select>
                                        </div>

                                    </div>
                                </div>
                              </div>

                            <div class="col-xs-12">

                                <div class="col-xs-3">

                                </div>

                                <div class="col-xs-3">

                                </div>


                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">其他：</label>
                                        <div class="col-xs-8">
                                            <select class="form-control" name="">
                                                <option value="预计缺货">预计缺货</option>
                                                <option value="真是库存预警">真是库存预警</option>


                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-3">

                                    </div>
                                </div>

                            <div class="col-xs-12">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <a class="btn btn-primary margin-right-5" href="/materialManage/materialType">
                                        <i class="fa fa-save"></i>
                                        查看物料分类
                                    </a>
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                            </div>




                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->

            <!-- end row -->
        </div>
        <!-- end well -->
        <!--well-->
        <div class="well">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>材料列表</h6>
                    <a href="/materialManage/material/create">新建物料</a>
                    <hr class="simple">
                </div>
            </div>
<!--end roll-->
            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>材料编号</th>
                                <th>物料编号2</th>
                                <th>物料编号3</th>
                                <th>材料名称</th>
                                <th>分类</th>
                                <th>规格</th>
                                <th>单位</th>
                                <th>真实库存</th>
                                <th>预警数量</th>
                                <th>虚拟库存</th>
                                <th>预警</th>
                                <th>启用</th>
                                <th>条码</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>1</td>
                                <td><a href="/materialManage/detail/12345">12345</a></td>
                                <td>56798654</td>
                                <td>13003615688</td>
                                <td>银白下框</td>
                                <td>铝材</td>
                                <td>wy-6</td>
                                <td>支</td>
                                <td>316.0000</td>
                                <td>200.00</td>
                                <td>4567.0000</td>
                                <td>是</td>
                                <td>是</td>
                                <td><a href="#">打印</a></td>
                            </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
        <!--end well-->
      </div>



</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
      //日期组件
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_time_picker);
    })

</script>


<%- include('../layouts/foot'); %>