<%- include('../layouts/head_top'); %>
<%- include('../layouts/head_bottom'); %>
<%- include('../layouts/header'); %>
<%- include('../layouts/nav'); %>


<!-- MAIN PANEL -->
<div id="main" role="main" class="mainFlex">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>后台管理</li>
            <li>库存记录</li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div id="content" class="dis-flex">


        <!-- well -->
        <div class="well">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xs-12">
                    <!--<legend>物料搜索</legend>-->
                    <!-- row -->
                    <div class="row search-form">
                        <form class="form-horizontal" method="get" id="search-customer">
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">物料编号:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入物料编号" value="<%= DWYRequest.query.mateId %>" type="text" name="mateId">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">物料名称:</label>
                                        <div class="col-xs-8">
                                            <input class="form-control" placeholder="请输入物料名称" value="<%= DWYRequest.query.mateName %>" type="text" name="mateName">
                                        </div>
                                    </div>
                                </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="col-xs-3 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                    <label class="btn btn-default reset margin-left-20">
                                        重置
                                    </label>
                                    <label class="search margin-left-20">
                                        高级查询
                                        <i class="fa fa-chevron-down"></i>
                                    </label>
                                </div>
                                <%}%>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                <div class="slideToggle display-none">
                                <%}%>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">工厂:</label>
                                            <div class="col-xs-8">

                                                <% var initFtyId = DWY_Helper.getAssistInitFtyId(userFtyId,factoryList);
                                                if ( !DWY_Helper.hasPermission(Permission.inventory.queryAll.id, permission) ){ %>
                                                <input class="form-control"  value="<%= DWY_Helper.getAssistValFtyId(userFtyId,factoryList) %>" readonly>
                                                <input type="hidden" name="ftyId" value="<%= userFtyId %>">
                                                <% }else{ %>

                                                <select class="form-control"  name="ftyId" id="ftyId" >
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(factoryList)){
                                                    factoryList.forEach(function (element) { %>
                                                    <option value="<%= element.ftyId %>" <%= userFtyId == element.ftyId? 'selected':'' %> >
                                                        <%= element.name %>
                                                    </option>
                                                    <% })
                                                    } %>

                                                </select>
                                                <% } %>



                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">仓库:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="whseId" id="whseId">
                                                    <option value="">- 请选择 -</option>
                                                    <%
                                                    if(DWY_Helper.isCanLoop(warehouseList)&& initFtyId){
                                                    warehouseList.forEach(function (element) { %>
                                                    <option value="<%= element.whseId %>" <%= (DWYRequest.query.whseId == element.whseId )?"selected":"" %> >
                                                        <%= element.name %>
                                                    </option>
                                                    <% })
                                                    } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">区域:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="regionId" id="regionId">
                                                    <option value="">- 请选择 -</option>
                                                    <% regionList.forEach(function (element) { %>
                                                    <option value="<%= element.regionId %>" <%= (DWYRequest.query.regionId == element.regionId )?"selected":"" %> >
                                                        <%= element.name %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">类别:</label>
                                            <div class="col-xs-8">
                                                <select class="form-control" name="inType">
                                                    <option value="">- 请选择 -</option>
                                                    <option value="1" <%= (DWYRequest.query.inType == 1) ? "selected" : "" %> >
                                                        物料
                                                    </option>
                                                    <option value="2" <%= (DWYRequest.query.inType == 2) ? "selected" : "" %> >
                                                        成品
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">日期:</label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-time-picker"
                                                       value="<%= DWYRequest.query.startTime %>"
                                                       name="startTime">
                                            </div>
                                            <label class="control-label " style="float: left"> 至 </label>
                                            <div class="col-xs-4">
                                                <input class="form-control fg-date-time-picker"
                                                       value="<%= DWYRequest.query.endTime %>"
                                                       name="endTime">
                                            </div>
                                        </div>
                                    </div>
                                <% if(DWY_GLOBAL.ButtonOpen!=1){ %>
                                </div>
                                <%}%>
                            </div>
                            <% if(DWY_GLOBAL.ButtonOpen==1){ %>
                            <div class="col-xs-12 ">
                                <hr class="simple">
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-primary " type="submit">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                            <%}%>
                        </form>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
                <!-- end row -->
            </div>
        </div>
        <!-- end well -->
        <!--well-->
        <div class="well dis-flex">

            <!-- row -->
            <div class="row">
                <div class="col-xs-12">
                    <h6>库存数量修改记录 </h6>
                    <hr class="simple">
                </div>
            </div>
<!--end roll-->
            <!-- row -->
            <div class="row dis-flex">
                <div class="col-xs-12 dis-flex">
                    <div class="table-responsive dis-flex">
                        <table class="table table-bordered table-striped table-hover table-scroll2">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>物料号</th>
                                <th>物料名称</th>
                                <th>所属区域名</th>
                                <th>所属仓库名</th>
                                <th>货位号</th>
                                <th>修改后的库存数量</th>
                                <th>修改原因</th>
                                <th>修改日期</th>
                                <th>修改人</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%if(DWY_Helper.isCanLoop(stockOperationList.result) ){
                            stockOperationList.result.forEach(function (element, index) { %>
                            <tr>
                                <td><%= DWY_Helper.incrementNum(DWYRequest.query.pageNo,index)%></td>
                                <td><%= element.mateId%></td>
                                <td><%= element.mateName%></td>
                                <td><%= element.regionName%></td>
                                <td><%= element.whseName%></td>
                                <td><%= element.spaceId%></td>
                                <td><%= element.newStock%></td>
                                <td><%= element.reasonName%></td>
                                <td><%= DWY_Helper.getLocalDateYMD(element.operateTime)%></td>
                                <td><%= element.operateEmpName%></td>
                                <td><%= element.remark%></td>
                            </tr>
                            <% })}else{ %>
                            <tr>
                                <td colspan="11" align="center">暂无数据</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                    <%- pagination %>
                </div>
            </div>
        </div>
        <!--end well-->
        <!-- well-->
      </div>
      <!-- end well-->



</div>
<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<%- include('../layouts/footer'); %>
<%- include('../layouts/footer_common_script'); %>

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
      // 日期组件
        $(".fg-date-time-picker").flatpickr(data_time_picker.data_picker); // jQuery

    })


</script>
<%- include('../cargospace/js_function'); %>
<%- include('../layouts/foot'); %>