<%- include('layouts/head_top'); %>
<%- include('layouts/head_bottom'); %>
<%- include('layouts/header'); %>
<style>
    #validate-img {
        position: absolute;
        right: 1px;
        top: 1px;
        height: 30px;
        cursor: pointer;
    }
    #fix-alert{
        /*position: absolute;*/
        /*width: 100%;*/
        /*top: 0;*/
        /*z-index: 999;*/
        opacity: 0.8;
        font-size: 20px;
        line-height: 50px;
        display: none;
    }
    #fix-alert .alert{
        margin-bottom: 0;
    }
    .browser-icon{
        padding: 0 5px;
        list-style: none;
    }
    .browser-icon li{
        display: inline-block;
        margin-right: 10px;
    }
    .browser-icon img{
        width: 40px;
        height:40px;
        margin-right:10px;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">布兰莎 - 全屋定制订单管理系统</h1>
        <div class="">

            <div class="pull-left login-desc-box-l">
                <h4 class="paragraph-header">
                    布兰莎全屋定制为中国衣柜影响力十大品牌,专业定制家具、定制衣柜,提供卧房、书房、客厅、餐厅的全屋家具定制服务。一站式的家居定制,让购买家具省心放心!</h4>
            </div>

        </div>


    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
            <form action="/login" id="login-form" class="smart-form client-form" method="post">
                <header>
                    登录
                </header>

                <fieldset>

                    <section>
                        <label class="label">用户名:</label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                            <input type="text" name="userNo" autocomplete="off"  >
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                请输入您的用户名</b></label>
                    </section>

                    <section>
                        <label class="label">密码:</label>
                        <label class="input"> <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password" autocomplete="off" >
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 请输入密码</b>
                        </label>
                    </section>

                    <section>
                        <label class="label">验证码:</label>
                        <label class="input"> <img id="validate-img" src=""
                                                   alt="">
                            <input type="text" name="code" autocomplete="off">
                            <input type="hidden" name="baseId" autocomplete="off" value="{{baseId}}">
                            <b class="tooltip tooltip-top-right"> 请输入验证码</b>
                        </label>
                    </section>
                    <!---->
                    <!--<section>-->
                    <!--<label class="label">验证码:</label>-->
                    <!--<label class="input"> <img id="validate-img" src="data:image/png;base64,{{baseString}}"-->
                    <!--alt="">-->
                    <!--<input type="text" name="code" autocomplete="off">-->
                    <!--<input type="hidden" name="baseId" autocomplete="off" value="{{baseId}}">-->
                    <!--<b class="tooltip tooltip-top-right"> 请输入验证码</b>-->
                    <!--</label>-->
                    <!--</section>-->

                    <!--<section>-->
                    <!--<label class="checkbox">-->
                    <!--<input type="checkbox" name="remember" checked="">-->
                    <!--<i></i>保持我的登录状态</label>-->
                    <!--</section>-->
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        登录
                    </button>
                </footer>
            </form>

        </div>


    </div>
</div>

<%- include('layouts/footer_common_script'); %>

<script type="text/javascript">

    $(function(){

        if (window.ActiveXObject || "ActiveXObject" in window){
            $("#fix-alert").slideDown();
        }else{
            var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
            var isEdge = userAgent.indexOf("Edge") > -1; //判断是否IE的Edge浏览器
            if(isEdge){
                $("#fix-alert").slideDown();
            }
        }

//        var browsername=Whatbrowser();
//        if(browsername!="chrome"){
//            $("#fix-alert").slideDown();
//        }
        $('#alertClose').click(function () {
            $("#fix-alert").slideUp();
        })
    });


    runAllForms();

    $(function () {
        // Validation
        $("#login-form").validate({
            // Rules for form validation
            rules: {
                username: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                }
            },

            // Messages for form validation
            messages: {
                username: {
                    required: '请输入用户名',
                },
                password: {
                    required: '请输入密码'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },
            submitHandler: function (form) {
                $.ajax({
                    url: '/login',
                    method: 'POST',
                    dataType: 'JSON',
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.code) {
                            getValidateInfo();
                        } else {

                            location.href = data.preventPath;
                        }
                    },
                    error: function (response) {
                        var data = JSON.parse(response.responseText);
//                        var data = (response.responseText);
                        layer.msg(data.msg)
                        getValidateInfo();
                    }
                });
            }
        });

        //Get Validate Image & baseId
        function getValidateInfo() {
            $.ajax({
                url: '/validateInfo',
                success: function (data) {
                    $('#validate-img').attr('src', 'data:image/png;base64,' + data.baseString);
                    $('[name=baseId]').val(data.baseId);
                },
                error: function (response) {
                    layer.close(index)
                    var data = JSON.parse(response.responseText);
                    $.smallBox({
                        title: "操作失败",
                        content: data.msg,
                        color: "#C46A69",
                        iconSmall: "fa fa-times fa-2x fadeInRight animated",
                        timeout: 3000
                    });
                }
            });
        }

        getValidateInfo();

        $('#validate-img').on('click', function (e) {
            getValidateInfo();
        })


    });
</script>



<%- include('layouts/foot'); %>